
.nop-jcarousel .carousel-title:before{
	right: 0;
	left: 0;
}
.nop-jcarousel .carousel-title span{
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.nop-jcarousel .carousel-title span:after{
	right: 50%;
	left: auto;
	margin-right: -27px;
	margin-left: 0;
}
.nop-jcarousel .jcarousel-prev-horizontal{
    background-image: url('images/next-horizontal.png');
    background-position: 12px center;
	right: 0;
	left: auto;
}
.nop-jcarousel .jcarousel-next-horizontal{
    background-image: url('images/prev-horizontal.png');
    background-position: 9px center;
	left: 0;
	right: auto;
}

.products-carousel .item-picture img{
	left: 0;
	right: 0;
}
.nop-jcarousel .jcarousel-container-vertical:before{
	right: 50%;
	left: auto;
	margin-right: -27px;
	margin-left: 0;
}
.nop-jcarousel .jcarousel-prev-vertical{
	right: 50%;
	left: auto;
	margin-right: -36px;
	margin-left: 0;
}
.nop-jcarousel .jcarousel-next-vertical{
	left: 50%;
	right: auto;
	margin-left: -36px;
	margin-right: 0;
}