﻿body, html { height: 100%;overflow:hidden;}
* { border-radius: 0!important;}

.home-link-container { margin: 0 auto;}
.home-link { font-size: 26px; padding: 12px 12px 12px 0; }


/*Navigation*/
.left-nav .nav-pills > li > a { border-radius: 0; }
.left-nav .dropdown-menu { position: relative; width: 100%; padding-left: 20px; border-radius: 0; border: none; -webkit-box-shadow: none; box-shadow: none; }
.navbar-default .navbar-nav > li > a, .btn-default, a, .dropdown-menu > li > a { color: #428bca; }
.dropdown-submenu { position: relative; }
    .dropdown-submenu > .dropdown-menu { }
    .dropdown > .dropdown-menu, .dropdown-submenu > .dropdown-menu { padding-top: 0; padding-bottom: 0; }

/*Navigation icons overide for web/layout/media tree*/
#layout ul li a i,
#web ul li a i { display: inline-block; width: 14px; height: 14px; *margin-right: .3em; line-height: 14px; vertical-align: text-top; background-repeat: no-repeat; }

/*structure*/
.container-mrcms { padding-left: 230px;height: 100%;display: block;padding-top: 51px;}
.main-content { float: left; width: 100%; display: inline;height: auto;overflow: auto;display: block;padding: 20px 20px 50px 20px; position: relative;height: 100%;}
footer { border-top: 1px solid #ddd; padding: 5px;width: 100%;display: block;background: #e7e7e7;font-size: 10px;overflow: hidden;}
.site-list { max-height: 800px;overflow: auto;}
.left-nav { float: left; width: 230px; margin-left: -230px; height: 100%; display: block; background: #f8f8f8; box-shadow: 3px 0px 3px #e7e7e7;overflow: auto;padding-bottom: 70px;}
    .left-nav ul {   background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%); background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%); background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8)); background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
#loading { position: fixed; bottom: 5px; right: 5px; z-index: 999999; }
.site-search { margin-left: 70px;width: 450px;}
.site-search .input-group { width: 100%;}


.logo {margin-top: 5px; margin-left: -5px;}

/*Notifications*/
ul.persistent-notification { margin: 0; padding: 0 10px; }
    ul.persistent-notification li { list-style: none; border-bottom: 1px solid #cccccc; padding: 10px 0; }
        ul.persistent-notification li:last-child { border-bottom: 0; }
.notification-date { font-size: 11px; }
.notification-msg { font-size: 14px; }
.notifications-dropdown { padding-bottom: 0; width: 350px; margin-left: 0px;max-height: 600px; overflow-x:auto; }
.notifications-dropdown form { width: 100%;padding-top: 10px;text-align: center;}

/*Admin message*/
.admin-message { position: absolute; top: 0px;left: 0px; width: 100%; display: none;z-index: 100;}
.admin-message > .alert { padding: 5px;font-size: 13px;border-radius: 0;font-size: 12px;}
.fadeIn { -webkit-animation: fadeIn; animation: fadeIn; opacity: 1; }
.fadeOut { -webkit-animation: fadeOut; animation: fadeOut; opacity: 0; }
.fast { -webkit-animation-duration: 1s; animation-duration: 1s; }
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*Media*/
#file-list, #folder-container {height: auto;min-height: 400px;width: 100%;display: block;}
.file, .folder {cursor:default;}
.folder {width: 160px; float: left; margin-bottom: 20px; margin-right: 20px; color: #808080; padding: 10px 10px; border: 1px solid #e7e7e7; display: block; white-space: nowrap; overflow: hidden; }
    .folder:hover { background: #e7e7e7; }
.file { float: left; height: 150px;position: relative; width: 160px; margin-bottom: 20px; margin-right: 20px; color: #808080;border: 1px solid #e7e7e7; display: block; white-space: nowrap; overflow: hidden;user-select: none;}
    .file a { display: block; width: 100%; }
        .file a img { margin: 0 auto; display: block; }
        .file a i { font-size: 90px; margin: 0 auto; text-align: center; display: block; }
        .file a:hover { text-decoration: none; }
    .file .checkbox label { width: 100%; display: block; border: 1px solid #e7e7e7; }
        .file .checkbox label input { margin-left: 40px; }
    .file .file-preview{ height: 115px; padding: 10px 10px;vertical-align: central; }
    .file .file-link{ height: 25px;width: 100%;bottom: 0;position: absolute;}
        .file .file-link a { display: block;padding: 0 5px;}
.file.ui-selected, .folder.ui-selected,.file.ui-selecting, .folder.ui-selecting,.file.ui-selected a, .folder.ui-selected a,.file.ui-selecting a, .folder.ui-selecting a { background: #428bca;color: white;}
.file, #file-list, .folder, #folder-container{-webkit-user-select: none;  /* Chrome all / Safari all */ -moz-user-select: none;     /* Firefox all */-ms-user-select: none;      /* IE 10+ *//* No support for these yet, use at own risk */-o-user-select: none;user-select: none;}
.file.files-cut, .folder.files-cut{ border: 1px dotted black;opacity: 0.5;}

/*Media upload drop area*/
#dropzone { text-align: center; font-weight: bold; height: 0; }
    #dropzone.in { width: 100%; height: 100px; border: 3px dashed grey; }
    #dropzone span { display: none; }
    #dropzone.in span { display: block; text-align: center; padding-top: 38px; }
    #dropzone.hover { background: #e7e7e7; }

/*Page header*/
.page-header { padding-top: 0; margin-top: 0; font-size: 26px; }
.inline-buttons-container { width: 100%; position: relative; }
.inline-buttons-containerh1 { position: relative; }
.inline-buttons-container .btn-group { position: absolute; right: 0; top: 0; }

/*share classes*/
.padding-right-10 { padding-right: 10px; }
.padding-left-10 { padding-left: 10px; }
.padding-top-10 { padding-top: 10px; }
.padding-bottom-10 { padding-bottom: 10px; }
.margin-top-10 { margin-top: 10px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-0 { margin-bottom: 0px; }
.reset-corners { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
ul#noty_bottomRight_layout_container li { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; margin-bottom: 10px; background-color: #fff !important; background: #ffffff url('/Areas/Admin/Content/Images/black-cross.png') no-repeat 286px center !important; }
.noty_message { padding: 8px 30px 9px 10px !important; }
.right-dropdown > ul.dropdown-menu {right: 0;left: auto;}
.margin0 { margin: 0px; }
.margin-top-0 { margin-top: 0px; }
.display-inline { display: inline; }
hr.small-margin { margin: 5px 0; }
.light { font-weight: normal; }
.grey { color: darkgrey !important; }
.font-small { font-size: 0.8em; }
.red { color: red; }
.orange { color: orange !important; }
h1, h2, h3, h4 { font-weight: normal !important; }
.settings-textarea { width: 100%; height: 150px; }
.ui-autocomplete { z-index: 100000;}
.no-border-radius { border-radius: 0; }
.nav-tabs { margin-bottom: 15px; }
legend { font-size: 26px; }
#edit-webpage-options #PublishOn { margin: 0; height: 34px; width: 200px; border-left: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; }

/*validation*/
.field-validation-error span { color: red; }
input.input-validation-error, select.input-validation-error { border: 1px solid red !important; }
.validation-summary-errors { color: red; }
.error, .error span { color: red; }

/* Generic context menu styles */
.contextMenu { background: #EEE; border: solid 1px #CCC; display: none; margin: 0px; padding: 5px; position: absolute; width: 120px; z-index: 99999; }
    .contextMenu a { font-style: normal; padding-left: 15px; }

/*Right click context menu*/
.context-menu { background: #fff; border: solid 1px #CCC; border-radius: 4px; display: none; margin: 0px; padding: 5px; position: absolute; width: 120px; z-index: 99999; }
    .context-menu li { list-style: none; }
    .context-menu a { font-style: normal; padding-left: 3px; }

#sortable { cursor: pointer; list-style: none; margin-left: 0; padding-left: 0; }
    #sortable li { background: #eee; margin: 1px 0px; padding: 5px 5px; }

/*Removing bottom margin from forms in modal windows*/
.modal form { margin: 0; }

/*edit page*/
.page-name-edit { white-space: nowrap; overflow: hidden; font-size: 18px; }
.accordion-toggle { background-color: #f5f5f5; }
.modal { -webkit-transition: opacity .3s linear, top .3s ease-out; -moz-transition: opacity .3s linear, top .3s ease-out; -o-transition: opacity .3s linear, top .3s ease-out; transition: opacity .3s linear, top .3s ease-out; margin: 0; }
.modal { z-index: 100000; }
.menu-handle-admin { position: absolute; right: -37px; top: 80px; }
.margin-top-10 { margin-top: 10px; }
#changes-table tr.unchanged { background-color: rgb(203, 255, 203); }
#changes-table tr.changed { background-color: rgb(255, 209, 209); }
#changes-table pre { font-size: 0.6em; }
.form-item { padding: 10px; }
.analysis-table { }
    .analysis-table > tbody > tr { color: #333; }
        .analysis-table > tbody > tr > td > ul { list-style-type: none; margin: 0; }
        .analysis-table > tbody > tr.can-be-improved > td { background-color: #FFF9B5; }
/*page versions*/
#changes-table tr.unchanged { background-color: rgb(203, 255, 203); }
#changes-table tr.changed { background-color: rgb(255, 209, 209); }
#changes-table pre { font-size: 0.6em; }

/*CKEditor hide bottom bar*/
#cke_bottom_detail, .cke_bottom { display: none !important; }
#cke_BodyContent { margin-bottom: 10px; }

@media (max-width: 979px) {

    .site-search { margin-left: 70px;width: 250px;}
}



