﻿/*GLOBAL TABLES*/

.cart, .data-table,
.compare-products-table,
.forums-table-section table {
	margin: 0;
}
.cart th, .data-table th,
.forums-table-section th {
    padding: 10px;
    white-space: nowrap;
    font-size:16px;
    font-weight:normal;
}
.cart td, .data-table td,
.compare-products-table td,
.forums-table-section td {
	min-width: 50px;
    border: 1px solid #ddd;
	background: #f9f9f9;
    padding: 10px;
    font-size:16px;
}
.shopping-cart-page .cart th,
.order-summary-content .cart th,
.order-details-page .data-table th,
.shipment-details-page .data-table th,
.forums-table-section th {
	background: #f9f9f9;
	border: 1px solid #ddd;
}
.shopping-cart-page .cart td ,
.order-summary-content .cart td {
	background: #fff;
}
.order-details-page .data-table td,
.shipment-details-page .data-table td {
	background: #fff;
	padding: 20px 10px;
}
.forums-table-section td {
	background: #fff;
	padding: 20px;
	font-size: 14px;
	color: #666;
    text-align:left;
}
.forums-table-section td.topic-details{
    width:45%;
}
.cart a, .data-table a,
.compare-products-table a,
.forums-table-section a {
    font-size:16px;
    text-transform:uppercase;
    font-family:Arvo;
	color: #000;
}
.forums-table-section .latest-post{
    min-width:180px;
}
.forums-table-section .forum-details,
.forums-table-section .topic-details{
    min-width:300px;
}
.forums-table-section .table-wrapper{
    overflow-x:auto;
}

.cart .remove-from-cart,
.cart .add-to-cart,
.data-table .select-boxes {
    text-align: center;
}
.cart .qty.nobr .qty-input{
    width:44px;
}
.cart .unit-price {
    white-space: nowrap;
}
.cart .qty-input {
    width: 50px;
    text-align: center;
}
.cart .subtotal {
    white-space: nowrap;
}

.product-specs-box .data-table td {
    padding: 5px;
}
.product-specs-box .data-table .odd td {
}
.product-specs-box .data-table .even td {
}

.compare-products-table .overview p:first-child {
    margin: 0;
}
.compare-products-table .overview td{
    /*position:relative;*/
}
.compare-products-table .overview p:first-child{
    position:absolute;
    top:0;
    right:0;
    z-index:1;
}
.compare-products-table .overview p:last-child {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.compare-products-table .overview img {
    position: absolute;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.compare-products-table .product-name td {
    background: #f6f6f6;
    text-align:left;
}
.compare-products-table .product-price td.a-center {
    color:#000;
}

.compare-products-table .product-price td:first-child {
    color: #666;
}

.compare-products-table-mobile img {
    max-width: 150px;
}

td .go-to-page,
.shipments .data-table td a {
	white-space: nowrap;
	text-transform: none;
}



/* TIER PRICE TABLES */

.tier-prices {
	margin: 0 0 20px;
}
.tier-prices .prices-header {
	margin: 0 0 10px;
    font-size: 18px;
}
.tier-prices .prices-header strong { 
    font-weight: 400;
}
.prices-table {
    width: 100%;
    overflow: hidden;
	border: 1px solid #ddd;
}
.prices-row {
    float: left;
    width: 50%;
}
.prices-row > div {
    padding: 10px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.prices-row > div:first-child {
	border-top: 0;
}
.prices-row:first-child > div {
	border-left: 0;
}
.prices-table .field-header {
    font-weight: 700;
}
.tier-prices .item-price {
	color: #c00;
}

@media all and (min-width: 769px) {

.product-details-page .prices-table {
	display: table;
	background: #fff;
}
.product-details-page .prices-row {
	display: table-row;
	float: none;
	width: auto;
}
.product-details-page .prices-row > div {
	display: table-cell;
	background: #f9f9f9;
}
.product-details-page .prices-row:first-child > div {
	border-left: 1px solid #ddd;
	border-top: 0 !important;
}
.product-details-page .prices-row > div:first-child {
	border-top: 1px solid #ddd;
	border-left: 0;
}
.cart td.product{
	text-align:left;
}

}


@media all and (min-width: 1001px) {

.cart tr > *:first-child,
.data-table tr > *:first-child,
.compare-products-table tr > *:first-child,
.forums-table-section tr > *:first-child {
	border-left: none;
}
.cart tr > *:last-child,
.data-table tr > *:last-child,
.compare-products-table tr > *:last-child,
.forums-table-section tr > *:last-child {
	border-right: none;
}
.compare-products-table tr > td:first-child,
.downloadable-products-page td:first-child,
.subscription-list td:first-child,
.reward-points-page tr > td:first-child{
	border-left: 1px solid #ddd;
}
.prices-table {
	border-right: none;
	border-left: none;
}

}

/* footable custom css */

.footable td label{
    display:none;
}
.footable-first-column {
	text-align: center;
}
.footable-first-column>span{
    cursor:pointer;
}
.footable-first-column .item-count {
	font-size: 13px !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
	display: block;
    min-width: 16px;
	height: 16px;
	overflow: hidden;
}
.footable-row-detail {
	text-align: left;
}
.footable-row-detail-cell {
	text-align: left !important;
}
.footable-row-detail-row {
	margin: 0 0 10px;
    display: table-row;
}
.footable-row-detail-name {
	margin: 0 0 5px;
	/*font-style: italic;*/
    display: table-cell;
    padding: 7px 10px;
}
.footable-row-detail-value {
    display: table-cell;
}

.footable-toggle {
	background: url('../img/table-plus.png') no-repeat center;
}
.footable-detail-show .footable-toggle {
	background: url('../img/table-minus.png') no-repeat center;
}
.footable-toggle:before {
	display: none !important;
}

/* hidding item counter in different tables */

@media all and (max-width: 809px) {
.order-summary-content .cart .item-count,
.wishlist-page .cart .item-count,
.section.products .data-table .item-count,
.section.shipments .data-table .item-count {
	display: none;
}
}

@media all and (max-width: 611px) {
.return-request-page .data-table .item-count,
.downloadable-products-page .data-table .item-count {
	display: none;
}
}

@media all and (max-width: 505px) {
.reward-points-history .data-table .item-count {
	display: none;
}
}

.compare-products-table-mobile .item-count {
	display: none;
}