﻿/*=====================================================
    
    MAIN CSS / SMALLER MOBILE DEVICES

=====================================================*/

*{
	direction: rtl;
}

/*********** CSS RESET **********/


* {
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	margin: 0 !important;
	-webkit-text-size-adjust: none;
}
ol, ul {
	list-style: none;
}
a img {
	border: none;
}
a:active {
	outline: none;
}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	margin: 0;
	border: 0;
	padding: 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="password"],
textarea {
	border-radius: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 1000px #f6f6f6;
}
script {
    display: none !important;
}

/*********** GLOBAL STYLES **********/



body {
    max-width: 100%;
	background: #fff;
	font: normal 12px Arial,sans-serif;
    overflow-x: hidden; /* disables the horizontal scroll and fixes the bug of the responsive navigation and filters in mobile */
    color: #333;
}
a {
	color: inherit;
	cursor: pointer;
}
a img {
	opacity: 0.99; /*firefox scale bug fix*/
    max-width: 100%;
}
table {
	width: 100%;
	border-collapse: collapse;
}
input[type="text"], input[type="password"], textarea, select {
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #f6f6f6;
    vertical-align: middle;
}
textarea {
	min-height: 150px;
}
select {
	min-width: 50px;
	height: 32px; /*safari padding fix*/
	padding: 6px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
	border-color: #999;
}
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + *,
input[type="radio"] + * {
	vertical-align: middle;
}
input[type="button"], input[type="submit"],
button, .button-1, .button-2 {
	cursor: pointer;
}
label, label + * {
	vertical-align: middle;
}

.master-wrapper-page {
    margin: 0 0 80px;
}
.master-wrapper-content {
	width: 95%;
	margin: 0 auto;
}
.master-column-wrapper:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.center-1 {
	margin: 0 0 20px;
}
.center-2, .side-2 {
	margin: 0 0 20px;
}

.page {
	text-align: center;
}
.page-title {
	padding: 13px 15px;
	background: #a12;
	margin: 0 0 20px;
	position: relative;
	min-height: 46px;
}
.page-title h1 {
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.page:after,
.page-title:after,
.page-body:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.buttons {
	margin: 0 0 20px;
	text-align: center;
}
.link-rss {
    display: none;
    width: 31px;
    height: 31px;
    overflow: hidden;
    background: url(../img/sprite-social.png) no-repeat -192px center;
    text-indent: 999px;
}
.category-description ul,
.manufacturer-description ul,
.full-description ul,
.topic-block ul,
.topic-page ul,
.post-body ul,
.custom-tab ul {
	margin: 12px 0;
	padding: 0 36px 0 0;
	list-style: disc;
}
.category-description ol,
.manufacturer-description ol,
.full-description ol,
.topic-block ol,
.topic-page ol,
.post-body ol,
.custom-tab ol {
	margin: 12px 0;
	padding: 0 36px 0 0;
	list-style: decimal;
}
.category-description p,
.manufacturer-description p,
.full-description p,
.topic-block p,
.topic-page p,
.post-body p,
.news-body p,
.custom-tab p {
	margin: 10px 0;
}
.category-description a,
.manufacturer-description a,
.full-description a,
.topic-html-content a,
.topic-page a,
.post-body a,
.news-body a,
.custom-tab a {
    text-decoration: underline;
}
.flyout-cart {
	display: none;
}
#goToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 56px;
    height: 56px;
    background: #fff url(../img/btn-gototop.png) no-repeat 12px 16px;
    border-radius: 50%;
    border: 3px solid #333;
    z-index: 10001;
    font-size: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/*********** GLOBAL FORMS ***********/



.fieldset, .section {
	position: relative;
	margin: 0 0 20px;
	overflow: hidden;
}
.section .title {
	margin: 0 0 20px;
	font-size: 15px;
}
.fieldset .title {
    margin: 0 0 20px;
    position: relative;
    text-align: center;
}
.fieldset .title:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 1px;
	background: #ccc;
	z-index: 1;
}
.fieldset .title strong {
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	background: #a12;
	color: #fff;
	padding: 12px 24px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.fieldset .title strong:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #a12 transparent transparent;
}
.form-fields {
	position: relative;
	margin: 20px 0 0;
}
.inputs {
	position: relative;
	margin: 0 0 10px;
	text-align: center;
	white-space: nowrap;
    font-size: 0;
}
.inputs:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.inputs label {
	display: block;
	width: 100%;
	margin: 0 0 5px;
	text-align: center;
    font-size: 13px;
}
.inputs input[type="text"],
.inputs input[type="password"],
.inputs select, .inputs textarea {
	width: 300px;
	max-width: 100%;
    vertical-align: middle;
}

.inputs .option-list {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.inputs .option-list li {
	float: right;
	margin: 0 5px;
}
.inputs .option-list label {
	width: auto;
}

.inputs.reversed {
	margin: 0 0 20px;
	text-align: center;
}
.required {
	margin: 0 5px 0 -6px; /*siblings offset fix*/
	font-size: 11px;
	color: #c00;
}
.message-error,
.field-validation-error,
.username-not-available-status,
.poll-vote-error,
.password-error {
	display: block;
	font-size: 11px;
	color: #c00;
    text-align: center;
}
.field-validation-valid {
	display: block;
	font-size: 11px;
	color: #690;
}
.captcha-box {
	margin: 0 0 15px;
	text-align: center;
	line-height: 0;  /*firefox line-height bug fix*/
}
.captcha-box > div {
	display: inline-block;
}
.captcha-box input {
	height: auto;
}


/*********** BAR NOTIFICATION & JQUERY POPUPS  ***********/



.bar-notification {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 10002;
	width: 100%;
	padding: 12px 10px 12px 25px;
	color: #fff;
	opacity: 0.95;
}
.bar-notification.success {
	border-bottom: 1px solid #bd2;
	background: #9b0;
}
.bar-notification.error {
	border-bottom: 1px solid #f55;
	background: #f00;
}
.bar-notification .content {
	float: right;
	margin: 0 0 0 10px;
}
.bar-notification .content a {
	color: #fff;
	text-decoration: underline;
}
.bar-notification .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px; /*even numbers only*/
	height: 32px; /*even numbers only*/
	margin: 5px;
	border: 1px solid #666;
	box-shadow: inset 0 0 1px #999;
	background: #fff url('../img/close.png') center no-repeat;
	cursor: pointer;
	opacity: 0.7;
}
.bar-notification .close:hover {
	opacity: 0.9;
}

.ui-dialog {
	z-index: 1008;
	width: 350px !important;
	max-width: 95%;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	overflow: hidden;
	background: #fff;
}
.ui-dialog-titlebar { 
	border-width: 1px;
	border-style: solid;
	border-color: #fff #fff #bbb;
	box-shadow: 0 0 0 1px #eee;
	overflow: hidden;
	background: #ddd url('../img/headpad.png') top repeat-x;
	padding: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #eee;
}
.ui-dialog-titlebar span {
	float: right;
	text-transform: uppercase;
}
.ui-dialog-titlebar button {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px; /*even numbers only*/
	height: 24px; /*even numbers only*/
	margin: 6px;
	overflow: hidden;
	border: 1px solid #666;
	box-shadow: inset 0 0 1px #999;
	background: #fff url('../img/close.png') center no-repeat;
	text-indent: 999px;
	opacity: 0.7;
}
.ui-dialog-titlebar button:hover {
	opacity: 0.9;
}
.ui-dialog-titlebar button * {
	display: none;
}
.ui-dialog-content {
	height: auto !important;
	padding: 10px;
	line-height: 20px;
}
.ui-dialog-content .topic-block {
	margin: 10px 0 0;
}
.ui-dialog-content .topic-html-content-body {
	max-height: 200px;
	overflow-y: scroll;
}
.ui-dialog-content .topic-block p {
	margin: 0;
}
.ui-dialog-buttonset {
	padding: 10px;
	text-align: left;
}
.ui-dialog-buttonset button {
	min-width: 60px;
	margin-right: 5px;
	border: 1px solid #bbb;
	box-shadow: 0 0 1px #ddd, inset 0 0 1px #fff;
	background: #eee;
	padding: 5px;
}
.ui-dialog-buttonset button:hover {
	background: #f6f6f6;
}

.eu-cookie-bar-notification {
    position: fixed;
    top: 50%;
	right: 50%;
	z-index: 1002;
	width: 320px;
	height: 180px;
    margin: -90px -160px 0 0;
    border: 1px solid #bbb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 0 1px #fff;
    background: #fff;
    padding: 20px;
	text-align: center;
}
.eu-cookie-bar-notification .text {
	margin-bottom: 20px;
	line-height: 20px;
}
.eu-cookie-bar-notification button {
	min-width: 60px;
	margin: 10px 0;
	border: 1px solid #bbb;
	background: #eee;
	padding: 5px;
	font-size: 14px;
	color: #333;
}
.eu-cookie-bar-notification button:hover {
	border-color: #aaa;
	background: #ddd;
}
.eu-cookie-bar-notification a {
	display: block;
	text-decoration: underline;
}
.noscript {
    border-bottom: 1px solid #333;
    background-color: #ff9;
	padding: 30px 15px;
    text-align: center;
	line-height: 22px;
    color: #444;
}

/*********** HEADER & NAVIGATION ***********/



.admin-header-links {
	text-align: center;
}
.admin-header-links a {
	display: block;
	margin: 0 10px;
	line-height: 35px;
	font-weight: bold;
}
.admin-header-links .impersonate{
    line-height: 35px;
}
.admin-header-links .impersonate a{
    display: inline-block;
}


.header {
    position: relative;
    z-index: 1002;
    background: #a12;
    padding: 10px 0;
}
.header-centering {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
    .header-centering:after { 
	    content: ".";
	    display: block;
	    visibility: hidden;
	    clear: both;
	    height: 0;
	    line-height: 0;
	    font-size: 0;
    }
.header-logo {
	text-align: center;
    position: relative;
    z-index: 3;
}
.header-logo a {
	display: inline-block;
	max-width: 100%;
	line-height: 0; /*firefox line-height bug fix*/
}
.header-logo a img {
	max-width: 100%;
}
.header-links-wrapper {
	margin: 0 0 20px;
}
.header-links {
    padding: 15px 0;
    background: #a12;
}
.header-links ul {
	font-size: 0;
}
.header-links li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}
.header-links span {
	font-size: 0; /*reset zeroing*/
}
.header-links li > a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    border: 1px solid #fff;
}
.header-links .ico-register {
	background-image: url(../img/icon-register.png);
}
.header-links .ico-account {
	background-image: url(../img/icon-account.png);
}
.header-links .ico-login,
.header-links .ico-logout {
	background-image: url(../img/icon-login.png);
}
.header-links .ico-inbox {
	background-image: url(../img/icon-inbox.png);
}
.header-links .ico-wishlist {
	background-image: url(../img/icon-wishlist.png);
}
.header-links .ico-cart {
	background-image: url(../img/icon-cart.png);
}

.header-links .ico-inbox + span,
.header-links .wishlist-qty,
.header-links .cart-qty {
	position:absolute;
	bottom: 96%;
	right: 75%;
	font-size: 12px;
	color: #fff;
}

.search-box.store-search-box form {
	display: inline-block;
	position: relative;
}
.search-box.store-search-box form:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.search-box.store-search-box input.search-box-text {
    float: right;
    width: 220px !important;
    height: 36px;
    border: none;
}
.search-box.store-search-box .search-box-button {
	float: right;
	width: 36px;
	height: 36px;
	background: #333 url('../img/btn-search.png') center no-repeat;
	border: 2px solid #fff;
	font-size: 0;
    padding: 0 !important;
}
.ui-helper-hidden-accessible {
	display: none;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
	z-index: 1000001 !important;
	width: 256px !important; /*default = txtfield + button*/
	max-width: 100%;
	border-top: 1px solid #a12;
	overflow: hidden;
	background: #fff;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content li {
	border-top: 1px solid #ccc;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content li:first-child {
	border-top: none;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content a {
	display: block;
	padding: 8px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content a.ui-state-focus {
	background: #f6f6f6;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content img {
	display: none;
	margin-left: 5px;
	vertical-align: middle;
}

.header-selectors-wrapper {
	padding: 15px 0;
}
.header-selectors-wrapper > div {
	display: inline-block;
    margin: 0 5px;
}

.language-list {
	max-width: 100%;
	font-size: 0;
}
.language-list li {
	display: inline-block; 
	margin: 0 1px; 
}
.language-list a { 
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	line-height: 0;
}
.language-list img {
	position: absolute;
	top: 0;
	left: 0;
	/*bottom: 0;*/
	right: 0;
	margin: auto;
}

/* custom selectors */

.new_select {
	width: auto !important;
	cursor: pointer;
	z-index: 1003 !important;
}
.new_select > span {
	display: block;
	position: relative;
	height: 22px;
	padding: 5px 5px 5px 27px;
	background: #fff;
	line-height: 12px;
	font-size: 11px;
}
.new_select > span:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background: #333 url(../img/arrow-down-white-big.png) no-repeat center;
}
.styleSelect_item {
	top: 24px !important;
	background: #fff;
	left: 0;
	text-align: right;
	box-shadow: 1px 1px 1px #666;
}
.styleSelect_item li {
	padding: 5px;
}
.styleSelect_item li:hover {
	background: #f6f6f6;
}



/*********** FOOTER ***********/



.footer {
	text-align: center;
}

.footer-upper {
    margin: 0 auto 30px;
    overflow: hidden;
    width: 95%;
}
    .footer-upper .footer-block {
        position: relative;
        width: 230px;
        margin: 0 auto 10px;
        padding: 10px;
        background-color: #eee;
    }
        .footer-upper .footer-block.phone-block,
        .footer-upper .footer-block.payment-info-block {
            padding: 10px 56px 10px 10px;
        }
        .footer-upper .footer-block.phone-block:before,
        .footer-upper .footer-block.payment-info-block:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -18px;
            width: 36px;
            height: 36px;
            border: 2px solid #333;
            border-radius: 50%;
        }
        .footer-upper .footer-block.phone-block:before {
            background: #fff url(../img/icon-phone.png) no-repeat center;
        }
        .footer-upper .footer-block.payment-info-block:before {
            background: #fff url(../img/icon-payment.png) no-repeat center;
        }
        .footer-upper .footer-block.phone-block span,
        .footer-upper .footer-block.payment-info-block span {
            display: block;
            text-align: right;
        }
            .footer-upper .footer-block.phone-block span:first-child,
            .footer-upper .footer-block.payment-info-block span:first-child {
                font-size: 13px;
                margin: 0 0 3px;
            }
            .footer-upper .footer-block.phone-block span:last-child,
            .footer-upper .footer-block.payment-info-block span:last-child {
                font-size: 16px;
            }

.footer-upper .footer-block.accepted-payment-methods {
    margin-bottom: 30px;
}
.accepted-payment-methods ul {
	overflow: hidden;
}
.accepted-payment-methods li { 
	float: right;
	width: 48px;
	height: 30px;
	background: #fff url('../img/sprite-payment.png') no-repeat;
	margin: 0 6px 0 0;
}
.accepted-payment-methods li:first-child {
	margin: 0;
}
.accepted-payment-methods .method1 {
	background-position: 0 0;
}
.accepted-payment-methods .method2 {
	background-position: -48px 0;
}
.accepted-payment-methods .method3 {
	background-position: -96px 0;
}
.accepted-payment-methods .method4 {
	background-position: -144px 0;
}
.newsletter-subscribe {
    display: block !important;
}
.newsletter .title{
    display:none;
}
.newsletter-email{
    overflow:hidden;
}
.newsletter-email .options{
    clear:both;
}
.newsletter-email .options span{
    display:inline-block;
    margin:10px 0 0 0;
}
.newsletter-email .options span + span{
    margin:10px 5px 0 0;
}
.newsletter-email .options span label{
    padding:10px 3px;
}
.newsletter-email input[type="text"] {
	float: right;
	width: 180px;
	height: 30px;
	border: 0;
	background: #fff;
}
.newsletter-email input[type="button"] {
	float: right;
	width: 30px;
	height: 30px;
	border: 3px solid #fff;
	background: #333 url(../img/btn-newsletter.png) no-repeat center;
	font-size: 0;
}
.newsletter .newsletter-email .newsletter-unsubscribe-button{
    font-size:12px;
    background:#f4f4f4;
    display:block;
    text-align:center;
    border:none;
    margin:5px 0 0 0;
    clear:both;
    width:100%;
    color: #aa1122;
    text-decoration: underline;

}
.newsletter-validation, 
.newsletter-result-block,
.newsletter-result { 
	width: 100%;
	overflow: hidden; 
	line-height: 28px; 
}

.newsletter-validation .please-wait {
	display: none !important; 
}

.footer-middle {
    background: #a12;
    padding: 30px 0;
}
.footer-middle .footer-centering {
	width: 95%;
}
.footer-middle .footer-block {
	width: 230px;
	margin: 0 auto 20px;
}
.footer-middle .footer-block:last-child {
	margin-bottom: 0;
}
.footer-middle .footer-block h3 {
	font-weight: normal;
	font-size: 17px;
	background: #ddd;
	color: #000;
	padding: 13px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	margin: 0 0 20px;
}
.footer-middle .footer-block h3:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #ddd transparent transparent;
}
.footer-menu li {
	text-align: right;
}
.footer-menu a {
	display: inline-block;
	padding: 8px 12px 8px 8px;
	color: #fff;
	font-size: 15px;
	background: url(../img/arrow-left-white.png) no-repeat right center;
}

.footer-lower {
    overflow: hidden;
    font-size: 11px;
    padding: 15px 0;
    background: #fff;
    color: #666;
}
.footer-lower .footer-centering > div {
    display: inline-block;
	margin: 0 5px 5px;
}
.footer-lower .footer-block.social-sharing {
    display: block;
} 
.footer-powered-by a,
.footer-designed-by a {
	text-decoration: underline;
    color: #a12;
}
.footer-tax-shipping a {
	text-decoration: underline;
}

.social-sharing ul {
	font-size: 0;
}
    .social-sharing li {
	    display: inline-block;
	    margin: 0 5px;
    }
    .social-sharing a {
	    display: block;
	    width: 32px;
	    height: 32px;
	    background: url(../img/sprite-social.png) no-repeat;
    }
    .social-sharing .facebook {
	    background-position: 0 0;
    }
    .social-sharing .twitter {
	    background-position: -32px 0;
    }
    .social-sharing .google {
	    background-position: -64px 0;
    }
    .social-sharing .pinterest {
	    background-position: -96px 0;
    }
    .social-sharing .vimeo {
	    background-position: -128px 0;
    }
    .social-sharing .youtube {
	    background-position: -160px 0;
    }
    .social-sharing .rss {
	    background-position: -192px 0;
    }
     .social-sharing a.instagram {
	    background: url(../img/instagram.png) no-repeat;
    }

.footer-store-theme {
    padding: 10px 0;
    background: #333;
}
.footer-store-theme select {
	width: 170px;
}


/*********** LEFT/RIGHT COLUMN ***********/



.block {
	margin: 0 auto 15px;
	text-align: center;
    width: 330px;
    max-width: 100%;
}
.block .title strong {
    display: block;
    font-weight: normal;
    font-size: 17px;
    background: #a12;
    color: #fff;
    padding: 13px 25px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.block .listbox {
    position: relative;
	display: none;
    padding: 20px 0 10px;
}
.block .listbox:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.block .listbox:before {
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #a12 transparent transparent;
}

.mobile-banners{
    width: 330px;
    margin: 0 auto;
}

.block .list li {
    text-align: right;
}
.block .list a {
    position: relative;
	display: block;
    color: #000;
    font-size: 15px;
    line-height: 17px;
    padding: 8px 35px 8px 8px;
}
.block .list a:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 5px;
	margin: -8px 0 0;
	width: 15px;
	height: 15px;
	border: 1px solid #a12;
	background-color: #a12;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/arrow-left.png);
}

.block .sublist {
	padding: 5px 25px 5px 0;
}
.block .sublist a {
	font-size: 14px;
	padding: 8px 25px 8px 8px;
}
.block .sublist a:before {
	border: none;
}

.block.block-recently-viewed-products .list li {
	overflow: hidden;
	padding: 10px 0;
}
.block.block-recently-viewed-products .list a {
	padding: 8px;
}
.block.block-recently-viewed-products .list a:before {
	display: none;
}
.block.block-recently-viewed-products .product-picture {
	float: right;
	margin-left: 10px;
}
.block.block-recently-viewed-products .product-picture a {
	width: 30px;
	position: relative;
	padding: 0;
}
.block.block-recently-viewed-products .product-picture a:before {
	content: "";
	position: static;
	display: block;
	padding-top: 100%;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
}
.block.block-recently-viewed-products .product-picture img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
}
.block.block-recently-viewed-products .product-name {
	margin-right: 40px;
	padding: 0 !important;
	font-size: 13px;
}

.block .view-all {
	margin: 10px 0 0;
	border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: left;
}
.block .view-all a {
	padding: 3px;
}
.block .view-all a:hover {
	color: #a12;
}

.block .tags {
	margin: 0 0 10px;
}
.block .tags ul {
	font-size: 0;
}
.block .tags li,
.product-tags-all-page li {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	overflow: hidden;
	font-size: 16px !important; /*setting base size*/
}
.block .tags li a,
.product-tags-all-page li a {
	float: right;
	line-height: 30px;
}

.poll strong {
	display: block;
	margin: 0 0 10px;
}
.home-page .poll strong {
	font-size: 14px;
	font-weight: bold;
	color: #a12;
	text-transform: uppercase;
}
.poll-options,
.poll-results {
	margin: 0 0 15px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding: 0 0 5px;
}
.poll-options li,
.poll-results li {
	display: inline-block;
	margin: 5px;
	padding: 5px 8px;
}
.poll-options li > * {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.vote-poll-button {
	background: #333;
	padding: 7px 14px;
    border: 1px solid #333;
	color: #fff;	
    box-shadow: inset 0 0 0 1px transparent;
}
.poll-total-votes {
	display: block;
	margin: 10px 0 0;
	font-weight: bold;
}


/********** CATEGORY PAGE **********/



.filters-button {
    display: none;
}

.breadcrumb {
	margin: 0 0 20px;
	text-align: center;
}
.breadcrumb ul {
	font-size: 0;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb li * {
	margin: 0 3px;
	font-size: 12px; /*reset zeroing*/
	line-height: 32px;
}
.breadcrumb strong {
    color: #a12;
}
.breadcrumb a:hover * {
	text-decoration: underline;
}

.category-description,
.manufacturer-description,
.vendor-description {
	margin: 0 0 20px;
}
/*default filters*/
.product-filters {
	border-bottom:1px solid #ccc;
    padding:10px 5px;
    margin:0 0 20px;
    overflow:hidden;
}
.product-filters .product-filter{
    min-width:300px;
    margin:0 auto 14px;
    text-align:right;
    width:90%;
}
.product-filters .product-filter li,
.product-filters .filter-title{
    color: #000000;
    display: block;
    font-size: 15px;
    line-height: 17px;
    padding: 8px;
    position: relative;
    -webkit-transition:all .2s ease;
    -ms-transition:all .2s ease;
    transition:all .2s ease;
}
.product-filters .filtered-items{
    display:inline-block;
    display: block;
    font-size: 15px;
    line-height: 17px;
}
.product-filters .filtered-items .title{
    text-transform: uppercase;
}
.product-filters .filtered-items > span{
    font-weight:bold;
    display:block;
    padding:8px;
}
.product-filters .filtered-items li:hover{
    background:none;
}
.product-filters .remove-filter{
    color:#aa1122;
    text-decoration:underline;
    display:inline-block;
}
.product-filters .remove-filter a{
    padding:8px;
}
.product-filters .filter-title{
    border-bottom: 1px solid #cccccc;
    text-transform: uppercase;
    margin:0 0 5px;
}
.product-selectors {
	margin: 0 0 20px;
	text-align: center;
    padding: 0 0 20px;
    border-bottom: 1px solid #a12;
}
.product-selectors:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.product-selectors > div {
	display: inline-block;
	margin: 5px;
}
.product-selectors select {
	margin: 0 5px;
	text-transform: lowercase;
}

.item-grid:after,
.product-grid:after,
.product-list:after,
.manufacturer-grid:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

.item-box {
    position: relative;
    width: 300px;
    max-width: 100%;
    margin: 0 auto 40px;
    text-align: center;
}
.item-box:last-child {
	padding:0;
	border:0;
}

.item-box .product-item {
    position: relative;
    z-index: 1;
    padding: 0 0 15px;
    border-bottom: 1px dashed #a12;
}

.item-box .picture {
    z-index: 1;
    overflow: hidden;
    margin: 0 0 10px;
}
.item-box .picture a {
	display: block;
	position: relative;
}
.item-box .picture a:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.item-box .picture img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	-webkit-transform: translateZ(0) scale(1.0, 1.0); /* fixes the bug of the 1px moving product images when hover on category */
}

.product-grid .item-box .product-title {
	height: 36px;
	margin: 0 0 5px;
	overflow: hidden;
}
.item-box .product-title a {
	display: block;
    font-size: 15px;
    color: #333;
    font-weight: normal;
    line-height: 1.2;
}
.item-box .product-rating-box {
    font-size: 0;
    margin: 0 0 10px;
}
.item-box .rating {
	display: inline-block;
	height: 16px;
	width: 106px;
	background: url(../img/rating-empty.png) 0 0 repeat-x;
}
.item-box .rating div {
	height: 16px;
	background: url(../img/rating-full.png) 0 0 repeat-x;
}
.item-box .prices {
    margin: 0 0 10px;
    overflow: hidden;
}
.item-box .old-price {
	color: #999;
	text-decoration: line-through;
}
.item-box .actual-price {
	font-size: 17px;
	color: #a12;
}
.item-box .buttons {
	margin: 0;
    font-size: 0;
    display: inline-block;
}
.item-box .buttons:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;        
}
.item-box .compare-products {
    float: right;
}
.item-box .add-to-compare-list-button {
	background-image: url(../img/btn-compare.png);
	background-position: right center;
	background-repeat: no-repeat;
	font-size: 0;
	height: 40px;
	border: 0;
	padding: 0 40px 0 0;
	color: #fff;
	text-align: right;
	border-left: 1px solid #fff;
	text-transform: uppercase;
}
.item-box .product-box-add-to-cart-button {
	border: 0;
	padding: 12px 43px 12px 12px;
	background-color: #a12;
	background-image: url(../img/btn-buy.png);
	background-position: right;
	background-repeat: no-repeat;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	float: right;
	height: 40px;
}

.item-box .compare-products:hover + .ajax-cart-button-wrapper .product-box-add-to-cart-button, 
.item-box .quick-view-button:hover ~ .ajax-cart-button-wrapper .product-box-add-to-cart-button {
    background-color: #999999;
    font-size: 0;
    padding: 12px 44px 12px 0;
    width: 44px;
}


.item-box .description {
	display: none;
	overflow: hidden;
	background: rgba(255,255,255,0.9);
	text-align: justify;
}
.item-box .hover-content .description {
	border: 10px solid #fff;
	height: 193px;
	line-height: 1.3;
}

.home-page-category-grid,
.sub-category-grid,
.manufacturer-grid {
	margin: 0 0 20px;
}

.product-grid,
.product-list {
	margin: 0 0 20px;
}
.product-grid .title,
.news-list-homepage .title {
    margin: 0 0 20px;
    position: relative;
    text-align: center;
}
.product-grid .title:before,
.news-list-homepage .title:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 2px;
	background: #a12;
	z-index: 1;
}
.product-grid .title strong,
.news-list-homepage .title strong {
	display: inline-block;
	min-width: 150px;
	font-weight: normal;
	font-size: 17px;
	background: #a12;
	color: #fff;
	padding: 13px 25px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.product-grid .title strong:after,
.news-list-homepage .title strong:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #a12 transparent transparent;
}

.order-summary-content form > .cross-sells {
    margin: 40px 0 20px;
}


.pager {
	margin: 0 0 30px;
}
.pager ul {
	text-align: center;
	font-size: 0;
}
.pager li {
	display: inline-block;
	margin: 0 5px;
}
.pager li * {
	display: block;
	min-width: 32px;
	border: 1px solid #ccc;
	overflow: hidden;
	padding: 7px;
	text-align: center;
	font-size: 14px; /*reset zeroing*/
	cursor: pointer;
    background: #eee;
}
.pager li span{
    background-color: #a12;
    border-color: #a12;
    color: #fff;
}
.pager .prev-page a,
.pager .next-page a {
	padding: 7px 14px;
}

/* categories & sub-categories */

.item-box .title a {
	display: block;
	background: #a12;
	font-size: 15px;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	border-top: 1px solid #a12;
	padding: 13px;
}

/* manufacturers */

.item-box .manufacturer-item .title,
.item-box .vendor-item .title {
	display: none;
}

.home-page-manufacturers .item-box{
    width: 49%;
    float: left;
    margin: 0 0 0 2%;
}
.home-page-manufacturers .item-box:nth-child(2n+1){
    margin-left: 0;
}
.home-page-manufacturers .item-box .picture a:before{
    padding-top: 50%;
}


/* vendors */

.contact-vendor .button-2{
	background: #333333 none repeat scroll 0 0;
	border: 1px solid rgba(0, 0, 0, 0);
	color: #ffffff;
	font-size: 15px;
	margin: 0 0 20px;
	min-width: 150px;
	padding: 6px 14px;
}

/********** PRODUCT PAGE **********/



.product-essential {
	margin: 0 0 20px;
}
.product-essential:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.gallery {
	margin: 0 0 20px;
}
.gallery .picture-wrapper {
    margin: 0 0 10px;
}
.gallery .picture {
    position: relative;
    width: 300px;
    max-width: 100%;
    margin: 0 auto 10px;
    overflow: hidden;
    background: #fff;
}
.gallery .picture:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.gallery .picture img,
.gallery .picture-thumbs img,
.variant-picture img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.gallery .picture-thumbs {
	overflow: hidden;
	font-size: 0;
}
.gallery .picture-thumbs a {
    display: inline-block;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0 5px 10px;
    overflow: hidden;
}
.gallery .picture-thumbs a:nth-child(3n+1) {
    margin-right: 0;
}

.overview {
	position: relative;
	margin: 0 0 20px;
}
.overview .discontinued-product {
	margin: 0 0 10px;
	border-bottom: 1px dashed #ccc;
	padding: 0 0 10px;
	text-transform: uppercase;
}
.overview .product-name {
	margin: 0 0 15px;
}
.overview .product-name h1 {
    font-weight: normal;
    font-size: 24px;
}
.overview .short-description {
	margin: 0 0 15px;
}
.overview .buttons,
.overview-buttons {
	font-size: 0;
	margin: 0 0 10px;
} 
.back-in-stock-subscription, 
.download-sample { 
	margin: 0 0 15px;
	font-size: 0;
}
.overview .buttons div,
.overview-buttons div {
	display: inline-block;
	margin: 0 5px 10px;
}
.overview .add-to-wishlist-button, 
.variant-overview .add-to-wishlist-button, 
.overview .add-to-compare-list-button,
.subscribe-button,
.download-sample-button a {
    display: inline-block;
    border: 0;
    padding: 8px 35px;
    font-size: 13px;
    min-width: 190px;
    background: url(../img/icon-plus.png) no-repeat right center, 
                url(../img/icon-plus.png) no-repeat left center #eee;
}
.email-a-friend {
	margin: 0 0 20px;
}
.email-a-friend-button {
	display: inline-block;
	font-size: 13px;
	color: #a12;
	text-decoration: underline;
	background: 0;
	border: 0;
}

.overview .sku, .variant-overview .sku,
.overview .gtin, .variant-overview .gtin,
.overview .stock, .variant-overview .stock,
.overview .delivery-date, .variant-overview .delivery-date,
.overview .product-vendor, .variant-overview .product-vendor,
.overview .manufacturers, .manufacturer-part-number {
	margin: 0 0 5px;
}
.overview .label,
.variant-overview .label {
	font-weight: bold; 
    margin: 0 0 0 5px;
}
.overview .value a,
.variant-overview .value a {
	font-weight: bold;
	text-decoration: underline;
}
.free-shipping {
	display: inline-block;
	margin: 15px auto;
    padding: 12px 0;
	text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #a12;  
}
.overview .manufacturers {
	margin: 0 0 10px; /*not present in variant-overview*/
}

.product-no-reviews,
.product-reviews-overview {
	margin: 0 0 20px; /*not present in variant-overview*/
}
.product-no-reviews a {
	text-decoration: underline;
}
.product-review-box {
	display: inline-block;
	margin: 0 0 5px;
}
.product-review-box .rating {
	width: 106px;
	height: 16px;
	background: url(../img/rating-empty.png) repeat-x;
}
.product-review-box .rating div {
	height: 16px; 
	background: url(../img/rating-full.png) repeat-x;
}

.overview .prices,
.variant-overview .prices {
	margin: 10px 0;
	overflow: hidden;
}
.overview .prices > div,
.variant-overview .prices > div {
	margin: 0 0 5px;
}
.overview .old-product-price,
.variant-overview .old-product-price {
	font-size: 14px;
	color: #333;
	text-decoration: line-through;
}
.overview .old-product-price label,
.variant-overview .old-product-price label {
    vertical-align: baseline;
}
.overview .product-price,
.variant-overview .product-price {
	font-size: 18px;
	color: #c00;
}
.overview .tax-shipping-info a,
.variant-overview .tax-shipping-info a {
	font-weight: bold;
	text-decoration: underline;
}

.customer-entered-price {
	margin: 0 0 20px;
	overflow: hidden;
	background: #f6f6f6;
	padding: 10px;
}
.customer-entered-price > div {
	display: inline-block;
}
.customer-entered-price .price-input {
	margin: 0 5px;
}
.customer-entered-price .enter-price-input {
	width: 50px;
	background: #fff;
	text-align: center;
}
.customer-entered-price .price-range {
	font-weight: bold;
}

.overview .add-to-cart {
	margin: 0 0 20px;
}
.overview .min-qty-notification,
.variant-overview .min-qty-notification {
	margin: 0 0 10px;
	font-weight: bold;
}
.overview .add-to-cart-panel,
.variant-overview .add-to-cart-panel {
	display: inline-block;
	position: relative;
}
.overview .add-to-cart-panel > *,
.variant-overview .add-to-cart-panel > * {
	float: right;
}
.overview .qty-label,
.variant-overview .qty-label {
	position: absolute;
	right: -25px;
	line-height: 36px;
    display: none !important;
}
.overview .qty-input, 
.variant-overview .qty-input,
.overview .qty-dropdown, 
.variant-overview .qty-dropdown {
    width: 40px;
    height: 28px;
    margin: 6px 6px 0 6px !important;
    border: 0;
    text-align: center;
    font-size: 15px;
    outline: 6px solid #a12;
    outline-offset: 0;
}
.overview .qty-dropdown, 
.variant-overview .qty-dropdown{
    width: auto;
}
.overview .add-to-cart-button, 
.variant-overview .add-to-cart-button {
    border: 0;
    padding: 10px 15px 10px 63px;
    height: 40px;
    font-size: 17px;
	line-height: 20px;
    color: #fff;
    background-color: #a12;
    background-image: url(../img/rtl-btn-product-buy.png);
    background-position: left;
    background-repeat: no-repeat;
}
.overview .add-to-cart .add-to-wishlist-button {
	display: none; /*removes the old button*/
}

.product-share-button {
	display: inline-block;
    overflow: hidden;
}

.full-description {
	clear: both;
	margin: 0 0 20px;
	line-height: 20px;
}

.product-collateral {
	margin: 0 0 20px;
}
.product-collateral .title {
	margin: 0 0 10px;
	font-size: 18px;
}
.product-collateral .title strong {
	font-weight: normal;
}

.tier-prices {
	margin: 0 0 20px;
}
.tier-prices .prices-header {
	margin: 0 0 10px;
}
.tier-prices .field-header {
	min-width: 100px;
}
.tier-prices .item-price {
	color: #c00;
}

.product-variant-line {
	margin: 0 0 30px;
	border-bottom: 1px dotted #ccc;
	padding: 0 0 20px;
}
.product-variant-line:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.variant-picture {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    overflow: hidden;
}
.variant-overview {
	width: 100%;
}
.variant-overview .variant-name {
	margin: 0 0 10px;
	font-size: 18px;
}
.variant-overview .variant-description {
	margin: 0 0 15px;
	line-height: 20px;
}
.variant-overview .add-to-wishlist-button {
	display: block;
	float: none;
	clear: both;
	margin: 5px auto 0;
}

/*Jquery Tabs start*/
.ui-tabs {
	margin: 0 0 20px;
}
.ui-tabs .ui-tabs-nav {
	overflow: hidden;
}
.ui-tabs .ui-tabs-nav li {
    margin-bottom:1px;
}
    .ui-tabs .ui-tabs-nav li:last-child {
        margin: 0;
    }
.ui-tabs .ui-tabs-nav li a {
    display: block;
    background: #eee;
    padding: 12px 24px;
    font-size: 15px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-state-active.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li a:hover {
    background: #a12;
    color: #fff;
}
.ui-tabs .ui-tabs-panel {
    border-top: 1px solid #a12;
    background: #fff;
    padding: 12px;
}
.ui-tabs .ui-tabs-panel p {
	margin: 10px 0;
	line-height: 20px;
}
.ui-tabs .ui-tabs-hide {
	display: none;
}
/*Jquery Tabs end*/

.product-specs-box {
	margin: 0 0 20px;
}
.product-specs-box a {
	font-weight: normal !important;
	color: #a12;
}
.product-tags-box {
	margin: 0 0 20px;
}
.product-tags-list {
	font-size: 0;
}
.product-tags-list li {
	display: inline-block;
	font-size: 12px; /*reset zeroing*/
}
.product-tags-list li.separator {
	margin: 0 3px 0 5px;
}
.product-tags-list a {
	display: inline-block;
	line-height: 24px;
}

.attributes {
	margin: 20px 0;
}
.attributes dl {
	overflow: hidden; 
}
.attributes dt {
	display: block;
	margin: 0 0 5px;
	white-space: nowrap; 
	font-weight: bold;
}
.attributes dd {
	margin: 0 0 10px;
}
.attributes li {
	margin: 10px 0;
}
.attributes select {
    width: 100%;
    max-width: 300px;
}
.attributes .option-list li > * {
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
}
.attributes .datepicker {
	width: 280px;
	text-align: center;
}

.ui-datepicker {
	width: 280px;
	background-color: #fff;
	text-align: center;
}
.ui-datepicker-header {
	position: relative;
	height: 32px;
	background-color: #333;
	color: #fff;
}
.ui-datepicker-header a {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 32px;
	height: 32px;
	font-size: 0;
}
.ui-datepicker-header a.ui-datepicker-prev {
	right: 0;
	background: url('../img/calendar-prev-rtl.png') center no-repeat;
}
.ui-datepicker-header a.ui-datepicker-next {
	left: 0;
	background: url('../img/calendar-next-rtl.png') center no-repeat;
}
.ui-datepicker-title {
	position: relative;
	z-index: 0;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
}
.ui-datepicker-calendar th {
	background-color: #eee;
}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
	width: 14.285%;
	border: 1px solid #ccc;
}
.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a {
	display: block;
	min-height: 32px;
	line-height: 32px;
}

.color-squares {
	font-size: 0;
}
.color-squares li {
	display: inline-block;
	margin: 0;
}
.color-squares .color-container {
    display: block;
    border: 1px solid transparent;
    border-radius: 100%;
    padding: 3px;
    position: relative;
    z-index: 1;
}
.color-squares label {
    height: 35px;
    overflow: hidden;
}
.color-squares .color {
    display: block !important;
    width: 26px !important;
    height: 26px !important;
    border: 1px solid #c9c9c9 !important;
    cursor: pointer;
    border-radius: 100%;
}
.color-squares .selected-value .color-container {
    border-color: #c9c9c9;
}
.color-squares li input {
	position: relative;
	z-index: -1;
	margin: -45px 0 0;
}

.giftcard {
	margin: 0 0 20px;
	overflow: hidden;
    clear: both;
}
.giftcard div {
	margin: 0 0 10px;
}
.giftcard label {
	display: block;
	margin: 0 0 5px;
}
.giftcard input,
.giftcard textarea {
	width: 350px;
	max-width: 100%;
}
.giftcard textarea{
	height: 150px;
}


/********** PRODUCT REVIEWS **********/



.product-reviews-page h1 a {
	font-style: italic;
}
.product-reviews-page h1 a:before,
.product-reviews-page h1 a:after {
	content: "''";
}
.product-reviews-page .title {
	display: none;
}
.write-review {
	margin: 0 0 30px;
}
.write-review .form-fields {
	margin: 0 0 15px;
	border: 1px solid #ddd;
	padding: 20px 10px;
}
.write-review .review-rating {
	text-align: center;
}
.write-review .review-rating label {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    vertical-align: middle;
}
.review-rating ul {
    font-size: 0;
    vertical-align: middle;
}
.write-review .review-rating li {
	display: inline-block;
	margin: 0 5px;
	cursor: default;
    vertical-align: middle;
    font-size: 14px;
    height: 17px;
}
.write-review .review-rating li.first {
	color: #c00;
}
.write-review .review-rating li:nth-child(2) {
    padding-top: 2px;
}
.write-review .review-rating li:nth-child(2) input {
	vertical-align: baseline;
}
.write-review .review-rating li.last {
	color: #690;
}
.write-review .captcha-box {
	margin: 15px 0 0;
}
.write-review .button-1 {
	background: #333;
	padding: 8px 18px;
	font-size: 15px;
    color: #fff;
	border: 1px solid transparent;
}
.product-reviews-page .result,
.product-reviews-page .message-error {
	margin: 0 0 20px;
}
.product-review-list {
	overflow: hidden;
}
.product-review-item {
	margin: 0 0 30px;
}
.product-review-item .review-item-head {
	margin: 0 0 10px;
	overflow: hidden;
	background: #f6f6f6;
	padding: 7px 10px;
}
.product-review-item .review-title {
	float: right;
	font-size: 16px;
	color: #a12;
}
.product-review-item .review-title strong {
	font-weight: normal;
}
.product-review-item .product-review-box {
	float: left;
	margin: 0;
}
.product-review-item .review-text {
	margin: 0 0 15px;
}
.product-review-item .review-info {
	margin: 0 0 5px;
}
.product-review-item .review-info a,
.product-review-helpfulness .vote {
	display: inline-block;
	padding: 0 10px;
	font-weight: bold; 
	text-decoration: underline; 
	cursor: pointer;
}
.product-review-helpfulness .question {
	margin: 0 0 0 5px;
	font-style: italic;
}
.product-review-helpfulness .result {
	margin: 0 10px 0 0;
}


/********** WISHLIST & COMPARE LIST **********/



.wishlist-content {
	margin: 0 0 20px;
}
.wishlist-content .message-error {
	margin: 0 0 10px;
    text-align:center;
}
.wishlist-content .tax-shipping-info {
	margin: 0 0 20px;
	text-align: center;
}
.wishlist-content .tax-shipping-info a {
	font-weight: bold;
	text-decoration: underline;
}
.wishlist-content .buttons {
	font-size: 0;
}
.wishlist-content .button-2 {
	margin: 0 5px 5px;
	padding: 7px 14px;
	font-size: 15px;
	border: 1px solid transparent;
}
.update-wishlist-button,
.wishlist-add-to-cart-button {
	background: #333;
	color: #fff;
}
.email-a-friend-wishlist-button {
	background: #eee;
	color: #333;
}
.wishlist-page .share-info {
	text-align: center;
}
.wishlist-page .share-info a {
	display: block;
	margin: 0 0 5px;
	font-weight: bold;
	color: #a12;
}
.compare-products-page {
	position: relative;
	overflow: hidden;
}
.compare-products-table .overview p:first-child {
	position: relative;
	margin: 0 0 10px;
}
.compare-products-table .overview p:last-child {
    position: relative;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
}
.compare-products-table .overview img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.compare-products-page .clear-list {
	display: inline-block;
	margin: 0 0 20px;
	background: #333;
	padding: 7px 14px;
	font-weight: bold;
	color: #fff;
}
.compare-products-page .button-2 {
	display: inline-block;
	border: 1px solid #ddd;
	background: #eee;
	padding: 7px 14px;
}


/*********** TOPICS ***********/



.topic-block {
	margin: 0 0 20px;
}
.home-page .topic-block {
	margin: 0 0 30px;
}
.topic-block-title {
    margin: 0 0 10px;
}
.topic-block-title h2 {
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #a12;
}
.topic-html-content-body {
	line-height: 20px;
}
.topic-block a,
.topic-page a {
	text-decoration: underline;
}
.topic-page .page-body {
	line-height: 20px;
}
.popup-window .topic-page {
	padding: 15px;
}
.topic-password {
	text-align: center;
}
.enter-password-title {
	margin: 0 0 10px;
	color: #c00;
}
.enter-password-form {
	display: inline-block;
	overflow: hidden;
}
.enter-password-form input[type="password"] {
	float: right !important;
	width: 200px !important;
	height: 36px !important;
	margin-left: -1px;
}
.enter-password-form input[type="submit"] {
	float: right !important;
	width: auto !important;
	height: 36px !important;
	border: none !important;
	background: #333 !important;
	padding: 0 20px !important;
	font-size: 16px !important;
	color: #fff !important;
}
.password-error {
	margin: 0 0 10px;
}


/*********** CONTACT & EMAIL A FRIEND ***********/



.contact-page .form-fields,
.email-a-friend-page .form-fields,
.apply-vendor-page .form-fields {
	margin: 0 0 15px;
	border: 1px solid #ddd;
	padding: 10px;
}
.contact-page .message-error,
.email-a-friend-page .message-error,
.apply-vendor-page .message-error {
	margin: 0 0 10px;
}
.contact-page .buttons .button-1,
.email-a-friend-page .buttons .button-1,
.apply-vendor-page .buttons .button-1 {
    padding: 8px 18px;
    background: #333;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
}
.email-a-friend-page .title {
	margin: 0 0 15px;
}
.email-a-friend-page .title h2 {
	font-weight: normal;
}


/********** REGISTRATION, LOGIN, ACCOUNT PAGES  **********/



.block-account-navigation {
    width: 300px !important;
    float: none !important;
    margin: 0 auto 20px !important;
}
.registration-page .fieldset:nth-child(2) select,
.account-page .fieldset:nth-child(3) select,
.inputs.date-of-birth select {
	width: 93px; /*birth-date selectors, always single line*/
}
.registration-page select + select,
.account-page select + select {
	margin: 0 10px 0 0;
}
.gender {
	display: inline-block;
}
.gender > span{
    margin:0 4px;
}
.gender > span > * {
	display: inline-block !important;
	vertical-align: middle;
	line-height: 32px;
    width:auto;
}
.gender > span label{
    margin:0;
}
#check-availability-button {
    margin: 10px 0 0;
    padding: 5px 12px !important;
    font-size: 14px !important;
}
#username-availabilty {
	display: block;
	margin: 5px 0 0;
    font-size: 12px;
}
#username-availabilty:empty {
	display: none;
}
.accept-privacy-policy {
	margin: 0 0 20px;
	text-align: center;
}
.accept-privacy-policy > * {
	display: inline-block;
	line-height: 32px;
	vertical-align: middle;
}
.accept-privacy-policy a {
	font-weight: bold;
}
.registration-page .buttons {
	padding: 25px 0 0;
	border-top: 1px dashed #a12;
}
.registration-page .buttons .button-1, 
#check-availability-button,
.registration-result-page .button-1, 
.login-page .buttons .button-1,
.password-recovery-page .buttons .button-1, 
.account-page .buttons .button-1,
.account-page .subscription-list .button-2,
.return-request-page .buttons .button-1 {
    padding: 8px 18px;
    background: #333;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
}
.registration-result-page .result {
	margin: 0 0 20px;
	color: #690;
}
.login-page .customer-blocks {
	margin: 0 0 30px;
}
.login-page .title {
    margin: 0 0 20px;
    position: relative;
    text-align: center;
}
.login-page .title:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 1px;
	background: #ccc;
	z-index: 1;
}
.login-page .title strong {
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	background: #a12;
	color: #fff;
	padding: 12px 24px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.login-page .title strong:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #a12 transparent transparent;
}
/*facebook plugin authentication*/
.external-authentication .title {
    background: #aa1122;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 24px;
    position: relative;
    text-transform: uppercase;
}
.external-authentication .title::before {
    display: none;
}
.external-authentication .title:after {
    border-color: #aa1122 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid dashed dashed;
    border-width: 8px 27px 0;
    content: "";
    left: 50%;
    margin-left: -27px;
    position: absolute;
    top: 100%;
    z-index: -1;
}

.login-page .new-wrapper {
	margin: 0 0 30px;
}
.login-page .text {
	margin: 0 0 20px;
}
.login-page .inputs.reversed * {
	margin: 5px 0;
	font-size: 12px; /*reset zeroing*/
}
.forgot-password {
    display: inline-block;
}
.external-authentication {
	margin: 0 0 20px;
	overflow: hidden;
	text-align: center;
}
.external-authentication fieldset {
	float: none !important;
}
.password-recovery-page .tooltip {
	margin: 0 0 20px;
}
.password-recovery-page .result {
	margin: 0 0 5px;
	font-weight: bold;
}

.account-page .button-2 {
    border: 1px solid #ddd;
    padding: 7px 14px;
    background: #eee;
    color: #333;
    font-size: 13px;
}
.account-page .edit-address {
	margin: 0 0 20px;
}
.account-page .description {
	margin: 0 0 20px;
}

.address-list,
.order-list {
	margin: 0 0 30px;
	overflow: hidden;
}
.address-item,
.order-item {
    width: 280px;
    text-align: right;
    margin: 0 auto 10px;
}
.address-item .title,
.order-item .title {
	padding: 10px;
	margin: 0;
	font-size: 15px;
	border-bottom: 1px solid #a12;
}
.address-item .info,
.order-item .info {
	margin: 0 0 5px;
	padding: 10px;
	line-height: 20px;
	border-bottom: 1px solid #a12;
}
.address-item .buttons,
.order-item .buttons {
	padding: 10px;
	margin: 0;
}

.address-list-page .add-button {
	margin: 0 0 15px;
	text-align: center;
}
.add-address-button {
	padding: 8px 18px;
	background: #333;
	color: #fff;
	font-size: 15px;        
    border: 1px solid transparent;
}

.return-request-list-page .section {
	border-bottom: 1px solid #a12;
	padding: 10px;
}
.return-request-list-page a {
	font-weight: bold;
}
.return-request-list-page .comments {
	margin: 10px 0;
	border-top: 1px dashed #ccc;
	padding: 15px 0 0;
}

.reward-points-overview,
.reward-points-history .title {
    margin: 0 0 15px;
}
.reward-points-history .title {
	font-size: 15px;
}

.avatar-page .message-error {
	margin: 0 0 10px;
}
.avatar-page .fieldset {
	margin: 0 0 15px;
}
.avatar-page .image {
	margin: 0 0 10px;
}
.avatar-page .image img {
	border: 1px solid #ccc;
}
.avatar-page input[type="file"] {
	width: 175px;
	overflow: hidden;
}
.avatar-page input[type="submit"] {
	padding: 7px 10px;
}
.avatar-page .info {
	margin: 0 0 20px;
}

.change-password-page .form-fields {
	border: 1px solid #ddd;
	padding: 20px 10px;
}
.inputs.custom-attributes .option-list li>*{
    display:inline-block;
    margin:0;
    padding:0 3px 0 0;
}

.user-agreement-page {
        text-align:center;
    }
.terms-of-agreement{
    padding:10px 0 30px 0;
}
.user-agreement-page .button-1 {
    background: #333333 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 15px;
    padding: 8px 18px;
}


/********** SHOPPING CART & CHECKOUT **********/



.order-progress {
	margin: 0 0 20px;
	text-align: center;
}
.order-progress ul {
	font-size: 0;
}
.order-progress li {
	display: inline-block;
	margin: 0 10px;
	
	width: 70px;
	margin: 10px;
	text-align: center;
}
.order-progress a {
	display: block;
	font-size: 12px; /*reset zeroing*/
}
.order-progress a:before {
	content: "";
	display: block;
	width: 33px;
	height: 33px;
	margin: 0 auto 10px;
	background: #a12 url('../img/order-progress.png') center no-repeat;
}
.order-progress li.active-step a {
	cursor: pointer;
}
.order-progress li.inactive-step a {
	opacity: 0.3;
	cursor: default;
}

.shopping-cart-page .button-1 {
    border: 0;
    padding: 10px 22px;
    background-color: #a12;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
}
.checkout-page .button-1,
.checkout-page .order-completed .button-2 {
    border: 0;
    padding: 8px 18px;
    background: #333;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
}
.checkout-page .button-2 {
    border: 1px solid #ccc;
    padding: 7px 14px;
    background: #eee;
    color: #333;
    font-size: 12px;
}
.remove-discount-button,
.remove-gift-card-button {
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
	background: #fff url('../img/close.png') center no-repeat;
	cursor: pointer;
}

.shopping-cart-page .message-error {
	margin: 0 0 20px;
	font-size: 13px;
}
.selected-checkout-attributes,
.order-summary-content .tax-shipping-info {
	margin: 0 0 20px;
	text-align: center;
}
.shopping-cart-page .common-buttons {
	font-size: 0;
}
.shopping-cart-page .common-buttons input {
	min-width: 150px;
	margin: 0 5px 5px;
    padding: 6px 14px;
    background: #333;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
}
.checkout-attributes {
	margin: 20px 0 0;
	text-align: center;
}
.checkout-attributes dt {
	margin: 0 0 5px;
	font-weight: bold;
}
.checkout-attributes li {
	display: inline-block;
	margin: 0 5px;
	line-height: 24px;
}
.checkout-attributes li * {
	vertical-align: middle;
}

.cart-footer:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.cart-footer .totals {
	width: 300px;
	max-width: 100%;
	margin: 0 auto 30px;
}
.cart-footer .total-info {
	margin: 0 0 20px;
}
.cart-total td {
	width: 50%;
	border: 1px solid #ccc;
	padding: 5px;
}
.cart-total .order-total td.cart-total-left{
    font-size:13px;
    color:#333;
}
.cart-total .order-total {
	font-size: 16px;
	color: #c00;
}
.terms-of-service {
	margin: 0 0 20px;
}
.terms-of-service label {
    cursor: pointer;
}
.terms-of-service span {
	font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.cart-footer .button-1 {
	font-size: 18px;
}

.cart-collaterals {
	width: 300px;
	max-width: 100%;
	margin: 0 auto 30px;
}
.cart-collaterals > div {
	margin: 0 0 30px;
}
.cart-collaterals .title {
	margin: 0 0 5px;
	font-size: 13px;
}
.cart-collaterals .hint {
	margin: 0 0 5px;
}
.cart-collaterals .deals > div {
	margin: 0 0 10px;
}
.cart-collaterals .coupon-code {
	overflow: hidden;
	font-size: 0;
}
.cart-collaterals .coupon-code input[type="text"] {
	margin: 0 0 0 -1px;
}
.cart-collaterals .coupon-code input[type="submit"] {
	height: 30px;
	border: 1px solid #ccc;
    padding: 7px 14px;
    background: #ddd;
    color: #333;
    font-size: 12px;
    vertical-align: middle;
}
.cart-collaterals .message {
	margin: 5px 0 0;
	color: #c00;
}
.cart-collaterals .current-code {
	margin: 5px 0 0;
	color: #690;
}
.cart-collaterals .estimate-shipping-button {
    padding: 5px 12px;
    background: #333;
    color: #fff;
    font-size: 14px;
    border: 1px solid transparent;
}
.cart-collaterals .shipping-results {
	margin: 20px 0 0;
    clear: both;
}
.cart-collaterals .shipping-results li {
	margin: 10px 0;
}

.checkout-page .section {
	margin: 0 0 30px;
}

.checkout-page .section .title {
	margin: 0 0 20px;
	position: relative;
	text-align: center;
}
.checkout-page .section > .title:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 1px;
	background: #a12;
	z-index: 1;
}
.checkout-page .section .title strong {
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	background: #a12;
	color: #fff;
	padding: 12px 24px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.checkout-page .section .title strong:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #a12 transparent transparent;
}

.checkout-page .address-grid {
	overflow: hidden;
}
.checkout-page .address-item {
	width: 100%;
	margin: 0 0 20px;
    padding: 10px;
}
.checkout-page .address-item .select-button {
	margin: 0 0 10px;
}
.checkout-page .address-item .select-button input {
	width: 100%;
	text-transform: uppercase;
}
.checkout-page .address-item .address-box {
	padding: 10px;
}
.checkout-page .address-item li {
	padding: 2px 0;
}
.checkout-page .address-item li.name {
	margin: 0 0 10px;
	font-size: 14px;
}
.checkout-page .address-item li.country {
	margin: 5px 0 0;
	font-size: 18px;
}
.checkout-page .edit-address {
	margin: 0 0 20px;
}
.shipping-method .method-list,
.payment-method .method-list {
	padding: 10px;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	margin: 0 0 20px;
}
.shipping-method .method-list li label,
.payment-method .method-list li label {
	font-weight: bold;
}
.shipping-method .method-description {
	margin: 5px 0 0;
}
.use-reward-points {
	margin: 0 0 10px;
	padding: 10px;
}
.payment-info .info {
	margin: 0 0 20px;
	padding: 10px;
	line-height: 20px;
}
.confirm-order {
	border: 1px solid #ddd;
}
    .confirm-order .buttons {
        margin: 20px 0;
    }
.confirm-order .terms-of-service {
	padding: 10px;
	text-align: center;
}
.confirm-order .button-1 {
	text-transform: uppercase;
}
.order-review-data ul,
.shipment-overview ul {
	margin: 0 0 30px;
}
.order-review-data li,
.shipment-overview li {
	padding: 2px 0; 
}
.order-review-data .title,
.shipment-overview .title,
.order-details-area .title {
	margin: 20px 0 5px;
	font-size: 14px;
}
.order-review-data .title,
.shipment-overview .title,
.order-details-area .title{
	margin-top: 0;
    font-weight: bold;
}
.order-completed .details {
	margin: 0 0 10px;
	padding: 20px;
	font-size: 14px;
	text-align: center;
}
.order-completed .details a {
	display: block;
	margin: 5px 0 0;
	font-weight: bold;
}

.opc .step-title {
	margin-bottom: 1px;
	overflow: hidden;
	background: #f6f6f6;
	padding: 10px;
}
.opc .allow .step-title,
.opc .allow .step-title * {
	cursor: pointer;
}
.opc .step-title * {
	float: right;
	font-size: 17px;
	font-weight: normal;
}
.opc .step-title span {
	display: inline-block;
	width: 18px;
	margin: 0 0 0 10px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 2px;
    font-size: 11px;
    text-align: center;
}
.opc .step {
	margin: 10px 0;
	padding: 10px;
}
.opc .section {
	margin: 0 0 15px;
	text-align: center;
}
.opc .section > label {
	display: block;
	margin: 0 0 10px;
}
.opc input[type="text"],
.opc select {
	max-width: 100%;
}
.opc .buttons {
	margin-bottom: 0;
}
.opc .back-link {
	margin: 0 0 10px;
}
.opc .back-link small {
	display: none;
}
.opc .back-link a {
	font-weight: bold;
}
.opc .please-wait {
	display: block;
	margin: 10px 0 0;
}
.opc .terms-of-service {
	text-align: center;
}

.order-details-page .search-box {
	display: none;
}
.order-details-page .page-title {
	margin: 0 0 20px;
	overflow: hidden;
	padding-left: 15px;
}
.order-details-page .page-title h1 {
	margin: 0 0 10px;
}
.order-details-page .page-title a {
    padding: 7px 14px;
    background: #eee;
    color: #333;
    font-size: 12px;
}
.order-details-page .order-overview {
	margin: 0 0 30px;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 20px;
	line-height: 20px;
}
.order-details-page .order-number {
	font-size: 14px;
	text-transform: uppercase;
}
.order-details-area {
	margin: 0 0 40px; 
	overflow: hidden;  
}
.order-details-area td {
	float: right;
	width: 100%;
	margin: 0 0 20px;
	vertical-align: top;
}
.order-details-page .tax-shipping-info {
	text-align: center;
}
.order-details-page .tax-shipping-info a {
	font-weight: bold;
	text-decoration: underline;
}
.order-details-page .actions {
	margin: 20px 0 0;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}
.order-details-page .actions input {
	min-width: 100px;
	margin: 0 5px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 7px 14px;
	font-size: 14px;
}
.order-details-page .cart-total {
	width: 300px;
	margin: 0 auto 30px;
}

.shipment-details-page .shipment-overview {
    overflow: hidden;
    margin: 0 0 20px;
}
.shipment-details-page .shipment-overview > ul {
	text-align: right;
}
.shipment-details-page .shipment-overview > ul:first-child {
	margin: 0 0 20px;
}
.shipment-details-page .section {
    width: 100%;
}
.order-details-page .billing-info .re-order-button{
    background: #eeeeee;
    border: 1px solid #dddddd;
    font-size: 14px;
    margin:5px 0;
    min-width: 100px;
    padding: 7px 14px;
}

/*********** SEARCH & SITEMAP ***********/



.search-input input + label {
	display: inline;
	margin: 0 2px 0 0;
}
.basic-search {
	margin: 0 0 20px;
	border: 1px solid #ddd;
	padding: 20px 10px;
}
.basic-search input[type="text"] {
	width: 400px;
	max-width: 100%; 
}
.basic-search .inputs.reversed {
	margin-bottom: 0
}
.advanced-search {
	margin: 0 0 20px;
}
.advanced-search .price-range {
	display: inline-block;
}
.advanced-search .price-range input {
	width: 80px;
	margin: 3px;
}
.search-input .button-1 {
    padding: 8px 18px;
    background: #333;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
}
.search-input .warning,
.search-results .result {
	display: block;
	margin: 10px 0 0; 
	font-weight: normal;
	color: #c00;
}

.search-results {
	margin: 30px 0 0;
}
.search-results .warning {
	color: #c00;
    text-align:center;
}

.sitemap-page .entity {
	margin: 0 0 20px;
}
.sitemap-page .entity-title {
    margin: 0 0 20px;
    position: relative;
    text-align: center;
}
.sitemap-page .entity-title:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 1px;
	background: #a12;
	z-index: 1;
}
.sitemap-page .entity-title h2 {
	display: inline-block;
	min-width: 150px;
	font-weight: normal;
	font-size: 16px;
	background: #a12;
	color: #fff;
	padding: 12px 24px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.sitemap-page .entity-title h2:after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-right: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #a12 transparent transparent;
}
.sitemap-page .entity-body {
	line-height: 24px;
}
.sitemap-page a {
    display: block;
    font-size: 15px;
    padding: 7px 14px 7px 7px;
    margin: 0 7px 0 0;
    background: url(../img/arrow-left-black.png) no-repeat right center;
    text-align: right;
}
.sitemap-page a:empty {
	display: none;
}


/********** BLOG & NEWS **********/



.year strong {
	display: block;
	background: #f6f6f6;
	padding: 5px 10px;
	font-size: 13px;
	cursor: default;
}
.year .sublist a {
	font-size: 13px;
}
.blog-page .search-box {
	display: none;
}
.blog-page .post,
.news-items .item {
	position: relative;
	margin: 0 0 30px;
}
.blog-page .post:after,
.news-items .item:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.post-head,
.news-head {
	margin: 0 0 15px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}
.post-title,
.news-title {
	display: inline-block;
	margin: 0 0 5px;
	font-size: 20px;
	color: #a12;
}
.post-date,
.news-date {
	display: block;
	font-style: italic;
}
.post-head ~ *,
.news-head ~ * {
	display: none;
}
.blogpost-page .post-date,
.news-item-page .news-date {
}
.post-body,
.news-body {
	margin: 0 0 20px;
	line-height: 20px;
}
.blog-page .tags, 
.blogpost-page .tags {
	margin: 0 0 15px;
	overflow: hidden;
	background: #f6f6f6;
	padding: 3px 10px;
}
.blog-page .tags label,
.blogpost-page .tags label {
	display: block;
	font-weight: bold;
}
.blog-page .tags ul,
.blogpost-page .tags ul {
	font-size: 0;
}
.blog-page .tags li,
.blogpost-page .tags li {
	display: inline-block;
	font-size: 12px;
}
.blog-page .tags li.separator,
.blogpost-page .tags li.separator {
	margin: 0 3px 0 5px;
}
.blog-page .tags a,
.blogpost-page .tags a {
	display: inline-block;
	line-height: 24px;
}
.blog-details a {
	color: #a12;
}

.new-comment {
	margin: 30px 0;
}
.new-comment .title {
	margin: 0 0 20px;
}
.new-comment .notifications {
	margin: 0 0 10px;
}
.new-comment .result {
	color: #690;
}
.new-comment .form-fields {
	margin: 0 0 15px;
}
.new-comment .inputs label {
	display: none;
}
.new-comment textarea {
	width: 100%;
}
.new-comment .button-1 {
	background: #333;
    color: #fff;
    font-size: 15px;
    padding: 8px 18px;
    border: 1px solid transparent;
}
.new-comment .field-validation-error{
    text-align:center;
}

.comment-list .title {
	display: none;
}
.blog-comment,
.news-comment {
	margin: 0 0 30px;
}
.blog-comment:after,
.news-comment:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.comment-info {
	width: 120px;
	margin: 0 auto 10px;
	border: 1px solid #ccc;
}
.comment-info .username {
	display: block;
	padding: 5px;
}
.comment-info .avatar {
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.comment-info .avatar img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.comment-time {
	margin: 0 0 10px;
	font-style: italic;
}
.comment-title {
	font-size: 13px;
	color: #a12;
}
.comment-body {
	line-height: 20px;
}

.news-items .read-more {
	width: 80px;
	margin: 20px auto 0;
	border: 1px solid #ddd;
	background: #eee;
	padding: 7px 14px;
	text-align: center;
    color: #333;
}
.news-item-page .inputs:first-child label {
	display: block;
}

.news-list-homepage {
	margin: 0 0 30px;
}
.news-list-homepage .view-all {
	text-align: center;
}
.news-list-homepage .view-all a {
	display: inline-block;
	line-height: 32px;
	color: #a12;
}



/* RE-CAPTCHA */

.recaptchatable #recaptcha_response_field {
	height: auto !important;
}

/*RESPONSIVE CAPTCHA*/

@media (max-width: 444px) {
    .recaptchatable #recaptcha_image {
        margin: 0 !important;
        width: 200px !important;
        float:right !important;
    }
    .recaptchatable #recaptcha_image img {
        max-width:100%;
    }
    .recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell, .recaptchatable .recaptcha_r2_c2 {
        background: none !important;
    }
}