﻿@using System.Collections.Generic
@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Paging
@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@model MrCMS.Web.Areas.Admin.Models.MediaSelectorSearchQuery
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var categories = ViewData["categories"] as List<SelectListItem> ?? new List<SelectListItem>();
    var results = ViewData["results"] as IPagedList<MediaFile> ?? PagedList<MediaFile>.Empty;
    var mediaSettings = MrCMSApplication.Get<MediaSettings>();
}
<div data-type="media-selector-popup">
    @using (Html.BeginForm("Show", "MediaSelector", FormMethod.Get, new { id = "search-form", style = "margin:0px;" }))
    {
        <fieldset>
            <legend>
                @Resource("Admin Media Selector Media Selector Title", "Media Selector")
            </legend>
            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        @Html.DropDownListFor(query => query.CategoryId, categories, new { @class = "form-control" })
                        @Html.ValidationMessageFor(query => query.CategoryId)
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        @Html.TextBoxFor(query => query.Query, new { @class = "form-control" })
                        @Html.ValidationMessageFor(query => query.Query)
                    </div>
                </div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-primary col-lg-12" value="@Resource("Search")" />
                </div>
            </div>
        </fieldset>
    }

    <div id="results">
        @using (Html.BeginForm("Files", "File", new { Id = (Model.CategoryId ?? null) }, FormMethod.Post, new { id = "fileuploadform", enctype = "multipart/form-data", @class = "form-fileUpload" }))
        {
            <div class="row">
                <div class="col-lg-3">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>@Resource("Admin Media Upload Files", "Upload files")...</span>
                        <input id="fileupload" type="file" name="files[]" multiple />
                    </span>
                </div>
                <div class="col-lg-9">
                    <div id="progress" class="progress" style="height: 30px; display: none; margin-bottom: 5px;">
                        <div class="bar"><span id="percent-complete" style="text-align: center;"></span></div>
                    </div>
                </div>
            </div>
            <div id="files" class=""></div>
        }

        <input type="hidden" id="allowedFileTypes" value="@mediaSettings.AllowedFileTypes" />
        <input type="hidden" id="maxFileSizeUpload" value="@mediaSettings.MaxFileSizeUpload" />

        <div id="dropzone"><span>@Resource("Admin Media Drop Files", "Drop files here")</span></div>
        @if (results.Any())
        {
            foreach (var file in results)
            {
                Html.RenderPartial("FileResult", file);
            }
            <div class="clearfix"></div>
            @Html.Pager(results, "Show", page => new { page })
        }
        else
        {
            <p>
                @Html.InfoBlock("", Resource("Admin Media No Files Message", "There are no files here yet - why not upload some?"))
            </p>
        }
    </div>
</div>