.nop-jcarousel .jcarousel-prev-horizontal {
    left: 0;
    background: url("images/arrow-left.png") no-repeat center;
}

.nop-jcarousel .jcarousel-next-horizontal {
    left: 0;
    background: url("images/arrow-right.png") no-repeat center;
}
.nop-jcarousel .jcarousel-next-vertical,
.nop-jcarousel .jcarousel-prev-vertical {
    right: 50%;
    margin: 0 -18px 0 0;
}

@media all and (min-width: 768px) {
    .jcarousel-container .ribbon-position.top-left {
        right: 1px;
    }
.nop-jcarousel .jcarousel-container-vertical {
    padding: 36px 0px 36px;
}
.side-2 .manufacturers-carousel,
.side-2 .products-carousel,
.side-2 .categories-carousel{
    margin:0 0 30px 0;
}  
    
}