/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.nop-jcarousel {
    position:relative;
    max-width:1000px;
    margin:0 auto 20px;
}
.nop-jcarousel > h2 {
    margin:auto;
    background: rgba(255,255,255,.5);
    color: #000;
    text-transform: uppercase;
    font: bold 22px/48px Arvo;
    font-weight:normal;
    letter-spacing:1px;
    text-align:center;
}
.nop-jcarousel .jcarousel-container {
    background: #fff;
    position:static !important;
}
.nop-jcarousel .jcarousel-clip {
    overflow: hidden;
    border-top:1px solid #eee;
}

.nop-jcarousel .jcarousel-item {
    margin:0;
}
.nop-jcarousel .jcarousel-item:hover{
    background:#fff;
}
.nop-jcarousel .jcarousel-item .item-picture img{
    transition:all 200ms ease-out 0s;
    -webkit-transition:all 200ms ease-out 0s;
    -moz-transition:all 200ms ease-out 0s;
    -ms-transition:all 200ms ease-out 0s;
}
.nop-jcarousel .jcarousel-item .item-holder {
	border: 1px solid #eee;
    border-top:none;
	transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
}
.nop-jcarousel .jcarousel-item .item-picture {
	overflow:hidden;
}
.nop-jcarousel .jcarousel-item .item-picture a {
    display: block;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.nop-jcarousel .jcarousel-item .item-picture a:before {
	content: "";
	display: block;
	padding-top: 132%;
}
.categories-carousel .jcarousel-item .item-picture a:before,
.manufacturers-carousel .jcarousel-item .item-picture a:before {
	padding-top: 100%;
}
.nop-jcarousel .jcarousel-item .item-picture a img {
    max-width:100%;
    max-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.nop-jcarousel .jcarousel-item:hover a img {
    opacity: 0.9;
}

.nop-jcarousel .jcarousel-item .item-info {
    padding: 0 5px;
    text-align: center;
}
.manufacturers-carousel .jcarousel-item .item-info {
	display: none;
}

.nop-jcarousel .jcarousel-item .jcarousel-product-title {
    overflow: hidden;
    height: 36px;
    line-height:18px;
	margin: 0;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    font-family:Arvo;
    font-weight:normal;
	text-transform: uppercase;
}

.nop-jcarousel .jcarousel-item .jcarousel-product-title a {
    display: block;
}

.nop-jcarousel .jcarousel-item .short-description {
    
    overflow: hidden;
    margin: 10px 0 0;
    height: 35px;
    color: #666;
    font-size: 13px;
	line-height: 18px;
}

.nop-jcarousel .jcarousel-item .prices {
    
    margin: 10px 0 0;
    overflow: hidden;
    height: 18px;
    text-align:center;
}

.nop-jcarousel .jcarousel-item .actual-price {
    color: #000;
    font-weight: normal;
    font-size:16px;
    font-family:Arvo;
}

.nop-jcarousel .jcarousel-item .old-price {
    color: #666;
    text-decoration: line-through;
    font-size: 14px;
}
.product-rating-box {
    display: inline-block;
    margin: 10px 5px;
}
.product-rating-box .rating {
    background: rgba(0, 0, 0, 0) url("images/star-none.png") repeat-x scroll 0 0;
    height: 19px;
    width: 100px;
}
.product-rating-box .rating div {
    background: rgba(0, 0, 0, 0) url("images/star-active.png") repeat-x scroll 0 0;
    height: 19px;
}
.nop-jcarousel .jcarousel-item .button {
    display: block;
    margin: 15px auto 0;
    height:45px;
    width:45px;
    background: url("images/magnify.png") no-repeat center #8e807a;
    color: #fff;
    text-align: center;
    font-size:0;
}

.nop-jcarousel .jcarousel-item .button:hover {
	opacity: 0.9;
}

.nop-jcarousel .jcarousel-next-horizontal,
.nop-jcarousel .jcarousel-prev-horizontal {
    position: absolute;
    top: 50%;
    margin: 0;
    width: 18px;
    height: 22px;
    cursor: pointer;
}

.nop-jcarousel .jcarousel-prev-horizontal {
    left: 0;
    background: url("images/arrow-left.png") no-repeat center;
    position:absolute;
    top:6px;
    height:35px;
    width:35px;
}

.nop-jcarousel .jcarousel-next-horizontal {
    right: 0;
    background: url("images/arrow-right.png") no-repeat center;
    position:absolute;
    top:6px;
    height:35px;
    width:35px;
}

.nop-jcarousel .jcarousel-next-horizontal:hover,
.nop-jcarousel .jcarousel-next-horizontal:focus {
}

.nop-jcarousel .jcarousel-prev-horizontal:hover,
.nop-jcarousel .jcarousel-prev-horizontal:focus {
}

.nop-jcarousel .jcarousel-prev-disabled:hover {
}

.nop-jcarousel .jcarousel-next-disabled:hover {
}

/* VERTICAL */
.categories-carousel .jcarousel-container-vertical .jcarousel-item .jcarousel-product-title{
    margin:0;
}
.categories-carousel .jcarousel-container-vertical .jcarousel-product-title a,
.manufacturers-carousel .jcarousel-container-vertical .jcarousel-product-title a{
    line-height:36px;
    color:#fff;
}
.manufacturers-carousel .jcarousel-list-vertical{
    height:331px;
}
.manufacturers-carousel .jcarousel-item-vertical{
    margin:0;
}
.nop-jcarousel.vertical-holder {
    margin:0;
}

.nop-jcarousel .jcarousel-clip-vertical .item-holder{
    border:none;
}
.products-carousel .nop-jcarousel .jcarousel-clip-vertical{
    height:420px !important;
}
.products-carousel .nop-jcarousel .jcarousel-clip-vertical .item-picture a{
    height:348px;
}
.nop-jcarousel .jcarousel-item-vertical {
    margin: 35px 0 0 0;
    width: 100%;
    height:348px !important;
    position:relative;
}
.categories-carousel  .jcarousel-container-vertical .jcarousel-clip.jcarousel-clip-vertical,
.manufacturers-carousel .jcarousel-container-vertical .jcarousel-clip.jcarousel-clip-vertical{
    height: 420px !important;
}
.products-carousel .jcarousel-item-vertical .item-info{
    /*height:160px !important;*/
    overflow:hidden;
} 
.nop-jcarousel .jcarousel-clip-vertical .item-holder .item-info,
.nop-jcarousel .jcarousel-clip-vertical .item-holder:hover .item-info{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    padding:0;
	background: #fff;
} 
.nop-jcarousel .jcarousel-clip-vertical .item-holder:hover{
    position:static !important;
}
.nop-jcarousel .jcarousel-clip-vertical .item-holder .item-info .jcarousel-product-title{
    line-height:36px;
}
.nop-jcarousel .jcarousel-next-vertical,
.nop-jcarousel .jcarousel-prev-vertical {
    /*position: absolute;
    left: 50%;
    margin: 0 0 0 -18px;*/
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.nop-jcarousel .jcarousel-prev-vertical{
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
        top: 42px;
}
.nop-jcarousel .jcarousel-next-vertical{
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 42px;
}
.nop-jcarousel .jcarousel-next-vertical {
    bottom: 1px;
    background: url("images/big-arrow-down.png") no-repeat center;
    border:1px solid #ddd;
    border-bottom:none;
}

.nop-jcarousel .jcarousel-next-vertical:hover,
.nop-jcarousel .jcarousel-next-vertical:focus {
    background-position: center;
    border-color:#eee;
}

.nop-jcarousel .jcarousel-prev-vertical {
    background: url("images/big-arrow-up.png") no-repeat center;
    border:1px solid #ddd;
    border-top:none;
}
.nop-jcarousel.vertical-holder .carousel-title.vertical {
    font:16px/40px Arvo;
    background:#f9f9f9;
    border-bottom:1px solid #ddd;
}

.nop-jcarousel .jcarousel-prev-vertical:hover,
.nop-jcarousel .jcarousel-prev-vertical:focus {
    background-position: center;
}

.nop-jcarousel .jcarousel-next-disabled-horizontal,
.nop-jcarousel .jcarousel-next-disabled-horizontal:hover,
.nop-jcarousel .jcarousel-next-disabled-horizontal:focus,
.nop-jcarousel .jcarousel-next-disabled-horizontal:active,
.nop-jcarousel .jcarousel-prev-disabled-horizontal,
.nop-jcarousel .jcarousel-prev-disabled-horizontal:hover,
.nop-jcarousel .jcarousel-prev-disabled-horizontal:focus,
.nop-jcarousel .jcarousel-prev-disabled-horizontal:active,
.nop-jcarousel .jcarousel-prev-disabled-vertical,
.nop-jcarousel .jcarousel-prev-disabled-vertical:hover,
.nop-jcarousel .jcarousel-prev-disabled-vertical:focus,
.nop-jcarousel .jcarousel-prev-disabled-vertical:active,
.nop-jcarousel .jcarousel-next-disabled-vertical,
.nop-jcarousel .jcarousel-next-disabled-vertical:hover,
.nop-jcarousel .jcarousel-next-disabled-vertical:focus,
.nop-jcarousel .jcarousel-next-disabled-vertical:active {
    opacity: 0.5;
    cursor: default;
}

/* If the wrap is set to circular and the carousel skin can display more items than there are, the carousel adds additional <li> elements to fill the
empty spaces. This class is added only for those empty elements. They should not be visible. */

.nop-jcarousel .jcarousel-item-placeholder-horizontal {
    visibility: hidden;
}

.nop-jcarousel .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/*products-carousel */
.products-carousel{
    margin:30px 0;
}


.side-2 .manufacturers-carousel, 
.side-2 .products-carousel, 
.side-2 .categories-carousel{
    margin:0 auto 30px !important;
}
.center-1 .manufacturers-carousel,
.center-1 .products-carousel,
.center-1 .categories-carousel {
    margin:0 auto 20px;
}

 
@media all and (min-width: 768px) {

    .nop-jcarousel .jcarousel-item .item-holder:hover {
		position: relative;
		border-color: #ddd;
    }
    /*ribbons position in carousel images*/
    .jcarousel-container .ribbon-position.top-left {
        left: 1px;
        top: 1px;
        z-index:500;
    }
    .news-carousel .nop-jcarousel{
        margin:20px auto;
        clear: both;
    }

    /*vertical carousel*/

    .nop-jcarousel .jcarousel-container-vertical {
        padding: 36px 0px 36px;
    }
    .products-carousel .nop-jcarousel .jcarousel-item-vertical{
        height:400px !important;
        margin:0;
    }

    .categories-carousel .jcarousel-container-vertical .jcarousel-clip.jcarousel-clip-vertical,
    .manufacturers-carousel .jcarousel-container-vertical .jcarousel-clip.jcarousel-clip-vertical{
        height:228px !important;
        margin:0;
    }
    .categories-carousel .jcarousel-container-vertical .jcarousel-item-vertical{
        margin:0;
        height:228px !important;
    } 
    .manufacturers-carousel .nop-jcarousel .jcarousel-item-vertical{
        height:228px !important;
        margin:0;
    }
    .manufacturers-carousel .nop-jcarousel .jcarousel-item-vertical .item-info{
        display:none;
    }
    .manufacturers-carousel .nop-jcarousel .jcarousel-item-vertical .item-holder{
        height:228px !important;
        margin:0;
    }
    .manufacturers-carousel .nop-jcarousel .jcarousel-item-vertical .jcarousel-product-title{
        margin:0;
        line-height:36px;
    }
    .nop-jcarousel .jcarousel-clip-vertical .item-holder .item-info .jcarousel-product-title{
        line-height:normal;
        max-height:38px;
        height:auto;
    }
    .nop-jcarousel .jcarousel-clip-vertical .item-holder .item-info .prices{
        margin:5px 0 0 0;
    }
    .nop-jcarousel .jcarousel-clip-vertical .item-holder .item-info .button{
        margin:0 auto;
    }
    .products-carousel .nop-jcarousel .jcarousel-item-vertical .item-holder{
        height:300px !important;
    }
    .products-carousel .nop-jcarousel .jcarousel-clip-vertical .item-picture a{
        height:300px !important;
    }
    .products-carousel .nop-jcarousel .jcarousel-clip-vertical{
        height:410px !important;
        border-bottom:1px solid #ddd;
    }
    .nop-jcarousel.vertical-holder .jcarousel-item:hover .item-holder,
    .side-2 .nop-jcarousel .jcarousel-item:hover .item-holder{
        margin:0;
    }

    .side-2 .manufacturers-carousel,
    .side-2 .products-carousel,
    .side-2 .categories-carousel{
        margin:0 0 30px 0;
    }  
    /*hover effects goes for +768*/
    .nop-jcarousel .jcarousel-item:hover .item-holder{
        background: #fff;
        margin:-10px 0 0;
    }
    .nop-jcarousel .jcarousel-item:hover .item-holder .item-picture img{
        transform:scale(1.05);
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
    }
    
}
@media all and (min-width: 1000px) {
    .news-carousel .nop-jcarousel{
        margin:-40px auto 0;
    }
}