﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Framework;
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="account-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
        </div>
        <div class="clear">
        </div>
        <div class="body">
            <div class="customer-pass-recovery">
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="clear">
                    </div>
                    <div class="result">
                        @Model.Result
                    </div>
                }
                <div class="clear">
                </div>
                <div class="section-body">
                    <table class="table-container">
                        <tbody>
                            <tr class="row">
                                <td class="item-name">
                                    @Html.LabelFor(model => model.OldPassword):
                                </td>
                                <td class="item-value">
                                    @Html.EditorFor(model => model.OldPassword)
                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name">
                                    @Html.LabelFor(model => model.NewPassword):
                                </td>
                                <td class="item-value">
                                    @Html.EditorFor(model => model.NewPassword)
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name">
                                    @Html.LabelFor(model => model.ConfirmNewPassword):
                                </td>
                                <td class="item-value">
                                    @Html.EditorFor(model => model.ConfirmNewPassword)
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name">
                                    
                                </td>
                                <td class="item-value">
                                    <input type="submit" class="generic-button generic-large-button gradient-color" value="@T("Account.ChangePassword.Button")" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
}