﻿@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Web.Framework.Security.Captcha
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
}
<div class="login-page">
    <div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>
    <div class="clear">
    </div>
    @Html.Partial("_ExternalAuthentication.AssociateMessage")
    <div class="clear">
    </div>
    @Html.Partial("_ExternalAuthentication.Errors")
    <div class="clear">
    </div>
    <div class="wrapper">
        @if (Model.CheckoutAsGuest)
        {
            <div class="new-wrapper">
                <span class="register-title">@T("Account.Login.CheckoutAsGuestOrRegister")</span>
                <div class="checkout-as-guest-or-register-block">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Action("TopicBlock", "Topic", new { systemName = "CheckoutAsGuestOrRegister" })
                                </td>
                            </tr>
                            <tr>
                                <td class="buttons">
                                    <input type="submit" class="generic-button generic-fixed-width-button gradient-color" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                                    <br />
                                    <br />
                                    <input type="submit" class="generic-button generic-fixed-width-button gradient-color" onclick="location.href='@Url.RouteUrl("Register")'" value="@T("Account.Register")" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="new-wrapper">
                <span class="register-title">@T("Account.Login.NewCustomer")</span>
                <div class="register-block">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @T("Account.Login.NewCustomerText")
                                </td>
                            </tr>
                            <tr>
                                <td class="buttons">
                                    <input type="submit" class="generic-button generic-fixed-width-button gradient-color" onclick="location.href='@Url.RouteUrl("Register")'" value="@T("Account.Register")" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div class="returning-wrapper">
            <span class="login-title">@T("Account.Login.ReturningCustomer")</span>
            <div class="login-block">
                <div class="message-error">
                    @Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text)
                </div>
                @using (Html.BeginForm())
                {
                    <table class="login-table-container">
                        <tbody>
                            @if (Model.UsernamesEnabled)
                            {
                                <tr class="row">
                                    <td class="item-name">
                                        @Html.LabelFor(m => m.Username):
                                    </td>
                                    <td class="item-value">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "login-textobx" }) 
                                        @Html.ValidationMessageFor(m => m.Username)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="row">
                                    <td class="item-name">
                                        @Html.LabelFor(m => m.Email):
                                    </td>
                                    <td class="item-value">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "login-textobx" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </td>
                                </tr>
                            }
                            <tr class="row">
                                <td class="item-name">
                                    @Html.LabelFor(m => m.Password):
                                </td>
                                <td class="item-value">
                                    @Html.PasswordFor(m => m.Password, new { @class = "login-textobx" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="item-name">
                                </td>
                                <td class="item-value" colspan="2" style="padding:2px 0;">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td valign="bottom" style="padding-right:5px;">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                            </td>
                                            <td valign="middle" style="padding-right:20px;">
                                                @Html.LabelFor(m => m.RememberMe)
                                            </td>
                                            <td valign="middle">
                                                @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            @if (Model.DisplayCaptcha)
                            {
                            <tr class="row">
                                <td class="captcha-box" colspan="2">
                                    @Html.Raw(Html.GenerateCaptcha())
                                </td>
                            </tr>
                            }
                            <tr class="row">
                                <td colspan="2">
                                    <div class="buttons">
                                        <button class="generic-button generic-fixed-width-button gradient-color" type="submit">@T("Account.Login.LoginButton")</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="externalauthentication">
            @Html.Action("ExternalMethods", "ExternalAuthentication")
        </div>
    </div>
    <div class="clear">
    </div>
    @*@Html.Action("TopicBlock", "Topic", new { systemName = "LoginRegistrationInfo" })*@
</div>
