﻿@model BlogPostListModel
@using Nop.Web;
@using Nop.Web.Extensions;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
@section left {
    @Html.Action("BlogMonths", "Blog")
    <div class="clear">
    </div>
    @Html.Action("BlogTags", "Blog")
    <div class="clear">
    </div>
    @Html.Action("LatestGossipBlock", "ThemeSetting")
    <div class="clear">
    </div>
    @Html.Action("NewsletterBox", "Newsletter")
    <div class="clear">
    </div>
    @{
        var specialOffers = Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOffersImageUrl" });

        if (!String.IsNullOrEmpty(specialOffers.ToString()))
        {
            
            <div class="block block-offers">
                fasdfads
                <div class="listbox">
                    <a href="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOffersLink" })"><img src="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOffersImageUrl" })" title="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOfferTitle" })" alt="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOfferTitle" })"/></a>
                </div>
            </div>
            <div class="clear">
            </div>
        }
        
        var twitterUsername = @Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "TwitterUserName" });

        if (!String.IsNullOrEmpty(twitterUsername.ToString()))
        { 
            <div class="block block-tweets">
                <div class="title">
                    Tweets!
                </div>
                <div class="clear">
                </div>
                <div class="listbox">
                    <div class='tweet'></div>
                </div>
            </div>
            <div class="clear">
            </div>
        }
    }
    @Html.Action("InfoBlock", "Common")
    <div class="clear">
    </div>
}
<div class="blog">
    <div class="page-title">
        <div class="title">
            <h1>
                @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
                {
                    if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                    {
                    @string.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"));
                    }
                    else
                    {
                    @T("Blog")
                    }
                }
                else
                {
                    @string.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag);
                }
            </h1>
        </div>
        <div class="rss">
            <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })">
                <img title="@T("Blog.RSS.Hint")" src="@Url.Content("~/content/images/icon_rss.gif")" alt="@T("Blog.RSS")" /></a>
        </div>
    </div>
    <div class="clear">
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "bloglist_page_before_posts" })
    <div class="blogposts">
        @foreach (var item in Model.BlogPosts)
        {   
            <div class="post">
                <div class="post-left">
                    <div class="post-date">
                        <div class="actual-date">
                            <div class="top">
                                @item.CreatedOn.ToString("dd")
                            </div>
                            <div class="bottom">
                                @item.CreatedOn.ToString("MMMM yyyy")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-right">
                    <div class="post-picture">
                        <img src="/themes/theme1/content/images/post-pic.gif" alt="post" />
                    </div>
                    <div class="post-title">
                        <a class="blogtitle" href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })">
                        @item.Title</a><span class="blogdate">-
                            @item.CreatedOn.ToString("dd MM yyyy")
                        </span>
                    </div>
                    <div class="blogbody">
                        @Html.Raw(item.Body)
                    </div>
                    <div class="clear">
                    </div>
                    <div class="tags">
                        @if (item.Tags.Count > 0)
                        {
                            @T("Blog.Tags") 
                            <text>:&nbsp;</text>
                            for (int i = 0; i < item.Tags.Count; i++)
                            {
                                var tag = item.Tags[i];
                            <a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a>
                                if (i != item.Tags.Count - 1)
                                {
                            <text>,&nbsp;</text>
                                }
                            }
                        }
                    </div>
                    @if (item.AllowComments)
                    {
                        <a href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })" class="blogdetails">
                            @string.Format(@T("Blog.CommentsLink").Text, item.NumberOfComments)
                        </a>
                    }
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "bloglist_page_inside_post" })
                </div>
            </div>
            <div class="clear">
            </div>
        }
    </div>
    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "bloglist_page_after_posts" })
</div>
