﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/********* START BUTTON *********/


.quick-view-button {
    position: static !important;
	display: inline-block;
	margin-right: 1px;
}
.quick-view-button a {
	display: block;
	width: 40px;
    height: 32px;
	background: #333 url('images/btn-quickview.png') center no-repeat;
	padding: 0;
	font-size: 0;
}
.quick-view-button a:hover {
}

@media all and (max-width: 1000px) {
.quick-view-button {
	display: none !important;
}
}

/********** KENDO SETTINGS *********/


.quickView .k-window-titlebar.k-header .k-window-actions {
	top: 26px;
	right: 26px;
    width: 21px;
    height: 21px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
	width: 20px;
	height: 20px;
}

/********** GALLERY & OVERVIEW *********/

.quickViewWindow .product-essential form > div{
    overflow:hidden;
}
.quickViewWindow .gallery .picture:before {
	display: none;
}
.quickViewWindow .gallery .picture a {
    height: auto;
}
.quickViewWindow .gallery .picture img {
    position: static;
    width: 100%;
}
.quickViewWindow #wrap {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.quickViewWindow .gallery .picture a {
    height: auto;
}
.quickView #cloudZoomImage {
    position: static !important;
}

.quickViewWindow #accordion .ui-icon-circle-arrow-s {
    background: url('images/minus.png') center no-repeat;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-e {
    background: url('images/plus.png') center no-repeat;
}
.quickViewWindow #accordion .product-details {
	border-color: #fff #ddd #ddd;
	box-shadow: none;
}
.quickViewWindow .overview .left,
.quickViewWindow .overview .right {
	max-width: 50%;
}
.quickViewWindow .overview .left input[type="button"] {
	width: 180px;
	min-width: 0;
	white-space: normal;
}
.quickViewWindow .overview .right input[type="button"] {
	width: 190px;
	min-width: 0;
	white-space: normal;
}
.quickViewWindow .rental-attributes {
	margin: 0 0 10px !important;
	background: #f6f6f6;
	padding: 10px 0 10px 10px !important;
}
.quickViewWindow .rental-attributes dt {
	clear: none !important;
	width: 80px !important;
	margin: 0 !important;
}
.quickViewWindow .rental-attributes dd {
	margin-bottom: 0 !important;
}
.quickViewWindow .rental-attributes .datepicker {
	width: 90px;
	background: #fff;
}
.quickViewWindow .free-shipping {
	float: none;
}
.quickViewWindow .variant-picture {
	border: none;
}
.quickViewWindow .moreInfoHover {
	background: rgba(255, 255, 255, 0.6);
	font-size: 11px;
	color: #a12;
}
.quickViewWindow .variant-info .product-price,
.quickViewWindow .variant-info .tax-shipping-info a {
	color: #fff;
}
.quickViewWindow .variant-info .tax-shipping-info {
	display: none;
}

/********** RELATED/ALSO-PURCHASED PRODUCTS *********/


.quickViewWindow .product-grid {
	background: none;
	margin: 20px 0 0;
}
.quickViewWindow .product-grid .title {
	margin: 0 0 5px;
	padding: 0;
}
.quickViewWindow .product-grid .title strong {
	font-size: 12px;
	padding: 10px 15px;
}
.quickViewWindow .product-grid .item-box {
	width: 31.33333%;
	margin: 0 1% 10px;
	padding: 0 10px;
}
.quickViewWindow .product-grid .item-box .picture {
	width: 100%;
	height: 100%;
	margin: 0 0 5px;
}
.quickViewWindow .product-grid .item-box .picture a {
	width: 100%;
	height: 100%;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    font-size: 12px;
}
.quickViewWindow .product-grid .item-box .actual-price {
	font-size: 13px;
	font-weight: normal;
}
.quickViewWindow .item-box .product-rating-box,
.quickViewWindow .item-box .add-info,
.quickViewWindow .item-box .tax-shipping-info,
.quickViewWindow .item-box .hover-content {
    display: none !important;
}

/********* GIFTCARD *********/


.quickView .giftcard input[type=text],
.quickView .giftcard textarea {
    width: 248px;
}
.giftcard ~ .purchase-area {
	text-align: right;
}