﻿@using FluentNHibernate.Utils
@model MrCMS.Web.Areas.Admin.Models.UserStats
<h4>@Resource("Admin Dashboard User Stats", "User stats")</h4>
<table class="table table-striped table-condensed" style="overflow: scroll">
    <thead>
        <tr>
            <th>@Resource("Active")</th>
            <th>@Resource("Inactive")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ActiveUsers</td>
            <td>@Model.InactiveUsers</td>
        </tr>
    </tbody>
</table>
