/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/*** TITLE & CONTAINERS ***/


.nop-jcarousel {
	position: relative;
    margin: 0 0 20px;
}
.nop-jcarousel .carousel-title {
    margin: 0 0 20px;
    position: relative;
    text-align: center;
}
    .nop-jcarousel .carousel-title:before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        background: #a12;
        z-index: 1;
    }
    .nop-jcarousel .carousel-title span {
        display: inline-block;
        font-weight: normal;
        font-size: 17px;
        background: #a12;
        color: #fff;
        padding: 13px 25px;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
    }
        .nop-jcarousel .carousel-title span:after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -27px;
            border-style: solid dashed dashed;
            border-width: 8px 27px 0 27px;
            border-color: #a12 transparent transparent;
        }

.nop-jcarousel .jcarousel-container {
    padding-top: 48px;
}
    .nop-jcarousel .carousel-title + .jcarousel-container {
        padding-top: 0;
    }
.nop-jcarousel .jcarousel-container-horizontal {
    padding: 0 44px;
}

.nop-jcarousel .jcarousel-clip {
    overflow: hidden;
}
.nop-jcarousel .jcarousel-list-horizontal {
    padding: 10px 0 !important;
}



/*** NAVIGATION ***/

    .nop-jcarousel .jcarousel-prev, 
    .nop-jcarousel .jcarousel-next {
        position: absolute;
        width: 34px;
        height: 34px;
        background-color: #fff;
        background-repeat: no-repeat;
        border: 2px solid #333;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
        z-index: 2;
    }
    .nop-jcarousel .jcarousel-prev {
        background-image: url('images/prev-horizontal.png');
        background-position: 9px center;
    }
    .nop-jcarousel .jcarousel-next {
        background-image: url('images/next-horizontal.png');
        background-position: 12px center;
    }
    .nop-jcarousel .jcarousel-prev:hover,
    .nop-jcarousel .jcarousel-next:hover {
    }

    .nop-jcarousel .jcarousel-next-disabled,
    .nop-jcarousel .jcarousel-next-disabled:hover,
    .nop-jcarousel .jcarousel-prev-disabled,
    .nop-jcarousel .jcarousel-prev-disabled:hover {
        opacity: 0.3;
	    filter: alpha(opacity=30);
        cursor: default;
    }

    .nop-jcarousel .jcarousel-prev-horizontal,
    .nop-jcarousel .jcarousel-next-horizontal {
        top: 50%;   
        margin: -17px 0 0;             
    }
        .nop-jcarousel .jcarousel-prev-horizontal {
            left: 0;
        }
        .nop-jcarousel .jcarousel-next-horizontal {
            right: 0;
        }


/*** JCAROUSEL ITEM BOX ***/



.nop-jcarousel .jcarousel-item-horizontal {
    text-align: center;
    font-size: 0;
    margin: 0 5px;
}
.nop-jcarousel .item-picture img {
    max-width: 100%;
}

    /* products */

        .products-carousel .jcarousel-item-horizontal {
    
        }
        .products-carousel .item-holder {
	        position: relative;
            max-width: 300px;
            margin: 0 auto;
        }
            .products-carousel .item-holder:hover {
            }
        .products-carousel .item-picture {
	        z-index: 1;
            overflow: hidden;
            margin: 0 0 10px;
        }
        .products-carousel .item-picture a {
	        display: block;
	        position: relative;
        }
            .products-carousel .item-picture a:before {
	            content: " ";
	            display: block;
	            padding-top: 100%;
            }
            .products-carousel .item-picture img {
	            position: absolute;
	            top: 0;
	            right: 0;
	            bottom: 0;
	            left: 0;
	            max-width: 100%;
	            margin: auto;
	            -webkit-transform: translateZ(0) scale(1.0, 1.0); /* fixes the bug of the 1px moving product images when hover on category */
            }
        .products-carousel .item-info {
        }
        .products-carousel .jcarousel-product-title {
	        height: 18px;
	        margin: 0 0 5px;
	        overflow: hidden;
        }
        .products-carousel .jcarousel-product-name {
	        display: block;
            font-size: 17px;
            color: #333;
            font-weight: normal;
            line-height: 1.2;
        }
        .products-carousel .item-info .short-description {
            height: 28px;
            margin: 0 0 5px;
            overflow: hidden;
            line-height: 1.2;
            font-size: 12px;
            font-weight: 300;
        }
        .products-carousel .prices {
            margin: 0 0 10px;
            overflow: hidden;
        }
        .products-carousel .old-price {
	        color: #999;
	        text-decoration: line-through;
        }
		.products-carousel .actual-price {
			font-size: 16px;
			color: #a12;
		}
        .product-rating-box {
            display: inline-block;
            margin: 0 0 5px;
        }
        .product-rating-box .rating {
            background: rgba(0, 0, 0, 0) url("images/rating-empty.png") repeat-x scroll 0 0;
            height: 16px;
            width: 106px;
        }
        .product-rating-box .rating div {
            background: rgba(0, 0, 0, 0) url("images/rating-full.png") repeat-x scroll 0 0;
            height: 16px;
        }
        .products-carousel .item-info .button {
            display: inline-block;
            padding: 8px 16px;
            border: 1px solid #a12;
            background-color: #a12;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            box-shadow: inset 0 0 0 1px transparent; 
        }
		.products-carousel .item-info .button:hover {
			border-color: #fff;
		}

    /* categories */

        .categories-carousel .item-holder {
        }
        .categories-carousel .thumb-img {
            display: block;
            overflow: hidden;
        }
            .categories-carousel .item-holder .jcarousel-product-title a {
                display: block;
                font-size: 15px;
                color: #333;
                font-weight: normal;
                line-height: 1.4;
                text-transform: uppercase;
                padding: 10px;
                border-top: 1px solid #a12;
            }

    /* manufacturers */

        .manufacturers-carousel {
            padding-bottom: 25px;
        }
        .manufacturers-carousel .item-picture a {
            display: inline-block;
        }
        .manufacturers-carousel .item-info {
            display: none;
        }



/*** VERTICAL TITLE & CONTAINERS ***/

    .nop-jcarousel .carousel-title.vertical {
        margin: 0;
        cursor: pointer;
    }
        .nop-jcarousel .carousel-title.vertical:before {
            display: none;
        }
        .nop-jcarousel .carousel-title.vertical span {
            display: block;
            border: 0;
            text-align: center;
        }
            .nop-jcarousel .carousel-title.vertical span:after {
                display: none;
            }
    .nop-jcarousel .jcarousel-container-vertical {
        padding-top: 68px !important;
    }
        .nop-jcarousel .jcarousel-container-vertical:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -27px;
            border-style: solid dashed dashed;
            border-width: 8px 27px 0 27px;
            border-color: #a12 transparent transparent;
            z-index: 2;
        }
    .nop-jcarousel .jcarousel-clip-vertical {
    }
    .nop-jcarousel .jcarousel-item-vertical {
        width: 245px;
        float: none !important;
        margin: 0 auto;
    }

        /* nav */

            .nop-jcarousel .jcarousel-prev-vertical,
            .nop-jcarousel .jcarousel-next-vertical {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                top: 20px;
            }
                .nop-jcarousel .jcarousel-prev-vertical {
                    left: 50%;
                    margin-left: -36px;
                }
                .nop-jcarousel .jcarousel-next-vertical {
                    right: 50%;
                    margin-right: -36px;
                }

        /* products */

            .products-carousel .nop-jcarousel .jcarousel-item-vertical {
                height: 390px !important;
            }

        /* catergories */

            .categories-carousel .jcarousel-item-vertical {
                height: 300px !important;
            }

        /* manufacturers */

            .manufacturers-carousel .jcarousel-item-vertical {
                height: 120px !important;
            }
                .manufacturers-carousel .jcarousel-item-vertical .item-holder {
                    height: 110px !important;
                    overflow: hidden;
                }


/*** ADDITIONAL STYLES ***/


/* If the wrap is set to circular and the carousel skin can display more items than there are, the carousel adds additional <li> elements to fill the
empty spaces. This class is added only for those empty elements. They should not be visible. */

.nop-jcarousel .jcarousel-item-placeholder-horizontal {
    visibility: hidden;
}

@media all and (max-width: 980px) {

    .nop-jcarousel .jcarousel-container-vertical {
        display: none;
    }
    .nop-jcarousel.vertical-holder {
        margin: 0;
    }

}

@media all and (min-width: 981px) {

    .nop-jcarousel .carousel-title.vertical span {
        text-align: center;
    }    

    /* categories */

        .categories-carousel .thumb-img {
            margin: 0;
            overflow: hidden;
            border: 2px solid transparent;
        }
        .categories-carousel .item-holder:hover .thumb-img {
            margin: 0;
            overflow: hidden;
            border: 2px solid  #a12;
        }
        .categories-carousel .jcarousel-product-title a {
	        border-top: 1px solid #a12;
	        background: none;
	        padding: 13px 0;
	        font-size: 15px;
	        color: #333;
        }
            .categories-carousel .item-holder:hover .jcarousel-product-title a {
                background-color: #a12;
                color: #fff;
            }

}