﻿@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
<div class="small-product-item">
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl"
                                        title="@Model.DefaultPictureModel.Title" /></a>
    </div>
    <div class="product-title">
        <div class="product-name">
            <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                @Model.Name</a>
        </div>
        <div class="product-box-price">
            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                @Model.ProductPrice.OldPrice
            }
            @Model.ProductPrice.Price
        </div>
        <div class="more">
            <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">more details</a>
        </div>
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productsmallbox" })
</div>