﻿@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart", new { productId = Model.Id, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart", new { productId = Model.Id });
    }    
}
@*<div class="product-item">
    <h2 class="product-title">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">@Model.Name</a>
    </h2>
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="description">
        @Html.Raw(Model.ShortDescription)
    </div>
    <div class="add-info">
        <div class="prices">
            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                <span class="oldproductPrice">@Model.ProductPrice.OldPrice</span>
                <br />
            }
            <span class="productPrice">@Model.ProductPrice.Price</span>
        </div>
        <div class="buttons">
            <input type="button" value="@T("Products.Details")" class="productlistproductdetailbutton" onclick="setLocation('@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })')" />
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                <br />                
                <input type="button" value="@(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="productlistaddtocartbutton" onclick="AjaxCart.addproducttocart('@addtocartlink');return false;" />
            }
        </div>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productbox_add_info" })
    </div>
</div>*@

<div class="product-item">
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="product-title">
        <div class="product-name">
            <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">@Model.Name</a>
        </div>
        <div class="product-box-price">
            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                @Model.ProductPrice.OldPrice
            }
            @Model.ProductPrice.Price
        </div>
        <div class="more">
            <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">more details</a>
        </div>
    </div>
    <div class="buttons">
        @if (!Model.ProductPrice.DisableBuyButton)
        {
            <input type="button" value="@(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="generic-button generic-add-to-cart-button gradient-color" onclick="AjaxCart.addproducttocart('@addtocartlink');return false;" /><span class="arrow-bg"></span>
        }
    </div>
</div>
<div class="clear">
</div>