﻿@model HomePageProductsModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@if (Model.Products.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <span class="theme-color">@T("HomePage.Products")</span>
        </div>
        <div class="clear">
        </div>
        @if (Model.UseSmallProductBox)
        {
            @(Html.DataList<ProductOverviewModel>(Model.Products, 3,
            @<div class="item-box">
                @Html.Partial("_ProductSmallBox", @item)
            </div>
                ))
        }
        else
        {
        @(Html.DataList<ProductOverviewModel>(Model.Products, 3,
            @<div class="item-box">
                @Html.Partial("_ProductBox", @item)
            </div>
                ))
        }
    </div>
}