﻿@model PopularProductTagsModel
@using Nop.Web.Models.Catalog;
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-tags">
        <div class="title">
            @T("Products.Tags.Popular")
        </div>
        <div class="clear">
        </div>
        <div class="listbox">
            <div class="tags">
                <ul>
                    @foreach (var item in Model.Tags)
                    {
                        <li><a href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })">@item.Name</a>&nbsp;&nbsp;
                        </li>
                    }
                </ul>
                <div class="clear">
                </div>
            </div>
            @if (Model.TotalTags > Model.Tags.Count)
            {
                <div class="viewall">
                    <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}