﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Web.Framework
@using Nop.Web.Models.Catalog;
<div class="breadcrumb">
    @Html.Widget("productbreadcrumb_before")
    <a href="@Url.RouteUrl("HomePage")">@T("Products.Breadcrumb.Top")</a> /
    @for (int i = 0; i < Model.CategoryBreadcrumb.Count; i++)
    {
        var catBr = Model.CategoryBreadcrumb[i];
        <a href="@Url.RouteUrl("Category", new { categoryId = catBr.Id, SeName = catBr.SeName })">@catBr.Name</a>
        <text>/</text>
    }
    <a href="@Url.RouteUrl("Product", new { productId = Model.ProductId, SeName = Model.ProductSeName })">@Model.ProductName</a>
    @Html.Widget("productbreadcrumb_after")
</div>
