﻿@model IList<ProductOverviewModel>
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyAddedProducts").Text);
}
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
<div class="recently-added-products">
    <div class="page-title">
        <div class="title">
            <h1>@T("Products.NewProducts")</h1>
        </div>
        <div class="rss">
            <a href="@Url.RouteUrl("RecentlyAddedProductsRSS")">
                <img title="@T("Products.NewProducts.RSS.Hint")" src="@Url.Content("~/content/images/icon_rss.gif")" alt="@T("Products.NewProducts.RSS")" /></a>
        </div>
    </div>
    <div class="clear">
    </div>
    @*product list*@
    @if (Model.Count > 0)
    {
@*grid mode*@
        <div class="product-grid">
            @(Html.DataList<ProductOverviewModel>(Model, 3,
                    @<div class="item-box">
                        @Html.Partial("_ProductBox", @item)
                    </div>
                ))
        </div>
        
    }
</div>
