﻿@model IList<ProductOverviewModel>

@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="related-products-grid">
        <div class="title">
            <span>@T("Products.RelatedProducts")</span>
        </div>
        <div class="clear">
        </div>
        @(Html.DataList<ProductOverviewModel>(Model, 3,
            @<div class="item-box">
                <div class="item">
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                            <img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" /></a>
                    </div>
                    <div class="product-title">
                        <div class="product-name">
                            <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                @item.Name
                            </a>
                        </div>
                        <div class="more">
                            <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })">more</a>
                            <span class="old-price">£80.00</span>
                            <span class="reduce-price">£65.00</span>
                        </div>
                    </div>
                </div>
            </div>
            ))
    </div>
}