﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*=====================================================
    
    RESPONSIVE

=====================================================*/


.menu-title {
	text-align: center;
}
.mega-menu, .header-menu .menu-title {
	display: none;
}
.mega-menu-responsive {
	display: block !important;
}

/*responsive vision*/
.responsive-nav-wrapper .menu-title{
    border:none;
    border-radius:0;
}  

@media all and (max-width: 1000px) {

.dropdown .topic-wrapper {
	display: none;
}

}

/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1001px) {

.menu-title,
.close-menu {
	display: none;
}

/* MAIN PANEL & DROPDOWN*/

.mega-menu {
	position: relative;
	z-index: 1001;
	display: block;
}

.mega-menu-responsive {
	display: none !important;
}

.mega-menu .dropdown {
	display: none;
	position: absolute;
	z-index: 3; /*necessary of there is a :before or :after with another z-index*/
	overflow: hidden;
	background: #fff;
	min-width: 180px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	background: rgba(255,255,255,0.85);
	transition: all .3s ease;
}
    .mega-menu .dropdown.active {
        display: block;
    }

.mega-menu .dropdown .row {
	margin: 0;
}

.mega-menu .dropdown .box {
	width: 100%;
	padding: 0;
}

.mega-menu .dropdown .box .title {
	display: none;
}

.mega-menu .dropdown .box a {
	display: block;
	/*border-bottom: 1px solid #5b5654;*/
	background: rgba(57,50,48,0.7);
	padding: 0 20px;
	text-align: left;
	white-space: nowrap;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	transition: all 0.15s ease 0s;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
}

.mega-menu .dropdown .row .box a:hover {
	background: rgba(57,50,48,0.8);
}


.mega-menu .dropdown.fullWidth {
	left: 0;
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	background: rgba(255,255,255,.95);
}

.mega-menu .dropdown.fullWidth .box a,
.mega-menu .dropdown.fullWidth .box a:hover {
	background: none !important;
}

.mega-menu .dropdown.fullWidth .subcategories {
	margin-top: 5px;
}

.mega-menu .dropdown.fullWidth .subcategories li a {
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	border: medium none;
	color: #000000;
	line-height: 35px;
	padding: 0;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.mega-menu .dropdown.fullWidth .subcategories li:hover a {
	/*use effect here*/
}

.mega-menu .manufacturers.fullWidth .row {
	margin: 0;
	overflow: hidden;
}

.mega-menu .manufacturers.fullWidth .row .box {
	float: left;
	width: 16.66%;
}

.mega-menu .manufacturers.fullWidth .row .box .title {
	margin: 0;
	display: none;
}

.mega-menu .manufacturers.fullWidth .row .box ul {
	margin: 0;
}

.mega-menu .manufacturers.fullWidth .row .box li {
	position: relative;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	border: 1px solid transparent;
}

.mega-menu .manufacturers.fullWidth .row .box li .manufacturer {
	display: block;
	margin: 0 5px 5px;
	height: 133px;
	border: none;
}

.mega-menu .manufacturers.fullWidth .row .box li:hover {
	border: 1px solid #ddd;
}

.mega-menu .manufacturers.fullWidth .row .box .manufacturer img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.manufacturers.fullWidth .box {
	width: 16.66666666666667%;
}

.manufacturers.fullWidth li * {
	background: none !important;
	padding-left: 0;
}

.mega-menu .dropdown.categories.fullWidth .row-wrapper{
	float: left;
	padding: 15px 0 0 0;
}

.mega-menu .dropdown.categories.fullWidth .row {
   
	overflow: hidden;
	
}

.mega-menu .dropdown.categories.fullWidth .box {
	float: left;
	width: 33.33%;
	padding: 0 0 20px;
}

.mega-menu .dropdown.categories.fullWidth .title {
	display: block;
	margin: 0 0 2px 0;
	padding: 0 0 20px 0;
	font-size: 18px;
	color: #231c19;
	font-family: Arvo;
	text-transform: uppercase;
	text-align: center;
	background: url(images/title-decoration.png)no-repeat center bottom;
}

.mega-menu .dropdown.categories.fullWidth .box .title a {
	font-size: 18px;
	text-align: center;
	line-height: normal;
}

.mega-menu .dropdown.categories.fullWidth .box a {
	border: none;
	color: #000;
}

.mega-menu .dropdown.categories.fullWidth .box a:hover {
	background: none;
	color: #666;
}


.mega-menu .title strong {
	font-weight: normal;
}

.mega-menu .title a {
}

.mega-menu .title a:hover {
	color: #555;
}

.mega-menu .picture {
	display: none;
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	text-align: center;
}

.mega-menu .picture a {
	display: block;
}

.mega-menu li a.view-all {
	font-weight: bold;
	background: none;
}


.mega-menu .topic-wrapper {
	overflow: hidden;
	background: rgba(255,255,255,.5);
	font-size: 16px;
	color: #000;
	padding: 0 10px 10px;
	text-align: center;
}

.mega-menu .topic-wrapper .box {
	margin:10px 0;
}

.mega-menu .topic-wrapper p {
	font-size: 14px;
	line-height: 20px;
}

.mega-menu .topic-wrapper strong {
	display: block;
	background:url(images/title-decoration.png) no-repeat center bottom;
	padding: 8px 0 20px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight:normal;
	font-family:Arvo;
	color: #000;
}


.mega-menu .slider-wrapper {
	float: right;
	margin: 0;
}
.mega-menu .boxes-3 .row-wrapper,
.mega-menu .boxes-3 .row{
    width:75%;
    float:left;
}
.mega-menu .boxes-3 .row-wrapper>.row{
    width:100%;
}
.mega-menu .boxes-3 .slider-wrapper{
    width:24%;
    overflow:hidden;
    float:none;
    text-align: center;
}
.mega-menu .boxes-4 .slider-wrapper{
    width:100%;
    overflow:hidden;
    text-align: center;

}
.dropdown.categories.fullWidth.boxes-4 .row-wrapper,
.dropdown.categories.fullWidth.boxes-4 .row{
	width: 100%;
	float: none;
}
.dropdown.categories.fullWidth.boxes-4 .row-wrapper .box,
.dropdown.categories.fullWidth.boxes-4 .row .box {
	width: 25%;
}
.dropdown.categories.fullWidth.boxes-4 .slider-wrapper {
	float: none;
    overflow:hidden;
}

}