﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

@media all and (max-width: 980px) {

    .product-list .item-box .ribbon-wrapper {
        float: none;
    }

}

@media all and (max-width: 768px) {

    .gallery .ribbon-wrapper {
        display: inline-block;
    }

}

@media all and (min-width: 981px) {

    .product-list .item-box .ribbon-wrapper {
        width: 210px;
    }
    .product-list .item-box .ribbon-wrapper .picture {
        float: none;
    }

}

/*IMPORTANT: breakpoints range depends on where "view products in list" is available and where is not */