﻿/*=====================================================
    
    MAIN CSS / SMALLER MOBILE DEVICES

=====================================================*/


/*********** CSS RESET **********/


* {
	direction: rtl;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	margin: 0 !important;
	-webkit-text-size-adjust: none;
}
ol, ul {
	list-style: none;
}
a img {
	border: none;
}
a:active {
	outline: none;
}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	margin: 0;
	border: 0;
	padding: 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="password"],
textarea {
	border-radius: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 1000px #fff;
}
script {
    display: none !important;
}


/*********** GLOBAL STYLES **********/



body {
    max-width: 100%;
	background: #fff;
	overflow-x: hidden;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
}
@font-face {
    font-family: 'eurostile';
    src: url('../fonts/eurostile_extended_2-webfont.eot');
    src: url('../fonts/eurostile_extended_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostile_extended_2-webfont.woff') format('woff'),
         url('../fonts/eurostile_extended_2-webfont.ttf') format('truetype'),
         url('../fonts/eurostile_extended_2-webfont.svg#eurostile_extended_2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
	color: inherit;
	cursor: pointer;
}
a img {
	opacity: 0.99; /*firefox scale bug fix*/
}
table {
	width: 100%;
	border-collapse: collapse;
}
input[type="text"],
input[type="password"],
textarea, select {
	height: 36px; /*safari padding fix*/
	border: 1px solid #ccc;
	background-color: #f6f6f6;
	padding: 8px;
	vertical-align: middle;
}
input, textarea {
	font-size: 13px;
}
textarea {
	min-height: 150px;
}
select {
	min-width: 50px;
	height: 32px; /*safari padding fix*/
	padding: 6px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
	border-color: #999;
}
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + *,
input[type="radio"] + * {
	vertical-align: middle;
}
input[type="button"], input[type="submit"],
button, .button-1, .button-2 {
	cursor: pointer;
}
label, label + * {
	vertical-align: middle;
}

.master-wrapper-page {
	overflow: hidden;
}
.master-wrapper-content {
	width: 95%;
	margin: 0 auto;
}
.home .master-wrapper-content {
	width: auto;
}
.master-column-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.center-1 {
	margin: 0 0 50px;
}
.center-2 {
	margin: 0 0 50px;
}

.page {
	text-align: center;
}
.page-title {
	margin: 0 0 20px;
}
.page-title h1 {
	font: normal 24px/36px 'eurostile';
	color: #c03;
}
.page:after,
.page-title:after,
.page-body:after {
	content: "";
	display: block;
	clear: both;
}
.buttons {
	margin: 0 0 20px;
	text-align: center;
}
.link-rss {
	display: none;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background: url('../img/rss-icon.png') center no-repeat;
	text-indent: 999px;
}
.category-description ul,
.manufacturer-description ul,
.full-description ul,
.topic-block ul,
.topic-page ul,
.post-body ul,
.custom-tab ul {
	margin: 12px 0;
	padding: 0 0 0 36px;
	list-style: disc;
}
.category-description ol,
.manufacturer-description ol,
.full-description ol,
.topic-block ol,
.topic-page ol,
.post-body ol,
.custom-tab ol {
	margin: 12px 0;
	padding: 0 0 0 36px;
	list-style: decimal;
}
.category-description p,
.manufacturer-description p,
.full-description p,
.topic-block p,
.topic-page p,
.post-body p,
.news-body p,
.custom-tab p {
	margin: 10px 0;
}
.category-description a,
.manufacturer-description a,
.full-description a,
.topic-html-content a,
.topic-page a,
.post-body a,
.news-body a,
.custom-tab a {
    text-decoration: underline;
}
.flyout-cart {
	display: none;
}
.filters-button {
	display: none;
}
#goToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
	z-index: 10001;
    width: 54px;
    height: 54px;
    border: 2px solid #333;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #fff;
	background: #fff url('../img/goTop.png') no-repeat center 45%;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.captcha-box input {
	height: auto;
}


/*********** GLOBAL FORMS ***********/



.fieldset, .section {
	position: relative;
	margin: 0 0 40px;
}
.fieldset .title,
.section .title {
	margin: 0 0 15px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.fieldset .title strong,
.section .title strong {
    display: inline-block;
	margin: 0 0 -1px;
	box-shadow: 0 0 0 3px #fff;
	background-color: #333;
    padding: 10px 20px;
	font-size: 13px;
	color: #fff;
    text-transform: uppercase;
}
.form-fields {
	position: relative;
	margin: 0 10px;
}
.inputs {
	position: relative;
	margin: 0 0 10px;
	text-align: center;
	white-space: nowrap;
    font-size: 0;
}
.inputs.custom-attributes {
	white-space: normal;
}

.inputs:after {
	content: "";
	display: block;
	clear: both;
}
.inputs label {
	display: block;
	width: 100%;
	margin: 0 0 5px;
	text-align: center;
    font-size: 12px;
}
.inputs input[type="text"],
.inputs input[type="password"],
.inputs select, .inputs textarea {
	width: 350px;
	max-width: 100%;
    vertical-align: middle;
}

.inputs .option-list {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.inputs .option-list li {
	float: right;
	margin: 0 7px 5px;
}
.inputs .option-list label {
	display: inline;
	width: auto;
	margin-right: 3px;
	vertical-align: middle;
}

.inputs.reversed {
	margin: 0 0 20px;
	text-align: center;
}
.required {
	margin: 0 6px 0 -6px; /*siblings offset fix*/
	font-size: 12px;
	color: #c00;
}
.message-error,
.field-validation-error,
.username-not-available-status,
.poll-vote-error,
.password-error {
	display: block;
	text-align: center;
	font-size: 11px;
	color: #c00;
}
.field-validation-valid {
	display: block;
	font-size: 11px;
	color: #690;
}
.captcha-box {
	margin: 0 0 15px;
	text-align: center;
	line-height: 0;  /*firefox line-height bug fix*/
}
.captcha-box > div {
	display: inline-block;
}


/*********** BAR NOTIFICATION & JQUERY POPUPS  ***********/



.bar-notification {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10002;
	width: 100%;
	padding: 12px 10px 12px 25px;
	color: #fff;
	opacity: 0.95;
}
.bar-notification.success {
	border-bottom: 1px solid #bd2;
	background-color: #9b0;
}
.bar-notification.error {
	border-bottom: 1px solid #f55;
	background-color: #f00;
}
.bar-notification .content {
	float: right;
	margin: 0 0 0 10px;
}
.bar-notification .content a {
	color: #fff;
	text-decoration: underline;
}
.bar-notification .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px; /*even numbers only*/
	height: 32px; /*even numbers only*/
	margin: 5px;
	border: 1px solid #666;
	box-shadow: inset 0 0 1px #999;
	background: #fff url('../img/close.png') center no-repeat;
	cursor: pointer;
	opacity: 0.7;
}
.bar-notification .close:hover {
	opacity: 0.9;
}

.ui-dialog {
	z-index: 1008;
	width: 350px !important;
	max-width: 95%;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	overflow: hidden;
	background-color: #fff;
}
.ui-dialog-titlebar { 
	border-width: 1px;
	border-style: solid;
	border-color: #fff #fff #bbb;
	box-shadow: 0 0 0 1px #eee;
	overflow: hidden;
	background: #ddd url('../img/headpad.png') top repeat-x;
	padding: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #eee;
}
.ui-dialog-titlebar span {
	float: left;
	text-transform: uppercase;
}
.ui-dialog-titlebar button {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px; /*even numbers only*/
	height: 24px; /*even numbers only*/
	margin: 6px;
	overflow: hidden;
	border: 1px solid #666;
	box-shadow: inset 0 0 1px #999;
	background: #fff url('../img/close.png') center no-repeat;
	text-indent: 999px;
	opacity: 0.7;
}
.ui-dialog-titlebar button:hover {
	opacity: 0.9;
}
.ui-dialog-titlebar button * {
	display: none;
}
.ui-dialog-content {
	height: auto !important;
	padding: 10px;
	line-height: 20px;
}
.ui-dialog-content .topic-block {
	margin: 10px 0 0;
}
.ui-dialog-content .topic-html-content-body {
	max-height: 200px;
	overflow-y: scroll;
}
.ui-dialog-content .topic-block p {
	margin: 0;
}
.ui-dialog-buttonset {
	padding: 10px;
	text-align: right;
}
.ui-dialog-buttonset button {
	min-width: 60px;
	margin-left: 5px;
	border: 1px solid #bbb;
	box-shadow: 0 0 1px #ddd, inset 0 0 1px #fff;
	background-color: #eee;
	padding: 5px;
}
.ui-dialog-buttonset button:hover {
	background-color: #f6f6f6;
}

.eu-cookie-bar-notification {
    position: fixed;
    top: 50%;
	left: 50%;
	z-index: 1002;
	width: 320px;
	height: 180px;
    margin: -90px 0 0 -160px;
    border: 1px solid #bbb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 0 1px #fff;
    background-color: #fff;
    padding: 20px;
	text-align: center;
}
.eu-cookie-bar-notification .text {
	margin-bottom: 20px;
	line-height: 20px;
}
.eu-cookie-bar-notification button {
	min-width: 60px;
	margin: 10px 0;
	border: 1px solid #bbb;
	background-color: #eee;
	padding: 5px;
	font-size: 14px;
	color: #333;
}
.eu-cookie-bar-notification button:hover {
	border-color: #aaa;
	background-color: #ddd;
}
.eu-cookie-bar-notification a {
	display: block;
	text-decoration: underline;
}
.noscript {
    border-bottom: 1px solid #333;
    background-color: #ff9;
	padding: 30px 15px;
    text-align: center;
	line-height: 22px;
    color: #444;
}

/*********** HEADER & NAVIGATION ***********/



.admin-header-links {
	height: 35px;
	background-color: #c03;
	white-space: nowrap;
	text-align: center;
	color: #fff;
}
.admin-header-links a {
	display: block;
	margin: 0 10px;
	line-height: 35px;
	font-weight: bold;
	color: #fff;
}
.admin-header-links .impersonate{
    line-height: 35px;
}
.admin-header-links .impersonate a{
    display: inline-block;
    text-decoration: underline;
}


.header {
	display: none;
}

.logo-wrapper {
	margin: 0 0 20px;
	background-color: #333;
	font-size: 0;
}
.header-logo {
	padding: 10px;
	text-align: center;
}
.header-logo a {
	display: inline-block;
	max-width: 100%;
	line-height: 0; /*firefox line-height bug fix*/
}
.header-logo a img {
	max-width: 100%;
}
.header-links-wrapper {
	position: relative;
	margin: 0 0 20px;
	font-size: 0;
}
.header-links {
	padding: 5px;
}
.header-links li {
	display: inline-block;
	position: relative;
	margin: 5px 10px;
}
.header-links a {
	display: inline-block;
	padding-left: 25px;
	font-size: 11px; /*reset zeroing*/
	line-height: 32px;
	color: #666;
}
.header-links .ico-register,
.header-links .ico-account {
	background: url('../img/header-link-1.png') left center no-repeat;
}
.header-links .ico-login,
.header-links .ico-logout {
	background: url('../img/header-link-2.png') left center no-repeat;
}
.header-links .ico-inbox {
	background: url('../img/header-link-3.png') left center no-repeat;
}
.header-links .ico-wishlist {
	background: url('../img/header-link-4.png') left center no-repeat;
}
.header-links .ico-cart {
	background: url('../img/header-link-5.rtl.png') left center no-repeat;
	padding-left: 30px;
}
.inbox-qty,
.wishlist-qty,
.cart-qty {
	position: absolute;
	top: 0;
	left: -15px;
	width: 15px;
    height: 15px;
	padding: 0;
	line-height: normal;
	text-align: right;
	font-size: 11px;
	color: #c03;   
}

.header-selectors-wrapper {
	background-color: #eee;
	padding: 5px 0;
	font-size: 0;
}
.header-selectors-wrapper > div {
	display: inline-block;
	margin: 5px;
    vertical-align:top;
}
.search-box-reference {
	display: none;
}
.header-selectors-wrapper select {
	min-width: 100px;
	background-color: #fff;
}
.language-list {
	max-width: 100%;
	font-size: 0;
}
.language-list li {
	display: inline-block; 
	margin: 0 1px; 
}
.language-list a { 
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	line-height: 0;
}
.language-list img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.search-box.store-search-box {
	font-size: 0;	
}
.search-box.store-search-box form {
	display: inline-block;
	position: relative; /*category search*/
	border: 1px dotted #ccc;
	background-color: #eee;
}
.search-box.store-search-box form:after {
	content: "";
	display: block;
	clear: both;
}
.search-box.store-search-box input.search-box-text {
	float: right;
	width: 250px !important;
	height: 32px;
	background: none;
	border: none;
	font-size: 13px;
	font-style: italic;
	color: #666;
}
.search-box.store-search-box .search-box-button {
	float: left;
	width: 36px;
	height: 32px;
	border: none;
	overflow: hidden;
	background: url('../img/search-button.png') center no-repeat;
	text-indent: 999px;
}
.ui-helper-hidden-accessible {
	display: none;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
	left: -36px !important; /*button width*/
	z-index: 10000000 !important;
	width: 286px !important; /*default = txtfield + button*/
	max-width: 100%;
	border: 1px solid #ccc;
	border-top: none;
	overflow: hidden;
	background-color: #fff;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content li {
	border-top: 1px solid #ccc;
    text-align:right;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content li:first-child {
	border-top: none;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content li a span{
    font-size:12px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content a {
	display: block;
	padding: 8px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content img {
	display: none;
	margin-right: 5px;
	vertical-align: middle;
}


/*********** QUICK TABS & HOME TABS ***********/



.ui-tabs {
	margin: 0 0 40px;
}
.ui-tabs .ui-tabs-nav {
	margin: 0 0 25px;
	border-bottom: 1px solid #ccc;
}
.ui-tabs .ui-tabs-nav li {
	margin: 4px auto -1px;
	box-shadow: 0 0 0 3px #fff;
}
.ui-tabs .ui-tabs-nav li a {
	display: block;
	border: 1px solid #999;
	background-color: #ccc;
	padding: 8px 24px;
	font: normal 14px 'eurostile';
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-state-active.ui-tabs-active a {
	border-color: #000;
	background-color: #333;
	color: #fff;
	opacity: 1 !important;
}
.ui-tabs .ui-tabs-panel {
	background-color: #fff;
}
.ui-tabs .ui-tabs-panel p {
	margin: 0 0 10px;
	line-height: 20px;
}
.ui-tabs .ui-tabs-panel p b{
    font-weight:normal;
}
.ui-tabs .ui-tabs-hide {
	display: none;
}

.home-page .ui-tabs {
	width: 90%;
	margin: 0 auto 40px;
}
.home-page .ui-tabs .title {
	display: none;
}
.home-page .ui-tabs .ui-tabs-nav li a {
	padding: 15px 20px;
	font-size: 14px;
	text-transform: uppercase;
}


/*********** FOOTER ***********/



.footer-upper {
	width: 90%;
	margin: 0 auto 30px;
	overflow: hidden;
}
.footer-block {
	margin: 0 0 15px;
}
.footer-block .title {
	display: table;
	width: 100%;
	height: 60px;
	margin: 0 0 10px;
	background-color: #333;
	text-align: center;
	cursor: pointer;
}
.footer-block .title strong {
	display: table-cell !important;
	vertical-align: middle;
	font: normal 14px 'eurostile';
	color: #fff;
	text-transform: uppercase;
}
.footer-block .title strong:first-letter {
	font-size: 18px;
}
.footer-block ul {
	margin: 0 0 20px;
	padding: 10px;
}
.footer-block li {
	font-size: 14px;
}
.footer-block.contacts li {
	padding: 10px 30px 10px 0;
}
.footer-block.contacts li a {
	padding: 0 !important;
}
.footer-block .phone {
	background: url('../img/footer-icon-1.png') right center no-repeat;
}
.footer-block .fax {
	background: url('../img/footer-icon-2.png') right center no-repeat;
}
.footer-block .mobile {
	background: url('../img/footer-icon-3.png') right center no-repeat;
}
.footer-block .email {
	background: url('../img/footer-icon-4.png') right center no-repeat;
}
.footer-block .skype {
	background: url('../img/footer-icon-5.png') right center no-repeat;
}

.footer-block li a {
	display: block;
    position: relative;
	padding: 10px 20px 10px 0;
}
.footer-block li a:before {
    content: '';
    display: block;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #666 url('../img/bullet-rtl.png') center no-repeat;
    border: 1px solid #666;
    border-radius: 100%;
}

.footer-block .product-picture {
	display: none;
}
.footer-block .news-items .news-item{
    background:transparent;
    margin:0;
}
.footer-block .news-items .news-item .buttons{
    margin:0;
}
.footer-middle {
	width: 90%;
	margin: 0 auto 40px;
	overflow: hidden;
}
.social-sharing {
	margin: 0 0 15px;
	text-align: center;
	font-size: 0;
}
.social-sharing li {
	display: inline-block;
	margin: 0 10px 10px;
	border: 1px solid #bbb;
}
.social-sharing a {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../img/social_sprite.png') no-repeat;
}
.social-sharing .twitter {
	background-position: 0 0;
}
.social-sharing .facebook {
	background-position: -32px 0;
}
.social-sharing .youtube {
	background-position: -64px 0;
}
.social-sharing .pinterest {
	background-position: -128px 0;
}
.social-sharing .google {
	background-position: -96px 0;
}
.social-sharing .rss {
	background-position: -192px 0;
}
.social-sharing .vimeo {
	background-position: -160px 0;
}
.social-sharing a.instagram {
	background: url('../img/instagram.png') no-repeat center;
}

.newsletter {
	margin: 0 0 30px;
	border: 1px dotted #ccc;
	background-color: #fff;
	padding: 20px 0;
	text-align: center;
}
.newsletter-subscribe{
    display:block !important;
}
.newsletter .title {
	margin: 0 0 5px;
}
.newsletter-email { 
	display: inline-block;
	overflow: hidden;
	border: 1px dotted #ccc;
	background-color: #eee;
}
.newsletter-email>input{
    border-bottom:1px dotted #cccccc !important;
}
.newsletter-email .options span{
    display:inline-block;
    padding:12px 5px;
}  
.newsletter-email input[type="text"] {
	float: left;
	width: 220px;
	height: 36px;
	border: none;
	background: none;
	font-size: 13px;
	font-style: italic;
	color: #666;
}
.newsletter-email .options {
    background: #fff;
    clear: both;
}
.newsletter-email input[type="button"] {
	float: left;
	width: 36px;
	height: 36px;
	border: none;
	overflow: hidden;
	background: url('../img/subscribe-button.png') center no-repeat;
	text-indent: 999px;
}
.newsletter-subscribe input.newsletter-unsubscribe-button{
    text-indent:0;
    background:none;
    float:none;
    border:none;
    margin:10px auto 0;
    display:block;
    font-style: italic;
}
.newsletter-validation, 
.newsletter-result-block { 
	width: 100%;
	overflow: hidden; 
	line-height: 28px; 
}
.newsletter-validation .please-wait {
	display: none !important; 
}

.accepted-payment-methods {
	text-align: center;
	font-size: 0;
}
.accepted-payment-methods li { 
	display: inline-block;
	width: 57px;
	height: 36px;
	margin: 0 5px 5px;
	border: 1px solid #bbb;
	background: url('../img/payment_sprite.png') no-repeat;
}
.accepted-payment-methods .method1 {
	background-position: 0 0;
}
.accepted-payment-methods .method2 {
	background-position: -57px 0;
}
.accepted-payment-methods .method3 {
	background-position: -114px 0;
}
.accepted-payment-methods .method4 {
	background-position: -171px 0;
}

.footer-lower {
	overflow: hidden;
	background-color: #666;
	padding: 10px;
	text-align: center;
	font-size: 11px;
	color: #ccc;
}
.footer-lower .center > div {
	margin: 15px 0;
}
.footer-disclaimer span {
	display: block;
}
.footer-powered-by a,
.footer-designed-by a {
	color: #fff;
	text-decoration: underline;
}
.footer-tax-shipping a {
    text-decoration: underline;
}
.footer-store-theme select {
	width: 170px;
	border: none;
}


/*********** LEFT/RIGHT COLUMN ***********/



.side-2 {
	width: 90%;
	margin: 0 auto 50px;
}
.block {
	text-align: right;
}
.block .title {
	margin: 0 0 10px;
	background-color: #c03;
	text-align: center;
	cursor: pointer;
}
.block .title strong {
    display: block;
	padding: 12px 15px;
	font: normal 14px 'eurostile';
	color: #fff;
	text-transform: uppercase;
}
.block .title strong:first-letter {
	font-size: 18px;
}
.block .listbox {
	display: none;
	margin: 0 0 30px;
	padding: 0 10px;
}
.block .listbox:after {
	content: "";
	display: block;
	clear: both;
}
.block .list > li {
	border-bottom: 1px dotted #ccc;
	font-size: 13px;
}
.block .list a {
	display: block;
    position: relative;
	padding: 10px 20px 10px 0;
}
.block .list a:before {
    content: '';
    display: block;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #666 url('../img/bullet-rtl.png') center no-repeat;
    border: 1px solid #666;
    border-radius: 100%;
}
.block .list a.active{
    font-weight:bold;
}
.block .sublist {
	margin: 5px 0 25px 20px;
	padding: 0 0 0 10px;
}
.block .sublist .sublist {
	margin-bottom: 5px;
	border: none;
}

.block .product-picture {
	display: none;
}
.block .product-picture a {
	background: none;
	padding: 0;
}

.block .view-all {
	margin: 15px 0 0;
	text-align: left;
}
.block .view-all a {
	display: inline-block;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 8px 16px;
}

.block-popular-tags .listbox {
	padding: 0 0 10px;
}
.block .tags {
	margin: 0 0 10px;
}
.block .tags ul {
	border-bottom: 1px dotted #ccc;
	padding: 5px 0 10px;
	font-size: 0;
}
.block .tags li,
.product-tags-all-page li {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	overflow: hidden;
	font-size: 16px !important; /*setting base size*/
}
.block .tags li a,
.product-tags-all-page li a {
	float: left;
	line-height: 30px;
}

.block-poll .listbox {
	padding: 10px;
}
.poll strong {
	display: block;
	font-size: 15px;
}
.poll-options,
.poll-results {
	margin: 0 0 15px;
	overflow: hidden;
	border-bottom: 1px dotted #ccc;
	padding: 15px 0 20px;
}
.poll-options li,
.poll-results li {
	display: inline-block;
	margin: 0 15px 0 0;
	line-height: 32px;
	font-size: 13px;
}
.poll-options li > input,
.poll-options li > label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.poll .buttons,
.poll-total-votes {
	margin: 15px 0 0;
	text-align: right;
}
.poll .buttons input {
	display: inline-block;
	min-width: 60px;
	border: none;
	background-color: #333;
	padding: 8px 16px;
	color: #fff;	
}
.poll-total-votes {
	display: block;
	margin: 10px 0 0;
	font-weight: bold;
}

.home-page-polls {
	width: 90%;
	margin: 0 auto 50px;
	text-align: center;
}
.home-page-polls .buttons,
.home-page-polls .poll-total-votes {
	text-align: center;
}
.block.block-recently-viewed-products .list .product-picture{
    display:none;
}

/********** CATEGORY PAGE **********/



.category-page .page-title {
	margin-bottom: 0;
}
.breadcrumb {
	margin: 0 0 10px;
	text-align: center;
}
.breadcrumb ul {
	font-size: 0;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb li * {
	margin: 0 2px;
	font-size: 12px; /*reset zeroing*/
	line-height: 32px;
}
.breadcrumb strong {
	color: #c03;
}
.breadcrumb a:hover * {
	text-decoration: underline;
}

.category-description,
.manufacturer-description,
.vendor-description {
	margin: 0 0 30px;
}
.product-filters {
	display: none;
}
.product-selectors {
	margin: 0 0 30px;
	background-color: #eee;
	padding: 10px 0;
	text-align: center;
}
.product-selectors:after {
	content: "";
	display: block;
	clear: both;
}
.product-selectors > div {
	display: inline-block;
	margin: 5px;
}
div.product-viewmode {
	display: none;
}
.product-selectors span {
	display: none;
}
.product-selectors select {
	margin: 0 5px;
	background-color: #fff;
	text-transform: lowercase;
}

.item-grid:after,
.product-grid:after,
.product-list:after,
.manufacturer-grid:after {
	content: "";
	display: block;
	clear: both;
}

.item-box {
	position: relative;
	width: 100%;
	float: right;
	margin: 20px 0 0;
}
.item-box:first-child {
	margin-top: 0 !important;
}
.item-box .picture {
	overflow: hidden;
	background-color: #fff;
    margin: 0 0 30px;
}
.item-box .picture a {
	display: block;
	position: relative;
}
.item-box .picture a:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.item-box .picture img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.item-box .details {
	text-align: right;
	font-size: 0;
}
.item-box .product-title {
	margin: 0 0 10px;
	font-size: 17px;
	font-weight: normal;
	text-transform: uppercase;
}
.item-box .product-title a,
.item-box .title a {
	display: block;
}
.item-box .description {
	display: none;
	margin: 0 0 20px;
	font-size: 12px;
}
.item-box .description a {
	display: block;
	overflow: hidden;
}
.item-box .prices {
    margin: 0 0 15px;
	font-size: 12px;
}
.item-box .old-price {
	margin-left: 8px;
	vertical-align: middle;
	color: #999;
	text-decoration: line-through;
}
.item-box .actual-price {
	margin-left: 8px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #c03;
}
.item-box .actual-price:empty {
	display: none;
}
.tax-shipping-info {
	display: inline-block;
	border-right: 1px solid #ccc;
	padding: 1px 8px;
	vertical-align: middle;
	color: #999;
}
.tax-shipping-info a {
	color: #c03;
}
.item-box .product-rating-box {
	margin: 0 0 20px;
}
.item-box .rating {
	display: inline-block;
	background: url('../img/rating1.png') repeat-x;
	width: 130px;
    height: 23px;
}
.item-box .rating div {
	background: url('../img/rating2.png') repeat-x;
    height: 23px;
}
.item-box .buttons {
	margin: 0;
    font-size: 0;
}
.item-box .compare-products {
	display: none;
}
.item-box input[type="button"] {
	border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 14px 'eurostile';
	color: #fff;
    text-transform: uppercase;
}

.home-page-category-grid,
.sub-category-grid,
.manufacturer-grid,
.vendor-grid {
	margin: 0 0 40px;
	background: #eee url('../img/category-pad.jpg') center top no-repeat;
	padding: 30px 10%;
}
.home-page-category-grid .title,
.sub-category-grid .title,
.manufacturer-grid .title,
.vendor-grid .title {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
}
.sub-category-grid .title,
.manufacturer-grid .title,
.vendor-grid .title {
	font-size: 15px;
}
.home-page-category-grid .picture,
.sub-category-grid .picture,
.manufacturer-grid .picture,
.vendor-grid .picture {
	margin: 0;
}
.home-page-category-grid .picture a:before,
.sub-category-grid .picture a:before,
.manufacturer-grid .picture a:before,
.vendor-grid .picture a:before {
	padding-top: 70%;
}

.product-grid,
.product-list {
	margin: 0 0 40px;
}
.product-grid .title {
	margin: 0 0 40px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.product-grid .title strong {
	display: inline-block;
	margin: 0 0 -1px;
	box-shadow: 0 0 0 3px #fff;
	background-color: #333;
	padding: 15px 18px;
	font: normal 14px 'eurostile';
	color: #fff;
	text-transform: uppercase;
}
.product-grid .title strong:first-letter {
	font-size: 18px;
}
.product-grid .item-box,
.product-list .item-box {
	margin: 40px 0 0;
	border-bottom: 1px dotted #ccc;
	padding: 0 10% 20px;
}

.cross-sells {
	margin: 40px 0 0;
}

.pager {
	margin: 0 0 20px;
}
.pager ul {
	text-align: center;
	font-size: 0;
}
.pager li {
	display: inline-block;
	margin: 0 5px 10px;
}
.pager li span,
.pager li a {
	display: block;
	min-width: 34px;
	border: 1px solid #ccc;
	overflow: hidden;
	background-color: #eee;
	padding: 8px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
.pager li span {
	border-color: #c03;
	background-color: #c03;
	color: #fff;
}
.pager li a:hover {
	background-color: #eee;
}
.product-filters{
    margin:0 0 40px;
    overflow:hidden;
}
.product-filters .product-filter{
    width:300px;
    margin:0 auto 20px;
}
.product-filters .product-filter .filter-title{
    background:#cc0033;
}
.product-filters .product-filter .filter-title strong{
    color: #ffffff;
    display: block;
    font: 14px "eurostile";
    padding: 12px 15px;
    text-transform: uppercase;
}
.product-filters .filter-content .title{
    padding:10px;
    border:1px dotted #ccc;
}
.product-filters .filter-content ul{
    margin:0 0 20px;
}
.product-filters .filter-content .item,
.product-filters .group.price-range-group>li{
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 1.3;
    padding: 10px 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    border-bottom:1px dotted #cccccc;
}
.contact-vendor .button-2{
    margin:0 0 20px;
    border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 15px 'eurostile';
	color: #fff;
}
.contact-vendor .button-2:hover{
    opacity:.8;
}

/********** PRODUCT PAGE **********/



.product-details-page .product-name {
	position: relative;
}
.product-name h1 {
	font: normal 24px/36px 'eurostile';
	color: #c03;
}
.product-essential {
	margin: 0 0 20px;
}
.product-essential:after {
	content: "";
	display: block;
	clear: both;
}
.gallery {
	margin: 0 0 20px;
}
.gallery .picture-wrapper {
    margin: 0 0 10px;
}
.gallery .picture {
	position: relative;
	width: 340px;
	max-width: 100%;
	margin: 0 auto 20px;
	overflow: hidden;
	background-color: #fff;
}
.gallery .picture:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.gallery .picture img,
.gallery .picture-thumbs img,
.variant-picture img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.gallery .picture-thumbs {
	overflow: hidden;
	font-size: 0;
}
.gallery .picture-thumbs a {
	display: inline-block;
	position: relative;
	width: 90px;
	height: 90px;
	margin: 0 5px 10px;
	overflow: hidden;
	background-color: #fff;
}

.overview {
	position: relative;
	margin: 0 0 40px;
}
.overview .discontinued-product {
	margin: 0 0 10px;
	border-bottom: 1px dotted #ccc;
	padding: 0 0 10px;
	text-transform: uppercase;
}
.overview .short-description {
	margin: 0 0 25px;
	line-height: 20px;
}
.overview .buttons, 
.back-in-stock-subscription, 
.download-sample { 
	margin: 0 0 15px;
	font-size: 0;
}
.overview .buttons div {
	display: inline-block;
	margin: 0 5px 10px;
}
.overview .add-to-wishlist-button,
.variant-overview .add-to-wishlist-button,
.overview .add-to-compare-list-button,
.overview .subscribe-button,
.download-sample-button,
.back-in-stock-subscription input {
	display: inline-block;
	min-width: 150px;
	border: 1px solid #ccc;
	background-color: #eee;
	background-position: left center;
    background-repeat: no-repeat;
    padding: 8px 12px 8px 38px;
	font-size: 13px; /*reset zeroing*/
}
.overview .add-to-wishlist-button,
.variant-overview .add-to-wishlist-button {
    background-image: url('../img/product-icon-1.png');
}
.overview .add-to-compare-list-button {
    background-image: url('../img/product-icon-2.png');
}
.overview .download-sample-button {
    background-image: url('../img/product-icon-4.png');
}
.overview .email-a-friend {
	margin: 0 0 30px;
}
.overview .email-a-friend-button,
.variand-overview .email-a-friend-button {
	border: none;
	background: none;
	font-size: 13px;
	color: #000;
	text-decoration: underline;
}
.overview .subscribe-button {
	margin: 10px 0;
	border: none;
	background-color: #c03;
	background-image: url('../img/product-icon-3.png');
	color: #fff;
}
.variant-overview .subscribe-button{
    background-image: url('../img/product-icon-3.png');
}
.download-sample-button a {
    background-image: url('../img/product-icon-4.png');
}

.overview .sku, .variant-overview .sku,
.overview .gtin, .variant-overview .gtin,
.overview .stock, .variant-overview .stock,
.overview .delivery-date, .variant-overview .delivery-date,
.overview .product-vendor, .variant-overview .product-vendor,
.overview .manufacturers, .manufacturer-part-number {
	margin: 0 0 5px;
}
.overview .value,
.variant-overview .value {
	font-weight: bold;
	color: #000;
}
.stock .value,
.product-vendor .value,
.manufacturers .value {
	color: #f90;
}
.overview .value a,
.variant-overview .value a {
	font-weight: bold;
	text-decoration: underline;
}
.free-shipping {
	width: 80px;
    height: 80px;
    margin: 15px auto;
	overflow: hidden;
	background: #c03 url('../img/free-shipping.png') center no-repeat;
    padding: 30px 15px;
	line-height: 16px;
	text-align: center;
    text-transform: uppercase;
	text-indent: -999px;
}
.overview .manufacturers {
	margin: 0 0 20px; /*not present in variant-overview*/
}
.product-reviews-overview {
	margin: 20px 0; /*not present in variant-overview*/
}
.product-no-reviews a {
	text-decoration: underline;
}
.product-review-box {
	display: inline-block;
	margin: 0 0 5px;
}
.product-review-box .rating {
	width: 130px;
    height: 23px;
	background: url('../img/rating1.png') repeat-x;
}
.product-review-box .rating div {
	height: 23px; 
	background: url('../img/rating2.png') repeat-x;
}
.product-review-links a {
	text-decoration: underline;
}

.overview .prices,
.variant-overview .prices {
	margin: 10px 0;
	overflow: hidden;
}
.overview .prices > div,
.variant-overview .prices > div {
	margin: 0 0 5px;
}
.overview .old-product-price,
.variant-overview .old-product-price {
	font-size: 14px;
	color: #999;
	text-decoration: line-through;
}
.overview .product-price,
.variant-overview .product-price {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #c00;
}
.product-price + .tax-shipping-info {
	margin-left: 8px !important;
}
.customer-entered-price {
	margin: 0 0 25px;
	overflow: hidden;
	background-color: #f6f6f6;
	padding: 10px;
}
.customer-entered-price > div {
	display: inline-block;
}
.customer-entered-price .price-input {
	margin: 0 5px;
}
.customer-entered-price .enter-price-input {
	width: 50px;
	background-color: #fff;
	text-align: center;
}
.customer-entered-price .price-range {
	font-weight: bold;
}

.overview .add-to-cart {
	margin: 0 0 20px;
}
.overview .min-qty-notification,
.variant-overview .min-qty-notification {
	margin: 0 0 10px;
	font-weight: bold;
}
.overview .add-to-cart-panel,
.variant-overview .add-to-cart-panel {
	display: inline-block;
	position: relative;
}
.overview .add-to-cart-panel > *,
.variant-overview .add-to-cart-panel > * {
	float: right;
}
.overview .qty-label,
.variant-overview .qty-label {
	position: absolute;
	left: -25px;
	line-height: 36px;
    display: none !important;
}
.overview .qty-input,
.variant-overview .qty-input,
.overview .qty-dropdown,
.variant-overview .qty-dropdown {
	width: 44px;
    height: 40px;
	background-color: #fff;
	padding: 12px;
	text-align: center;
    font-size: 14px;
}
.overview .qty-dropdown,
.variant-overview .qty-dropdown{
    width: auto;
}
.overview .add-to-cart-button,
.variant-overview .add-to-cart-button {
	height: 40px;
    border: none;
	background: #c03;
    padding: 10px 20px;
    font: normal 17px/21px 'eurostile';
	color: #fff;
}

.overview .add-to-cart .add-to-wishlist-button {
	display: none; /*removes the old button*/
}

.product-share-button {
	display: inline-block;
    overflow: hidden;
}

.full-description {
	clear: both;
	line-height: 20px;
	vertical-align: top;
}

.product-collateral {
	margin: 0 0 20px;
}
.product-collateral .title {
	margin: 0 0 10px;
	font-size: 18px;
}
.product-collateral .title strong {
	font-weight: normal;
}

.tier-prices {
	margin: 0 0 20px;
}
.tier-prices .prices-header {
	margin: 0 0 10px;
}
.tier-prices .field-header {
	min-width: 100px;
}
.tier-prices .item-price {
	color: #c00;
}

.product-variant-line {
	margin: 0 0 30px;
	border-bottom: 1px dotted #ccc;
	padding: 0 0 20px;
}
.product-variant-line:after {
	content: "";
	display: block;
	clear: both;
}
.variant-picture {
	position: relative;
	width: 220px;
	height: 220px;
	margin: 0 auto 15px;
	overflow: hidden;
}
.variant-overview {
	width: 100%;
}
.variant-overview .variant-name {
	margin: 0 0 10px;
	font: normal 18px/24px 'eurostile';
	color: #c03;
}
.variant-overview .variant-description {
	margin: 0 0 15px;
	line-height: 20px;
}
.variant-overview .add-to-cart-panel > * {
	margin: 0 0 10px;
}
.variant-overview .add-to-wishlist-button {
	display: block;
	float: none;
	clear: both;
	margin: 0 auto;
}

.product-specs-box {
	margin: 0 0 30px;
}
.product-specs-box a {
	font-size: inherit !important;
	color: #c03;
}
.product-specs-box a:hover {
	text-decoration: underline;
}

.product-tags-box {
	margin: 0 0 30px;
	background-color: #f6f6f6;
	padding: 10px 15px;
}
.product-tags-list {
	font-size: 0;
}
.product-tags-list li {
	display: inline-block;
	font-size: 12px; /*reset zeroing*/
}
.product-tags-list li.separator {
	margin: 0 5px 0 3px;
}
.product-tags-list a {
	display: inline-block;
	line-height: 24px;
}

.attributes {
	margin: 20px 0;
}
.attributes dl {
	overflow: hidden; 
}
.attributes dt {
	display: block;
	margin: 0 0 5px;
	white-space: nowrap; 
	font-weight: bold;
}
.attributes dd {
	margin: 0 0 10px;
}
.attributes li {
	margin: 5px 0;
}
.attributes select {
	width: auto;
	max-width: 100%;
}
.attributes .option-list li > * {
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
}

.attributes .datepicker {
	width: 280px;
	text-align: center;
}
.ui-datepicker {
	width: 280px;
	background-color: #fff;
	text-align: center;
}
.ui-datepicker-header {
	position: relative;
	height: 32px;
	background-color: #333;
	color: #fff;
}
.ui-datepicker-header a {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 32px;
	height: 32px;
	font-size: 0;
}
.ui-datepicker-header a.ui-datepicker-prev {
	right: 0;
	background: url('../img/calendar-prev-rtl.png') center no-repeat;
}
.ui-datepicker-header a.ui-datepicker-next {
	left: 0;
	background: url('../img/calendar-next-rtl.png') center no-repeat;
}
.ui-datepicker-title {
	position: relative;
	z-index: 0;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
}
.ui-datepicker-calendar th {
	background-color: #eee;
}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
	width: 14.285%;
	border: 1px solid #ccc;
}
.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a {
	display: block;
	min-height: 32px;
	line-height: 32px;
}

.color-squares {
	font-size: 0;
}
.color-squares li {
	display: inline-block;
	margin: 0;
}
.color-squares .color-container {
    display: block;
    border: 1px solid transparent;
    position: relative;
    z-index: 0;
}
.color-squares label {
    overflow: hidden;
}
.color-squares .color {
    display: block !important;
    width: 26px !important;
    height: 26px !important;
    border: 1px solid #333 !important;
    cursor: pointer;
}
.color-squares .selected-value .color-container {
    border-color: #000;
}
.color-squares .selected-value .color {
    border-color: transparent !important;
}
.color-squares li input {
	position: relative;
	z-index: -1;
	margin: -30px 0 0;
}

.giftcard {
	margin: 30px 0 20px;
	overflow: hidden;
    clear: both;
}
.giftcard div {
	margin: 0 0 20px;
}
.giftcard label {
	display: block;
	margin: 0 0 5px;
	font-weight: bold;
}
.giftcard input,
.giftcard textarea {
	width: 350px;
	max-width: 100%;
}
.giftcard textarea{
	height: 150px;
}


/********** PRODUCT REVIEWS **********/



.product-reviews-page h1 a {
	font-style: italic;
}
.product-reviews-page h1 a:before,
.product-reviews-page h1 a:after {
	content: "''";
}
.product-reviews-page .title {
	margin: 0 0 10px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.product-reviews-page .title strong {
    display: inline-block;
	margin: 0 0 -1px;
	box-shadow: 0 0 0 3px #fff;
	background-color: #333;
    padding: 10px 20px;
	font-size: 13px;
	color: #fff;
    text-transform: uppercase;
}
.write-review {
	margin: 0 0 50px;
}
.write-review .form-fields {
	margin: 0 0 15px;
}
.ui-tabs .form-fields {
}
.write-review .review-rating {
	text-align: center;
}
.write-review .review-rating label {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    vertical-align: middle;
}
.review-rating ul {
    font-size: 0;
    vertical-align: middle;
}
.write-review .review-rating li {
	display: inline-block;
	margin: 0 5px;
	cursor: default;
    vertical-align: middle;
    font-size: 14px;
    height: 17px;
}
.write-review .review-rating li.first {
	color: #c00;
}
.write-review .review-rating li:nth-child(2) {
    padding-top: 2px;
}
.write-review .review-rating li:nth-child(2) input {
	vertical-align: baseline;
}
.write-review .review-rating li.last {
	color: #690;
}
.write-review .captcha-box {
	margin: 15px 0 0;
}
.write-review .button-1 {
	border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 15px 'eurostile';
	color: #fff;
}
.product-reviews-page .result,
.product-reviews-page .message-error {
	margin: 0 0 20px;
}
.product-review-list {
	overflow: hidden;
}
.product-review-item {
	margin: 30px 0;
}
.product-review-item .review-item-head {
	margin: 0 0 10px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 0 0 10px;
}
.product-review-item .review-title {
	font: normal 12px/23px 'eurostile';
	color: #c03;
	text-transform: uppercase;
}
.product-review-item .review-title strong {
	display: block;
	font-weight: normal;
}
.product-review-item .product-review-box {
	margin: 0;
}
.product-review-item .review-text {
	margin: 0 0 15px;
	line-height: 20px;
}
.product-review-item .review-info {
	margin: 0 0 10px;
	background-color: #f6f6f6;
	padding: 5px;
}
.product-review-item .review-info a,
.product-review-helpfulness .vote {
	display: inline-block;
	padding: 0 10px;
	font-weight: bold; 
	text-decoration: underline; 
	cursor: pointer;
}
.product-review-helpfulness .question {
	margin: 0 5px 0 0;
	font-style: italic;
}
.product-review-helpfulness .result {
	margin: 0 0 0 10px;
}


/********** WISHLIST & COMPARE LIST **********/



.wishlist-content {
	margin: 0 0 20px;
}
.wishlist-content .message-error {
	margin: 0 0 10px;
}
.wishlist-content .tax-shipping-info {
	margin: 0 0 20px;
	border: none;
}
.wishlist-content .buttons {
	font-size: 0;
}
.wishlist-content .button-2 {
	height: 32px;
	margin: 0 5px 5px;
	border: none;
	padding: 8px 16px;
	vertical-align: middle;
}
.wishlist-add-to-cart-button {
	border-color: transparent !important;
	background-color: #c03 !important;
	font: normal 15px 'eurostile';
	color: #fff;
}
.wishlist-page .share-info a {
	display: block;
	margin: 0 0 5px;
	font-weight: bold;
	color: #c03;
}
.compare-products-page {
	position: relative;
	overflow: hidden;
}
.compare-products-page .clear-list {
	display: inline-block;
	margin: 0 0 30px;
	background-color: #333;
	padding: 8px 16px;
	font-weight: bold;
	color: #fff;
}
.compare-products-page .button-2 {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px 10px;
}
.compare-products-page img {
	max-width: 100%;
}
.compare-products-table {
	display: none;
}


/*********** TOPICS ***********/



.topic-block {
	margin: 0 0 20px;
}
.home-page .topic-block {
	width: 95%;
	margin: 0 auto 30px;
    max-width:980px;
}
.topic-block-title h2 {
	font: normal 24px/36px 'eurostile';
}
.topic-html-content-body {
	line-height: 20px;
}
.topic-block a,
.topic-page a {
	text-decoration: underline;
}
.topic-page .page-body {
	line-height: 20px;
	font-size: 13px;
}
.topic-password {
	overflow: hidden;
	text-align: center;
}
.enter-password-title {
	margin: 10px 0;
	color: #c00;
}
.enter-password-form {
	display: inline-block;
	overflow: hidden;
}
.enter-password-form input[type="password"] {
	float: right !important;
	width: 200px !important;
	height: 36px !important;
	border-color: #333 !important;
}
.enter-password-form input[type="submit"] {
	float: right !important;
	width: auto !important;
	height: 36px !important;
	border: none !important;
	background: #333 !important;
	padding: 0 20px !important;
	font-size: 13px !important;
	color: #fff !important;
	text-transform: uppercase !important;
}
.password-error {
	margin: 0 0 10px;
}


/*********** CONTACT & EMAIL A FRIEND ***********/



.contact-page .form-fields,
.email-a-friend-page .form-fields,
.apply-vendor-page .form-fileds {
	margin: 0 0 20px;
}
.contact-page .message-error,
.email-a-friend-page .message-error,
.apply-vendor-page .message-error {
	margin: 0 0 10px;
}
.contact-page .button-1,
.email-a-friend-page .button-1,
.apply-vendor-page .button-1 {
	border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 15px 'eurostile';
	color: #fff;
}
.email-a-friend-page .title {
	margin: 0 0 20px;
}
.email-a-friend-page .title h2 {
	font: normal 18px 'eurostile';
}


/********** REGISTRATION, LOGIN, ACCOUNT PAGES  **********/



.registration-page .fieldset:nth-child(2) select,
.account-page .fieldset:nth-child(3) select,
.inputs.date-of-birth select {
	width: 88px; /*birth-date selectors, always single line*/
}
.registration-page select + select,
.account-page select + select {
	margin: 0 10px 0 0;
}
.gender {
	display: inline-block;
	margin: 0 3px;
}
.gender span{
    margin:0 3px;
}
.gender span> * {
	display: inline !important;
	vertical-align: middle;
	line-height: 32px;
}
#check-availability-button {
	margin: 10px 0 0;
	padding: 8px 16px;
	font: normal 14px Arial, Helvetica, sans-serif;
}
#username-availabilty {
	display: block;
	margin: 5px 0 0;
	font-size: 11px;
}
#username-availabilty:empty {
	display: none;
}
.accept-privacy-policy {
	margin: 0 0 20px;
	text-align: center;
}
.accept-privacy-policy > * {
	display: inline-block;
	line-height: 32px;
	vertical-align: middle;
}
.accept-privacy-policy a {
	font-weight: bold;
}
.registration-page .buttons,
.registration-result-page .buttons,
.login-page .buttons,
.password-recovery-page .buttons,
.account-page .buttons,
.return-request-page .buttons {
	border-top: 1px dashed #c03;
	padding-top: 20px;
}
.registration-page .button-2,
.registration-page .button-1,
.registration-result-page .button-1,
.login-page .button-1,
.password-recovery-page .button-1,
.account-page .button-1,
.return-request-page .button-1 {
	border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 15px 'eurostile';
	color: #fff;
}
.registration-result-page .result {
	margin: 0 0 20px;
	color: #690;
}
.login-page .customer-blocks {
	margin: 0 0 40px;
}
.login-page .title {
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.login-page .title strong {
	display: inline-block;
	margin: 0 0 -1px;
	box-shadow: 0 0 0 3px #fff;
	background-color: #333;
    padding: 10px 20px;
	font-size: 13px;
	color: #fff;
    text-transform: uppercase;
}
.login-page .new-wrapper {
	margin: 0 0 40px;
}
.login-page .inner-wrapper {
}
.login-page .text {
	margin: 0 0 20px;
}
.login-page .inputs.reversed * {
	margin: 5px 0;
	line-height: 24px;
	font-size: 12px; /*reset zeroing*/
}
.external-authentication {
	margin: 0 0 30px;
	overflow: hidden;
	text-align: center;
}
.external-authentication fieldset {
	float: none !important;
}
.password-recovery-page .tooltip {
	margin: 0 0 20px;
}
.password-recovery-page .result {
	margin: 0 0 5px;
	font-weight: bold;
}

.address-list-page .buttons,
.order-list-page .buttons,
.back-in-stock-subscription-list-page .buttons,
.forum-subscriptions-page .buttons {
	border: none;
	padding: 0;
}
.account-page .button-2 {
	border: none;
	background-color: #eee;
	padding: 8px 16px;
}
.account-page .edit-address {
	margin: 0 0 30px;
}
.account-page .description {
	margin: 0 0 20px;
}

.address-list-page .info,
.order-list-page .info {
	margin: 0 0 20px;
	line-height: 20px;
}
.address-list-page .name,
.address-list-page .country {
	margin: 3px 0;
	font-weight: bold;
}
.address-list-page .add-button {
	margin: 0 0 15px;
	border-top: 1px dashed #c03;
	padding-top: 20px;
	text-align: center;
}
.return-request-list-page a {
	font-weight: bold;
}
.return-request-list-page .comments {
	margin: 15px 0 0;
	color: #c03;
}

.subscription-list th,
.subscription-list td {
	text-align: right;
}
.subscription-list th:first-child,
.subscription-list td:first-child {
	text-align: center;
}

.reward-points-overview {
    margin: 0 0 15px;
}
.reward-points-history .title {
    margin: 0 0 15px;
	font-size: 14px;
	color: #c03;
	text-transform: uppercase;
}
.reward-points-history .title strong {
	font-weight: normal;
}

.change-password-page .fieldset {
	margin-bottom: 30px;
}

.avatar-page .message-error {
	margin: 0 0 10px;
}
.avatar-page .fieldset {
	margin: 0 0 15px;
}
.avatar-page .image {
	margin: 0 0 10px;
}
.avatar-page .image img {
	border: 1px solid #ccc;
}
.avatar-page input[type="file"] {
	width: 75px;
	overflow: hidden;
}
.avatar-page input[type="submit"] {
	height: 32px;
	padding: 8px 16px;
}
.avatar-page .info {
	margin: 0 0 20px;
}
 .user-agreement-page {
    text-align:right;
}
.terms-of-agreement{
    padding:0 0 30px;
}
.user-agreement-page .buttons{
    text-align:center;
}
.user-agreement-page .button-1 {
    background-color: #cc0033;
    border: medium none;
    color: #ffffff;
    font: 15px "eurostile";
    padding: 10px 20px;
}


/********** SHOPPING CART & CHECKOUT **********/



.order-progress {
	margin: 0 0 20px;
	background-color: #f6f6f6;
	text-align: center;
}
.order-progress ul {
	font-size: 0;
}
.order-progress li {
	display: inline-block;
	margin: 10px;
}
.order-progress a {
	display: block;
	min-width: 70px;
	font-size: 13px;
	color: #000;
}
.order-progress a:before {
	content: "";
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto 10px;
	border: 2px solid transparent;
	background: #fff url('../img/order-progress-1.rtl.png') center no-repeat;
}
.order-progress li.active-step a {
	cursor: pointer;
}
.order-progress li.active-step a:before {
	border-color: #333;
	background-image: url('../img/order-progress-2.rtl.png');
}
.order-progress li.current-step a {
	color: #c03;
}
.order-progress li.current-step a:before {
	border-color: #c03;
	background-image: url('../img/order-progress-red.rtl.png');
}
.order-progress li.inactive-step a {
	opacity: 0.5;
	cursor: default;
}

.shopping-cart-page .button-1,
.checkout-page .button-1 {
    border: none;
	background: #c03;
    padding: 10px 20px;
    font: normal 15px 'eurostile';
	color: #fff;
	white-space: normal;
}
.shopping-cart-page .button-2,
.checkout-page .button-2,
.order-details-page .page-title a {
	display: inline-block;
	border: none;
	background-color: #c03;
	padding: 8px 16px;
	color: #fff;
}
.remove-discount-button,
.remove-gift-card-button {
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
	background: #fff url('../img/close.png') center no-repeat;
	cursor: pointer;
}

.shopping-cart-page .message-error {
	margin: 0 0 20px;
	font-size: 13px;
}
.shopping-cart-page .selected-checkout-attributes {
	display: none;
}
.selected-checkout-attributes {
	margin: 0 0 20px;
	text-align: center;
}
.shopping-cart-page .cart-options {
	margin: 0 0 40px;
}
.shopping-cart-page .common-buttons {
	font-size: 0;
}
.shopping-cart-page .common-buttons input {
	min-width: 150px;
	margin: 0 5px 10px;
}
.shopping-cart-page .tax-shipping-info {
	margin: 10px 0 0;
	border: none;
	padding: 0;
}
.checkout-attributes {
	margin: 20px 0;
	text-align: center;
}
.checkout-attributes dt {
	margin: 0 0 5px;
	font-weight: bold;
}
.checkout-attributes dd {
	margin: 0 0 10px;
}
.checkout-attributes li {
	line-height: 24px;
}
.checkout-attributes li * {
	vertical-align: middle;
}
.checkout-attributes .color-squares li label {
	display: block;
	margin: 0 5px;
	text-align: center;
	line-height: normal;
}

.cart-footer:after {
	content: "";
	display: block;
	clear: both;
}
.cart-footer .totals {
	width: 300px;
	max-width: 100%;
	margin: 0 auto 30px;
}
.cart-footer .total-info {
	margin: 0 0 20px;
}
.cart-total td {
	width: 50%;
	border: 1px solid #ccc;
	padding: 5px;
}
.cart-total td.cart-total-left{
    font-weight:bold;
}
.cart-total .order-total {
	font-size: 16px;
	color: #c00;
}
.cart-total .order-total .cart-total-left{
    color:#333;
    font-size:12px;
}
.terms-of-service {
	margin: 0 0 20px;
}
.terms-of-service label {
    cursor: pointer;
}
.terms-of-service span {
	font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.cart-footer .button-1 {
	font-size: 18px;
}
.cart-footer .addon-buttons {
	margin: 20px 0 0;
}

.cart-collaterals {
	max-width: 100%;
	margin: 0 auto 30px;
}
.cart-collaterals .deals {
	margin: 0 0 30px;
	background-color: #f6f6f6;
	padding: 15px;
}
.cart-collaterals .title {
	margin: 0 0 5px;
	font-size: 13px;
	color: #c03;
}
.cart-collaterals .hint {
	margin: 0 0 5px;
}
.cart-collaterals .deals > div {
	margin: 0 0 10px;
}
.cart-collaterals .coupon-code {
	max-width: 360px;
	margin: auto;
	overflow: hidden;
	font-size: 0;
}
.cart-collaterals .coupon-code input[type="text"] {
	float: right;
	width: 64%;
	height: 30px; /*safari padding fix*/
	margin: 0 0 0 -1px;
	border-color: #999;
	background-color: #fff;
}
.cart-collaterals .coupon-code input[type="submit"] {
	float: right;
	width: 36%;
	height: 30px; /*safari padding fix*/
	border: 1px solid #999;
	background-color: #999;
	padding: 0;
	color: #fff;
}
.cart-collaterals .message {
	margin: 5px 0 0;
	color: #c00;
}
.cart-collaterals .current-code {
	margin: 5px 0 0;
	color: #690;
}
.cart-collaterals .shipping {
	margin: 0 20px 40px
}
.cart-collaterals .estimate-shipping-button {
	margin-top: 5px;
}
.cart-collaterals .shipping-results {
	margin: 20px 0 0;
}
.cart-collaterals .shipping-results li {
	margin: 10px 0;
}

.checkout-page .section .title {
	margin-bottom: 30px;
}
.checkout-page .address-grid {
	overflow: hidden;
}
.checkout-page .address-item {
	width: 280px;
	margin: 0 auto 20px;
	border: 1px dotted #ccc;
    padding: 15px;
    position:relative;
}
.checkout-page .address-item .address-box{
    padding:50px 0 0 0;
}
.checkout-page .address-item .select-button {
	margin: 15px 0 10px;
    position:absolute;
    top:0;
    left:15px;
    right:15px;
}
.checkout-page .address-item li {
	padding: 2px 0;
}
.checkout-page .address-item li.name {
	margin: 0 0 5px;
	font-size: 13px;
}
.checkout-page .address-item li.country {
	margin: 5px 0 0;
	font-size: 16px;
	color: #c03;
}
.checkout-page .edit-address {
	margin: 0 0 20px;
}
.new-address-next-step-button {
	margin: 0 0 30px;
}
.shipping-method .method-list,
.payment-method .method-list {
	margin: 0 15px 20px;
	border: 1px dotted #ccc;
	padding: 10px;
	text-align: right;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	margin: 10px 0;
	padding: 5px;
}
.shipping-method .method-list li label,
.payment-method .method-list li label {
	font-weight: bold;
}
.shipping-method .method-description {
	margin: 5px 0 0;
}
.payment-logo,
.payment-details {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}
.use-reward-points {
	margin: 0 0 10px;
}
.payment-info .info {
	margin: 0 15px 20px;
	border: 1px dotted #ccc;
	padding: 10px;
	text-align: right;
	font-size: 13px;
}
.payment-info .info p {
	margin: 10px;	
}
.confirm-order {
	margin: 20px 0;
	background: #eee;
	padding: 15px;
	text-align: center;
}
.confirm-order .buttons {
	margin: 0;
}
.confirm-order .button-1 {
	font-size: 18px;
}
.order-review-data,
.shipment-overview {
	padding: 10px;
}
.order-review-data ul,
.shipment-overview ul {
	margin: 0 0 30px;
	border: 1px dotted #ccc;
	padding: 10px;
}
.order-review-data li,
.shipment-overview li {
	padding: 2px 0; 
}
.order-review-data .title,
.shipment-overview .title,
.order-details-area .title {
	margin: 20px 0 5px;
	font-size: 13px;
	color: #c03;
}
.order-review-data .title:first-child,
.shipment-overview .title:first-child,
.order-details-area .title:first-child {
	margin-top: 0;
}
.order-review-data .name,
.shipment-overview .name,
.order-details-area .name {
	margin-bottom: 5px;
	font-weight: bold;
}
.order-review-data .country,
.shipment-overview .country,
.order-details-area .country {
	margin-top: 5px;
	font-weight: bold;
}
.order-confirm-page .order-review-data >ul>.title{
    border:none;
    text-align:center;
    font-weight:bold;
    margin:0;
}
.order-confirm-page .order-review-data >ul li ~ .title {
    margin: 20px 0 5px;
}
.order-completed .details {
	margin: 0 0 20px;
}
.order-completed .details strong{
    font-weight:normal;
}
.order-completed .details a {
	display: block;
	margin: 5px 0 0;
	font-weight: bold;
}

.opc .step-title {
	margin-bottom: 1px;
	overflow: hidden;
	background-color: #f6f6f6;
	padding: 10px;
}
.opc .allow .step-title,
.opc .allow .step-title * {
	cursor: pointer;
}
.opc .step-title * {
	float: right;
	font: normal 14px 'eurostile'; 
}
.opc .step-title span {
	margin: 0 0 0 10px;
}
.opc .step {
	margin: 10px 0;
	padding: 10px;
}
.opc .section {
	margin: 0 0 15px;
	padding: 15px;
	text-align: center;
}
.opc .section > label {
	display: block;
	margin: 0 0 10px;
}
.opc input[type="text"],
.opc select {
	max-width: 100%;
}
.opc .buttons {
	margin-bottom: 0;
}
.opc .back-link {
	margin: 0 0 10px;
}
.opc .back-link small {
	display: none;
}
.opc .back-link a {
	font-weight: bold;
}
.opc .please-wait {
	display: block;
	margin: 10px 0 0;
}
.opc .terms-of-service {
	text-align: center;
}
.opc #confirm-order-buttons-container {
	background-color: #eee;
	padding: 10px;
}
.opc .section.order-summary{
    border:none;
    padding:0;
}
.opc .section.order-summary .order-review-data .title{
    border:none;
    font-weight:bold;
    margin-bottom:5px;
}
.order-details-page .page-title {
	margin: 0 0 20px;
	overflow: hidden;
}
.order-details-page .page-title h1 {
	margin: 0 0 10px;
}
.order-details-page .order-overview {
	margin: 0 0 20px;
	background-color: #eee;
	padding: 10px;
	line-height: 20px;
}
.order-details-area {
	margin: 0 0 20px; 
	overflow: hidden;  
}
.order-details-area td {
	float: left;
	width: 100%;
	margin: 0 0 20px;
	vertical-align: top;
}
.order-details-area ul {
	margin: 10px;
	border: 1px dotted #ccc;
	padding: 10px;
}
.order-details-page .section .title,
.shipment-details-page .section .title,
.return-request-page .title {
	margin-bottom: 25px;
}
.order-details-page .download a,
.order-details-page .download-license a {
	color: #c03;
	line-height: 20px;
}
.order-details-page .tax-shipping-info {
	border: none;
}
.order-details-page .actions {
	margin: 20px 0 0;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}
.order-details-page .actions input,
.order-details-area .repost .re-order-button{
	min-width: 100px;
	margin: 0 5px;
	border: none;
	background-color: #ddd;
	padding: 8px 16px;
}
.order-details-page .cart-total {
	width: 300px;
	margin: 0 auto 30px;
}

.shipment-details-page .shipment-overview {
    overflow: hidden;
    margin: 0 0 20px;
}
.shipment-details-page .shipment-overview > ul {
	text-align: right;
}
.shipment-details-page .shipment-overview > ul:first-child {
	margin: 0 0 20px;
}
.shipment-details-page .section {
    width: 100%;
}


/*********** SEARCH & SITEMAP ***********/



.search-input input + label {
	display: inline;
	margin: 0 0 0 2px;
}
.basic-search {
	margin: 0 5% 20px;
	border: 1px dotted #ccc;
    padding: 20px 5px 0;
}
.basic-search input[type="text"] {
	width: 400px;
	max-width: 90%; 
}
.advanced-search {
	max-width: 90%;
	margin: 0 auto 20px;
	border: 1px dotted #ccc;
	padding: 10px 20px 0;
}
.advanced-search .price-range {
	display: inline-block;
}
.advanced-search .price-range input {
	width: 80px;
	height: 32px;
	margin: 3px;
}
.search-input .button-1 {
	border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 15px 'eurostile';
	color: #fff;
}
.search-input .warning,
.search-results .result {
	display: block;
	margin: 10px 0 0; 
	font-weight: normal;
	color: #c00;
}
.search-results {
	margin: 30px 0 0;
}

.sitemap-page .entity {
	margin: 0 0 20px;
}
.sitemap-page .entity-title {
	margin: 0 0 10px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.sitemap-page .entity-title h2 {
	display: inline-block;
	margin: 0 0 -1px;
	box-shadow: 0 0 0 3px #fff;
	background-color: #333;
    padding: 10px 20px;
	font-size: 13px;
	color: #fff;
    text-transform: uppercase;
}
.sitemap-page .entity-body {
	line-height: 24px;
}
.sitemap-page li {
	display: inline-block;
	margin: 0 10px;
}
.sitemap-page a {
	display: block;
	line-height: 32px;
}
.sitemap-page a:empty {
	display: none;
}
.sitemap-page .description{
    margin:0 10px 20px;
}

/********** BLOG & NEWS **********/



.block li.year {
	margin-top: 20px;
}
.block li.year:first-child {
	margin-top: 0;
}
.block li.year strong {
	display: block;
	cursor: default;
}
.block li.year ul {
	margin: 0 0 5px;
}
.blog-page .post,
.news-items .news-item {
	position: relative;
	margin: 0 10px 20px;
	background-color: #f6f6f6;
	padding: 10px;
}
.post-title,
.news-title {
	display: inline-block;
	margin: 0 0 10px;
	padding: 5px;
	font: normal 15px 'eurostile';
	color: #c03;
}
.post-date,
.news-date {
	display: block;
	font-style: italic;
}
.post-head ~ *,
.news-head ~ * {
	display: none;
}
.blogpost-page .post-date,
.news-item-page .news-date {
	background-color: #f6f6f6;
    padding: 10px;
}
.post-body,
.news-body {
	margin: 0 0 10px;
	padding: 10px;
	line-height: 20px;
	text-align: justify;
}
.blog-page .tags, 
.blogpost-page .tags {
	margin: 0 0 40px;
	overflow: hidden;
	background-color: #f6f6f6;
	padding: 10px;
}
.blog-page .tags label,
.blogpost-page .tags label {
	display: inline-block;
	margin: 0 3px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
}
.blog-page .tags ul,
.blogpost-page .tags ul {
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle;
	font-size: 0;
}
.blog-page .tags li,
.blogpost-page .tags li {
	display: inline-block;
	font-size: 12px;
}
.blog-page .tags li.separator,
.blogpost-page .tags li.separator {
	margin: 0 3px 0 5px;
}
.blog-page .tags a,
.blogpost-page .tags a {
	display: inline-block;
	line-height: 24px;
}
.blog-search-results li a {
    color: #c03;
}
.blog-search-results li a:before {
    content: '';
    display: block;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #c03 url('../img/bullet-rtl.png') center no-repeat;
    border: 1px solid #c03;
    border-radius: 100%;
}
.new-comment {
	margin: 0 0 40px;
}
.new-comment .title {
	margin-bottom: 30px;
}
.new-comment .notifications {
	margin: 0 0 10px;
}
.new-comment .result {
	color: #690;
}
.new-comment .form-fields {
	margin: 0 0 15px;
}
.new-comment .inputs label {
	display: none;
}
.new-comment textarea {
	width: 95%;
}
.new-comment .button-1 {
	border: none;
	background-color: #c03;
	padding: 10px 20px;
	font: normal 15px 'eurostile';
	color: #fff;
}

.comment-list .title {
	margin: 0 0 20px;
	background-color: #f6f6f6;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.comment-list .title strong {
	font-weight: normal;
}

.blog-comment,
.news-comment {
	margin: 0 10px 30px;
	border: 1px dotted #ccc;
    padding: 15px;
}
.blog-comment:after,
.news-comment:after {
	content: "";
	display: block;
	clear: both;
}
.comment-info {
	width: 120px;
	margin: 0 auto 10px;
}
.comment-info .username {
	display: block;
	margin: 0 0 5px;	
    font-size: 13px;
    font-weight: bold;
	color: #c03; 
}
.comment-info .avatar {
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.comment-info .avatar img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.comment-time {
	margin: 0 0 10px;
	font-style: italic;
}
.comment-body {
	line-height: 20px;
	text-align: justify;
}

.news-details {
	margin: 0 0 10px;
	padding: 10px;
	line-height: 20px;
	text-align: justify;
}
.news-details p {
	margin: 10px 0;
}
.news-items .read-more {
	display: none;
	margin: 20px 0 0;
	line-height: 24px;
}
.news-item-page .inputs:first-child label {
	display: block;
}

.news-list-homepage .news-items {
	margin: 0 0 20px;
	padding: 10px;
}
.news-list-homepage .news-items .item {
	margin: 0 0 20px;
	border: none;
	background: none;
	padding: 0;
}
.news-list-homepage .news-title {
	display: block;
	margin: 0;
	padding: 8px 0;
	font: normal 17px Arial, Helvetica, sans-serif;
}
.news-list-homepage .news-date {
	margin: 0 0 15px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}
.news-list-homepage .news-body {
	display: block;
	height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	line-height: 16px;
	text-align: right;
}
.news-list-homepage .view-all {
	text-align: center;
    display:none;
}
.news-list-homepage .view-all a {
	display: inline-block;
	background-color: #333;
	padding: 8px 16px;
	color: #fff;
}

/* RE-CAPTCHA */

.recaptchatable #recaptcha_response_field {
	height: auto !important;
}

/*RESPONSIVE CAPTCHA*/
@media (max-width: 444px) {
.recaptchatable #recaptcha_image {
	margin: 0 !important;
	width: 200px !important;
	float:left !important;
}
.recaptchatable #recaptcha_image img {
	max-width:100%;
}
.recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell, .recaptchatable .recaptcha_r2_c2 {
	background: none !important;
}
}


/********** FORUM & PROFILE **********/



.forums-main-page .topic-block h2 {
	color: #c03;
}
.forums-main-header {
	margin: 0 0 20px;
}
.forums-main-header:after {
	content: "";
	display: block;
	clear: both;
}
.current-time {
	line-height: 36px;
}
.forum-search-box {
	margin: 0 0 20px;
	text-align: center;
}
.forum-search-box form {
	display: inline-block;
	overflow: hidden;
}
.forum-search-box .basic {
	margin: 0 0 10px;
	overflow: hidden;
}
.forum-search-box .basic,
.forum-search-page .basic-search div:first-child {
	border: 1px solid #ccc;
	overflow: hidden;
	background-color: #f6f6f6;
}
.forum-search-box .basic input,
.forum-search-page .basic-search div:first-child input {
	border: none;
}
.forum-search-box-text,
.forum-search-text {
	float: right;
	width: 265px !important;
}
.forum-search-box-button,
.forum-search-button {
	float: right;
	width: 36px;
	height: 36px;
	border: none;
	overflow: hidden;
	background: url('../img/search-button.png') center no-repeat;
	text-indent: 999px;
}
.forum-search-box .advanced a {
	display: inline-block;
	background-color: #333;
	padding: 8px 10px;
	font-size: 12px;
    color: #fff;
}

.forums-table-section {
	margin: 0 0 30px;
}
.forums-table-section-title {
	margin: 0 0 10px;
	overflow: hidden;
}
.forums-table-section-title > a,
.forums-table-section-title strong {
	font: normal 14px/24px 'eurostile';
	text-transform: uppercase;
}
.forums-table-section-title span {
	display: block;
}
.forums-table-section-title .view-all {
	line-height: 24px;
	color: #c03;
	font-size: 14px;
}
.forums-table-section-title .link-rss {
	width: 24px;
	height: 24px;
	margin: 0 10px 0 0;
}
.forums-table-section td {
	padding: 15px;
}
.forums-table-section td a {
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}

.forums-table-section .image div {
	width: 24px;
	height: 24px;
	margin: auto;
	background: url('../img/folder1.png') center no-repeat;
}
.forums-table-section .image div.post-annoucement {
	background: url('../img/folder2.png') center no-repeat;
}
.forums-table-section .image div.poststicky {
	background: url('../img/folder3.png') center no-repeat;
}

/* breadcrumb, search, pagers */

.forum-search-page .basic-search {
	padding: 20px;
	text-align: center;
}
.forum-search-page .basic-search div:first-child {
	display: inline-block;
	margin: 0 0 10px;
	overflow: hidden;
}
.forum-search-page .advanced-search {
	margin: 15px auto 0;
	padding: 20px 20px 10px;
}
.forum-search-page .search-error {
	padding: 15px;
	text-align: center;
	color: #c00;
}
.forum-search-page .search-results {
	margin: 0 0 15px;
}
.pager.upper {
	display: none;
}

/* forum page */

.forum-page .forum-top {
	margin: 0 0 20px;
}
.forum-page .forum-info {
	position: relative;
	margin: 0 0 20px;
}
.forum-page .forum-name h1 {
	font: normal 24px/36px 'eurostile';
	color: #c03;
}
.forum-page .link-rss {
	position: absolute;
	left: 0;
}
.forum-page .actions a {
	margin: 0 0 0 10px;
	padding: 0 20px 0 0;
}
.forum-page .new-topic {
	background: url('../img/forum_icon4.png') right center no-repeat;
}
.forum-page .watch-forum {
	background: url('../img/forum_icon5.png') right center no-repeat;
}

/* topic page */

.forum-topic-page .topic-name h1{
	margin: 0 0 20px;
	font: normal 24px/36px 'eurostile';
	color: #c03;
}
.forum-topic-page .topic-actions.upper {
	margin: 0 0 20px;
	overflow: hidden;
}
.forum-topic-page .actions a,
.topic-footer .actions a {
	margin: 0 0 0 10px;
	padding: 0 20px 0 0;
}
.forum-topic-page .reply-topic-button,
.topic-footer .reply-topic-button {
	background: url('../img/forum_icon4.png') right center no-repeat;
}
.forum-topic-page .watch-topic-button,
.topic-footer .watch-topic-button {
	background: url('../img/forum_icon5.png') right center no-repeat;
}
.forum-topic-page .manage {
	float: left;
}
.forum-topic-page .manage a {
	margin: 0 10px 0 0;
	padding: 0 20px 0 0;
}
.forum-topic-page .edit-topic-button,
.forum-topic-page .edit-post-button {
	background: url('../img/forum_icon1.png') right center no-repeat;
}
.forum-topic-page .delete-topic-button,
.forum-topic-page .delete-post-button {
	background: url('../img/forum_icon2.png') right center no-repeat;
}
.forum-topic-page .move-topic-button {
	background: url('../img/forum_icon3.png') right center no-repeat;
}

.forum-post,
.topic-post {
	margin: 0 0 20px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 5px 0 15px;
}
.forum-post .post-info,
.topic-post .post-info,
.profile-info-box .user-details,
.topic-post .post-info {
	float: right;
	width: 190px;
}
.forum-post .manage,
.topic-post .manage-post {
	float: none;
	margin: 0 0 10px;
	overflow: hidden;
}
.forum-post .manage a,
.topic-post .manage-post a {
	float: right;
	margin: 0 0 0 5px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px 5px 5px 25px;
}
.forum-post .manage a:first-child,
.topic-post .manage-post a:first-child {
	margin-right: 0;
}
.forum-post .manage a:hover,
.topic-post .manage-post a:hover {
	text-decoration: none;
}
.forum-post .edit-post-button,
.forum-post .delete-post-button,
.topic-post  .delete-post-button,
.topic-post .edit-post-button{
	background-position: 5px center;
}
.forum-post .user-info,
.topic-post .user-info {
	padding-left: 10px; /*align control*/
}
.post-info .user-info .username {
	display: inline-block;
	margin: 0 0 5px;
	font-weight: bold;
}
.topic-posts .topic-post{
    overflow:hidden;
}
.forum-post .avatar,
.topic-post .avatar,
.profile-info-box .avatar {
	position: relative;
	height: 150px; /*adjust as you like*/
	margin: 0 0 10px;
	border: 1px solid #ccc;
	overflow: hidden;
    width:190px;
    float:right;
}
.forum-post .avatar img,
.topic-post .avatar img,
.profile-info-box .avatar img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.forum-post .user-stats,
.topic-post .user-stats {
	margin: 0 0 10px;
	font-size: 11px;
}
.forum-post .user-stats span,
.topic-post .user-stats span,
.profile-info-box .profile-stats span {
	margin: 0 3px 0 0;
	font-weight: bold;
}
.forum-post .pm-button,
.topic-post .pm-button,
.profile-info-box .send-pm .pm-button,
.send-pm-button {
	display: inline-block;
	background-color: #333;
	padding: 5px 10px;
	color: #fff;
    margin:0 76px 0 0;
}
.profile-info-box .send-pm{
    clear:both;
    display:block;
    text-align:right;
}
.forum-post .post-content,
.topic-post .post-content,
.profile-info-box .profile-stats,
.topic-post .post-content {
	min-width: 200px;
	margin-right: 200px;
}
.forum-post .post-time,
.topic-post .post-head{
	margin: 0 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px;
}
.topic-post .quote-post a {
	float: right;
	margin: 0 5px 0 0;
	background-color: #c03;
	padding: 0 3px;
	color: #fff;
}
.forum-edit-page .inputs span {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 13px;
}

.topic-footer {
	overflow: hidden;
}
.topic-footer .actions {
	line-height: 32px;
}

/* profile page */

.profile-info-box {
	overflow: hidden;
}
.profile-info-box .title {
	margin: 0 0 10px;
	font-size: 18px;
}
.profile-info-box .title strong{
    font-weight:normal;
}
.profile-page .topic {
	margin: 0 0 20px;
	padding: 0 0 15px;
}
.profile-page .topic-title {
	background: #f6f6f6;
	padding: 10px;
	font-size: 16px;
	color: #c03;
}
.profile-page .topic-title a {
	vertical-align: middle;
	font-style: italic;
}
.profile-page .topic-body {
	margin: 0 0 10px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: 10px;
}
.profile-page .topic-data {
	color: #999;
}

/* forum edit & send message */

.forum-edit-page .form-fields,
.private-message-send-page .form-fields {
	border: 1px dotted #ccc;
	padding: 15px;
}
.move-topic-page .inputs {
	margin-bottom: 15px;
	border: 1px dotted #ccc;
	padding: 25px;
}
.forum-edit-page strong,
.private-message-send-page a {
	vertical-align: middle;
	font-size: 18px;
	font-weight: normal;
	color: #c03;
}
.forum-edit-page .buttons,
.private-message-send-page .options,
.private-messages-page .buttons,
.private-messages .buttons {
	margin: 15px 0 0;
	text-align: center;
}
.forum-edit-page .buttons input,
.move-topic-page .buttons input,
.private-message-send-page .options input,
.private-messages-page .buttons input,
.private-message-view-page .options input,
.private-messages .buttons input{
	min-width: 115px;
	border: 1px solid #ccc;
	padding: 6px 24px !important;
	font-size: 17px;
}
.forum-edit-page .buttons input[type="submit"],
.move-topic-page .buttons input[type="submit"],
.private-messages-page .buttons input[type="submit"],
.private-message-send-page .options input[type="submit"],
.private-message-view-page .options input.button-1 {
	border-color: transparent;
	background-color: #c03 !important;
	color: #fff;
}

.private-message-send-page .message label {
	display: none;
}
.private-messages .view-message ul{
    overflow:hidden;
    margin:0 0 10px;
}
.private-messages .view-message ul li{
    float:right;
}
/* inbox & view message */

.private-messages-page td.date {
	width: 15%;
	white-space: nowrap;
}
.private-messages-page .mark-unread-pm-button {
	display: none;
}
.private-message-view-page .view-message div {
	display: inline-block;
}
.private-message-view-page label {
	font-weight: bold;
}
.private-message-view-page span {
	margin: 0 0 0 10px;
	vertical-align: middle;
}
.private-message-view-page span:after {
	content: "|";
	margin: 0 10px 0 0;
}
.private-message-view-page .message {
	display: block !important;
	margin: 15px 0;
	border: 1px solid #ccc;
	padding: 15px;
}
.private-message-view-page .message span:after {
	display: none;
}
.private-message-view-page .options {
	display: block !important;
	overflow: hidden;
	text-align: right;
}
.private-message-view-page .back-pm-button {
	float: left;
	text-transform: capitalize !important;
}
