﻿/*GLOBAL TABLES*/

.cart, .data-table,
.compare-products-table,
.forums-table-section table {
	margin: 0 0 20px;
}
.cart th, .data-table th,
.forums-table-section th {
	border: 1px solid #666;
    background: #333;
    padding: 10px;
    white-space: nowrap;
	color: #fff;
}
.cart td, .data-table td,
.compare-products-table td,
.forums-table-section td {
	min-width: 50px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
}
.cart a, .data-table a,
.compare-products-table a,
.forums-table-section a {
	font-size: 15px;
}
.forums-table-section td.latest-post{
    min-width:150px;
}
.forums-table-section .forum-details,
.forums-table-section .topic-details{
    min-width:300px;
}
.forums-table-section .table-wrapper{
    overflow-x:auto;
}
td.details a {
	font-size: 13px;
	color: #c03;
}

.cart .remove-from-cart,
.cart .add-to-cart,
.data-table .select-boxes {
    text-align: center;
}
.cart .unit-price {
    white-space: nowrap;
}
.cart .qty-input {
    width: 50px;
    text-align: center;
}
.cart .subtotal {
    color: #c00;
    white-space: nowrap;
}
.cart th.subtotal{
    color:#fff;
}

.product-specs-box .data-table td {
    padding: 5px;
}

.compare-products-table .overview p:first-child {
    margin: 0 0 10px;
}
.compare-products-table .overview p:last-child {
    position: relative;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
}
.compare-products-table .overview img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.compare-products-table .product-name td {
    background: #f6f6f6;
}
.compare-products-table .product-price td {
    color: #c00;
}
.compare-products-table .product-price td:first-child {
    color: #666;
}

.compare-products-table-mobile img {
    max-width: 160px;
}

.go-to-page {
	display: inline-block !important;
	font-size: 13px !important;
}


.footable td label{
    display:none;
}
 
/* TIER PRICE TABLES */

.tier-prices {
	margin: 0 0 20px;
}
.tier-prices .prices-header {
	margin: 0 0 10px;
    font-size: 18px;
}
.tier-prices .prices-header strong { 
    font-weight: 400;
}
.prices-table {
    width: 100%;
	border: 1px solid #ccc;
    overflow: hidden;
}
.prices-row {
    float: left;
    width: 50%;
}
.prices-row > div {
    padding: 10px;
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
}
.prices-row > div:first-child {
	border-top: 0;
}
.prices-row:first-child > div {
	border-left: 0;
}
.prices-table .field-header {
    font-weight: 700;
}
.tier-prices .item-price {
	color: #c00;
}

@media all and (min-width: 769px) {

.product-details-page .prices-table {
	display: table;
	background: #fff;
}
.product-details-page .prices-row {
	display: table-row;
	float: none;
	width: auto;
}
	.product-details-page .prices-row > div {
		display: table-cell;
	}
.product-details-page .prices-row:first-child > div {
	border-left: 1px solid #c9c9c9;
	border-top: 0 !important;
}
.product-details-page .prices-row > div:first-child {
	border-top: 1px solid #c9c9c9;
	border-left: 0;
}

}



/* footable custom css */

.footable-first-column {
	text-align: center;
}
.footable-first-column .item-count {
	font-size: 13px !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
	display: block;
    min-width: 20px;
	height: 20px;
	overflow: hidden;
}
.footable-row-detail {
	text-align: left;
}
.footable-row-detail-cell {
	text-align: left !important;
}
.footable-row-detail-row {
	margin: 0 0 10px;
    display: table-row;
}
.footable-row-detail-name {
	margin: 0 0 5px;
	font-style: italic;
    display: table-cell;
    padding: 7px 10px;
}
.footable-row-detail-value {
    display: table-cell;
}
.footable-toggle {
	background: url('../img/table-plus.png') no-repeat center;
}
.footable-detail-show .footable-toggle {
	background: url('../img/table-minus.png') no-repeat center;
}
.footable-toggle:before {
	display: none !important;
}


/* hidding item counter in different tables */

@media all and (max-width: 809px) {
.order-summary-content .cart .item-count,
.wishlist-page .cart .item-count,
.section.products .data-table .item-count,
.section.shipments .data-table .item-count {
	display: none;
}
}

@media all and (max-width: 612px) {
.downloadable-products-page .data-table .item-count,
.return-request-page .data-table .item-count {
	display: none;
}
}

@media all and (max-width: 506px) {
.reward-points-history .data-table .item-count {
	display: none;
}
}

.compare-products-table-mobile .item-count {
	display: none;
}