﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.tweet.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".tweet").tweet({
            join_text: "",
            username: "@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "TwitterUserName" })",
            count: @Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "TwitterTweetsCount" }),
            loading_text: "loading tweets..."
        });
    });
</script>
<div class="master-wrapper-leftside-3">
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "left_side_column_before" })
        <div class="clear">
        </div>
        @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
        <div class="clear">
        </div>
        @Html.Action("InfoBlock", "Common")
        <div class="clear">
        </div>
        @Html.Action("NewsletterBox", "Newsletter")
        <div class="clear">
        </div>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "left_side_column_after" })
    }
</div>
<div class="master-wrapper-center-3">
    <div class="master-wrapper-cph-3">        
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "main_column_before" })
        @if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
             Url.RequestContext.RouteData.Values["action"].ToString().Equals("index", StringComparison.InvariantCultureIgnoreCase))
        {
            @Html.Action("Show", "HomepageSlider")
        }
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "main_column_after" })
    </div>
</div>
<div class="master-wrapper-rightside-3">
    @if (IsSectionDefined("right"))
    {
        @RenderSection("right")
    }
    else
    {
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "right_side_column_before" })
        @*@Html.Action("List", "News")*@
	@Html.Action("LatestGossipBlock", "ThemeSetting")
        <div class="clear">
        </div>
        var specialOffers = Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOffersImageUrl" });

        if (!String.IsNullOrEmpty(specialOffers.ToString()))
        {
            
            <div class="block block-offers">
                <div class="listbox">
                    <a href="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOffersLink" })"><img src="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOffersImageUrl" })" title="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOfferTitle" })" alt="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "SpecialOfferTitle" })"/></a>
                </div>
            </div>
            <div class="clear">
            </div>
        }

        var twitterUsername = @Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "TwitterUserName" });

        if (!String.IsNullOrEmpty(twitterUsername.ToString()))
        { 
            <div class="block block-tweets">
                <div class="title">
                    Tweets!
                </div>
                <div class="clear">
                </div>
                <div class="listbox">
                    <div class="tweet"></div>
                </div>
            </div>
            <div class="clear">
            </div>
        }
        
        @Html.Action("RecentlyViewedProductsBlock", "Catalog")        
        <div class="clear">
        </div>        
        @Html.Action("PollBlock", "Poll", new { systemKeyword = "RightColumnPoll" })
        <div class="clear">
        </div>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "right_side_column_after" })
    }
</div>
