﻿<div class="header">
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo"><img src="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "LogoImageUrl" })" alt="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "LogoTitle" })" title="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "LogoTitle" })"/> </a>
    </div>
    <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>
    <div class="header-selectors-wrapper">
        <div class="header-taxdisplaytypeselector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        <div class="header-currencyselector">
            @Html.Action("CurrencySelector", "Common")
        </div>
        <div class="header-languageselector">
            @Html.Action("LanguageSelector", "Common")
        </div>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_selectors" })
    </div>
</div>
