﻿@model ContactUsModel
@using Nop.Web.Framework.UI.Captcha;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.googlemaps.pack.1.01.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#map_canvas').gmap('addMarker', { 'position': '@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "GooglemapLatitude" }),@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "GooglemapLongitude" })', 'bounds': true });
    });
</script> 
<div class="contact-form">
    <div id="map_canvas" style="width:554px;height:312px;border:3px solid #e9e9e9;"></div>
    @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
    <div class="clear">
    </div>
    @if (Model.SuccessfullySent)
    {
        <div class="result">
            <strong>@Model.Result</strong>
        </div>        
    }
    else
    {
        using (Html.BeginForm())
        {    
        
            @*<table class="table-container">
                <tr>
                    <td class="message-error" colspan="2">
                        @Html.ValidationSummary(true)
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        @Html.LabelFor(model => model.FullName):
                    </td>
                    <td class="item-value">
                        @Html.TextBoxFor(model => model.FullName, new { @class = "fullname" })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        @Html.LabelFor(model => model.Email):
                    </td>
                    <td class="item-value">
                        @Html.TextBoxFor(model => model.Email, new { @class = "email", id = "contactusemail" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        @Html.LabelFor(model => model.Enquiry):
                    </td>
                    <td class="item-value">
                        @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry" })
                        @Html.ValidationMessageFor(model => model.Enquiry)
                    </td>
                </tr>
                @if (Model.DisplayCaptcha)
                {
                    <tr class="row">
                        <td class="item-name">
                            &nbsp;
                        </td>
                        <td class="item-value captcha-box">
                            @Html.Raw(Html.GenerateCaptcha())
                        </td>
                    </tr>
                }
                <tr class="row">
                    <td class="item-name">
                    </td>
                    <td class="buttons">
                        <input type="submit" id="send-email" name="send-email" class="contactusbutton" value="@T("ContactUs.Button")" />
                    </td>
                </tr>
            </table>*@
            <div class="contact-us">
                <div class="contact-us-left">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="column-name">
                                First name:
                            </td>
                            <td class="column-value">
                                @Html.TextBoxFor(model => model.FullName)
                                @Html.ValidationMessageFor(model => model.FullName)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="contact-us-right">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="column-name">
                                @Html.LabelFor(model => model.Email):
                            </td>
                            <td class="column-value">
                                @Html.TextBoxFor(model => model.Email, new { id = "contactusemail" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clear">
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td class="item-value captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </td>
                        </tr>
                    </table>
                }
                <table cellspacing="0" cellpadding="0" border="0" class="enquiry">
                    <tr>
                        <td class="column-name">
                            <p>Enquiry:</p>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry" })
                            @Html.ValidationMessageFor(model => model.Enquiry)
                        </td>
                        <td class="button">
                            <input type="submit" id="send-email" name="send-email" class="generic-button generic-large-height-button gradient-color" value="@T("ContactUs.Button")" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            @Html.ValidationSummary(true)
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
</div>
