﻿@model FooterModel
@using Nop.Web.Models.Common;
<div class="footer">
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)
    </div>
    <div class="thought-link">
        <a href="http://www.thought.co.uk" target="_blank">ecommerce by thought</a>
    </div>
    @*<div class="footer-poweredby">
        Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
        <!--Would you like
                to remove the "Powered by nopCommerce" link in the bottom of the footer? Find more
                info here http://www.nopcommerce.com/copyrightremoval.aspx -->
    </div>
    <div class="footer-storetheme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone ="footer" })*@
    <div class="clear">
    </div>
</div>
