﻿@model MenuModel
@using Nop.Web.Models.Common;
<ul class="topmenu">
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_menu_before" })
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
        </li>
    }
    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
    @if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    @if (Model.ForumEnabled)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    @{
        var twitterLink = @Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "TwitterLink" });

        if (!String.IsNullOrEmpty(twitterLink.ToString()))
        {
            <li><a href="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "TwitterLink" })" class="twitter"></a></li>
        }

        var facebookLink = @Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "FacebookLink" });

        if (!String.IsNullOrEmpty(facebookLink.ToString()))
        {
            <li><a href="@Html.Action("ThemeSettingBlock", "ThemeSetting", new { systemName = "FacebookLink" })" class="fb"></a></li>
        }
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_menu_after" })
</ul>
