@color: %color-1%;

.header-menu .close-menu,
.header-menu .back-button,
.admin-header-links,
.block .title,
.block .list li:hover a:before,
.footer-block li:hover a:before, 
.item-box input[type="button"],
.pager li span,
.overview .subscribe-button,
.free-shipping,
.overview .add-to-cart-button,
.variant-overview .add-to-cart-button,
.write-review .button-1,
.wishlist-add-to-cart-button,
.contact-page .button-1,
.email-a-friend-page .button-1,
.apply-vendor-page .button-1,
.registration-page .button-2,
.registration-result-page .button-1,
.login-page .button-1,
.password-recovery-page .button-1,
.account-page .button-1,
.return-request-page .button-1,
.shopping-cart-page .button-1,
.checkout-page .button-1,
.shopping-cart-page .button-2,
.checkout-page .button-2,
.order-details-page .page-title a,
.search-input .button-1,
.new-comment .button-1,
.topic-post .quote-post a,
.blog-search-results li a:before, 
.mini-shopping-cart input[type="button"],
.header-menu .sublist li > a:hover,
.nivo-control,
.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select,
.ajaxCart .productAddedToCartWindowCheckout,
.ui-slider-range,
.nopAjaxFilters7Spikes .close-filters,
.home-page-filter-button .results-number,
.home-page-filter-button .search-button,
.home-page-filter-button .search-button:after,
.products-carousel .button,
.categories.fullWidth .row:before,
.manufacturers.fullWidth .row:before,
.mega-menu .title,
.ui-datepicker-calendar td a:hover,
.user-agreement-page .button-1,
.rich-blog-homepage .read-more,
.ropc .estimate-shipping-panel button,
.ropc .current-code button,
.ropc .cart-total button,
.ropc .complete-button button {
    background-color: @color;
}

.page-title h1,
.inbox-qty,
.wishlist-qty,
.cart-qty,
.breadcrumb strong,
.tax-shipping-info a,
.product-name h1,
.variant-overview .variant-name,
.product-review-item .review-title,
.wishlist-page .share-info a,
.return-request-list-page .comments,
.reward-points-history .title,
.order-progress li.current-step a,
.cart-collaterals .title,
.checkout-page .address-item li.country,
.order-review-data .title,
.shipment-overview .title,
.order-details-area .title,
.post-title,
.news-title,
.comment-info .username,
.forums-main-page .topic-block h2,
.forums-table-section-title .view-all,
.forum-page .forum-name h1,
.forum-topic-page .topic-name,
.profile-page .topic-title,
.forum-edit-page strong,
.private-message-send-page a,
.header-links a:hover,
.mini-shopping-cart .count a,
.mini-shopping-cart .totals strong,
.footer-block li:hover a,
.footer-block.recently-viewed a:hover,
.news-list-homepage .news-title:hover,
.block .list a:hover,
.block .tags li a:hover,
.product-tags-all-page li a:hover,
.product-item .product-title a:hover,
.overview .email-a-friend-button:hover,
.product-tags-list a:hover,
.product-review-item .review-info a:hover,
.product-review-helpfulness .vote:hover,
.login-page .forgot-password a:hover,
.cart .product-name:hover,
.opc .back-link a:hover,
.sitemap-page a:hover,
.blog-page .tags a:hover,
.blogpost-page .tags a:hover,
.forums-table-section a:hover,
.forums-table-section td a:hover,
.forum-breadcrumb a:hover,
.forum-page .actions a:hover,
.forum-topic-page .actions a:hover,
.topic-footer .actions a:hover,
td.details a,
.productAddedToCartWindowDescription strong,
.filtersGroupPanel li .filter-item-name:hover,
.filtersGroupPanel li.checked .filter-item-name,
.products-carousel .jcarousel-product-name:hover,
.mega-menu .box li a:hover,
.product-specs-box a,
.cart .edit-item a:hover,
.order-details-page .download a,
.order-details-page .download-license a,
.rich-blog-homepage .view-all a:hover,
.blog-search-results li a:hover,
.post-footer a,
.rich-blog-autocomplete-last-item span,
.blog-search-results li a,
.search-term-highlighter {
    color: @color;
}

.block .list li:hover a:before,
.footer-block li:hover a:before,
.pager li span,
.registration-page .buttons,
.registration-result-page .buttons,
.login-page .buttons,
.password-recovery-page .buttons,
.account-page .buttons,
.return-request-page .buttons,
.address-list-page .add-button,
.order-progress li.current-step a:before,
.mini-shopping-cart .count,
.blog-search-results li a:before {
    border-color: @color;
}

.forum-edit-page .buttons input[type="submit"],
.move-topic-page .buttons input[type="submit"],
.private-messages-page .buttons input[type="submit"],
.private-message-send-page .options input[type="submit"],
.private-message-view-page .options input.button-1 {
	background-color: @color !important;
}
