﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Services.Configuration;
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/img/logo.png";

    var tiffanyLogo = @Html.Widget("tiffany_theme_logo");
}
@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var headerLayout = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.headerlayout", String.Empty, storeId, true);

    var shoppingCartEnabled = EngineContext.Current.Resolve<Nop.Services.Security.IPermissionService>().Authorize(Nop.Services.Security.StandardPermissionProvider.EnableShoppingCart);
    var wishlistEnabled = EngineContext.Current.Resolve<Nop.Services.Security.IPermissionService>().Authorize(Nop.Services.Security.StandardPermissionProvider.EnableWishlist);
}
<div class="header @headerLayout">
    <div class="header-inner">
        @Html.Widget("header")
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")" class="logo">
                @if (!MvcHtmlString.IsNullOrEmpty(tiffanyLogo))
                {
                    @tiffanyLogo
                }
                else
                {
                    string storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                }
            </a>
        </div>

        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
        </div>
        <div class="search-n-selectors">
            <div class="search-box store-search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
            <div class="header-selectors-wrapper">
                @Html.Action("TaxTypeSelector", "Common")

                @Html.Action("CurrencySelector", "Common")

                @Html.Action("LanguageSelector", "Common")

                @Html.Widget("header_selectors")
            </div>
        </div>
    </div>
</div>
<div class="overlayOffCanvas"></div>
<div class="responsive-nav-wrapper-parent">
    <div class="responsive-nav-wrapper">
        <div class="menu-title">
            <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
        </div>
        <div class="search-wrap">
            <span>@T("Search")</span>
        </div>
        <div class="wishlist-button">
            <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                <span class="cart-label">@T("Wishlist")</span>
            </a>
        </div>
        <div class="shopping-cart-link">
            <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
        </div>
        <div class="filters-button">
            <span>@T("SevenSpikes.Themes.Common.Filters")</span>
        </div>
        <div class="personal-button" id="header-links-opener">
            <span>@T("SevenSpikes.Themes.Common.Personal")</span>
        </div>
    </div>
</div>
<div class="justAFixingDivBefore"></div>
<div class="header-menu-wrapper">
    <div class="header-menu">

        <div class="wishlist-shoping">
            @if (shoppingCartEnabled)
            {
                <div id="topcartlink">
                    <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                        <span class="cart-label">@T("ShoppingCart")</span>
                    </a>
                    <!--flyout-cart-->
                    @Html.Action("flyoutshoppingcart", "shoppingcart")
                </div>
                
                 <script type="text/javascript">
                    $(document).ready(function () {
                        $('.header-menu').on('mouseenter', '#topcartlink', function () {
                            $('#flyout-cart').addClass('active');
                        });
                        $('.header-menu').on('mouseleave', '#topcartlink', function () {
                            $('#flyout-cart').removeClass('active');
                        });
                        $('.header-menu').on('mouseenter', '#flyout-cart', function () {
                            $('#flyout-cart').addClass('active');
                        });
                        $('.header-menu').on('mouseleave', '#flyout-cart', function () {
                            $('#flyout-cart').removeClass('active');
                        });
                    });
                </script>
            }
            @if (wishlistEnabled)
            {
                <div class="wishlist-button">
                    <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist" title="@T("Wishlist")">
                        <span class="cart-label">@T("Wishlist")</span>
                    </a>
                </div>
            }
            
        </div>

        <div class="close-menu">
            <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
        </div>
        @{
            var menuHtml = Html.Widget("theme_header_menu");
        }
        @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
        {
            @menuHtml
        }
        else
        {
            @Html.Action("TopMenu", "Catalog")
        }

    </div>
</div>