.jcarousel-skin-thumbs .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-thumbs .jcarousel-clip {
    overflow: hidden;
    margin: 0 19px;
}
.jcarousel-skin-thumbs .jcarousel-item {
    margin: 0 5px;
}
.gallery .picture-thumbs .jcarousel-item a {
	margin: 0 !important;
	width: 84px;
	height: 84px;
}

.jcarousel-skin-thumbs .jcarousel-item-vertical {
    margin-bottom: 10px;
}

/**
 *  Vertical Buttons
 */

.jcarousel-skin-thumbs .jcarousel-prev-horizontal,
.jcarousel-skin-thumbs .jcarousel-next-horizontal {
    position: absolute;
	top: 0;
    width: 14px;
    height: 100%;
    cursor: pointer;
}
.jcarousel-skin-thumbs .jcarousel-prev-horizontal {
    left: 0;
    background: url('images/prev-horizontal.png') no-repeat center;
}

.jcarousel-skin-thumbs .jcarousel-next-horizontal {
    right: 0;
    background: url('images/next-horizontal.png') no-repeat center;
}