@color: %color-1%;

.header-menu .close-menu,
.header-menu ul li.back-button,
.page-title,
.fieldset .title strong,
.header,
.header-links,
.footer-middle,
.block .title strong,
.block .list a:before,
.item-box .product-box-add-to-cart-button,
.product-grid .title:before,
.news-list-homepage .title:before,
.product-grid .title strong,
.news-list-homepage .title strong,
.overview .add-to-cart-button,
.variant-overview .add-to-cart-button,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-state-active.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li a:hover,
.login-page .title strong,
.order-progress a:before,
.shopping-cart-page .button-1,
.checkout-page .section .title:before,
.checkout-page .section .title strong,
.sitemap-page .entity-title:before,
.sitemap-page .entity-title h2,
.item-box .buttons,
.item-box .compare-products:hover .add-to-compare-list-button,
.item-box:hover .title a,
.pager li a:hover,
.pager li span,
.ajaxCart .productAddedToCartWindowCheckout,
.miniProductDetailsView .add-to-cart,
.quick-view-button:hover,
.nop-jcarousel .carousel-title:before,
.nop-jcarousel .carousel-title span,
.products-carousel .item-info .button,
.categories-carousel .item-holder:hover .jcarousel-product-title a,
.nivo-control.active,
.nivo-control:hover,
.ui-slider-range,
.nopAjaxFilters7Spikes .close-filters,
.filter-block .title,
.mega-menu .title:before,
.forums-header,
.forum-breadcrumb,
.ui-datepicker-calendar td a:hover,
.ropc .complete-button button {
    background-color: @color;
}

.external-authentication .title {
    background: @color;
}

/* text */

.footer-powered-by a,
.footer-designed-by a,
.block .view-all a:hover,
.home-page .poll strong,
.breadcrumb strong,
.item-box .actual-price,
.email-a-friend-button,
.product-review-item .review-title,
.wishlist-page .share-info a,
.topic-block-title h2,
.post-title,
.news-title,
.blog-details a,
.comment-title,
.news-list-homepage .view-all a,
.mini-shopping-cart .count a,
.header-menu > ul > li:hover > a,
.header-menu > ul > li:hover > span,
.compare-products-page .clear-list:hover,
.year li a:hover,
.block .tags li a:hover,
.product-tags-all-page li a:hover,
.quickViewWindow .moreInfoHover,
.products-carousel .actual-price,
.priceRangeCurrentPricesPanel span,
.filtersGroupPanel li.checkbox-item label:hover,
.filtersGroupPanel li.checkbox-item.checked label,
.forum-search-box .advanced a:hover,
.forums-table-section a:hover,
.product-specs-box a,
.free-shipping {
    color: @color;
}

/* border */

.plus-button,
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content,
.block .list a:before,
.product-selectors,
.item-box .product-item,
.item-box .title a,
.ui-tabs .ui-tabs-panel,
.registration-page .buttons,
.address-item .title,
.order-item .title,
.address-item .info,
.order-item .info,
.return-request-list-page .section,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-state-active.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li a:hover,
.header-links li:hover > a,
.mini-shopping-cart .count,
.header-menu > ul > li > .sublist,
.product-grid .item-box:hover,
.search-page .item-box:hover,
.item-box .hover-content,
.product-tag-page .product-list .item-box .product-item,
.category-page .product-list .item-box .product-item,
.pager li a:hover,
.pager li span,
.ajax-cart-button-wrapper input[type="text"],
.products-carousel .item-info .button,
.categories-carousel .item-holder .jcarousel-product-title a,
.categories-carousel .item-holder:hover .thumb-img,
.categories-carousel .jcarousel-product-title a,
.instantSearch .k-list-container,
.filter-block .title,
.filtersGroupPanel,
.mega-menu .title {
    border-color: @color;
}

.external-authentication .title:after {
    border-color: @color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/* outline */

.overview .qty-input,
.variant-overview .qty-input {
    outline-color: @color;
}

/* triangle */

.checkout-page .section .title strong:after,
.fieldset .title strong:after,
.block .listbox:before,
.product-grid .title strong:after,
.news-list-homepage .title strong:after,
.login-page .title strong:after,
.sitemap-page .entity-title h2:after,
.nop-jcarousel .carousel-title span:after,
.nop-jcarousel .jcarousel-container-vertical:before,
.filter-block .title:before {
    border-color: @color transparent transparent;
}

@media all and (max-width: 980px) {

    .item-box .add-to-compare-list-button,
    .item-box .title a {
        background-color: @color;
    }

    .header-menu > ul li > a,
    .header-menu > ul li > span {
        border-color: @color;
    }
}
