﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/********* START BUTTON *********/


.quick-view-button {
    position: static !important;
    z-index: 2;
    float: left;
    height: 40px;
    padding: 12px 0 12px 40px;
    border: 0;
    border-radius: 0;
    background-color: #999;
    background-image: url(images/btn-quickview.png);
    background-position: left center;
    background-repeat: no-repeat;
    border-right: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.quick-view-button:hover {
	padding: 12px 12px 12px 40px;
	background-color: #a12;
	width: auto;
}
.quick-view-button a {
	color: #fff;
	font-size: 0;
	font-weight: normal;
	padding: 0;
}
.quick-view-button:hover a {
	font-size: 14px;
}


/********** KENDO SETTINGS *********/


.quickView .k-window-titlebar.k-header .k-window-actions {
	top: 26px;
	right: 26px;
    width: 21px;
    height: 21px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
	width: 20px;
	height: 20px;
}


/********** GALLERY & OVERVIEW *********/


.quickViewWindow .gallery .picture:before {
	display: none;
}
.quickViewWindow #wrap {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.quickViewWindow .gallery .picture a {
    height: auto;
}
.quickViewWindow .gallery .picture img {
    position: static;
    width: 100%;
}
.quickView #cloudZoomImage {
    position: static !important;
    width: 100%;
}

.quickViewWindow #accordion .ui-icon-circle-arrow-s {
    background: url('images/minus.png') center no-repeat;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-e {
    background: url('images/plus.png') center no-repeat;
}
.quickViewWindow #accordion .product-details {
	border-color: #fff #ddd #ddd;
	box-shadow: none;
}
.quickViewWindow .overview .left,
.quickViewWindow .overview .right {
	max-width: 50%;
}
.quickViewWindow .overview .left input[type="button"] {
	width: 180px;
	min-width: 0;
	white-space: normal;
}
.quickViewWindow .overview .right input[type="button"] {
	width: 190px;
	min-width: 0;
	white-space: normal;
}
.quickViewWindow .rental-attributes {
	margin: 0 0 10px !important;
	padding: 15px 0 !important;
}
.quickViewWindow .rental-attributes dt {
	clear: none !important;
	width: 80px !important;
	margin: 0 !important;
}
.quickViewWindow .rental-attributes dd {
	margin: 0 10px 0 0 !important;
}
.quickViewWindow .rental-attributes .datepicker {
	width: 90px;
	background: #fff;
}
.quickViewWindow .free-shipping {
	float: none;
}
.quickViewWindow .variant-picture {
	border: none;
}
.quickViewWindow .moreInfoHover {
	background: rgba(255, 255, 255, 0.6);
	font-size: 11px;
	color: #a12;
}
.quickViewWindow .variant-info .product-price,
.quickViewWindow .variant-info .tax-shipping-info a {
	color: #fff;
}
.quickViewWindow .product-essential > form > div{
    overflow:hidden;
}

/********** RELATED/ALSO-PURCHASED PRODUCTS *********/


.quickViewWindow .product-grid {
	background: none;
	padding: 0 5px;
    text-align:center;
}
.quickViewWindow .product-grid .title {
	font-size: 24px;
}
.quickViewWindow .product-grid .item-box {
    width: 145px !important;
    margin: 0 5px 10px;
    float:none;
    display:inline-block;
    vertical-align:top;
}
.quickViewWindow .product-grid .item-box .picture,
.quickViewWindow .product-grid .item-box .picture a {
	width: 100%;
	height: 100%;
}

.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    font-size: 12px;
}

.quickViewWindow .item-box .product-rating-box,
.quickViewWindow .item-box .hover-content {
    display: none !important;
}

/********* GIFTCARD *********/

.quickView .giftcard input[type=text],
.quickView .giftcard textarea {
    width: 248px;
}



/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media all and (max-width: 980px) and (min-width: 769px) {

    .quickViewWindow .overview #accordion > h3 {
        line-height: 24px;
    }
	.quickViewWindow .overview .qty-input,
	.quickViewWindow .variant-overview .qty-input {
		height: 36px;
	}
	.quickViewWindow .overview .add-to-cart-button,
	.quickViewWindow .variant-overview .add-to-cart-button {
		height: 36px;
	}  

}