.jcarousel-skin-thumbs {
    width: 90px;
}
.jcarousel-skin-thumbs .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-thumbs .jcarousel-container-vertical {
    margin: 30px 0;
}

.jcarousel-skin-thumbs .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-thumbs .jcarousel-clip-vertical {
    width: 100%;
}

.jcarousel-skin-thumbs .jcarousel-item {
    width: 90px;
    height: 120px;
}
    .gallery .picture-thumbs .jcarousel-item a {
        margin: 0 !important;
        height:100%;
    }

/**
 *  Vertical Buttons
 */
.jcarousel-skin-thumbs .jcarousel-prev-vertical {
    position: absolute;
    top: -30px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background: #fff url("images/prev.png") no-repeat center;
    border:1px solid #eee
}

.jcarousel-skin-thumbs .jcarousel-next-vertical {
    background: #fff url("images/next.png") no-repeat center;
    position: absolute;
    width: 90px;
    height: 30px;
    cursor: pointer;
    bottom: -30px;
    border:1px solid #eee
}
/**
 *  Vertical Buttons
 
.jcarousel-prev.jcarousel-prev-vertical {
    border:1px solid #eee;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    background:url(images/prev.png) no-repeat center #fff;
    cursor:pointer;
}
.jcarousel-next.jcarousel-next-vertical {
    border:1px solid #eee;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background:url(images/next.png) no-repeat center #fff;
    cursor:pointer;
}


.jcarousel-skin-thumbs .jcarousel-prev-horizontal, .jcarousel-skin-thumbs .jcarousel-next-horizontal {
    margin:0;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 22px;
    margin-top: -11px;
    cursor: pointer;
}
.jcarousel-skin-thumbs .jcarousel-prev-horizontal {
    left: 3px;
    background: #fff url(images/prev-horizontal.png) no-repeat center 0;
}

.jcarousel-skin-thumbs .jcarousel-next-horizontal {
    right: 3px;
    background: #fff url(images/next-horizontal.png) no-repeat center 0;
}*/