﻿@model ForumGroupModel
@using Nop.Services.Forums;
@using Nop.Services.Seo;
@using Nop.Web.Models.Boards;
<div class="forumgroup">
    <div class="grouptitle">
        @Html.RouteLink(Model.Name, "ForumGroupSlug", new { id = Model.Id, slug = Model.SeName })
    </div>
    <table class="groups">
        <tr class="groupheader">
            <td class="forumname" colspan="2">
                <div>@T("Forum.Forum")</div>
            </td>
            <td class="topics">
                <div>@T("Forum.Topics")</div>
            </td>
            <td class="posts">
                <div>@T("Forum.Posts")</div>
            </td>
            <td class="lastpost">
                <div>@T("Forum.LatestPost")</div>
            </td>
        </tr>
        @foreach (var forum in Model.Forums)
        {
            <tr class="forum">
                <td class="image">
                    <div />
                </td>
                <td class="forumname">
                    <span class="forumtitle">
                        @Html.RouteLink(@forum.Name, "ForumSlug", new { id = @forum.Id, slug = @forum.SeName })
                    </span>
                    <br />
                    <span class="forumdescription">@forum.Description
                    </span>
                </td>
                <td class="topics">@forum.NumTopics
                </td>
                <td class="posts">@forum.NumPosts
                </td>
                <td class="lastpost">
                    @Html.Action("LastPost", new { forumPostId = @forum.LastPostId, showTopic = true })
                </td>
            </tr>            
        }
    </table>
</div>
