﻿<div class="forumsearchbox">    
    @using (Html.BeginRouteForm("Search", FormMethod.Get))
    {
        var searchText = T("Forum.SearchForumsTooltip");
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    @Html.TextBox("searchterms", searchText, new { onclick = String.Format("if(this.value=='{0}')this.value=''", searchText), onblur = String.Format("if(this.value=='')this.value='{0}';", searchText) })
                </td>
                <td>
                    <input type="submit" value="" class="searchboxbutton" />
                </td>
            </tr>
        </table>
        <br />
        @Html.RouteLink(@T("Forum.AdvancedSearch").Text, "Search", new { adv = true }, new { title = @T("Forum.AdvancedSearch").Text })
    }
</div>
