﻿@model BoardsIndexModel
@using Nop.Core.Infrastructure;
@using Nop.Services.Helpers;
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.Default").Text);
}
<div class="forumsmain">
    <div class="generic-con">
        <div class="generic-con-left">
            @Html.Action("TopicBlock", "Topic", new { systemName = "ForumWelcomeMessage" })
            <div class="currenttime">
                @Model.CurrentTime.ToString("F")
            </div>
        </div>
        <div class="generic-con-right">
            <div class="padding-top-bottom">
                @Html.Partial("_SearchBox")
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
    @foreach (var forumGroup in Model.ForumGroups)
    {
        Html.RenderPartial("_ForumGroup", forumGroup);
    }
    <div class="clear">
    </div>
    @Html.Action("ActiveDiscussionsSmall")
</div>
