﻿/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/



.responsive-nav-wrapper .filters-button {
	display: inline-block;
}
/*hide default filters when ajaxfilters are on*/
.product-filters {
    display: none;
}

/* GLOBAL */

.filtersTitlePanel {
	display: none;
}
.clearFilterOptionsAll {
	float: right;
	cursor: pointer;
}
.filtersPanel:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.filter-block,
.filter-block .title {
	position: relative;
	margin: 0;
}
.filtersGroupPanel {
	color: #000;
	background: #fff;
}

/* SEARCH CRITERIA */

.selected-options-list > li {
	padding: 10px;
	text-align: left;
	font-size: 15px;
    line-height: 1.3;
	color: #000;
    overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.selected-options-list > li label{
    display: block;
    margin-bottom: 5px;
}
.selected-options-list > li span {
	display: block;
    float: left;
    padding: 9px 20px 9px 3px;
    margin: 0 6px 0 0;
    background: url(images/clear.png) top 13.5px right 4px no-repeat;
	vertical-align: middle;
	color: #a12;
	cursor: pointer;
}

/* PRICE RANGE SLIDER */

.priceRangeFilterPanel7Spikes .filtersGroupPanel {
	padding: 10px 15px;
}
.priceRangeMinMaxPanel {
	overflow: hidden;
	margin: 0 0 20px;
	font-size: 15px;
}
.priceRangeMinPanel {
	float: left;
}
.priceRangeMaxPanel {
	float: right;
}

.ui-slider {
	position: relative;
	width: auto;
	height: 6px;
	margin: 0 12px 20px;   
	background: #ececec;
}
.ui-slider-range {
	height: 6px;
	background: #a12;
	position: absolute;
}
.ui-slider-handle {
	position: absolute;
	top: -13px;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	border: 1px solid #bbb;
	outline: 3px solid #fff !important;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: none !important;
	transition: none !important;
}
.ui-slider-handle:nth-child(2) {
	background-image: url(images/arrow-filters-left.png);
}
.ui-slider-handle:nth-child(3) {
	background-image: url(images/arrow-filters-right.png);
}

.priceRangeCurrentPricesPanel {
	overflow: hidden;
}
.priceRangeCurrentPricesPanel span {
	color: #aa1122;
	font-size: 15px;
}
.priceRangeCurrentPricesPanel .currentMinPrice {
	float: left;
}
.priceRangeCurrentPricesPanel .currentMaxPrice {
	float: right;
}

/* CHECKBOX MODE */

.filtersGroupPanel ul:after {
	content: "";
	display: block;
	clear: both;
}
.filtersGroupPanel li.checkbox-item {
	position: relative;
}
.filtersGroupPanel li.checkbox-item input {
	position: absolute;
	opacity: 0;
}
.filtersGroupPanel li.checkbox-item label {
	display: block;
	position: relative;
	padding: 9px 10px 9px 42px;
	line-height: 1.3;
	text-align: left;
	font-size: 15px;
	color: #000;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.filtersGroupPanel li.checkbox-item label:before {
	content: "";
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	position: absolute;
	top: 50%;
	left: 15px;
	margin: -8px 0 0;
}
.filtersGroupPanel li.checkbox-item label:hover,
.filtersGroupPanel li.checkbox-item.checked label {
	background-color: #eee;
	color: #a12;
}
.filtersGroupPanel li.checkbox-item.checked label:before {
	background:url('../../../images/selected.png') no-repeat center;
}
.filtersGroupPanel li.checkbox-item.disabled label {
	color: #999;
	cursor: default;
	opacity: 0.4;
}
.filtersGroupPanel li.checkbox-item.disabled label:hover {
	color: #999;
}

/* COLOR SQUARES */

.colorOptions .color {
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -10px;
	right: 15px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	border: 1px solid #c9c9c9;
	font-size: 0;
}
.colorOptions .disabled .color {
	opacity: 0.4;
}
.colorOptions .defaultColor {
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
	background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}

/* DROPDOWN MODE */

.filtersDropDownPanel {
	padding: 20px;
}
.filtersDropDownPanel .select-wrap {
    position: relative;
}
.filtersDropDownPanel .select-wrap select {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	opacity: 0;
}
.filtersDropDownPanel .select-wrap .select-box {
	display: block;
	position: relative;
	min-width: 100px;
	border: 1px solid #ccc;
	padding: 7px 32px 7px 12px;
	font-size: 14px;
	color: #333;
	text-align: left;
	cursor: pointer;
}
.filtersDropDownPanel .select-wrap .select-box:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 100%;
	background: #eee url('images/arrow-down-black.png') no-repeat center;
}
.filtersDropDownPanel.disabled .select-wrap .select-box {
	color: #999;
	opacity: 0.4;
}

/* AJAX LOADER */

.productPanelAjaxBusy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
	filter: Alpha(opacity = 70);
	opacity: 0.7;
	z-index: 2;
}
.infinite-scroll-loader {
    display: none;
    height: 100px;
    background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
    font-size: 0;
    filter: Alpha(opacity = 70);
    opacity: 0.7;
    z-index: 2;
    clear: both;
}

/* NO RESULTS POPUP */

.ajaxFilters.k-window {
	position: absolute;
	z-index: 10001;
	height: auto !important;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #ccc;
	background: #fff;
	padding: 1px !important;
}
.ajaxFilters .k-window-titlebar {
	margin: 0 !important;
	border-bottom: 1px solid #bbb;
	background: #ddd;
	padding: 8px;
}
.ajaxFilters .k-window-titlebar span {
	font-size: 16px;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
}
.ajaxFilters .k-window-actions {
	position: absolute;
	top: 10px;
	right: 10px;
}
.ajaxFilters .k-window-actions a {
	display: block;
}
.ajaxFilters .k-window-actions .k-icon {
	display: block;
	height: 16px;
	width: 16px;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px #999 inset;
	background: #333 url('../../../images/button-close-hover.png') no-repeat center;
	font-size: 0;
}
.ajaxFilters .k-window-actions .k-icon:hover {
	background: #fff url('../../../images/button-close.png') no-repeat center;
}
.ajaxFilters .k-window-content {
	min-height: inherit !important;
	min-width: inherit !important;
	padding: 15px;
	line-height: 18px;
	color: #555;
}



@media all and (max-width: 980px) {

.nopAjaxFilters7Spikes {
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
    height: 100%;
    text-align: left;
    background: #333 !important;
    overflow: hidden;
    z-index: 2147483647;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
   }
.notAndroid23 .nopAjaxFilters7Spikes{
	-webkit-transform: translate(-320px);
	-ms-transform: translate(-320px);
	transform: translate(-320px);
}
.android23 .nopAjaxFilters7Spikes{
	left: -320px;
}
.nopAjaxFilters7Spikes.open {
	box-shadow: 1px 0 5px rgba(0,0,0,0.5);
}
.notAndroid23 .nopAjaxFilters7Spikes.open{
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}
.android23 .nopAjaxFilters7Spikes.open{
	left: 0;
}

.nopAjaxFilters7Spikes .close-filters {
	background: #a12;
	cursor: pointer;
}
.nopAjaxFilters7Spikes .close-filters span {
	position: relative;
	display: block;
	padding: 15px 20px;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	text-align: right;
	border-bottom: 1px solid #ccc;
}
.nopAjaxFilters7Spikes .close-filters span:before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 10px;
	margin: -16px 0 0;
	background: #fff url(images/mobile-menu-close.png) no-repeat center;
	border-radius: 50%;
}

/* Filter block */

.filter-block {
	width: 100% !important;
}
.filter-block .title {
	background: #fff;
	border-bottom: 1px solid #a12;
}
.filter-block a.toggleControl {
	display: block;
	padding: 12px 42px 12px 15px;
	cursor: pointer;
	font-size: 16px;
	color: #333;
	text-align: left;
	background-image: url(images/mobile-arrow-black.png);
	background-position: 290px center;
	background-repeat: no-repeat;
}
.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
	position: absolute;
	top: 50%;
	right: 7px;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	border: 1px solid #bbb;
	background: #fff url(images/clear.png) center no-repeat;
	cursor: pointer;
	text-indent: -9999px;
}

.filtersGroupPanel {
	border-bottom: 1px solid #a12;
}

}



/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 981px) {

.filters-button,
.close-filters {
	display: none;
}

.filter-block {
	margin: 0 auto 20px;
}

.filter-block .title {
	display: block;
	font-weight: normal;
	font-size: 17px;
	background: #a12;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	margin: 0 0 9px;
	text-align: center;
}
.filter-block .title:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -27px;
	border-style: solid dashed dashed;
	border-width: 8px 27px 0 27px;
	border-color: #aa1122 transparent transparent;
}

.filter-block a.toggleControl {
	padding: 13px 25px;
	display: block;
	text-transform: uppercase;
}
.filter-block a.clearFilterOptions, 
.filter-block a.clearPriceRangeFilter {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 26px;
	height: 26px;
	margin-top: -13px;
	background: #fff url('images/clear.png') center no-repeat;
	cursor: pointer;
	text-indent: -9999px;
}
.filtersGroupPanel {
	display: block;
	position: relative;
	z-index: 2;
}

.ui-slider {
	margin: 0 3px 20px;
}

.selected-options-list > li span {
    padding: 5px 20px 5px 3px;
    margin: 0 6px 0 0;
    background-position: top 9.5px right 4px;
}
.selected-options-list > li span:hover {
    text-decoration: underline;
}

.filtersGroupPanel li.checkbox-item label {
	line-height: normal;
}
.filtersGroupPanel li.checkbox-item:last-child label {
	border: 0;
}

.number-of-returned-products.active {
    display: block;
    float: right;
    line-height: 32px;
}

.filtersDropDownPanel {
	padding: 10px;
}

}