﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/img/logo.png";

    var nitroLogo = @Html.Widget("nitro_logo");
}
<div class="header">
    <div class="header-centering">
        @Html.Widget("header")
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")" class="logo">
                @if (!MvcHtmlString.IsNullOrEmpty(nitroLogo))
                {
                    @nitroLogo
                }
                else
                {
                    string storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                }
            </a>
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            <div class="header-selectors-wrapper">

                    @Html.Action("TaxTypeSelector", "Common")

                    @Html.Action("CurrencySelector", "Common")

                    @Html.Action("LanguageSelector", "Common")

                @Html.Widget("header_selectors")
            </div>
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>