﻿@model OrderDetailsModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Order;
@using Nop.Services.Localization;
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
}
<div class="order-details">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <div class="title">
                <h1>@T("Order.OrderInformation")</h1>
            </div>
            <div class="print-buttons">
                <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="generic-button generic-fixed-width-button gradient-color">@T("Order.Print")</a>
                            @if (Model.DisplayPdfInvoice)
                            {
                                <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="generic-button generic-fixed-width-button gradient-color">@T("Order.GetPDFInvoice")</a>
                            }
            </div>
        </div>
        <div class="clear">
        </div>
    }
    <div class="info">
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "orderdetails_page_top" })
        <div class="order-overview">
            <table class="order-overview-table">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <b>
                                @T("Order.Order#")@Model.Id
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @T("Order.OrderDate"): @Model.CreatedOn.ToString("D")
                        </td>
                        <td class="order-total-top">
                            @T("Order.OrderTotal"): @Model.OrderTotal
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @T("Order.OrderStatus"): @Model.OrderStatus
                        </td>
                    </tr>
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "orderdetails_page_overview" })
                </tbody>
            </table>
        </div>
        <div class="clear">
        </div>
        <div class="order-details-box">
            <table class="order-details-table">
                <tbody>
                    <tr>
                        <td class="billinginfo">
                            <b>
                                @T("Order.BillingAddress")</b>
                            <br />
                            @Model.BillingAddress.FirstName @Model.BillingAddress.LastName<br />
                            <div>
                                @T("Order.Email"): @Model.BillingAddress.Email</div>
                            <div>
                                @T("Order.Phone"): @Model.BillingAddress.PhoneNumber</div>
                            <div>
                                @T("Order.Fax"): @Model.BillingAddress.FaxNumber</div>
                            @if (!String.IsNullOrEmpty(Model.BillingAddress.Company))
                            {
                                <div>
                                    @Model.BillingAddress.Company
                                </div>
                            }
                            <div>
                                @Model.BillingAddress.Address1</div>
                            @if (!String.IsNullOrEmpty(Model.BillingAddress.Address2))
                            {
                                <div>
                                    @Model.BillingAddress.Address2
                                </div>
                            }
                            <div>
                                @Model.BillingAddress.City, @Model.BillingAddress.StateProvinceName @Model.BillingAddress.ZipPostalCode</div>
                            @if (!String.IsNullOrEmpty(Model.BillingAddress.CountryName))
                            {
                                <div>
                                    @Model.BillingAddress.CountryName
                                </div>
                            }
                            <br />
                            @if (!String.IsNullOrEmpty(Model.VatNumber))
                            {
                                <b>@T("Order.VATNumber")</b> <br />
                                @Model.VatNumber
                                <br />
                                <br />
                            }
                            @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                            {
                                <b>@T("Order.PaymentMethod")</b>
                                <br />
                                @Model.PaymentMethod
                                
                                if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                {
@*Completing payment support (for redirection payment methods*@
                                <br />
                                    using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                    {
                                <input type="submit" name="repost-payment" value="@T("Order.CompletePayment")" id="repost-payment" class="reorderbutton" />
                                <br />
                                <i>@T("Order.CompletePayment.Hint")</i>
                                    }
                                }
                            }
                            @if (Model.DisplayPurchaseOrderNumber)
                            {
                                <br />
                                <b>@T("Order.PurchaseOrderNumber")</b>
                                <br />
                                @Model.PurchaseOrderNumber
                            }
                        </td>
                        @if (Model.IsShippable)
                        {
                            <td class="shippinginfo">
                                <b>
                                    @T("Order.ShippingAddress")</b>
                                <br />
                                @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName<br />
                                <div>
                                    @T("Order.Email"): @Model.ShippingAddress.Email</div>
                                <div>
                                    @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber</div>
                                <div>
                                    @T("Order.Fax"): @Model.ShippingAddress.FaxNumber</div>
                                @if (!String.IsNullOrEmpty(Model.ShippingAddress.Company))
                                {
                                    <div>
                                        @Model.ShippingAddress.Company
                                    </div>
                                }
                                <div>
                                    @Model.ShippingAddress.Address1</div>
                                @if (!String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                {
                                    <div>
                                        @Model.ShippingAddress.Address2
                                    </div>
                                }
                                <div>
                                    @Model.ShippingAddress.City, @Model.ShippingAddress.StateProvinceName @Model.ShippingAddress.ZipPostalCode</div>
                                @if (!String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                                {
                                    <div>
                                        @Model.ShippingAddress.CountryName
                                    </div>
                                }
                                <br />
                                <br />
                                <b>
                                    @T("Order.ShippingMethod")</b>
                                <br />
                                @Model.ShippingMethod
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear">
        </div>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "orderdetails_page_beforeproducts" })
        @if (Model.Items.Count > 0)
        {
            <div class="section-title">
                @T("Order.Product(s)")</div>
            <div class="clear">
            </div>
            <div class="products-box">
                <table class="data-table">
                    @if (Model.ShowSku)
                    {
                        <col width="1" />
                    }
                    <col />
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr>
                            @if (Model.ShowSku)
                            {
                                <th class="a-center">
                                    @T("Order.Product(s).SKU")
                                </th>
                            }
                            <th class="a-center">
                                @T("Order.Product(s).Name")
                            </th>
                            <th class="a-center">
                                @T("Order.Product(s).Price")
                            </th>
                            <th class="a-center">
                                @T("Order.Product(s).Quantity")
                            </th>
                            <th class="a-center">
                                @T("Order.Product(s).Total")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                @if (Model.ShowSku)
                                {
                                    <td class="a-left">
                                        @item.Sku
                                    </td>
                                }
                                <td class="a-left">
                                    @if (!Model.PrintMode)
                                    {
                                        <em><a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })" title="View details">@item.ProductName</a></em>
                                    }
                                    else
                                    {
                                        @item.ProductName
                                    }
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <br />
                                        @Html.Raw(item.AttributeInfo)
                                    }
                                </td>
                                <td class="a-right">
                                    @item.UnitPrice
                                </td>
                                <td class="a-center">
                                    @item.Quantity
                                </td>
                                <td class="a-right">
                                    @item.SubTotal
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="clear">
                </div>
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                    <div class="clear">
                    </div>
                }
                @if (!Model.PrintMode)
                {
                    <br />
@*Reorder support*@
                    if (Model.IsReOrderAllowed)
                    {
                    <input type="button" name="reorder" value="@T("Order.Reorder")" id="reorder" class="generic-button generic-fixed-width-button gradient-color" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = @Model.Id })')" />
                    }
                    if (Model.IsReturnRequestAllowed)
                    {
                    <text>&nbsp; &nbsp; &nbsp;</text>
                    <input type="button" name="returnitems" value="@T("Order.ReturnItems")" id="returnitems" class="generic-button generic-fixed-width-button gradient-color" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = @Model.Id })')" />
                    }
                }
            </div>
            <div class="clear">
            </div>
        }
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "orderdetails_page_afterproducts" })
        <div class="total-info">
            <table class="cart-total">
                <tbody>
                    <tr>
                        <td class="cart_total_left">
                            <b>
                                @T("Order.SubTotal"):</b>
                        </td>
                        <td class="cart_total_right">
                            <span class="nobr">
                                @Model.OrderSubtotal
                            </span>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                    {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @T("Order.SubTotalDiscount"):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @Model.OrderSubTotalDiscount
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.IsShippable)
                    {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @T("Order.Shipping"):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @Model.OrderShipping
                                </span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                    {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @T("Order.PaymentMethodAdditionalFee"):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @Model.PaymentMethodAdditionalFee
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                    {
                        foreach (var taxRate in Model.TaxRates)
                        {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @taxRate.Value
                                </span>
                            </td>
                        </tr>
                        }
                    }
                    @if (Model.DisplayTax)
                    {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @T("Order.Tax"):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @Model.Tax
                                </span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                    {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @T("Order.TotalDiscount"):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @Model.OrderTotalDiscount
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.GiftCards.Count > 0)
                    {
                        foreach (var gc in Model.GiftCards)
                        {
                        <tr>
                            <td class="cart_total_left">
                                <b>
                                    @string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @gc.Amount
                                </span>
                            </td>
                        </tr>
                        }
                    }
                    @if (Model.RedeemedRewardPoints > 0)
                    {
                        <tr>
                            <td class="cart_total_left">
                                <b>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</b>
                            </td>
                            <td class="cart_total_right">
                                <span class="nobr">
                                    @Model.RedeemedRewardPointsAmount
                                </span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="cart_total_left">
                            <b>
                                @T("Order.OrderTotal"):</b>
                        </td>
                        <td class="cart_total_right">
                            <b><span class="nobr">
                                @Model.OrderTotal
                            </span></b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear">
        </div>
        @if (!Model.PrintMode)
        {
            if (Model.Shipments.Count > 0)
            {
            <div class="section-title">
                @T("Order.Shipments")
            </div>
            <div class="clear">
            </div>
            <div class="shipments-box">
                <table class="data-table">
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th class="a-center">
                                @T("Order.Shipments.ID")
                            </th>
                            <th class="a-center">
                                @T("Order.Shipments.TrackingNumber")
                            </th>
                            <th class="a-center">
                                @T("Order.Shipments.ShippedDate")
                            </th>
                            <th class="a-center">
                                @T("Order.Shipments.DeliveryDate")
                            </th>
                            <th class="a-center">
                                @T("Order.Shipments.ViewDetails")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Shipments)
                        {
                            <tr>
                                <td class="a-left">
                                    @item.Id.ToString()
                                </td>
                                <td class="a-left">
                                    @item.TrackingNumber
                                </td>
                                <td class="a-left">
                                    @if (item.ShippedDate.HasValue)
                                    {
                                        @item.ShippedDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.ShippedDate.NotYet")
                                    }
                                </td>
                                <td class="a-left">
                                    @if (item.DeliveryDate.HasValue)
                                    {
                                        @item.DeliveryDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.DeliveryDate.NotYet")
                                    }
                                </td>
                                <td class="a-center">
                                    <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        }
        <div class="clear">
        </div>
        @if (!Model.PrintMode)
        {
            if (Model.OrderNotes.Count > 0)
            {
            <div class="section-title">
                @T("Order.Notes")
            </div>
            <div class="clear">
            </div>
            <div class="ordernotes-box">
                    <table class="data-table">
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th class="a-center">
                                @T("Order.Notes.CreatedOn")
                            </th>
                            <th class="a-center">
                                @T("Order.Notes.Note")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderNotes)
                        {
                            <tr>
                                <td class="a-left">
                                    @item.CreatedOn.ToString()
                                </td>
                                <td class="a-left">
                                    @Html.Raw(item.Note)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        }        
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "orderdetails_page_bottom" })
    </div>
</div>
