﻿@using MrCMS.Helpers
@using MrCMS.Models
@model MrCMS.Entities.Multisite.Site
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Add", "Sites", FormMethod.Post))
{
    <fieldset>
        <legend>
            @Resource("Admin Add Site", "Add site")
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="@Resource("Save")" />
            </span>
        </legend>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.BaseUrl)
                    @Html.TextBoxFor(x => x.BaseUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BaseUrl)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @{ Html.RenderPartial("CopyOptions", new ViewDataDictionary(new SiteCopyOptions()) { { "other-sites", ViewData["other-sites"] } });}
            </div>
        </div>
    </fieldset>
}
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/add-site.js");}