﻿@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";

    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")

    @{
        if (isHomePage)
        {
            var homePageMainSliderHtml = Html.Widget("home_page_main_slider");
            
            if (!MvcHtmlString.IsNullOrEmpty(homePageMainSliderHtml))
            {
                <div class="home-page-main-slider">
                    @homePageMainSliderHtml

                    @Html.Widget("home_page_search_widget")
                </div>
            }
            else
            {
                 @Html.Widget("home_page_search_widget")
            }
        }

        var categoriesBannerHtml = Html.Widget("categories-banner");

        if (!MvcHtmlString.IsNullOrEmpty(categoriesBannerHtml))
        {
            <div class="categories-banner">
                @categoriesBannerHtml
            </div>
        }
    }

    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image"></div>
        </div>

        @if (IsSectionDefined("breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }

        <div class="master-column-wrapper">
            @RenderBody()
        </div>

        @if (isHomePage)
        {
            @Html.Widget("home_page_before_news")
            @Html.Action("HomePageNews", "News")

            <div class="news-carousel">
                @Html.Widget("homepage_after_news")
            </div>
            <div class="home-page-bottom-banners">
                <div class="left">@Html.Widget("home_page_bottom_left_slider")</div>
                <div class="right">@Html.Widget("home_page_bottom_right_slider")</div>
            </div>
        }

        @Html.Widget("content_after")
    </div>
</div>
@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")