﻿@using Nop.Core.Infrastructure
@using Nop.Core.Domain.Catalog

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    var storeId = EngineContext.Current.Resolve<Nop.Core.IStoreContext>().CurrentStore.Id;
    var isHomePageQuickTabsEnabled = EngineContext.Current.Resolve<Nop.Services.Configuration.ISettingService>().GetSettingByKey("tractionthemesettings.enableproductgridstabsonhomepage", false, storeId, true);

    if (isHomePageQuickTabsEnabled)
    {
        Html.AddScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    }
}

@Html.Widget("home_page_search_widget")

<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")

        @{
            var homePageProducts = Html.Action("HomepageProducts", "Product");
            var homePageBestsellers = Html.Action("HomepageBestSellers", "Product");
            var homePageNewProducts = Html.Widget("home_page_new_products");
        }

        @if (isHomePageQuickTabsEnabled)
        {
        <div id="homePageQuickTabs" class="productTabs">
            <div class="productTabs-header">
                <ul>
                    @if (!MvcHtmlString.IsNullOrEmpty(homePageProducts))
                    {
                        <li><a href="#quickTab-homepage-products">@T("HomePage.Products")</a></li>
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(homePageBestsellers))
                    {
                    <li><a href="#quickTab-homepage-bestsellers">@T("Bestsellers")</a></li>
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(homePageNewProducts))
                    {
                    <li><a href="#quickTab-homepage-newproducts">@T("Products.NewProducts")</a></li>
                    }
                </ul>
            </div>
            <div class="productTabs-body">
                @if (!MvcHtmlString.IsNullOrEmpty(homePageProducts))
                {
                <div id="quickTab-homepage-products">
                    @Html.Raw(homePageProducts)
                </div>
                }
                @if (!MvcHtmlString.IsNullOrEmpty(homePageBestsellers))
                {
                <div id="quickTab-homepage-bestsellers">
                    @Html.Raw(homePageBestsellers)
                </div>
                }
                @if (!MvcHtmlString.IsNullOrEmpty(homePageNewProducts))
                {
                <div id="quickTab-homepage-newproducts">
                    @Html.Raw(homePageNewProducts)
                </div>
                }
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function ($) {
                $("#homePageQuickTabs").tabs();
            });
        </script>
        }
        else
        {
            @Html.Widget("home_page_before_products")
            @homePageProducts
            @Html.Widget("home_page_before_best_sellers")
            @homePageBestsellers
            @homePageNewProducts
        }

        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
        <div class="home-page-banner">
            @Html.Widget("home_page_bottom_banner")
        </div>
        @Html.Widget("home_page_manufacturers")
    </div>
</div>
