﻿@model ShoppingCartModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
<div class="master-wrapper-center-2">
    <div class="master-wrapper-cph-2">
        <div class="shoppingcart-page">
            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
            @*<div class="page-title">
                <h1>@T("ShoppingCart")</h1>
            </div>*@
            <div class="clear">
            </div>
            <div class="body">
                @Html.Partial("OrderSummary", Model)
            </div>
        </div>
    </div>
</div>
<div class="master-wrapper-side-2">
    @if (Model.IsEditable)
    {
        if (Model.DiscountBox.Display)
        {
            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
            {
                <div class="block block-discount">
                    <div class="title">
                        @T("ShoppingCart.DiscountCouponCode")
                    </div>
                    <div class="clear">
                    </div>
                    <div class="listbox">
                        <p>
                            @*@T("ShoppingCart.DiscountCouponCode")<br />*@@T("ShoppingCart.DiscountCouponCode.Tooltip")
                        </p>
                        <input name="discountcouponcode" type="text" id="discountcouponcode" class="discountcouponcode" />&nbsp;
                        <input type="submit" name="applydiscountcouponcode" value="@T("ShoppingCart.DiscountCouponCode.Button")" id="applydiscountcouponcode" class="generic-button generic-large-button gradient-color" />
                        @if (!String.IsNullOrEmpty(Model.DiscountBox.Message))
                        {
                            <div class="clear">
                            </div>
                            <div class="message-error">
                                @Model.DiscountBox.Message
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(Model.DiscountBox.CurrentCode))
                        {
                            <div class="clear">
                            </div>
                            <div class="current-code">
                                <br />
                                @string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.DiscountBox.CurrentCode)
                                @*empty value (little hack for FormValueExistsAttribute)*@
                                <input id="removediscountcouponcode" type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")" class="generic-button generic-large-button gradient-color" />
                            </div>
                        }
                    </div>
                </div>
                <div class="clear">
                </div>
            }
        }
        if (Model.GiftCardBox.Display)
        {
            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
            {
                <div class="block block-discount">
                    <div class="title">
                        Gift Cards:
                    </div>
                    <div class="clear">
                    </div>
                    <div class="listbox">
                        <p>
                           @* @T("ShoppingCart.GiftCardCouponCode")
                            <br />*@@T("ShoppingCart.GiftCardCouponCode.Tooltip")
                        </p>
                        <input name="giftcardcouponcode" type="text" id="giftcardcouponcode" class="giftcardcouponcode" />&nbsp;
                        <input type="submit" name="applygiftcardcouponcode" value="@T("ShoppingCart.GiftCardCouponCode.Button")" id="applygiftcardcouponcode" class="generic-button generic-large-button gradient-color" />
                        @if (!String.IsNullOrEmpty(Model.GiftCardBox.Message))
                        {
                            <div class="clear">
                            </div>
                            <div class="message-error">
                                @Model.GiftCardBox.Message
                            </div>
                        }
                    </div>
                </div>
                <div class="clear">
                </div>
            }
        }
    }
    <div class="clear">
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "order_summary_content_deals" })
    @Html.Partial("EstimateShipping", Model.EstimateShipping)
</div>
