﻿@model EstimateShippingModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@using Nop.Web.Models.ShoppingCart;
@if (Model.Enabled)
{
    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
    {
        <script type="text/javascript">
                $(function() {
                    $("#@Html.FieldIdFor(model => model.CountryId)").change(function() {
                        var selectedItem = $(this).val();
                        var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                        var estimateProgress = $("#estimate-shipping-loading-progress");
                        estimateProgress.show();                
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                            data: { "countryId": selectedItem, "addEmptyStateIfRequired": "true" },
                            success: function (data) {
                                ddlStates.html('');
                                $.each(data, function(id, option) {
                                    ddlStates.append($('<option></option>').val(option.id).html(option.name));
                                });
                                estimateProgress.hide();
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve states.');
                                estimateProgress.hide();
                            }  
                        });
                    });
                });
        </script>
        <div class="block block-discount">
            <div class="title">
                @T("ShoppingCart.EstimateShipping")
                @*<br />@T("ShoppingCart.EstimateShipping.Tooltip")<br />*@
            </div>
            <div class="clear">
            </div>
            <div class="listbox">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.CountryId):
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, new { @class = "country-input" })
                            @Html.ValidationMessageFor(model => model.CountryId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.StateProvinceId):
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "state-input" })
                            <span id="estimate-shipping-loading-progress" style="display: none;">
                                <img src='@Url.Content("~/Content/Images/ajax_loader_small.gif")' alt="@T("Common.Wait...")" />
                            </span>
                            @Html.ValidationMessageFor(model => model.StateProvinceId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.ZipPostalCode):
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "zip-input" })
                            @Html.ValidationMessageFor(model => model.ZipPostalCode)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="estimateshipping" value="@T("ShoppingCart.EstimateShipping.Button")" id="estimateshipping" class="generic-button generic-large-button gradient-color" />
                        </td>
                    </tr>
                </table>
                @foreach (var shippingOption in Model.ShippingOptions)
                {
                    <p><b>@shippingOption.Name (@shippingOption.Price)</b></p>
                    <p>@Html.Raw(shippingOption.Description)</p>
                }

                @if (Model.Warnings.Count > 0)
                    {
                        <div class="message-error">
                            @for (int i = 0; i < Model.Warnings.Count; i++)
                            {
                                @Model.Warnings[i]
                                if (i != Model.Warnings.Count - 1)
                                {
                                    <br />
                                }
                            }
                        </div>
                    }
            </div>
        </div>
        <div class="clear">
        </div>
    }
}