﻿@model WishlistModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="wishlist-page">
    <div class="page-title">
        <h1>
            @if (Model.IsEditable)
            {
                @T("Wishlist")
            }
            else
            {
                @string.Format(T("Wishlist.WishlistOf").Text, Model.CustomerFullname);
            }
        </h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        <div class="wishlist-content">
            @if (Model.Items.Count > 0)
            {
                if (Model.Warnings.Count > 0)
                {
                <div class="message-error">
                    @for (int i = 0; i < Model.Warnings.Count; i++)
                    {
                        @Model.Warnings[i]
                        if (i != Model.Warnings.Count - 1)
                        {
                        <br />
                        }
                    }
                </div>
                }
                using (Html.BeginRouteForm("Wishlist", FormMethod.Post))
                {
                <table class="cart">
                    @if (Model.IsEditable)
                    {
                        <col width="1" />
                    }
                    @if (Model.DisplayAddToCart)
                    {
                        <col width="1" />
                    }
                    @if (Model.ShowSku)
                    {
                        <col width="1" />
                    }
                    @if (Model.ShowProductImages)
                    {
                        <col width="1" />
                    }
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <thead>
                        <tr class="cart-header-row">
                            @if (Model.IsEditable)
                            {
                                <th class="remove">
                                    <div>@T("ShoppingCart.Remove")</div>
                                </th>
                            }
                            @if (Model.DisplayAddToCart)
                            {
                                <th class="addtocart">
                                    <div><span class="nobr">
                                        @T("ShoppingCart.AddToCart")
                                    </span></div>
                                </th>
                            }
                            @if (Model.ShowSku)
                            {
                                <th class="sku">
                                    <div>@T("ShoppingCart.SKU")</div>
                                </th>
                            }
                            @if (Model.ShowProductImages)
                            {
                                <th class="picture">
                                    <div>@T("ShoppingCart.Product(s)")</div>
                                </th>
                            }
                            <th class="product">
                                @if (Model.ShowProductImages == false)
                                {
                                    <div>@T("ShoppingCart.Product(s)")</div>
                                }
                                else
                                {
                                    <div>&nbsp;</div>
                                }
                            </th>
                            <th class="price">
                                <div>@T("ShoppingCart.UnitPrice")</div>
                            </th>
                            <th class="qty">
                                <div>@T("ShoppingCart.Quantity")</div>
                            </th>
                            <th class="end">
                                <div>@T("ShoppingCart.ItemTotal")</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="cart-item-row">
                                @if (Model.IsEditable)
                                {
                                    <td class="remove">
                                        <div><input id="removefromcart" type="checkbox" name="removefromcart" value="@(item.Id)" /></div>
                                    </td>
                                }
                                @if (Model.DisplayAddToCart)
                                {
                                    <td class="addtocart">
                                        <input id="addtocart" type="checkbox" name="addtocart" value="@(item.Id)" />
                                    </td>
                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="nobr sku">
                                        @item.Sku
                                    </td>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <td class="productpicture">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </td>
                                }
                                <td class="product">
                                    <div class="title">
                                        <a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })" title="View details">@item.ProductName</a>
                                    </div>
                                    <div class="size">
                                        Size
                                    </div>
                                    <div class="description">
                                        This pre-loved aquascutum coat is in excellent condition, a great colour and a super flattering shape. The fitted coat.
                                    </div>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <br />
                                        @Html.Raw(item.AttributeInfo)
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <br />
                                        @Html.Raw(item.RecurringInfo)
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            @for (int i = 0; i < item.Warnings.Count; i++)
                                            {
                                                @item.Warnings[i]
                                                if (i != item.Warnings.Count - 1)
                                                {
                                                <br />
                                                }
                                            }
                                        </div>
                                    }
                                </td>
                                <td class="nobr price">
                                    <span class="productPrice">@item.UnitPrice</span>
                                </td>
                                <td class="nobr qty">
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                        <select name="itemquantity@(item.Id)"  id="itemquantity@(item.Id)" class="qty-dropdown">
                                            @foreach (var qty in item.AllowedQuantities)
                                            {
                                                <option @(qty.Selected ? Html.Raw(" selected=\"selected\"") : null) value="@qty.Value">@qty.Value</option>
                                            }
                                        </select>
                                        }
                                        else
                                        {
                                        <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" id="itemquantity@(item.Id)" class="qty-input"/>
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.Quantity</span>
                                    }
                                </td>
                                <td class="nobr end">
                                    <span class="productPrice">@item.SubTotal</span>
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <br />
                                        @T("ShoppingCart.ItemYouSave")<text>:</text>
                                        <text>&nbsp; &nbsp;</text>@item.Discount
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                
                <div class="clear">
                </div>                        
                <div>
                    <div class="common-buttons">
                        @if (Model.IsEditable)
                        {
                            <input type="submit" name="updatecart" value="@T("Wishlist.UpdateCart")" id="updatecart" class="generic-button generic-fixed-width-button gradient-color" />
                        }
                        @if (Model.DisplayAddToCart)
                        {
                            <input type="submit" name="addtocartbutton" value="@T("ShoppingCart.AddToCart")" id="addtocartbutton" class="generic-button generic-fixed-width-button gradient-color" />
                        }
                        @if (Model.IsEditable && Model.EmailWishlistEnabled)
                        {
                            <input type="button" name="emailafriend" value="@T("Wishlist.EmailAFriend")" id="emailafriend"  class="generic-button generic-fixed-width-button gradient-color" onclick="setLocation('@Url.RouteUrl("EmailWishlist")')" />
                        }
                    </div>
                </div>        
                }
            }
            else
            {
                @T("Wishlist.CartIsEmpty")
            }
        </div>
        @if (Model.IsEditable && Model.Items.Count > 0)
        {
            <div class="shareinfo">
                <p>
                    <span class="sharelabel">@T("Wishlist.YourWishlistURL"):</span>
                </p>
                <p>
                    <a href="@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid })" class="sharelink">@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid }, "http")</a>
                </p>
            </div>
        }
    </div>
</div>
