﻿@model System.Collections.Generic.List<MrCMS.Web.Apps.Core.Areas.Admin.Controllers.ExportProductModel>

<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>ShortDescription</td>
        <td>Order</td>
        <td>Price</td>
        <td>Weight</td>
        <td>SKU</td>
        <td>Picture1</td>
        <td>Category</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ShortDescription</td>
            <td>@item.Order</td>
            <td>@item.Price</td>
            <td>@item.Weight</td>
            <td>@item.SKU</td>
            <td>@item.Picture1</td>
            <td>@item.Category</td>
        </tr>
    }
</table>