﻿@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage

@Html.InfoBlock(Resource("Heads up") + "!",
    string.Format(Resource("To include this form in your page simply use the short code [form] where you would like it rendered. Should you want to render this form in another page you can use[form-{0}"), Url.RequestContext.RouteData.Values["id"]))

<h4>@Resource("Admin Webpage Form Message After Submitted", "Message to show after form is submitted")</h4>

<div class="form-group">
    @Html.LabelFor(webpage => webpage.FormSubmittedMessage)
    @Html.TextBoxFor(webpage => webpage.FormSubmittedMessage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FormSubmittedMessage, "", new { @class = "error" })
</div>

<h4>@Resource("Admin Webpage Form Submit Button settings", "Submit Button settings")</h4>

@Html.InfoBlock(Resource("Heads up") + "!", Resource("Admin Webpage Form Custom Design Info warning", "If you are using a custom design these properties will be ignored."))

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(webpage => webpage.SubmitButtonText)
            @Html.TextBoxFor(webpage => webpage.SubmitButtonText, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SubmitButtonText, "", new { @class = "error" })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(webpage => webpage.SubmitButtonCssClass)
            @Html.TextBoxFor(webpage => webpage.SubmitButtonCssClass, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SubmitButtonCssClass, "", new { @class = "error" })
        </div>
    </div>
</div>

<h4>@Resource("Admin Webpage Form Email Settings", "Email Settings")</h4>
<div class="form-group">
    @Html.LabelFor(webpage => webpage.FormEmailTitle, "Subject")
    @Html.TextBoxFor(webpage => webpage.FormEmailTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FormEmailTitle, "", new { @class = "error" })
</div>
<div class="form-group">

    @Html.LabelFor(webpage => webpage.SendFormTo, "To")
    @Html.TextBoxFor(webpage => webpage.SendFormTo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SendFormTo, "", new { @class = "error" })
</div>
<div class="form-group">

    @Html.LabelFor(webpage => webpage.FormMessage, "Message")
    @Html.TextAreaFor(x => x.FormMessage, new { @class = "ckedit-enabled" })
</div>
@Html.InfoBlock(Resource("Heads up") + "!", Resource("Admin Webpage Form Email Embed", "Use [form] in the message body to embded the form result in the email."))