﻿@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@model Webpage
<ul class="nav nav-tabs margin-top-10">
    <li class="active"><a href="#edit-content" data-toggle="tab">@Resource("Admin Webpage Edit Tab", "Edit")</a></li>
    <li><a href="#layout-content" data-toggle="tab">@Resource("Admin Webpage Layout Tab", "Layout")</a></li>
    <li><a href="#edit-seo" data-toggle="tab">@Resource("Admin Webpage SEO Tab", "SEO & Properties")</a></li>
    <li><a href="#versions" data-toggle="tab">@Resource("Admin Webpage Tab Versions", "Versions")</a></li>
</ul>
<div class="row">

    @using (Html.BeginForm("Edit", "Webpage", FormMethod.Post, new { id = "edit-document" }))
    {
        <div class="tab-content">
            @{Html.RenderPartial("Properties", Model);}
            @{Html.RenderPartial("Layout", Model); }
            @{Html.RenderPartial("SEO", Model);}
            @{Html.RenderPartial("PageVersions", Model);}
        </div>
    }
</div>
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/edit-webpage.js"); }