﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/img/logo.png";

    var tractionLogo = @Html.Widget("traction_theme_logo");
}

@{
    var homePage = String.Empty;
    var additionalClass = String.Empty;
    var mainSlider = MvcHtmlString.Empty;

    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
    if (isHomePage)
    {
        homePage = "home";
        mainSlider = @Html.Widget("home_page_main_slider");
    }
    
}

@if (isHomePage && !MvcHtmlString.IsNullOrEmpty(mainSlider))
{
    additionalClass = "home-slider";
}

@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page @homePage @additionalClass">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")
    <div class="overlayOffCanvas"></div>
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div class="responsive-nav-inner">
                <div class="personal-button" id="header-links-opener">
                    <span>@T("SevenSpikes.Themes.Common.Personal")</span>
                </div>
                <div class="menu-title">
                    <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
                </div>
                <div class="search-wrap">
                    <span>@T("Search")</span>
                </div>
                <div class="filters-button">
                    <span>@T("SevenSpikes.Themes.Common.Filters")</span>
                </div>
            </div>
        </div>
    </div>

    <div class="subheader-wrapper">
        <div class="logo-wrapper">
            <div class="header-logo">
                <a href="@Url.RouteUrl("HomePage")" class="logo">
                    @if (!MvcHtmlString.IsNullOrEmpty(tractionLogo))
                    {
                        @tractionLogo
                    }
                    else
                    {
                        string storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
                        <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                    }
                </a>
            </div>
        </div>

        <div class="justAFixingDivBefore"></div>
        <div class="headerMenuParent">
            <div class="header-menu">
                <div class="close-menu">
                    <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                </div>
                @{
                    var menuHtml = Html.Widget("theme_header_menu");
                }
                @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
                {
                    @menuHtml
                }
                else
                {
                    @Html.Action("TopMenu", "Catalog")
                }
            </div>
        </div>
    </div>

    @if (isHomePage)
    {
        @mainSlider
    }
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>
</div>

@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")