@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

<div class="header">
    @Html.Widget("header")

    <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")

        <div class="header-selectors-wrapper">

                @Html.Action("TaxTypeSelector", "Common")
            
                @Html.Action("CurrencySelector", "Common")
            
                @Html.Action("LanguageSelector", "Common")

            @Html.Widget("header_selectors")
            <div class="search-box-reference"></div>
        </div>

    </div>
    
    <div class="search-box store-search-box">
        @Html.Action("SearchBox", "Catalog")
    </div>

</div>
