﻿
/*** QUANTITY BOX & BUY BUTTON ***/


.ajax-cart-button-wrapper {
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
}
.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select {   
    width: 40px;
    height: 32px;
	float: left;
	margin-right: 1px;
    border: none;
	background: #c03 url('images/quantity.png') center no-repeat;
	padding: 0;
	text-align: center;
	font: normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ajax-cart-button-wrapper select{
    padding-left: 18px;
    width: auto;
}
.item-box .ajax-cart-button-wrapper select {
    padding: 0 14px 0 10px;
}
.item-box .ajax-cart-button-wrapper input[type="button"] {
	float: left;
	width: 95px;
}
.home .item-box .ajax-cart-button-wrapper input[type="button"] {
	width: 105px !important;
}

/*** COMMON ELEMENTS ***/


.ajaxCart .k-window-titlebar.k-header {
	background: #eee;
	border-bottom-color: #ccc;
	padding: 12px;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions {
	top: 10px;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a {
	width: 20px;
	height: 20px;
	border: 0;
}
.productAddedToCartWindowTitle {
	width: 350px;
	padding: 12px;
	font-size: 13px;
	color: #333;
}
.miniProductDetailsView .product-name {
    top: 12px;
	width: 400px;
	margin: 0;
	font-size: 13px;
	font-weight: normal;
}

/*** SINGLE PRODUCT WINDOW ***/


.productAddedToCartWindow {
	background: none;
}
.productAddedToCartWindowDescription h1 a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowDescription strong {
	color: #c03;
}
.productAddedToCartWindowSummary a {
}
.productAddedToCartWindowSummary a:hover {
	text-decoration: underline;
}

.productAddedToCartWindowImage {
    width: auto;
}
.productAddedToCartWindowImage a {
	width: 160px;
	position: relative;
}
.productAddedToCartWindowImage a:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.productAddedToCartWindowImage img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	margin: auto;
}
.ajaxCart .productAddedToCartWindowCheckout {
    padding: 8px 22px;
    font-size: 15px;
    background-color: #c03;
    border: 0;
	color: #fff;
	text-transform: uppercase;
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 1px transparent;
}
.ajaxCart .productAddedToCartWindowCheckout:hover {
}

/*** GROPED PRODUCTS WINDOW ***/


.miniProductDetailsView {
	background: none;
	padding: 5px 10px 15px;
}
.miniProductDetailsView .overview {
    width: 280px;
    margin: 0;
}
.miniProductDetailsView .product-essential {
	border-bottom: 1px dotted #ccc;
	background: #fff;
	padding: 15px;
}
.miniProductDetailsView .picture:before {
	display: none;
}
.miniProductDetailsView .picture img {
	position: static;
}
.miniProductDetailsView .product-variant-name {
	font-size: 13px;
	text-shadow: none;
}
.miniProductDetailsView .attributes {
    margin-bottom: 15px;
	background: #f6f6f6;
	padding: 10px 10px 0;
}
.miniProductDetailsView .attributes select {
    max-width: 170px;
	background: #fff;
}
.miniProductDetailsView .attributes .datepicker {
	width: 140px;
	background: #fff;
}
.miniProductDetailsView .cart-info {
    overflow: visible;
    min-width: 260px;
}
.miniProductDetailsView .prices {
}
.miniProductDetailsView .add-to-cart {
    margin: 0;
	overflow: hidden;
}
.miniProductDetailsView .add-to-cart > *,
.miniProductDetailsView .add-button-wrap {
    float: left;
}
.miniProductDetailsView .qty-input {
}

/* RELATED AND CROSS SELL */


.ajaxCart .product-grid {
    width: 375px;
    margin: 10px 0 0;
}
.ajaxCart .product-grid .title {
	margin: 0 0 5px;
}
.ajaxCart .product-grid .title strong {
    max-width: 300px;
	font-size: 12px;
	padding: 10px 15px;
}
.ajaxCart .item-box {
	padding: 0 10px;
}
.ajaxCart .item-box .picture {
    margin: 0 0 5px;
}
.ajaxCart .item-box .product-title {
    margin: 0;
}
.ajaxCart .item-box .product-title a {
    font-size: 12px;
}
.ajaxCart .item-box .actual-price {
	font-size: 13px;
	font-weight: normal;
}

.ajaxCart .item-box .product-rating-box,
.ajaxCart .item-box .add-info,
.ajaxCart .item-box .tax-shipping-info,
.ajaxCart .item-box .hover-content {
    display: none !important;
}