﻿/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

.responsive-nav-wrapper .filters-button {
	display: inline-block;
}

/* GLOBAL */

.filtersTitlePanel {
	display: none;
}
.clearFilterOptionsAll {
	float: right;
	cursor: pointer;
}

.filtersPanel {
	display:block;
	margin:0 0 3px 0;
}
.filtersPanel:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}

.filter-block,
.filter-block .title {
	z-index: 1;
	margin: 0;
}
.filter-block .title {
    position: relative;
	background: #393230;
	border-bottom: 1px solid #282322;
}
.filter-block a.toggleControl {   
	color: #dddddd;
	display: block;
	font-size: 16px;
	line-height: 17px;
	padding: 16px 20px !important;
	position: relative;
	text-transform: uppercase;
	z-index: 1;
	text-align:left;
	font-family: Arvo;
}
.filter-block a.toggleControl.closed {
}
.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
	position: absolute;
	top: 50%;
	right: 1px;
	width: 49px;
	height: 37px;
	line-height: 37px;
	margin-top: -19px;
	background:url("images/filter-close.png") no-repeat center;
	color: #fff;
	text-align: center;
	text-transform: lowercase;
	cursor: pointer;
	font-size:0;
	z-index:20;
}
.center-1 .filter-block a.clearFilterOptions, 
.cetner-1 .filter-block a.clearPriceRangeFilter{
    background-color:transparent;
}
.filter-block a.clearFilterOptions:hover,
.filter-block a.clearPriceRangeFilter:hover {
}
.filtersGroupPanel {
	color: #000;
	background: #fff;
}
/*one line design*/
.center-1 .filtersPanel .block.filter-block{
    width:25%;
    float:left;
    background:none;
}
.center-1 .filtersPanel .block.filter-block:nth-child(4n+1) {
    clear: both;
}  
/*.center-1 .filtersPanel .block.filter-block.priceRangeFilterPanel7Spikes{
    height:80px !important;
}*/ 
.center-1 .filtersPanel .block.filter-block:nth-child(4n){
} 
.center-1 .filtersPanel .block.filter-block .title{
    margin:0;
}
.center-1 .filtersPanel .block.filter-block .filter-block a.toggleControl{
    padding:10px;
}
.center-1 .filtersPanel .block.filter-block .priceRangeMinMaxPanel{
    display:none;
}

/* SEARCH CRITERIA */

.selected-options-list > li {
	border-bottom:1px solid #ddd;
	background: #f9f9f9;
	padding: 10px 20px 10px 10px;
	text-align: left;
	font-size: 16px;
	color: #666;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.selected-options-list > li:last-child {
	border-bottom: none;
}
.selected-options-list > li label{
    display: block;
}
.selected-options-list > li span {
    position: relative;
    display: inline-block;
    padding: 1px 20px 1px 1px;
	margin: 0 0 0 7px;
	vertical-align: middle;
	color: #000;
	cursor: pointer;
}
.selected-options-list > li span:before {
	content: "";
	position: absolute;
	width: 18px;
	height: 22px;
	right: 1px;
	background: url(images/filter-close.png) center no-repeat;
	cursor: pointer;
}


/* PRICE RANGE SLIDER */

.priceRangeFilterPanel7Spikes .filtersGroupPanel {
	padding: 10px 10px 0 10px;
    
}
.priceRangeMinMaxPanel {
	overflow: hidden;
	margin: 0 0 12px;
	font-size: 14px;
}
.priceRangeMinPanel {
	float: left;
}
.priceRangeMaxPanel {
	float: right;
}

.ui-slider {
	position: relative;
	width: auto;
	height: 2px;
	margin: 0 5px 10px;   
	background: #ececec;
	box-shadow: inset 0 2px 1px #ccc;
}
.ui-slider-range {
	height: 2px;
	background: #999;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
	position: absolute;
}
.ui-slider-handle {
	height: 16px;
	margin-left: -6px;
	position: absolute;
	top: -7px;
	width: 13px;
	background:#bab2af;
	border:1px solid #fff;
}

.priceRangeCurrentPricesPanel {
	overflow: hidden;
}
.priceRangeCurrentPricesPanel span {
	color: #000;
	font-size: 16px;

}
.priceRangeCurrentPricesPanel .currentMinPrice {
	float: left;
}
.priceRangeCurrentPricesPanel .currentMaxPrice {
	float: right;
}

/* CHECKBOX MODE */

.filtersGroupPanel ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.filtersGroupPanel li > a {
	display: block;
	padding: 12px 12px 12px 40px;
	position: relative;
	font-size: 16px;
	cursor: pointer;
	border:1px solid #ddd;
	border-bottom: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;  
	text-align: left;
	background:#f9f9f9;
	color: #666;
}
.filtersGroupPanel li > a:hover {
	/*background-color: #f3f3f3;*/
}
.filtersGroupPanel li:last-child > a{
	border-bottom:1px solid #ddd;
}
.filtersGroupPanel li a:before {
	content: " ";
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	position: absolute;
	top: 50%;
	left: 10px;
	margin: -10px 0 0;
	background:#fff;
}
a.filterItemSelected {
	/*background-color: #f3f3f3;*/
}
a.filterItemSelected:before {
	background:url(../../../images/selected.png) no-repeat center #fff !important;
}
a.filterItemSelectedDisabled {
	background:url(../../../images/selected.png) no-repeat center;
	opacity: 0.4;
}
a.filterItemDisabled {
	opacity: 0.4;        
}
a.filterItemDisabled,
a.filterItemSelectedDisabled {
	color: #999;
	cursor: default;
}
a.filterItemDisabled:hover,
a.filterItemSelectedDisabled:hover {
	color: #999;
}
.checkbox-list li {
    position: relative;
    border-bottom: 1px solid #ddd;
    text-align: left;
    background-color: #f9f9f9;
}
.checkbox-list li:last-child {
    border-bottom: none;
}
.checkbox-list li.disabled label {
    opacity: 0.5;
    cursor: default;
}
.checkbox-list li input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.checkbox-list li input + label {
    position: relative;
    display: block;
    padding: 12px 12px 12px 40px; 
    font-size: 16px;
    color: #666;
    cursor: pointer;
}
.checkbox-list li input + label:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    background: #fff;
    border: 1px solid #ddd;
    height: 20px;
    width: 20px;
}
.checkbox-list li input:checked + label:before {
    background: #fff url("../../../images/selected.png") no-repeat center;
}
.checkbox-list li label:hover {
    color: #999;
}
.checkbox-list li.disabled:hover {
    color: #666;
}

/* COLOR SQUARE ATTRIBUTES */

.colorOptions .color-container {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 16px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #c9c9c9;
}
.colorOptions a.filterItemSelected .color-container {
}
.colorOptions .color {
	display: block;
	width: 20px;
	height: 20px;
}
.colorOptions a.filterItemSelected .color {
}
.colorOptions a.filterItemDisabled,
.colorOptions a.filterItemSelectedDisabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.colorOptions .defaultColor {
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
	background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}
.colorOptions li.checked span.color.defaultColor {
	background: url("../../../images/selected.png") no-repeat center, -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
	background: url("../../../images/selected.png") no-repeat center, -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: url("../../../images/selected.png") no-repeat center, -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Chrome10+,Safari5.1+ */
	background: url("../../../images/selected.png") no-repeat center, -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
	background: url("../../../images/selected.png") no-repeat center, -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* IE10+ */
	background: url("../../../images/selected.png") no-repeat center, no-repeat center, linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}
.checkbox-list li span.color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    font-size: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
    border: 1px solid #ddd;
}
.checkbox-list li.checked span.color {
    background-image: url("../../../images/selected.png");
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox-list li.disabled span.color {
    cursor: default;
}
.checkbox-list li.disabled:hover span.color {
    color: #666;
}

/* PRODUCT GRID SELECTORS */



.number-of-returned-products.active {
    display: none;
}

/* DROPDOWN MODE */

.filtersDropDownPanel {
	padding: 10px;
}
.filtersDropDown {
	width: 100%;
	margin: 0;
}
.filtersDropDown div {
	padding: 10px 10px 10px 15px;
	text-align: left;
	background:url(images/arrow_rtl.png) no-repeat right center #fff;
	font-size:16px;
	height:40px;
}
.filtersDropDown div p{
  transition:all 0.5s ease 0;
}
.filtersDropDown div:hover p{
    color:#777;
}

.filtersDropDown a.filterItemDisabled,
.filtersDropDown a.filterItemDisabledSelected {
	display: none;
}

.filtersGroupPanel.filtersDropDownPanel li {
	float: none !important;
	width: auto !important;
	margin-bottom: 0;
	background:#f9f9f9;
	border-bottom:1px solid #ddd;
}
.filtersGroupPanel.filtersDropDownPanel li:last-child{
	border-bottom:none;
}
.filtersGroupPanel.filtersDropDownPanel li a:hover {
	background: #f6f6f6;
}
.filtersGroupPanel.filtersDropDownPanel li:first-child a {
	border-top: 1px solid #c9c9c9;
}
.filtersGroupPanel.filtersDropDownPanel li a:before {
	display: none;
}

.select-wrap {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 10px 10px 15px;
	text-align: left;
	background:url(images/arrow_rtl.png) no-repeat right center #fff;
	font-size:15px;
	height:40px;
    cursor: pointer;
}
.filtersDropDownPanel .select-wrap {
    margin: 0;
}
.select-wrap select {
    top: 0;
    left: 0;
    height: 40px;
    cursor: pointer;
}
.select-wrap select option {
    font-size: 15px;
    padding: 6px;
}
.product-selectors div {
    display: inline-block;
    vertical-align: middle;
}
.product-selectors .select-wrap {
    padding-right: 30px;
    width: auto;
}
.product-selectors .select-wrap select {
    height: 38px;
    margin: 0;
}
.filtersDropDownPanel.disabled .select-wrap {
    opacity: 0.4;
    cursor: default;
}
.filtersDropDownPanel.disabled .select-wrap select {
    cursor: default;
}
.select-wrap {
    position:relative;
}
.select-wrap select{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.select-box{
    position:relative; 
    z-index:0; 
    display:block;
}
.select-inner{
    display:block;
}

/* AJAX LOADER */

.productPanelAjaxBusy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
	filter: Alpha(opacity = 70);
	opacity: 0.7;
	z-index: 2;
}
.infinite-scroll-loader {
    display: none;
    height: 100px;
    background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
    font-size: 0;
    filter: Alpha(opacity = 70);
    opacity: 0.7;
    z-index: 2;
    clear: both;
}

/* NO RESULTS POPUP */

.ajaxFilters.k-window {
	position: absolute;
	z-index: 10001;
	height: auto !important;
	background: #fff;
	padding: 0px !important;
}
.ajaxFilters .k-window-titlebar {
	margin:5px 0 0 !important;
	background:url(images/title-decoration.png) no-repeat center bottom;
	text-align:center;
}
.ajaxFilters .k-window-titlebar span {
	font-size: 18px;
	text-align:center;
	padding:0 0 20px 0;
    display:inline-block;
}
.ajaxFilters .k-window-actions {
	position: absolute;
	top: 10px;
	right: 10px;
}
.ajaxFilters .k-window-actions a {
	display: block;
}
.ajaxFilters .k-window-actions .k-icon {
	display: block;
	background: url("images/remove-button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	border: none;
	height: 20px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 20px;
	font-size:0;
}
.ajaxFilters .k-window-actions .k-icon:hover {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.ajaxFilters .k-window-content {
	min-height: inherit !important;
	min-width: inherit !important;
	padding: 15px;
	line-height: 18px;
	color: #555;
}


@media all and (max-width: 1000px) {

.nopAjaxFilters7Spikes {
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
    height: 100%;
    text-align: left;
    background: #333 !important;
    overflow: hidden;
    z-index: 2147483647;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.notAndroid23 .nopAjaxFilters7Spikes{
	-webkit-transform: translate(-320px);
	-moz-transform: translate(-320px);
	-ms-transform: translate(-320px);
	transform: translate(-320px);
}
.android23 .nopAjaxFilters7Spikes{
	left: -320px;
}
.nopAjaxFilters7Spikes.open {
	box-shadow: 1px 0 5px rgba(0,0,0,0.5);
}
.notAndroid23 .nopAjaxFilters7Spikes.open{
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}
.android23 .nopAjaxFilters7Spikes.open{
	left: 0;
}

.nopAjaxFilters7Spikes .close-filters {
	background: url("images/arrow-left.png") no-repeat scroll 6% center #282322;
	cursor: pointer;
}
.nopAjaxFilters7Spikes .close-filters span {
	display: block;
	padding: 15px 20px;
	font-size: 0;
	color: #fff;
	text-transform: uppercase;
	line-height: 15px;
	text-align: right;
	background:url("images/close-menu.png") no-repeat scroll 94% center rgba(0, 0, 0, 0);
}

.nopAjaxFilters7Spikes .filter-block {
	margin: 0;
	border:none;
	max-width:none;
	width:100%;
}

}


/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media all and (min-width: 481px) {
}



/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media all and (min-width: 769px) {
    .number-of-returned-products.active {
        display: block;
        margin: 0 0 15px 10px;
        font-size: 15px;
        color: #777;
        text-align: left;
    }
    .product-selectors + .number-of-returned-products.active {
        margin-top: -15px;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }
    .number-of-returned-products .productsPerPage,
    .number-of-returned-products .allProductsReturned {
        color: #000;
    }
}



/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1001px) {

.filter-block a.clearFilterOptions, 
.filter-block a.clearPriceRangeFilter {
    background-image: none;
}
.filters-button,
.close-filters {
	display: none;
}

.filter-block {
	margin: 0 auto 30px;
	background:#f9f9f9;
   border-bottom:1px solid #ddd;
}
.filter-block.priceRangeFilterPanel7Spikes{
	border:none;
	background: none;
	text-align:center;
}
.filter-block.priceRangeFilterPanel7Spikes .title{
	border-bottom:none;
	background:transparent !important;
}
.filter-block.priceRangeFilterPanel7Spikes .title .toggleControl{
	text-align:center;
	border-bottom:none;
}
.filter-block.priceRangeFilterPanel7Spikes .filtersGroupPanel{
	border:none;
}
.filter-block .title {
	background: #f9f9f9;
	border-bottom: none;
}
.filtersGroupPanel li > a {
	padding: 10px 10px 10px 42px;
	border:none;
	border-bottom:1px solid #ddd;
}
.filtersGroupPanel li:last-child > a {
	border-bottom:none;
}
.filter-block a.toggleControl {
	padding: 12px 10px 10px 20px !important;
	font-size: 16px;
	font-weight: 300;
	color: #000;
	border-bottom:1px solid #ddd;
}
.filter-block a.toggleControl.closed{
	background: url(images/expand-button.png) no-repeat 95% center;
	border-bottom:none;
}
.filter-block a.clearFilterOptions, 
.filter-block a.clearPriceRangeFilter {
	right:0;
	width:40px;
	top:1px;
	margin:1px 0 0 0;
	border-radius:50%;
	transition:all 0.3s ease-in-out 0s;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-ms-transition:all 0.3s ease-in-out 0s;
}

.filter-block a.clearFilterOptions:hover, 
.filter-block a.clearPriceRangeFilter:hover {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.center-1 .filter-block a.clearFilterOptions:hover, 
.center-1 .filter-block a.clearPriceRangeFilter:hover {
    transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.cetner-1 .block.filter-block:nth-child(4n+1){
    clear:both;
}
.filtersGroupPanel {
	display: block;
	border: none;
	position: relative;
	z-index: 2;
}
.filter-block.no-border .title{
	background:transparent;
	text-align:center;
}
.filter-block.no-border .title .toggleControl{
	text-align:center;
	border-bottom:none;
}
.filter-block.no-border .filtersDropDownPanel{
	padding:0;
}

.center-1 .filter-block.no-border .filtersDropDownPanel{
    border:1px solid #ddd;
    border-top:none;
    background:#f9f9f9;
}
.filtersDropDown {
	border-width: 1px 0 0;
}
.filtersDropDown li {
	border-bottom: none !important;
}
.filtersDropDown li a {
	background: #fff;
}
.center-1 .filtersPanel{
    background: url("images/title-decoration.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    margin: 0 0 30px;
}

/*it works for maximum 12 blocks*/
/*.center-1 .filtersPanel .filter-block:nth-of-type(7n),
.center-1 .filtersPanel .filter-block:nth-of-type(5n+2){
    clear:both;
}*/

.select-wrap {
    border-width: 1px 0 0 0;
}
.product-selectors .select-wrap {
    border-width: 1px;
}

}