﻿@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Media.MediaFile
@using (Html.BeginForm("Edit", "File", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>@Resource("Edit")
            <span class="btn-group  display-inline  pull-right">
                <a href="javascript:history.go(-1)" class="btn btn-default">@Resource("Back")</a>
                <input type="submit" class="btn-primary btn" value="@Resource("Save")" />
            </span>
        </legend>
        @Html.Link(Model.FileName, Model.FileUrl)
        <hr />
        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </fieldset>
}
