﻿@model FooterModel
@using Nop.Web.Models.Common;
@using Nop.Core.Domain.Tax;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using Nop.Services.Configuration;
@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var pinterestUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.vimeourl", String.Empty, storeId, true);
    var instagramUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.instagramurl", String.Empty, storeId, true);
    var removeDesignedBy = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.removedesignedby", false, storeId, true);
    var removeCopyright = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.removecopyright", false, storeId, true);
}
<div class="footer">
    <div class="footer-upper">
        <div class="center">
            @Html.Action("NewsletterBox", "Newsletter")
        </div>
    </div>
    <div class="footer-middle">
        <div class="center">
            <div class="footer-block contacts">
                <h2 class="title">@T("ContactUs")</h2>
                <ul>
                    <li class="fax"><span>@T("SevenSpikes.Themes.Tiffany.Common.Fax")</span></li>
                    <li class="mobile"><span>@T("SevenSpikes.Themes.Tiffany.Common.Mobile")</span></li>
                    <li class="mail"><span>@T("SevenSpikes.Themes.Tiffany.Common.Email")</span></li>
                    <li class="location"><span>@T("SevenSpikes.Themes.Tiffany.Common.Location")</span></li>
                    <li class="skype"><span>@T("SevenSpikes.Themes.Tiffany.Common.Skype")</span></li>
                </ul>
            </div>
            <div class="footer-block about-us">
                <h2 class="title">@T("SevenSpikes.Themes.Tiffany.Footer.AboutUs.Title")</h2>
                <p>@T("SevenSpikes.Themes.Tiffany.Footer.AboutUs")</p>
            </div>
            <div class="footer-block pinterest-plugin">
                <!--include pinterest plugin-->
                @Html.Widget("tiffany_pinterest_profile_widget_footer")
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="center">
            <h2 class="title">@T("Footer.FollowUs")</h2>
            <ul class="social-sharing">
                @if (!string.IsNullOrEmpty(Model.TwitterLink))
                {
                    <li><a href="@Model.TwitterLink" class="twitter" target="_blank"></a></li>
                }
                @if (!string.IsNullOrEmpty(Model.FacebookLink))
                {
                    <li><a href="@Model.FacebookLink" class="facebook" target="_blank"></a></li>
                }
                @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                {
                    <li><a href="@Model.YoutubeLink" class="youtube" target="_blank"></a></li>
                }
                @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                {
                    <li><a href="@Model.GooglePlusLink" class="google" target="_blank"></a></li>
                }
                @if (!string.IsNullOrEmpty(pinterestUrl))
                {
                    <li><a href="@pinterestUrl" class="pinterest" target="_blank"></a></li>
                }
                @if (!string.IsNullOrEmpty(vimeoUrl))
                {
                    <li><a href="@vimeoUrl" class="vimeo" target="_blank"></a></li>
                }
                @if (!string.IsNullOrEmpty(instagramUrl))
                {
                    <li><a href="@instagramUrl" class="instagram" target="_blank"></a></li>
                }
                @if (Model.NewsEnabled)
                {
                    <li><a class="rss" target="_blank" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"></a></li>
                }
            </ul>

            <ul class="information-links">
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                @if (Model.SitemapEnabled)
                {
                    <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                }
                @if (Model.AllowCustomersToApplyForVendorAccount)
                {
                    <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                }
            </ul>

            <ul class="accepted-payment-methods">
                <li class="method1"></li>
                <li class="method2"></li>
                <li class="method3"></li>
                <li class="method4"></li>
            </ul>
            <div class="links-bottom-left">
                @if (!removeCopyright)
                {
                    <div class="footer-powered-by">
                        Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                        @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                            Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
                    </div>
                }
                @if (!removeDesignedBy)
                {
                    <div class="footer-designed-by">
                        Designed by <a href="http://www.nop-templates.com/" target="_blank">Nop-Templates.com</a>
                    </div>
                }
            </div>

            <div class="footer-disclaimer">
                @T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)
            </div>
            <div class="footer-store-theme">
                @Html.Action("StoreThemeSelector", "Common")
            </div>
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                <div class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }


        </div>
    </div>
    @Html.Widget("footer")
</div>
