﻿.foo{}
/* Contributor(s): RetroViz Design */

/* HTML GENERAL */
body,h1,h2,h3,h4,h5,h6,address,blockquote,dd,dl,hr,form,input{margin:0;padding:0;}
body{font-family:arial, verdana, helvetica, sans-serif;font-size:12px;background:url("images/bg_body.jpg") repeat scroll center 0 transparent;color:#fff;}
.formbackground{background:url("images/bg2_body.jpg") repeat-x scroll center 0 transparent;}   

a{color:#3a3a3a;text-decoration:none;}
a:hover{color:#f93;text-decoration:none;}
img{border:0;}
h1,h2,h3,h4,h5,h6{font-family:arial, helvetica, sans-serif;}
h2,h3{font-size:16px;}
textarea{width:100%;font-family:Verdana, Arial, sans-serif;font-size:11px;}
checkbox,input,radio,select,button{font-size:11px;}
fieldset{margin:0px 0px 15px;border:1px solid #c9c9c9;padding:15px;}
legend{font-weight:bold;line-height:20px;font-size:16px;}

table tr td { vertical-align: top;}

/* MASTER PAGE WRAPPERS */
.master-wrapper-page{margin:0px auto;width:985px;}
.master-wrapper-content{float:left;width:985px;text-align:left;background-color: #fff ;}
/* one column master page */
.master-wrapper-center-1{float:left;width:965px;color:#000;min-height:600px;padding:10px;background:#FFF;display:inline;} 
/* two column master page */
.master-wrapper-side-2{float:left;width:210px;margin:0 0 0 10px;font-family:arial, helvetica, sans-serif;display:inline;padding-top: 10px;}
.master-wrapper-center-2{float:left;width:720px;color:#000;min-height:600px;padding:10px 5px 5px 5px;margin:0 0 0 10px;background:#FFF;display:inline;border-radius:5px;}
/* three column master page */
.master-wrapper-leftside-3{float:left;width:210px;margin:0 0 0 10px;font-family:arial, helvetica, sans-serif;display:inline;}
.master-wrapper-center-3{float:left;width:540px;color:#000;min-height:600px;padding:10px;margin:0 0 0 10px;background:#FFF;display:inline;overflow:hidden;border-radius:5px;}
.master-wrapper-rightside-3{float:right;width:180px;margin:0 10px;font-family:arial, helvetica, sans-serif;display:inline;}

/* HEADER AND MENU */
.header{padding:20px 6px 10px 5px;height:81px;position: relative;}
.header .icon{vertical-align:bottom;}
.header .icon{vertical-align:bottom;}
.header .ico-register{background:url(images/ico-register.png) no-repeat;padding-left:20px;}
.header .ico-login{background:url(images/ico-login.png) no-repeat;padding-left:20px;}
.header .ico-logout{background:url(images/ico-logout.png) no-repeat;padding-left:20px;}
.header .ico-inbox{background:url(images/ico-inbox.gif) no-repeat;padding-left:20px;}
.header .ico-cart{background:url(images/ico-cart.png) no-repeat;padding-left:20px;}
.header .ico-wishlist{background:url(images/ico-wishlist.png) no-repeat;padding-left:20px;}
.header .ico-admin{background:url(images/ico-admin.gif) no-repeat;padding-left:20px;} 
.header-logo{float:left;text-align:left;margin-top: 1px;position:relative;}
a.logo{background:url(images/logo.png) no-repeat;display:block;width:325px;height:48px;text-decoration:none;position: absolute;top: 30px;}
.header-selectors-wrapper{text-align:right;float:right;width:500px;}
.currency-selector{float:right;}
.language-selector{float:right;}
.tax-display-type-selector{float:right;}
ul.language-list{display:inline;line-height:25px;}
ul.language-list li{list-style:none;display:inline;padding:0 5px;}
ul.language-list li .selected{border:solid 1px #ccc!important;}
ul.language-list li:hover{cursor:pointer;}
.header-links-wrapper{position:relative;float:right;text-align:right;width:670px;}
.header-links{padding:5px;margin-bottom:5px;display:inline-table;}
.header-links ul{padding:0;margin:0;}
.header-links ul li{list-style:none;display:inline;padding-right:2px;}
.header-links a{color:#A0998C;text-decoration:none;}
.header-links a:hover{color:#F7F7B9;}
.header-links a.account{color:#F7F7B9;}
.header-links span.impersonate{color:#58DE81;font-weight:700;}
.header-links span.impersonate .finish-impersonation{color:#E44097;}

.header-menu{color:#F7F7B9;background:url("images/menu_bg.gif");padding:27px 5px 15px;text-align:center;height:100%;vertical-align:middle;letter-spacing:1px;margin-bottom:3px;}
.header-menu ul{padding:0;margin:0;}
.header-menu li{list-style:none;display:inline;white-space:nowrap;}
.header-menu a{color:#FFF;text-decoration:none;text-transform:uppercase;font-size:.9em;font-weight:700;vertical-align:middle;padding-left:10px;padding-right:10px;}
.header-menu ul.top-menu{text-align:right;}

/* FOOTER */
.footer{clear:both;height:30px;padding:5px 3px;}
.footer a{text-decoration:none;color:#FFF;}
.footer-disclaimer{float:right;font-size:11px;}
.footer-poweredby{float:left;font-size:11px;}
.footer-store-theme{float:right;margin:0 100px 0 10px;font-size:11px;}
.store-theme-list{background:#e3e3e3;border:solid 1px #3a3a3a;}
.change-device{clear:both;text-align:right;}

/* MISC. CLASSES */
.nobr{white-space:nowrap!important;}
.wrap{ white-space:normal!important;}
.a-left{text-align:left!important;}
.a-center{text-align:center!important;}
.a-right{text-align:right!important;}
.page{}
.page-body{}
.page-title{border-bottom:1px solid;margin:0 0 10px;overflow:hidden;width:100%;}
.page-title h1,.page-title h2{padding:5px 5px 5px 0;font-size:20px;margin:0;font-family:Arial,Helvetica,sans-serif;font-weight:400;}
.page-title .link-rss{float:right;margin:10px 10px 0 0;}
td{vertical-align:middle;}
td.fieldname{font-size:12px;}
.captcha-box{}
.section-title{padding:10px 10px 5px 0;font-weight:700;clear:both;font-size:12px;}
.button-1{background:url(images/button_bg.gif) no-repeat 25% 50% #3D291F;border:1px solid #3D291F;color: #3D291F;height:20px;padding:0 5px;width:auto;overflow:visible;font-size: 13px;}
.button-2{background:url(images/grey-button-bg.gif) no-repeat 25% 50% #333;border:1px solid #333;color:#FFF;height:20px;padding:0 5px;width:auto;overflow:visible;}
.product-box-detail-button{margin-bottom:3px;}
.noscript{border:1px solid #ddd;border-width:0 0 1px;background:#ffff90;font-size:12px;line-height:1.25;text-align:center;color:#2f2f2f;}
.clear{border:medium none;clear:both;float:none;font-size:0;height:0;line-height:0;}
fieldset.form-fields{padding:10px 5px;}
fieldset.form-fields legend{font-size:12px;}
fieldset.form-fields dl{}
fieldset.form-fields dl dt{float:left;width:140px;padding:3px 0 0 0;}
fieldset.form-fields dl dd{padding:3px 0 0 0;}

/* AJAX LOADING INDICATOR */
.ajax-loading-block-window{position:fixed;top:50%;left:50%;width:128px;height:128px;overflow:hidden;z-index:1104;}
.ajax-loading-block-window .loading-image{position:absolute;top:0;left:0;width:128px;height:128px;background-image:url('images/ajax_loader_large.gif');}

/* DATA TABLE */
.data-table{width:100%;border:1px solid;border-collapse:collapse;border-spacing:0;empty-cells:show;}
.data-table th{font-weight:bold;padding:3px 8px;white-space:nowrap;vertical-align:middle;}
.data-table td{padding:3px 8px;}
.data-table th,.data-table td{border-bottom:1px solid;border-right:1px solid;}
.data-table .odd{}
.data-table .even{background-color: #F4FAFF;}

/* TOPICS */
.topic-html-content{padding-bottom:5px;}
.topic-html-content-title{padding:0 0 5px;clear:both;}
.topic-html-content-header{font-size:1.2em;font-weight:700;}
.topic-html-content-body{}
.topic-html-content-body a{text-decoration:underline;color:#f93;}
.topic-page{}
.topic-page .page-body{}
.topic-page .page-body a{text-decoration:underline;color:#f93;}

/* VALIDATION AND ERRORS */
.message-error{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.message-error ul{padding:0px;}
.message-error ul li{list-style:none;}
.validation-summary-errors{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.field-validation-error{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.required{color:red;}

/* USER-AGREEMENT PAGE */
.user-agreement-page{}
.user-agreement-page .page-title{}
.user-agreement-page .page-body{}

/* COPYRIGHT INFO */
.copyright{float:right;padding-right:10px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
.copyright a{color:#3664A5;background-color:inherit;}

/* SITEMAP */
.sitemap-page{margin-left:auto;margin-right:auto;width:100%;}
.sitemap-page .entity{margin:5px 0 30px;}
.sitemap-page .topic-box,.sitemap-page .manufacturer-box,.sitemap-page .category-box,.sitemap-page .product-box{text-align:center;vertical-align:bottom;}
.sitemap-page .topic-box .item,.sitemap-page .manufacturer-box .item,.sitemap-page .category-box .item,.sitemap-page .product-box .item{text-align:left;margin:3px 10px;width:150px;border-bottom:1px dotted #ADACAC;}

/* EU COOKIE LAW */
.eu-cookie-law{text-align:left;}
a.eu-cookie-privacyinfo-tag{color:#F93 !important;text-decoration:underline;}

/* PAGER */
.pager{text-align:center;}
.pager a{font-size:1em;}
.pager a:link{text-align:center;color:#555;}
.pager span{color:#f93;font-size:1.2em;font-weight:700;}

/* NAVIGATIONS 
.block{margin-bottom:15px;padding-bottom:5px;padding-left:0;color:#FFF;}
.block .title{font-size:.9em;font-weight:700;text-transform:uppercase;padding:7px 10px;color:#f93;background:#333;border-radius:5px 5px 0px 0px;}
.block .listbox{font-size:11px;padding:5px 10px 10px;line-height:18px;background:#404040;margin:0;border-radius:0px 0px 5px 5px;}
.block .listbox ul{margin:0;padding:0 0 0 10px;color:#3664A5;background-color:inherit;}
.block a{color:#FFF;font-weight:700;text-decoration:none;}
.block li{list-style:none;}
.block li.separator{height:1px;line-height:1px;background:#f93;width:140px;font-size:1px;margin:5px 0;}
.block-category-navigation,.block-manufacturer-navigation,.block-recently-viewed-products,.block-info,.block-newsletter,.block-popular-tags,.block-popular-blogtags,.block-blog-archive,.block-poll,.block-account-navigation{}
.block-category-navigation .active a,.block-manufacturer-navigation .active a{color:#f93;font-weight:700;text-decoration:none;}
.block-category-navigation .listbox ul .active,.block-manufacturer-navigation .listbox ul .active{font-weight:700;}
.block-category-navigation .listbox ul .inactive,.block-manufacturer-navigation .listbox ul .inactive{}
.block-manufacturer-navigation .listbox .view-all a{color:#f93;}
.block-account-navigation a.active{color:#f93;font-weight:700;text-decoration:none;}
.block-account-navigation a{white-space:nowrap;}
.block-account-navigation a.inactive{color:#FFF;font-weight:700;text-decoration:none;}
.block-newsletter .options{margin-top:5px;}
.block-newsletter .buttons{margin-top:5px;}
.block-recently-viewed-products a:hover{font-weight:700;text-decoration:none;color:#f93;}
.block-popular-tags li,.block-popular-blogtags li{display:inline!important;}
.block-popular-tags .listbox .view-all a{color:#f93;}
.block-blog-archive .year{color:#f93;font-weight:700;text-decoration:none;}*/

/* NAVIGATIONS */
.block{margin-bottom:5px;padding-left:0;color:#FFF;}
.block .title{color:#FFFEED;font-size:13px;font-weight:bold;padding:7px 10px;background:url(images/bg_sidebar.jpg) repeat;}
.block .listbox{color:#E9E7C9;font-size:13px;padding:10px 10px 10px 10px;line-height:18px;background:#404040 url(images/bg_sidebar.jpg) repeat left bottom;margin:0;}
.block .listbox ul{margin:0;padding:0 0 0 10px;color:#E9E7C9;}
.block a{color:#E9E7C9;font-weight:700;text-decoration:none;}
.block-category-navigation .inactive a{display:inline-block;font-weight: normal;padding:5px 0 5px 30px;background:url(images/bg_list.gif) no-repeat scroll 12px 12px transparent;}
.block-category-navigation .inactive a:hover{color: #FFFFFF;font-weight: bold;white-space:nowrap;}
.block-category-navigation .listbox ul .inactive{background:url("images/bg_list_hline.png") repeat-x scroll 0 0 transparent;}
.block li{list-style:none outside none;}
.block li.separator{height:1px;line-height:1px;background:black;width:140px;font-size:1px;margin:5px 0;}
.block-manufacturer-navigation,.block-recently-viewed-products,.block-info,.block-shoppingcart,.block-newsletter,.block-livechat,.block-popular-tags,.block-popular-blogtags,.block-blog-archive,.block-poll,.block-account-navigation{}
.block-livechat .listbox{text-align:center;}
.block-shoppingcart .items{margin-top:10px;}
.block-shoppingcart .items ul{color:#FFF;}
.block-shoppingcart .buttons{text-align:right;}
.block-category-navigation .active a{background:url("/Themes/spheres/Content/images/bg_list_active.gif") no-repeat scroll 12px 12px transparent;color: #FFFFFF;display: inline-block;font-weight: bold;padding: 5px 0 5px 30px;}
.block-manufacturer-navigation .active a{color:#FFFFFF;font-weight:700;text-decoration:none;}
.block-category-navigation .listbox ul .active,.block-manufacturer-navigation .listbox ul .active{font-weight:700;}
.block-category-navigation .listbox ul .inactive,.block-manufacturer-navigation .listbox ul .inactive{}
.block-manufacturer-navigation .listbox .viewall a{color:#f93;}
.block-account-navigation a.active{color:#f93;font-weight:700;text-decoration:none;}
.block-account-navigation a{white-space:nowrap;}
.block-account-navigation a.inactive{color:#FFF;font-weight:700;text-decoration:none;}
.block-newsletter .options{margin-top:5px;}
.block-newsletter .buttons{margin-top:5px;}
.block-recently-viewed-products a:hover{font-weight:700;text-decoration:none;color:#f93;}
.block-popular-tags li,.block-popular-blogtags li{display:inline!important;}
.block-blog-archive .year{color:#f93;font-weight:700;text-decoration:none;}

/* MINI-SHOPPING CART */
#flyout-cart{display:none;position:absolute;float:left;top:19px;right:0px;width:300px;min-height:50px;background:#FFF;z-index:99999;}
#flyout-cart.active{display:block;}
.mini-shopping-cart{padding:5px 10px 10px;margin:0;border: 1px solid #C1C1C1;color:#FFF;background:#404040;font-size:11px;}
.mini-shopping-cart a{color:#FFF;font-weight:700;text-decoration:none;}
.mini-shopping-cart .count{margin:10px 0px 10px;}
.mini-shopping-cart .items{overflow:hidden;}
.mini-shopping-cart .items table{border-collapse:collapse;width:100%;}
.mini-shopping-cart .items table .first td{border-top:1px solid #EEEEEE;}
.mini-shopping-cart .items table td{border-bottom:1px solid #EEEEEE;padding:10px 5px;vertical-align:top;}
.mini-shopping-cart .items .item{border-bottom:1px solid #CFCFCF;margin:5px 0;}
.mini-shopping-cart .items .item .product .name{clear:both;}
.mini-shopping-cart .items .item .product .attributes{font-size:10px;margin:0px;}
.mini-shopping-cart .items .item .price{font-size:10px;margin:10px 0px 0px 0px;}
.mini-shopping-cart .items .item .quantity{font-size:10px;margin:0px}
.mini-shopping-cart .totals{margin:10px 0px;text-align:right;}
.mini-shopping-cart .buttons{margin:10px 0px;text-align:right;}
.mini-shopping-cart .cart-button,.mini-shopping-cart .checkout-button{margin:0px 5px;}

/* NOTIFICATIONS */
.bar-notification{display:none;left:0;position:fixed;top:0;width:100%;z-index:100000;}
.bar-notification.success{background:none repeat scroll 0 0 #91BD09;border-bottom:3px solid #FFFFFF !important;color:#FFFFFF;margin: 0 0 10px;}
.bar-notification.error{background:none repeat scroll 0 0 #CC0000;border-bottom:3px solid #FFFFFF !important;color:#FFFFFF;margin: 0 0 10px;}
.bar-notification .close{float:right;margin:9px 9px 0px 0px;cursor:pointer;}
.bar-notification p.content{padding:0px 10px;}
.bar-notification p.content a{text-decoration:underline;color:#FFFFFF;}
.bar-notification p.content a:hover{text-decoration:none;color:#FFFFFF;}

/* ORDER SUMMARY, SHOPPING CART, WISHLIST */
.shopping-cart-page,.wishlist-page{}
.shopping-cart-page .page-title,.wishlist-page .page-title{border-bottom:0 none;}
.shopping-cart-page .page-body,.wishlist-page .page-body{margin:0;padding:0;font-size:11px;color:#555;}
.wishlist .share-info{background:url(images/cart-footer-bg.gif) repeat-x bottom;font-size:1.2em;height:50px;padding:0 0 5px 5px;}
.wishlist .share-info .share-label{font-weight:700;}
.wishlist .share-info .share-link{}
.order-summary-content{margin:0;padding:10px;font-size:11px;color:#555;}
.wishlist-content{margin:0;font-size:11px;color:#555;background-color:inherit;}
.order-summary-content .totals{float:right;padding:23px 5px 0;width:330px;}
.order-summary-content .cart-collaterals{padding:20px 0 10px;width:550px;}
.order-summary-content .deals{display:inline;float:left;margin:0 20px 0 0;width:250px;}
.order-summary-content .shipping{display:inline;float:left;margin:0;width:280px;}
.order-summary-content .coupon-box,.order-summary-content .giftcard-box{padding:10px;font-size:11px;color:#555;background:#F7F5E8;margin:0 0 10px;border:dotted 1px #d3d3d3;}
.order-summary-content .coupon-box .current-code{padding: 10px 0px 0px 0px;}
.order-summary-content .giftcard-box{position:relative;z-index:1;}
.order-summary-content .coupon-box .discount-coupon-code, .order-summary-content .giftcard-box .gift-card-coupon-code{width:125px;}
.order-summary-content .cart,.wishlist-content .cart{width:100%;border-collapse:collapse;text-align:center;vertical-align:middle;}
.wishlist-content .cart{margin-bottom:10px;}
.order-summary-content .cart td,.wishlist-content .cart td{padding:10px;}
.order-summary-content .cart .cart-header-row,.wishlist-content .cart .cart-header-row{font-weight:700;}
.order-summary-content .cart .cart-header-row th,.wishlist-content .cart .cart-header-row th{background:url(images/cart-header-bg.gif) repeat-x 50%;color:#FFF;border-right:solid 1px #6a6a6a;height:20px;padding:2px 8px;vertical-align:middle;white-space:nowrap;}
.order-summary-content .cart .cart-header-row th.picture,.wishlist-content .cart .cart-header-row th.picture{border:none;}
.order-summary-content .cart .cart-header-row th.end,.wishlist-content .cart .cart-header-row th.end{text-align:right;padding-right:5px;}
.order-summary-content .cart .cart-item-row,.wishlist-content .cart .cart-item-row{}
.order-summary-content .cart .cart-item-row td,.wishlist-content .cart .cart-item-row td{border-bottom:1px solid #c5c5c5;vertical-align:middle;line-height:30px;}
.order-summary-content .cart .cart-item-row td.product,.wishlist-content .cart .cart-item-row td.product{text-align:left;padding:0 10px;}
.order-summary-content .cart .cart-item-row td.product a,.wishlist-content .cart .cart-item-row td.product a{font-weight:700;}
.order-summary-content .cart .cart-item-row td.end,.wishlist-content .cart .cart-item-row td.end{text-align:right;font-weight:700;color:Green;padding-right:5px;}
.order-summary-content .cart .cart-item-row .qty-input,.wishlist-content .cart .cart-item-row .qty-input{border:solid 1px #E3E3E3;font-size:12px;text-align:right;width:40px;}
.order-summary-content .cart-footer{width:100%;background:url(images/cart-footer-bg.gif) repeat-x bottom;}
.order-summary-content .total-info{margin:0;font-size:12px;}
.order-summary-content .total-info .selected-shipping-method{font-weight:normal;font-size:11px;}
.order-summary-content .total-info .order-total{color:#353434;}
.cart-total-left{width:100%;text-align:right;vertical-align:middle;height:21px;font-weight:700;color:#353434;}
.cart-total-left-below{width:100%;text-align:right;vertical-align:top;height:30px;}
.cart-total-right{text-align:right;vertical-align:middle;padding-left:5px;}
.order-summary-content .remove-gift-card-button,.order-summary-content .remove-discount-button{padding-right:5px;padding-left:18px;background:url(images/ico-delete.gif) no-repeat;border:0;width:32px;height:15px;}
.order-summary-content .remove-gift-card-button:hover,.order-summary-content .remove-discount-button:hover{cursor:pointer;}
.order-summary-content .selected-checkout-attributes{margin:0;padding:10px 5px 10px 0;width:100%;text-align:right;vertical-align:middle;color:#353434;}
.order-summary-content .checkout-attributes{margin:10px 0;padding:10px 20px;background:none repeat scroll 0 0 #F7F5E8;border:1px dotted #D3D3D3;}
.order-summary-content .checkout-attributes .text-prompt{font-weight:bold;}
.order-summary-content .checkout-attributes ul.option-list{padding:0px;margin:0px;}
.order-summary-content .checkout-attributes ul.option-list li{list-style:none;}
.order-summary-content .checkout-attributes .textbox{width:300px;}
.order-summary-content .checkout-attributes textarea{width:300px;height:150px;}
.order-summary-content .min-amount-warning{margin:0;padding:10px 0 10px 10px;}
.order-summary-content .terms-of-service{margin:0;padding:10px 0 10px 10px;}
.order-summary-content .terms-of-service .read{text-decoration:underline;}
.order-summary-content .terms-of-service .read:hover{cursor:pointer;}
.order-summary-content .common-buttons{margin:0;padding:10px 10px 10px 0;float:left;}
.order-summary-content .checkout-buttons{float:right;margin:0;padding:10px 0 10px 10px;}
.order-summary-content .addon-buttons{clear:both;float:right;margin:0;padding:10px 0 10px 10px;text-align:right;}
.order-summary-content .cross-sells-title{color:#000;font-family:Arial,Helvetica,sans-serif;font-size:15px;font-weight:700;padding:5px 5px 5px 0;border-bottom:0 none;margin:0 0 10px;width:100%;}
.estimate-shipping{margin:0;padding:10px;font-size:11px;color:#555;background:#F7F5E8;border:dotted 1px #d3d3d3;}
.estimate-shipping .country-input,.estimate-shipping .state-input{width:137px;}
.estimate-shipping .zip-input{}
.estimate-shipping .shipping-options{text-align:left;margin:10px;border:1px solid #d7d7d7;height:auto;}
.estimate-shipping .shipping-options .shipping-option-item{text-align:left;vertical-align:text-top;padding:5px 0 0 5px;}
.estimate-shipping .shipping-options .shipping-option-item .option-name{font-weight:700;}
.estimate-shipping .shipping-options .shipping-option-item .option-description{padding:5px 0 5px 16px;}

/* CHECKOUT */
.checkout-page,.checkout-one-page{}
.checkout-page .page-title,.checkout-one-page .page-title{border-bottom:0 none;}
.checkout-page .checkout-data,.checkout-one-page .checkout-data{margin:0;padding:0;font-size:11px;color:#555;background-color:inherit;}
.checkoutstep{}
.checkoutstep .steptitle{border:1px solid #2F4F4F;color:#FFF;background-color:#2E4d7B;font-family:Arial, Sans-Serif;font-size:12px;font-weight:700;padding:5px;margin-top:5px;}
.checkoutstep .stepcontent{border:dashed 1px #2F4F4F;border-top:none;padding:5px;}
.order-summary-title{padding:10px 10px 5px 0;font-size:11px;color:#555;font-weight:700;clear:both;}
.order-summary-body{text-align:center;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .select-address-title{padding:10px 10px 5px 0;font-weight:700;clear:both;}
.checkout-data .address-grid{margin-bottom:15px;padding:0;}
.checkout-data .address-grid .item-box{padding-bottom:10px;text-align:center;vertical-align:text-top;}
.checkout-data .address-grid .address-item{text-align:center;margin:10px;padding:10px;border:1px solid #d7d7d7;width:200px;height:auto;}
.checkout-data .address-grid .address-item .select-button{margin-bottom:5px;margin-top:5px;text-align:center;}
.checkout-data .address-grid .address-item .address-box{text-align:left;}
.checkout-data .enter-address-title{padding:10px 10px 5px 0;font-weight:700;clear:both;}
.checkout-data .enter-address{text-align:center;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .enter-address .enter-address-body{text-align:left;margin:10px;}
.checkout-data .enter-address .buttons{margin:10px;text-align:left;}
.checkout-data .enter-address .the-same-address{text-align:left;margin:10px;}
.checkout-data .shipping-options{text-align:left;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .shipping-options .shipping-option-item{text-align:left;vertical-align:text-top;padding:5px 0 0 5px;}
.checkout-data .shipping-options .shipping-option-item .option-name{font-weight:700;}
.checkout-data .shipping-options .shipping-option-item .option-description{padding:5px 0 5px 16px;}
.checkout-data .shipping-options .select-button{margin:10px;text-align:left;}
.checkout-data .shipping-options .message-error{margin:10px;text-align:left;}
.checkout-data .use-reward-points{margin:0;padding:10px;font-size:11px;color:#555;background:#F7F5E8;margin-bottom:10px;border:dotted 1px #d3d3d3;}
.checkout-data .payment-methods{text-align:left;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .payment-methods .payment-method-item{padding:10px;text-align:left;vertical-align:text-top;}
.checkout-data .payment-methods .select-button{margin:10px;text-align:left;}
.checkout-data .payment-methods .message-error{padding:10px 10px 5px 0;font-weight:700;clear:both;}
.checkout-data .payment-info{text-align:left;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .payment-info .body{padding:10px;text-align:left;vertical-align:text-top;}
.checkout-data .payment-info .select-button{margin:10px;text-align:left;}
.checkout-data .confirm-order{text-align:left;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .confirm-order .select-button{margin:10px;text-align:left;}
.checkout-data .confirm-order .message-error{margin:10px;text-align:left;}
.checkout-data .order-review-data-box{text-align:left;padding:10px;height:auto;}
.checkout-data .order-review-data-box .order-details-table{width:100%;border:0px;border-collapse:collapse;border-spacing:0;}
.checkout-data .order-review-data-box .order-details-table .billinginfo,.checkout-page .order-review-data-box .order-details-table .shippinginfo{width:50%;vertical-align:top;}
.checkout-data .order-completed{text-align:left;margin:10px;border:1px solid #d7d7d7;height:auto;}
.checkout-data .order-completed .body{padding:10px;text-align:left;vertical-align:text-top;}
.checkout-data .order-completed .select-button{margin:10px;text-align:left;}
.order-progress{height:40px;margin:0 auto;text-align:center;border-bottom:solid 2px #f3f3f3;}
.order-progress ul{padding:0;margin:0;}
.order-progress ul li{list-style:none;display:inline;padding:5px 20px 0;}
.order-progress ul li .active-step{color:#6a6a6a;background:url(images/progress-step-active.gif) no-repeat 50% 50%;padding-bottom:40px;padding-right:1px;}
.order-progress ul li .inactive-step{color:#d7d7d7;background:url(images/progress-step-inactive.gif) no-repeat 50% 50%;padding-bottom:40px;padding-right:1px;}

/* ONE PAGE CHECKOUT */
.opc .buttons{margin-top:0;padding-top:2em;}
.opc .buttons .back-link small{display:none;}
.opc .buttons .back-link a{background:url(images/arrow-up.png) 0 50% no-repeat;padding-left:20px;}
.opc .buttons.disabled button{display:none;}
.opc .buttons .please-wait{height:21px;line-height:21px;}
.opc .ul{list-style:disc outside; padding-left:18px;}
.opc ul, .opc ol, ul.opc, ol.opc{list-style:none outside none;}
.opc {position:relative;}
.opc li.section{}
.opc .step-title{border-width:0 1px;border-style:solid;border-color:#fff #d9dde3 #d9dde3;background:#eee 0 100% repeat-x;padding:4px 8px 6px;text-align:right;}
.opc .step-title .number{float:left;background:#fff;border:1px solid #fff;padding:0 4px;margin:0 5px 0 0;font:bold 11px/14px arial, helvetica, sans-serif;color:#999;}
.opc .step-title h2{float:left;margin:0;font:bold 13px/16px Arial, Helvetica, sans-serif;color:#999;text-transform:capitalize;}
.opc .allow .step-title{background:#d0dce1;border:1px solid #a3aeb3;border-bottom:0;color:#a4b3b9;cursor:pointer;}
.opc .allow .step-title .number{background:#dbe6eb;border-color:#dbe6eb;color:#a4b3b9;}
.opc .allow .step-title h2{color:#a4b3b9;}
.opc .active .step-title{background:#f9f3e3;border:1px solid #bbafa0;padding-bottom:5px;color:#f18200;cursor:default;}
.opc .active .step-title .number{background:#f18200;border-color:#f19900;color:#fff;}
.opc .active .step-title h2{color:#F93;}
.opc .step{border:1px solid #bbafa0;border-top:0;background:#fbfaf6 0 0 repeat-x;padding:15px 30px;position:relative;}
.opc .step-title:after{display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.opc .order-summary-content .cart-footer{background:none!important;}

/* ORDER DETAILS */
.order-details{}
.order-details .page-title{border-bottom:0 none;text-align:left;}
.order-details .page-title .print-buttons{text-align:right;}
.order-details .page-body{border:1px solid #d7d7d7;padding:10px;}
.order-details .order-overview{text-align:left;padding-bottom:10px;}
.order-details .order-overview .order-total-top{text-align:right;}
.order-details .order-details-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.order-details .order-overview .order-overview-table, .order-details .order-details-box .order-details-table{width:100%;border:0px;border-collapse:collapse;border-spacing:0;}
.order-details .order-details-box .order-details-table .billinginfo,.order-details .order-details-box .order-details-table .shippinginfo{width:50%;vertical-align:top;}
.order-details .order-details-box .repost{margin:10px 0px 10px 0px;}
.order-details .order-details-box .repost .hint{margin:0px;}
.order-details .products-box,.order-details .shipments-box,.order-details .ordernotes-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.order-details .checkout-attributes{text-align:right;vertical-align:middle;padding:10px;height:auto;}
.order-details .actions{margin:10px 0px 10px 0px;}
.order-details .cart-total-left{color:#000;}

/* SHIPMENTS */
.shipment-details{}
.shipment-details .page-title{border-bottom:0 none;text-align:left;}
.shipment-details .page-body{border:1px solid #d7d7d7;padding:10px;}
.shipment-details .overview{text-align:left;padding-bottom:10px;}
.shipment-details .tracking-url{color:#f93;text-decoration:none;}
.shipment-details .products-box,.shipment-details .shipment-status-events-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}

/* HOME PAGE */
.home-page-product-grid{margin-left:auto;margin-right:auto;width:520px;}
.home-page-product-grid .title{padding:10px 10px 10px 0;margin:0 0 0 10px;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#fff;text-align:center;}
.home-page-category-grid{margin-left:auto;margin-right:auto;width:100%;}
.home-page-category-grid a{color:#555;}
.home-page-category-grid .item-box{text-align:center;vertical-align:text-top;}
.home-page-category-grid .category-item{text-align:center;margin:10px;width:150px;height:auto; border: 1px solid #808080;}
.home-page-category-grid .category-item .title{text-align:center;font-weight:700;font-size:.9em;display:block;overflow:hidden;height:1.8em;padding:8px 0 5px;}
.home-page-category-grid .category-item .picture{text-align:center;padding:10px 0;}

.home-page-category-grid a{color:#F7F7B9;}
.home-page-category-grid a:hover{color:#fff;}
.bestsellers{margin-left:auto;margin-right:auto;width:520px;}
.bestsellers .title{padding:10px 10px 10px 0;margin:0 0 0 10px;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;text-align:center;}

/* PRODUCTS IN GRID - TEMPLATE */
/*.product-grid{margin-bottom:15px;margin-left:auto;margin-right:auto;width:100%;text-align:center;}
.product-grid .item-box{padding-bottom:10px;text-align:center;vertical-align:text-top;}
.product-grid .product-item{text-align:center;margin:10px 5px;width:250px;background:url(images/productbox-grid-bg.gif) no-repeat 0 100%;}
.product-grid .product-item .product-title{font-weight:700;font-size:12px;background:url(images/box-header-left.gif) no-repeat 0 0;padding-left:10px;}
.product-grid .product-item .product-title a{background:url(images/box-header-right.gif) no-repeat 100% 0;display:block;height:2em;line-height:1.3em;overflow:hidden;padding:4px 10px 8px 0;}
.product-grid .product-item .picture{text-align:center;margin-top:10px;}
.product-grid .product-item .description{margin:5px 5px 0;text-align:center;padding:10px 5px;border-top:solid 1px #e3e3e3;color:#555;height:50px;}
.product-grid .product-item .add-info{vertical-align:bottom;text-align:right;width:250px;height:85px;position:relative;}
.product-grid .product-item .add-info .prices{text-align:right;vertical-align:middle;position:absolute;bottom:15px;right:10px;}
.product-grid .product-item .add-info .buttons{vertical-align:middle;position:absolute;bottom:15px;left:10px;text-align:left;}
.product-grid .product-item .add-info .prices .product-price,.product-grid .product-item .add-info .prices .old-product-price{margin:0px;}
.product-grid .product-item .add-info .prices .product-price .price{color:green;}
.product-grid .product-item .add-info .prices .old-product-price .price{color:Red;text-decoration:line-through;}
.product-grid .item-box{padding-bottom:10px;text-align:center;vertical-align:text-top;}
.product-grid .small-product-item{text-align:center;margin:10px;width:150px;height:150px;}
.product-grid .small-product-item .product-title{margin-bottom:5px;margin-top:5px;text-align:center;font-weight:700;font-size:12px;}
.product-grid .small-product-item .picture{text-align:center;}*/

/* PRODUCTS IN LINES - TEMPLATE */
/*.product-list{width:520px;margin:0 auto;padding:0;list-style-type:none;}
.product-list .item-box{text-align:left;clear:both;position:relative;margin-bottom:10px;}
.product-list .product-item{width:520px;height:177px;background:url(images/productbox-list-bg.gif) no-repeat 0 100%;margin-top:10px;position:relative;}
.product-list .product-item .product-title{font-weight:700;font-size:12px;background:url(images/box-header-left.gif) no-repeat 0 0;padding-left:10px;}
.product-list .product-item .product-title a{background:url(images/box-header-right.gif) no-repeat 100% 0;display:block;height:2em;line-height:1.3em;overflow:hidden;padding:4px 10px 8px 0;}
.product-list .product-item .picture{float:left;margin:10px 0 10px 10px;}
.product-list .product-item .description{padding:0 0 0 10px;margin:10px 150px 0 140px;text-align:left;border-left:solid 1px #e3e3e3;color:#555;}
.product-list .product-item .add-info{float:right;text-align:right;position:absolute;bottom:20px;right:5px;}
.product-list .product-item .prices{}
.product-list .product-item .prices .product-price,.product-list .product-item .prices .old-product-price{margin:0px;}
.product-list .product-item .prices .product-price .price{color:green;}
.product-list .product-item .prices .old-product-price .price{color:Red;text-decoration:line-through;}
.product-list .product-item .buttons{padding-top:20px;}*/

.master-wrapper-content { background: black!important;color: white!important;}
.master-wrapper-center-2 { background: black;border-radius: none;color: white;}

/* PRODUCTS IN GRID - TEMPLATE */
.product-grid{padding: 0;width:100%;text-align:center;}
.product-grid .item-box{padding-bottom:10px;text-align:center;vertical-align:text-top;}
.product-grid .product-item{background:none repeat scroll 0 0 #000;border:1px solid #808080;height:100%;margin:2px;text-align:center;}
.product-grid .product-item .product-title{font-size: 13px;font-weight: bold;padding-left: 10px;}
.product-grid .product-item .product-title a{color:#F7F7B9;display:block;line-height:1.3em;min-height:2.2em;padding:2px 10px 8px 0; }
.product-grid .product-item .product-title a:hover{ color: #Fff; }
.product-grid .product-item .picture{min-height: 100px;max-height: 309px;overflow: hidden;min-width: 150px;text-align: center;position: relative;}
.btn-grid-360 { position: absolute;top: 5px;left: 5px;color: black;font-weight: bold;line-height: 22px;    }
.btn-grid-360:hover { color: #808080; }
.product-grid .product-item .description{margin:5px 5px 0;padding:10px 5px;color:#fff;}
.product-grid .product-item .add-info{vertical-align:bottom;text-align:right;width:90%;height:85px;position:relative;}
.product-grid .product-item .add-info .prices{text-align:right;vertical-align:middle;position:absolute;bottom:30px;right:5px;}
.product-grid .product-item .add-info .buttons{vertical-align:middle;position:absolute;bottom:15px;left:10px;text-align:left;}
.product-grid .product-item .add-info .prices .product-price{color:green;font-size: 14px;}
.product-grid .product-item .add-info .prices .oldproductPrice{color:Red;text-decoration:line-through;}
.product-grid .item-box{padding-bottom:10px;text-align:center;vertical-align:text-top;}
.product-grid .small-product-item{text-align:center;margin:10px;width:150px;height:150px;}
.product-grid .small-product-item .product-title{margin-bottom:5px;margin-top:5px;text-align:center;font-weight:700;font-size:12px;}
.product-grid .small-product-item .picture{text-align:center;}
/* PRODUCTS IN LINES - TEMPLATE */
.product-list{width:710px;margin:0 auto;padding:0;list-style-type:none;}
.product-list .item-box{text-align:left;clear:both;position:relative;margin-bottom:10px;}
.product-list .product-item{width:100%;height:177px;background:url(/Themes/spheres/Content/images/pb_s_bgtest.png) no-repeat 0 100%;margin-top:10px;position:relative;border-bottom: solid 1px #e7e7e7;border-right: solid 1px #e7e7e7;}
.product-list .product-item .product-title{font-weight:700;font-size:12px;background:url(images/deal_box_hl.gif) no-repeat 0 0;padding-left:10px;}
.product-list .product-item .product-title a{background:url(images/deal_box_hr.gif) no-repeat 100% 0;display:block;height:2em;line-height:1.3em;overflow:hidden;padding:4px 10px 8px 0;}
.product-list .product-item .picture{float:left;margin:10px 0 10px 10px;}
.product-list .product-item .description{padding:5px 2px 0 10px;text-align:left;color:#555;}
.product-list .product-item .add-info{float:left;text-align:left;bottom:20px;right:5px;padding:10px 0px 10px 10px;}
.product-list .product-item .prices{}
.product-list .product-item .prices .productPrice{color:green; float:left; text-align:left}
.product-list .product-item .prices .oldproductPrice{color:Red;text-decoration:line-through;}
.product-list .product-item .buttons{padding-top:20px;}

/* FEATURED PRODUCTS */
.featured-product-grid{}
.featured-product-grid .title{padding:10px 10px 5px 0;font-weight:700;text-transform:uppercase;clear:both;margin:0;color:#f93;}

/* CATALOG PAGES */
.category-page,.manufacturer-page,.manufacturer-list-page,.product-tag-page,.product-tags-all-page{}
.category-page .page-title,.manufacturer-list-page .page-title,.manufacturer-page .page-title,.product-tag-page .page-title,.product-tags-all-page .page-title{border-bottom:0 none;}
.product-tags-all-page .product-tags-list li{display:inline;}
.product-tags-all-page .product-tags-list li a{text-decoration:none;margin:0 2px 0 0;}
.category-page .category-description,.manufacturer-page .manufacturer-description{color:#555;font-size:1.1em;}
.sub-category-grid,.manufacturer-grid{margin-right:auto;width:100%;margin-bottom:15px;}
.sub-category-grid a,.manufacturer-grid a{color:#F7F7B9;}
.sub-category-grid a:hover,.manufacturer-grid a:hover{color:#fff;}
.sub-category-grid .item-box,.manufacturer-grid .item-box{text-align:center;vertical-align:text-top;}
.sub-category-grid .sub-category-item,.manufacturer-grid .manufacturer-item{text-align:center;margin:10px;width:150px;height:auto;border: 1px solid #808080;}
.sub-category-grid .sub-category-item .category-title,.manufacturer-grid .manufacturer-item .man-title{text-align:center;font-weight:700;font-size:.9em;display:block;overflow:hidden;height:1.8em;padding:8px 0 5px;color: white;}
.sub-category-grid .sub-category-item .picture,.manufacturer-grid .manufacturer-item .picture{text-align:center;padding:10px 0;}
.product-sorting{margin:0 auto 10px;float:left;}
.product-viewmode{margin:0 auto 10px;float:right;}
.product-page-size{width:165px;margin:0 auto;text-align:center;}
.product-filters{width:100%;margin:0 auto;border: #e7e7e8 1px solid;}
.product-filters .filter-title{font-weight:700;padding-left:10px;color:#fff;}
.product-filters .filter-title span{display:block;height:2em;line-height:1.3em;overflow:hidden;padding:4px 10px 8px 0;}
.product-filters .filter-item{padding:5px 10px;}
.price-range-filter{}
.price-range-filter .title{color:#fff;font-weight:700;background:url(images/ico-arrow-r.gif) no-repeat;padding:1px 0 5px 20px;}
.price-range-filter ul{margin:0;padding-left:20px;}
.price-range-filter li{list-style:none;padding-bottom:2px;}
.price-range-filter .selected-price-range{padding-left:20px;}
.price-range-filter .remove-price-range-filter{font-weight:700;}
.product-spec-filter{}
.product-spec-filter .title{color:#fff;font-weight:700;background:url(images/ico-arrow-r.gif) no-repeat;padding:1px 0 5px 20px;}
.product-spec-filter .available-items,.product-spec-filter .already-filtered-items{width:100%;}
.product-spec-filter .group{font-weight:700;}
.product-spec-filter .available-items .item{padding:2px 2px 2px 16px;}
.product-spec-filter .already-filtered-items .item{}
.product-spec-filter .remove-filter{padding-top:5px;padding-left:20px;font-weight:700;}

/* COMPARE PRODUCTS */
.compare-products-page{}
.compare-products-page .page-title{border-bottom:0 none;}
.compare-products-page .page-body{margin:0;padding:0;font-size:11px;color:#fff;background-color:inherit;}
.compare-products-table{width:100%;border:0px;border-collapse:collapse;border-spacing:0;empty-cells:show;}
.compare-products-table tr.product-name{background-color:#CCC;font-weight:700;}
.compare-products-table td{border-width:1px;border-color:#BFBFBF;border-style:solid;padding:3px;vertical-align:top;}

/* LOGIN */
.login-page{}
.login-page .page-title{border-bottom:0 none;}
.login-page .page-body{font-size:11px;color:#fff;}
.login-page fieldset{margin:0px;padding:10px;}
.login-page fieldset legend{font-size:12px;}
.login-page .new-wrapper{float:left;width:46%;min-height:240px;vertical-align:top;}
.login-page .new-wrapper .buttons{float:right;margin:30px 30px 5px 30px;}
.login-page .returning-wrapper{float:right;width:46%;min-height:240px;vertical-align:top;}
.login-page .returning-wrapper .message-error{padding:0px;}
.login-page .returning-wrapper .buttons{float:right;margin:5px 30px;}
.login-page .returning-wrapper dl dt{width:100px;padding:10px 10px 10px 0;display:block;white-space:nowrap;vertical-align:middle;font-weight:700;}
.login-page .returning-wrapper dl dd{padding:10px 0;vertical-align:middle;}
.login-page .returning-wrapper .email,.login-page .returning-wrapper .username,.login-page .returning-wrapper .password{width:170px;}
.login-page .forgot-password{font-weight:700;}
.external-auth-errors{text-align:center;border:solid 1px #d3d3d3;vertical-align:top;width:100%;color:Red;}
.external-auth-errors ul{padding:0px;}
.external-auth-errors ul li{list-style:none;}
.external-auth-association{text-align:center;border:solid 1px #d3d3d3;vertical-align:top;width:100%;}
.external-auth-association .identifier{}
.external-auth-association .remove{color:#F93;}

/* REGISTRATION */
.registration-page{}
.registration-page .page-title{border-bottom:0 none;}
.registration-page .page-body{margin:0;padding:0;font-size:11px;color:#555;background-color:inherit;}
.registration-page .vat-note{display:block;}
.registration-page .buttons{float:right;margin-bottom:5px;margin-top:5px;text-align:center;clear:both;}

/* BREADCRUMB */
.breadcrumb {float:left;font-size:1.1em;font-weight:bold;margin:10px 0 10px;padding:0;text-transform:uppercase;}
.breadcrumb ul{margin:0px;padding:0px;}
.breadcrumb li{list-style:none;display:inline;}
.breadcrumb li strong{font-weight:bold;}
.breadcrumb a{text-decoration:none;color:#fff;}
.breadcrumb a:hover{text-decoration:none;color:#808080;}

/* NEWS */
.news-list-page, .news-list-homepage{margin-bottom:15px;padding-bottom:5px;padding-left:0;}
.news-list-homepage .page-title{padding:10px 0 1px;margin:0 5px 10px;font-weight:700;text-transform:uppercase;clear:both;font-size:1.1em;color:#3a3a3a;border-bottom:solid 1px #999;}
.news-items{margin:0 5px;padding:0;}
.news-items .item{border-bottom:dashed 1px #9a9a9a;margin-bottom:10px;padding-bottom:10px;}
.news-items .news-date{color:#9a9a9a;font-style:italic;}
.news-items a.news-title{color:#444;text-decoration:none;font-size:1.2em;}
.news-items a.news-title:hover{text-decoration:underline;}
.news-items .news-details{margin-top:10px;margin-bottom:10px;}
.news-items .read-more{font-weight:700;text-decoration:none;color:#f93;background-color:inherit;}
.news-item-page{}
.news-item-page .page-title{border-bottom:0 none;}
.news-item-page .news-date{color:#9a9a9a;font-style:italic;}
.news-item-page .news-body{margin:0;padding:0;}
.news-item-page .news-body a{color:#f93;text-decoration:underline;}
.news-item-page .result{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.news-item-page .new-comment{margin-top:10px;}
.news-item-page .new-comment .inputs{margin-bottom:12px;clear:both;}
.news-item-page .new-comment .captcha-box{margin-bottom:12px;}
.news-item-page .new-comment .comment-title{width:350px;}
.news-item-page .new-comment .comment-text{width:350px;height:150px;}
.news-item-page .new-comment .buttons{text-align:left;}
.news-item-page .comment-list{margin:10px 0px 10px 0;}
.news-item-page .comment-list .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;}
.news-comment{}
.news-comment .comment-info{width:170px;float:left;padding:5px;height:100%;border-right:solid 1px #F3F3F3;}
.news-comment .comment-info .user-info{padding-top:5px;}
.news-comment .comment-info .user-info a.username{font-weight:700;margin-bottom:5px;}
.news-comment .comment-info .user-info span.username{font-weight:700;margin-bottom:5px;}
.news-comment .comment-info .user-info .avatar{margin:5px 0;}
.news-comment .comment-info .user-info .avatar .avatar-img{border:solid 2px #CEDBE1!important;}
.news-comment .comment-content{margin-left:180px;border-left:solid 1px #F3F3F3;}
.news-comment .comment-content .comment-time{font-weight:700;line-height:20px;padding:3px;background:#e3f3f3;}
.news-comment .comment-content .comment-time .stat-value{font-weight:400;}
.news-comment .comment-content .comment-title{padding:3px;font-weight:700;}
.news-comment .comment-content .comment-body{padding:3px;}

/* BLOGS */
.blog-page{}
.blog-page .page-title{}
.blog-page .blogposts .post .blog-date{color:#9a9a9a;font-style:italic;}
.blog-page .blogposts .post a.blog-title{color:#444;text-decoration:none;font-size:1.2em;}
.blog-page .blogposts .post a.blog-title:Hover{text-decoration:underline;}
.blog-page .blogposts{margin:0 5px;padding:0;}
.blog-page .blogposts .post{border-bottom:dashed 1px #9a9a9a;margin-bottom:10px;padding-bottom:10px;}
.blog-page .blogposts .blog-body,.blog-page .blogposts .tags{margin-top:10px;margin-bottom:10px;}
.blog-page .blogposts .blog-body a,.blog-page .blogposts .tags a{color:#f93;text-decoration:underline;}
.blog-page .blogposts .blog-details{font-weight:700;text-decoration:none;color:#f93;background-color:inherit;}
.blogpost-page{}
.blogpost-page .page-title{border-bottom:0 none;}
.blogpost-page .post-date{color:#9a9a9a;font-style:italic;}
.blogpost-page .post-body,.blogpost-page .tags{margin:0;padding:0;}
.blogpost-page .post-body a,.blogpost-page .tags a{color:#f93;text-decoration:underline;}
.blogpost-page .result{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.blogpost-page .new-comment{margin-top:10px;}
.blogpost-page .new-comment .inputs{margin-bottom:12px;clear:both;}
.blogpost-page .new-comment .captcha-box{margin-bottom:12px;}
.blogpost-page .new-comment .comment-text{width:350px;height:150px;}
.blogpost-page .new-comment .buttons{text-align:left;}
.blogpost-page .comment-list{margin:10px 0px 10px 0;}
.blogpost-page .comment-list .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;}
.blog-comment{}
.blog-comment .comment-info{width:170px;float:left;padding:5px;height:100%;border-right:solid 1px #F3F3F3;}
.blog-comment .comment-info .user-info{padding-top:5px;}
.blog-comment .comment-info .user-info a.username{font-weight:700;margin-bottom:5px;}
.blog-comment .comment-info .user-info span.username{font-weight:700;margin-bottom:5px;}
.blog-comment .comment-info .user-info .avatar{margin:5px 0;}
.blog-comment .comment-info .user-info .avatar .avatar-img{border:solid 2px #CEDBE1!important;}
.blog-comment .comment-content{margin-left:180px;border-left:solid 1px #F3F3F3;}
.blog-comment .comment-content .comment-time{font-weight:700;line-height:20px;padding:3px;background:#e3f3f3;}
.blog-comment .comment-content .comment-time .stat-value{font-weight:400;}
.blog-comment .comment-content .comment-body{padding:3px;}



/* POLLS */
.todays-poll-box{margin-bottom:15px;padding-bottom:5px;padding-left:0;}
.todays-poll-box .title{padding:10px 10px 5px 0;font-weight:700;text-transform:uppercase;clear:both;}
.todays-poll-box .todays-poll-box-block{margin:0;padding:0;font-size:11px;color:#555;background-color:inherit;}
.todays-poll-box .poll-item{float:left;text-align:left;vertical-align:top;padding:10px;}
.block-poll .poll-item{margin:0;padding:0;font-size:11px;background-color:inherit;text-align:left;vertical-align:top;}
.poll-item label{margin:0 0 0 5px;}
.poll-take-poll,.poll-results{border:dashed 1px #666;padding:5px;margin-top:10px;}
.poll-display-text{font-weight:700;}
.poll-total-votes{font-style:italic;}

/* EMAIL A FRIEND */
.email-a-friend-page{}
.email-a-friend-page .page-title{border-bottom:0 none;}
.email-a-friend-page .product{font-weight:bold;}
.email-a-friend-page .result{font-weight:bold;}
.email-a-friend-page .inputs-left{float:left;}
.email-a-friend-page .inputs-right{float:right;}
.email-a-friend-page .inputs{margin-bottom:12px;}
.email-a-friend-page .captcha-box{margin-bottom:12px;}
.email-a-friend-page .friend-email, .email-a-friend-page .your-email{width:250px;padding:1px;}
.email-a-friend-page .personal-message{width:350px;height:150px;}
.email-a-friend-page .buttons{text-align:left;}

/* SEARCH */
.search-page{}
.search-page .page-title{border-bottom:0 none;}
.search-page .search-input{border:1px solid #d7d7d7;padding:10px;}
.search-page .search-input .buttons{text-align:right;}
.search-page .search-results{padding-top:10px;}
.search-page .search-results .result{font-weight:700;color:#fff;}
.search-page table.basic-search,.search-page table.adv-search{border-collapse:collapse;color:#fff;margin:0;width:100%;vertical-align:middle;text-align:left;table-layout:fixed;}
.search-page table.adv-search #Cid{width:374px;}
.search-page table.adv-search{border-top:solid #D3D3D3 1px;margin-top:10px;}
.search-page table.basic-search td.title,.search-page table.adv-search td.title{padding:4px;text-align:left;vertical-align:middle;width:130px;}
.search-page table.basic-search td.data,.search-page table.adv-search td.data{padding:4px;text-align:left;vertical-align:middle;white-space:nowrap;}
.search-page table.adv-search .price-from,.search-page table.adv-search .price-to{width:100px;}
.search-input .warning{text-decoration:underline;}
.search-text{border:solid 1px #d3d3d3;vertical-align:top;font-size:12px;width:100%;}
.search-box{float:left;display:inline;padding-left:5px;}
.search-box ul{margin:0;padding:0;}
.search-box ul li{list-style:none;float:left;}
.search-box .ui-autocomplete-loading{background:white url('images/ajax_loader_small.gif') right center no-repeat;}
.search-box-text{background:#e3e3e3;width:110px;border:solid 1px #E3E3E3;vertical-align:top;font-size:12px;}
.search-box-button {height:18px;}

/* PASSWORD RECOVERY AND NEWSLETTER PAGES */
.password-recovery-page,newsletter-page{}
.password-recovery-page .page-title,newsletter-page .page-title{border-bottom:0 none;}
.password-recovery-page .page-body,newsletter-page .page-body{margin:0;padding:0;font-size:11px;color:#555;background-color:inherit;}
.password-recovery-page .email{width:250px;}
.password-recovery-page .result{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}

/* ACCOUNT ACTIVATION */
.account-activation-page{}
.account-activation-page .page-title{border-bottom:0 none;}
.account-activation-page .page-body{margin:0;padding:0;font-size:11px;color:#555;background-color:inherit;}

/* CONTACTS */
.contact-page{}
.contact-page .result{font-weight:bold;}
.contact-page .inputs-left{float:left;}
.contact-page .inputs-right{float:right;}
.contact-page .inputs{margin-bottom:12px;}
.contact-page .captcha-box{margin-bottom:12px;}
.contact-page .fullname{width:250px;padding:1px;}
.contact-page .email{width:250px;padding:1px;}
.contact-page .enquiry{width:350px;height:150px;}
.contact-page .buttons{text-align:left;}

/* RECENTLY VIEWED AND ADDED PRODUCTS */
.recently-added-products-page{}
.recently-added-products-page .page-title{}
.recently-viewed-products-page{}
.recently-viewed-products-page .page-title{}

/* CUSTOMER ACCOUNT PAGES */
.account-page{}
.account-page .result{font-family:Verdana, Arial, sans-serif;font-size:10px;font-weight:700;color:red;}
.account-page .page-title{border-bottom:0 none;}
.account-page .page-body{margin:0;padding:0;font-size:11px;color:#fff;}
.account-page .section-body{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.address-list-page{}
.address-list-page .address-list{}
.address-list-page .address-list .address-item{}
.address-list-page .address-list .address-item .title{font-size:13px;}
.address-list-page .address-list .address-item .info{float:left;}
.address-list-page .address-list .address-item .buttons{float:right;}
.address-list-page .add-button{margin-bottom:5px;margin-top:5px;float:right;text-align:right;}
.address-edit-page{}
.address-edit-page .buttons{}
.avatar-page{padding:10px;}
.avatar-page .buttons{margin:5px 0;}
.back-in-stock-subscription-list-page{}
.back-in-stock-subscription-list-page .subscription-list{}
.back-in-stock-subscription-list-page .description{}
.back-in-stock-subscription-list-page .no-data{}
.back-in-stock-subscription-list-page .buttons{margin-bottom:5px;margin-top:5px;text-align:left;}
.back-in-stock-subscription-list-page .biss-grid-pager-style{padding:5px;background:#eee;vertical-align:middle;}
.back-in-stock-subscription-list-page .biss-grid-pager-style span{font-weight:700;font-size:1.1em;}
.change-password-page{}
.change-password-page .buttons{margin-bottom:5px;margin-top:5px;}
.downloadable-products-page{}
.downloadable-products-page .no-data{}
.forum-subscriptions-page{}
.forum-subscriptions-page .subscription-list{}
.forum-subscriptions-page .description{}
.forum-subscriptions-page .no-data{}
.forum-subscriptions-page .buttons{margin-bottom:5px;margin-top:5px;text-align:left;}
.forum-subscriptions-page .fs-grid-pager-style{padding:5px;background:#eee;vertical-align:middle;}
.forum-subscriptions-page .fs-grid-pager-style span{font-weight:700;font-size:1.1em;}
.customer-info-page{}
.customer-info-page .vat-note{display:block;}
.customer-info-page .buttons{margin-bottom:5px;margin-top:5px;text-align:center;}
.username-available-status{color:green;padding-left:5px;}
.username-not-available-status{color:red;padding-left:5px;}
.account-signature-text{height:100px;width:500px;border:solid 1px #E3E3E3;vertical-align:top;}
.order-list-page{}
.order-list-page .recurring-payments{padding:10px 10px 5px 0;width:100%;clear:both;}
.order-list-page .recurring-payments .recurring-payments-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.order-list-page .order-list{}
.order-list-page .order-list .order-item{}
.order-list-page .order-list .order-item .title{font-size:13px;}
.order-list-page .order-list .order-item .info{float:left;}
.order-list-page .order-list .order-item .buttons{float:right;}
.return-request-list-page{}
.return-request-list-page .request-item{}
.return-request-list-page .request-item .title{font-size:13px;}
.return-request-list-page .request-item .info{}
.reward-points-page{}
.reward-points-page .reward-points-overview{padding:10px 10px 5px 0;width:100%;}
.reward-points-page .reward-points-history{}

/* RETURN REQUEST */
.return-request-page{}
.return-request-page .page-title{border-bottom:0 none;}
.return-request-page .products-box{}
.return-request-page .why{}
.return-request-page .why .return-reasons{}
.return-request-page .why .return-actions{}
.return-request-page .why .comment{width:350px;height:150px;}
.return-request-page .buttons{}

/* PRODUCT DETAILS PAGE */
.product-details-page{border:1px solid #d3d3d3;margin-top:10px;padding:10px;}
.product-collateral{margin-top:10px;margin-bottom:10px;clear:both;}
.product-essential{}
.product-details-page{}
.product-details-page .product-essential .picture{float:left;width:300px;margin-top:25px;margin-bottom:15px;position: relative;}
.product-details-page .product-essential .picture .picture-thumbs{margin-top:10px;}
.product-details-page .overview{float:right;width:230px;margin-right:15px;margin-top:25px;padding:5px;border:dashed 1px #d3d3d3;}
.product-details-page .product-name{color:#F7F7B9;font-size:1.3em;margin-bottom:1em;}
.product-details-page .short-description,.product-details-page .manufacturers,.product-details-page .sku,.product-details-page .manufacturer-part-number,.product-details-page .stock,.product-details-page .gtin{color:#fff;margin-bottom:.3em;font-size:1.1em;}
.product-details-page .full-description{border-top:solid 1px #d3d3d3;clear:both;color:#fff;margin-bottom:.3em;}
.product-details-page .back-in-stock-subscription{margin-top:10px;margin-bottom:10px;}
.product-details-page .email-a-friend{margin:10px 5px 10px 0px;float:left;}
.product-details-page .compare-products{margin:10px 0 10px 0px;float:left;}
.product-details-page .product-share-button{margin-top:10px;margin-bottom:10px;}
.product-details-page .product-reviews-overview{margin-top:20px;margin-bottom:20px;}
.product-details-page .product-reviews-overview .product-review-box{margin-right:5px;width:69px;height:13px;}
.product-details-page .product-review-box .rating{height:13px;width:55px;background:url(images/star-x-inactive.gif) 0 0 repeat-x;}
.product-details-page .product-review-box .rating div{height:12px;background:url(images/star-x-active.gif) 0 0 repeat-x;}
.product-details-page .product-reviews-overview .product-review-links .separator{margin:0 2px;}
.product-details-page .product-reviews-overview .product-review-links{margin:0;}
.product-details-page .product-no-reviews{margin-top:20px;margin-bottom:20px;}
.product-details-page .product-no-reviews a{text-decoration:underline;}
.product-details-page .product-variant-list{}
.product-details-page .product-variant-line{clear:both;margin-bottom:20px;padding-bottom:20px;margin-top:10px;border-bottom:solid 1px #d3d3d3;}
.product-details-page .variant-picture{float:left;width:300px;margin-bottom:15px;}
.product-details-page .variant-name{color:#f93;font-size:1.3em;margin-bottom:.3em;}
.product-details-page .variant-description{clear:both;color:#555;margin-bottom:.3em;}
.product-details-page .download-sample{clear:both;color:#555;margin-top:15px;margin-bottom:15px;}
.product-details-page .download-sample .download-sample-button{-x-system-font:none!important;background:#F1F1F1 url(images/download-sample-bg.gif) repeat-x scroll 0 100%;border:1px solid #B5B5B5;color:#444;cursor:pointer;font-family:arial,sans-serif!important;font-size:11px!important;font-size-adjust:none!important;font-stretch:normal!important;font-style:normal!important;font-variant:normal!important;font-weight:700!important;line-height:normal!important;overflow:visible;padding:1px 5px;text-align:center;text-transform:uppercase;vertical-align:middle;width:auto;}
.product-details-page .product-variant-line .prices{float:left;padding-top:10px;margin-right:30px;}
.product-details-page .product-essential .prices{margin-top:15px;margin-bottom:15px;}
.product-details-page .prices .product-price{color:green;}
.product-details-page .prices .old-product-price{color:red;text-decoration:line-through;}
.product-details-page .add-to-cart{padding-top:10px;}
.product-details-page .add-to-cart .enter-price-input{width:60px;}
.product-details-page .add-to-cart .qty-input{width:40px;}
.product-details-page .attributes{}
.product-details-page .attributes .text-prompt{font-weight:bold;}
.product-details-page .attributes .attribute-description{font-size:11px;}
.product-details-page .attributes ul.option-list{padding:0px;margin:0px;}
.product-details-page .attributes ul.option-list li{list-style:none;}
.product-details-page .attributes .textbox{width:300px;}
.product-details-page .attributes textarea{width:300px;height:150px;}
.product-details-page .giftcard{}
.product-details-page .giftcard dt{clear:left;float:left;width:150px;}
.product-details-page .giftcard .recipient-name{}
.product-details-page .giftcard .recipient-email{}
.product-details-page .giftcard .sender-name{}
.product-details-page .giftcard .sender-email{}
.product-details-page .giftcard .message{width:300px;height:100px;}
.related-products-grid,.also-purchased-products-grid{}
.related-products-grid .title,.also-purchased-products-grid .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;clear:both;font-size:1.1em;color:#f93;}
.related-products-grid .item-box,.also-purchased-products-grid .item-box{padding-bottom:10px;text-align:center;vertical-align:text-top;}
.related-products-grid .item,.also-purchased-products-grid .item{text-align:center;margin:10px;border:solid 1px #d3d3d3;width:200px;height:200px;}
.related-products-grid .item .product-title,.also-purchased-products-grid .item .product-title{margin-bottom:5px;margin-top:5px;text-align:center;font-weight:700;text-transform:none;font-size:1em;padding:0;}
.related-products-grid .item .picture,.also-purchased-products-grid .item .picture{text-align:center;}
.product-specs-box{}
.product-specs-box .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;clear:both;font-size:1.1em;color:#f93;}
.product-specs-box .product-specs-list{}
.product-tags-box{padding:5px;color:#555;}
.product-tags-box .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;clear:both;font-size:1.1em;color:#f93;}
.product-tags-box .product-tags-list{}
.product-tags-box .product-tags-list a{text-decoration:underline;}
.product-tags-box .product-tags-list .product-tags-wrapper{float:left;}
.tier-prices{text-align:center;margin-bottom:10px;}
.tier-prices .prices-header{background:#3a3a3a;color:#FFF;padding:3px;font-weight:700;}
.tier-prices .prices-list table{width:100%;border-collapse:collapse;text-align:center;vertical-align:middle;background:#f3f3f3;}
.tier-prices .prices-list .prices-table td{padding:0;}
.tier-prices .prices-list .item-table td{border-bottom:solid 3px #d7d7d7;padding-top:3px;padding-bottom:3px;font-weight:700;}
.tier-prices .prices-list .item-table .item-price{color:Green;}
.tier-prices .prices-list .header-table td{border-bottom:solid 3px #d7d7d7;padding-top:3px;padding-bottom:3px;font-weight:700;}
.tier-prices .prices-list .prices-table .field-header{font-weight:700;text-align:center;}

/* PRODUCT REVIEWS PAGE */
.product-reviews-page{}
.product-reviews-page .page-title{border-bottom:0 none;}
.product-reviews-page .page-title a{border-bottom:0 none;text-decoration:underline;}
.product-reviews-page .result{}
.product-reviews-page .write-review{margin-top:10px;}
.product-reviews-page .write-review .inputs{margin-bottom:12px;clear:both;}
.product-reviews-page .write-review .captcha-box{margin-bottom:12px;}
.product-reviews-page .write-review .review-title{width:350px;}
.product-reviews-page .write-review .review-text{width:350px;height:150px;}
.product-reviews-page .write-review .review-rating{display:inline-block;}
.product-reviews-page .write-review .review-rating input{vertical-align:bottom;}
.product-reviews-page .write-review .buttons{text-align:left;}
.product-review-list{margin:10px 0px 10px 0;}
.product-review-list .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;}
.product-review-list .product-review-item{border:solid 1px #d3d3d3;margin:10px 0 0;padding:10px 10px 20px;clear:both;}
.product-review-list .product-review-item .review-title{font-weight:700;float:left;margin-bottom:5px;}
.product-review-list .product-review-item .product-review-box{float:right;margin-right:5px;width:69px;height:13px;}
.product-review-list .product-review-item .product-review-box .rating{height:13px;width:55px;background:url(images/star-x-inactive.gif) 0 0 repeat-x;}
.product-review-list .product-review-item .product-review-box .rating div{height:12px;background:url(images/star-x-active.gif) 0 0 repeat-x;}
.product-review-list .product-review-item .review-text{float:left;margin-bottom:5px;}
.product-review-list .product-review-item .review-info{float:left;margin-bottom:5px;}
.product-review-list .product-review-item .review-info .separator{margin:0 2px;}
.product-review-helpfulness{font-size:11px;color:#333;clear:both;}
.product-review-helpfulness .vote{color:#f93;font-weight:700;text-decoration:none;}
.product-review-helpfulness .vote:hover{cursor:pointer;text-decoration:none;}

/* SLIM BOX (PRODUCT IMAGES) */
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer;}
#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;overflow:hidden;background-color:#fff;}
.lbLoading{background:#fff url(images/loading.gif) no-repeat center;}
#lbImage{position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat;}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none;}
#lbPrevLink{left:0;}
#lbPrevLink:hover{background:transparent url(images/prevlabel.gif) no-repeat 0 15%;}
#lbNextLink{right:0;}
#lbNextLink:hover{background:transparent url(images/nextlabel.gif) no-repeat 100% 15%;}
#lbBottom{font-size:10px;color:#666;line-height:1.4em;text-align:left;border:10px solid #fff;border-top-style:none;}
#lbCloseLink{display:block;float:right;width:66px;height:22px;background:transparent url(images/closelabel.gif) no-repeat center;margin:5px 0;outline:none;}
#lbCaption,#lbNumber{margin-right:71px;}
#lbCaption{font-weight:700;}

/* PRIVATE MESSAGES */
.send-pm-box{background-color:#EEE;border:1px solid #A0A0A0;color:#555;display:block;float:left;font-family:Arial;font-size:10px;font-weight:700;margin:2px 0 2px 2px;padding:2px;text-decoration:none;text-transform:uppercase;}
.send-pm-box .pm-link-button{line-height:14px;padding:1px 6px 2px 18px;background:url(images/ico-pm.png) no-repeat;}
.private-message-send-page{background:url(images/pm-footer-bg.gif) repeat-x bottom;}
.private-message-send-page .page-title{background:url(images/pm-header-bg.gif) repeat-x 50%;color:#FFF;border:solid 1px #6a6a6a;height:28px;line-height:28px;font-weight:700;padding-left:3px;}
.private-message-send-page .page-body{padding:5px;}
.private-message-send-page table.post-message{width:100%;vertical-align:middle;border-collapse:collapse;}
.private-message-send-page table.post-message td{padding:4px;}
.private-message-send-page table.post-message td.fieldname{font-weight:700;width:20%;color:#555;}
.private-message-send-page table.post-message td.options{text-align:right;}
.private-message-view-page{background:url(images/pm-footer-bg.gif) repeat-x bottom;}
.private-message-view-page .page-title{background:url(images/pm-header-bg.gif) repeat-x 50%;color:#FFF;border:solid 1px #6a6a6a;height:28px;line-height:28px;font-weight:700;padding-left:3px;}
.private-message-view-page .page-body{padding:5px;}
.private-message-view-page table.view-message{width:100%;vertical-align:middle;border-collapse:collapse;}
.private-message-view-page table.view-message td{padding:4px;}
.private-message-view-page table.view-message td.fieldname{font-weight:700;width:20%;color:#555;}
.private-message-view-page table.view-message a{color:#f93;text-decoration:underline;}
.private-message-view-page table.view-message td.options{text-align:right;}
.private-messages-page{}
.private-messages-page .page-title{border-bottom:0 none;}
.private-messages-page .page-body{margin:0;padding:0;font-size:11px;color:#555;}
.private-messages-box{margin:0;padding:5px;font-size:11px;color:#555;}
.private-messages-box .buttons{margin-bottom:5px;margin-top:5px;text-align:left;}
.pm-grid-table-style{font-family:arial;font-size:11px;border:1px solid gray;border-collapse:collapse;background-color:#FFF;margin-left:0;width:100%;}
.pm-grid-table-style td a{text-decoration:none;display:block;}
.pm-grid-alt-row-style{background-color:#F4FAFF;}
.pm-grid-header-style th{background:url(images/grid-bg.gif) repeat-x 50%;color:#fff;padding:5px 10px;text-align:center;vertical-align:middle;font-weight:700;border:solid 1px #676767;}
.pm-grid-row-style td,.pm-grid-alt-row-style td{padding:4px 10px;border-right:solid 1px #A0C0E7;border-right-color:gray;}
.pm-grid-pager-style{padding:5px;background:#eee;vertical-align:middle;}
.pm-grid-pager-style span{font-weight:700;font-size:1.1em;}
.pm-read{}
.pm-unread{font-weight:700;}

/* FORUM INPUTS */
.forum-topic-title-text,.pm-title-text{width:500px;border:1px solid #acacac;vertical-align:top;font-size:12px;}
.forum-post-text,.bb-editor-text{width:100%;height:300px;}
.private-message-subject-text{width:500px;border:1px solid #acacac;vertical-align:top;font-size:12px;}
.forum-search-text{width:500px;border:1px solid #acacac;font-size:14px;}
.forum-search-box-text{border:1px solid #acacac;font-size:12px;}
.bb-editor-text{border:#cec6b5 1px solid;}
.edit-topic-link-button{padding-right:5px;padding-left:18px;background:url(images/ico-edit.gif) no-repeat;}
.delete-topic-link-button{padding-right:5px;padding-left:18px;background:url(images/ico-delete.gif) no-repeat;}
.move-topic-link-button{padding-right:5px;padding-left:18px;background:url(images/ico-move-topic.gif) no-repeat;}
.reply-topic-link-button{padding-right:5px;padding-left:18px;padding-bottom:3px;background:url(images/ico-forum-post-add.gif) no-repeat;}
.watch-topic-link-button{padding-left:18px;background:url(images/ico-forum-watch.gif) no-repeat;}
.edit-post-link-button{padding-right:5px;padding-left:18px;background:url(images/ico-edit.gif) no-repeat;}
.delete-post-link-button{padding-right:5px;padding-left:18px;background:url(images/ico-delete.gif) no-repeat;}
.quote-post-link-button,.post-link{color:#555;float:right;padding:1px 3px;border:solid 1px #ccc;line-height:15px;font-size:11px;}
.post-link{padding:1px 3px;margin-right:5px;border:none;}

/* FORUM MAIN */
.forums-main{}
.forums-main .forums-main-header{border-bottom:solid 1px #f3f3f3;height:35px;}
.forums-main .forums-main-header .current-time{padding-top:20px;font-size:.9em;color:#555;float:left;}
.forums-main .forums-main-header .forum-search-box{float:right;text-align:right;}
.forums-main .active-discussions{margin-top:50px;}
.forum-group-page .forum-search-box{text-align:right;}
.forum-group{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.forum-group .group-title a{font-weight:700;}
.forum-group table.groups{width:100%;border-collapse:collapse;text-align:center;vertical-align:middle;margin-top:10px;margin-bottom:15px;}
.forum-group table.groups td{padding:3px 0;}
.forum-group tr.group-header{font-weight:700;}
.forum-group tr.group-header td{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border-right:solid 1px #6a6a6a;height:20px;}
.forum-group tr.group-header td.forum-name{width:55%;text-align:left;padding-left:3px;}
.forum-group tr.group-header td.topics{width:10%;}
.forum-group tr.group-header td.posts{width:10%;}
.forum-group tr.group-header td.last-post{width:25%;}
.forum-group tr.forum td.image div{text-align:left;width:36px;height:36px;background:url(images/ico-forum.gif) no-repeat 40% 40%;}
.forum-group tr.forum td{border-bottom:1px solid #c5c5c5;vertical-align:middle;padding-left:3px;}
.forum-group tr.forum td.forum-name{text-align:left;width:55%;}
.forum-group tr.forum td.forum-name .forum-title{font-weight:700;font-size:1.1em;line-height:18px;}
.forum-group tr.forum td.forum-name .forum-description{font-size:.9em;color:#555;}
.forum-group tr.forum td.last-post{font-size:.8em;color:#555;}

/* FORUM PAGE */
.forum{}
.forum .forum-header{}
.forum .top .forum-info{float:left;}
.forum .top .forum-info .forum-name{font-weight:700;font-size:1.2em;line-height:25px;}
.forum .top .forum-info .forum-description{color:#555;}
.forum .top .actions{float:right;text-align:right;}
.forum .top .actions .newtopic{background:url(images/ico-forum-post-add.gif) no-repeat;padding:0 10px 3px 20px;}
.forum .top .actions .watch-forum{background:url(images/ico-forum-watch.gif) no-repeat;padding-left:20px;}
.forum .top .actions .forum-search-box{padding-top:5px;}
.forum .topics-group{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.forum table.topics{width:100%;border-collapse:collapse;vertical-align:middle;text-align:center;}
.forum table.topics td{padding:3px 0;}
.forum table.topics tr.forum-header{font-weight:700;}
.forum table.topics tr.forum-header td{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border-right:solid 1px #6a6a6a;height:20px;}
.forum table.topics tr.forum-header td.topic-name{width:55%;text-align:left;padding-left:3px;}
.forum table.topics tr.forum-header td.replies{width:10%;}
.forum table.topics tr.forum-header td.views{width:10%;}
.forum table.topics tr.forum-header td.last-post{width:25%;}
.forum table.topics tr.topic td{border-bottom:1px solid #c5c5c5;vertical-align:middle;padding-left:3px;}
.forum table.topics tr.topic td.image div{text-align:left;width:36px;height:36px;background:url(images/ico-forum.gif) no-repeat 40% 40%;}
.forum table.topics tr.topic td.topic-name{text-align:left;width:55%;}
.forum table.topics tr.topic td.topic-name .topictype{font-size:.9em;line-height:18px;}
.forum table.topics tr.topic td.topic-name .topic-title{font-weight:700;font-size:1.1em;line-height:18px;}
.forum table.topics tr.topic td.topic-name .topic-starter,.forum table.topics tr.topic td.topic-name .topicspager{font-size:.9em;color:#555;margin:1px 0px 1px 0px;}
.forum table.topics tr.topic td.last-post{font-size:.8em;color:#555;}
.forum table.topics tr.topic .post{text-align:left;width:36px;height:36px;background:url(images/ico-forum-post.gif) no-repeat 40% 40%;}
.forum table.topics tr.topic .post-annoucement,.forum table.topics tr.topic .poststicky{text-align:left;width:36px;height:36px;background:url(images/ico-forum-post-high.gif) no-repeat 40% 40%;}
.forum .pager{text-align:right;padding:5px 3px 5px 0;}

/* FORUM TOPIC EDIT */
.post-edit{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.post-edit .title{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border:solid 1px #6a6a6a;height:28px;line-height:28px;font-weight:700;padding-left:3px;}
.post-edit .wrapper{padding:5px;}
.post-edit table.post-topic{width:100%;vertical-align:middle;border-collapse:collapse;}
.post-edit table.post-topic td{padding:4px;}
.post-edit table.post-topic td.fieldname{font-weight:700;width:20%;color:#555;}
.post-edit table.post-topic td.options{text-align:right;}
.move-forum-topic{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.move-forum-topic .title{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border:solid 1px #6a6a6a;height:28px;line-height:28px;font-weight:700;padding-left:3px;}
.move-forum-topic .page-body{padding:5px;}
.move-forum-topic table.move-topic{width:100%;vertical-align:middle;border-collapse:collapse;}
.move-forum-topic table.move-topic td{padding:4px;}
.move-forum-topic table.move-topic td.fieldname{font-weight:700;width:30%;color:#555;white-space:nowrap;}
.move-forum-topic table.move-topic td.options{text-align:left;}

/* FORUM TOPIC */
.forum-topic{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.forum-topic .title{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border:solid 1px #6a6a6a;height:28px;line-height:28px;font-weight:700;padding-left:3px;}
.forum-topic .title .topic-name{float:left;font-size:12px;}
.forum-topic .title .manage{float:right;text-align:right;}
.forum-topic .title .manage a{color:#F3F3F3;}
.forum-topic .topic-header{padding:5px;background:#F3F3F3;border-bottom:solid 1px #6a6a6a;height:16px;}
.forum-topic .topic-header .topic-options,.topic-footer .topic-options{float:right;text-align:right;}
.forum-topic .topic-header .topic-options a,.topic-footer .topic-options a{font-weight:700;}
.forum-topic .posts{}
.topic-footer{padding:5px;background:#F3F3F3;border-top:solid 1px #6a6a6a;height:16px;}
.forum-topic .pager,.topic-footer .pager{text-align:left;}
.forum-post{border-bottom:solid 1px #E3E3E3;}
.post-info{width:170px;float:left;padding:5px;height:100%;border-right:solid 1px #F3F3F3;}
.post-info .manage{line-height:20px;}
.post-info .manage a{font-weight:700;color:#555;}
.post-info .user-info{padding-top:5px;}
.post-info .user-info a.username{font-weight:700;margin-bottom:5px;}
.post-info .user-info span.username{font-weight:700;margin-bottom:5px;}
.post-info .user-info .avatar{margin:5px 0;}
.post-info .user-info .avatar .avatar-img{border:solid 2px #CEDBE1!important;}
.post-info .user-info .user-stats{font-size:.9em;text-align:left;font-weight:700;color:#555;}
.post-info .user-info .user-stats .stat-value{font-weight:400;}
.post-content{margin-left:180px;border-left:solid 1px #F3F3F3;}
.post-content .posttime{font-weight:700;line-height:20px;padding:3px;background:#e3f3f3;}
.post-content .posttime .stat-value{font-weight:400;}
.post-content .post-body{padding:3px;}
.post-content .post-body a{color:#f93;text-decoration:underline;}
.post-content .post-body .posttext{}
.post-content .post-body .posttext .quote{padding:5px;border:dashed 1px #000;background-color:#fff;}
.post-content .signature{border-color:#DDD;border-style:solid;border-width:1px 0 0;font-size:90%;margin:1em 8px 8px;padding:1em 0 20px;text-align:left;font-style:italic;}

/* FORUM SEARCH */
.forum-search-box{font-size:.9em;float:right;text-align:right;padding:5px 0;}
.forum-search{}
.forum-search .forum-search-panel{}
.forum-search .forum-search-panel .page-title{border-bottom:0 none;}
.forum-search .forum-search-panel .search-input{}
.forum-search .forum-search-panel .search-error{color:Red;}
.forum-search .forum-search-panel .search-results{}
.forum-search-panel table.basic-search,.forum-search-panel table.adv-search{border-collapse:collapse;color:#333;width:100%;vertical-align:middle;text-align:left;}
.forum-search-panel table.adv-search{margin:10px 0 0;border-top:solid #D3D3D3 1px;}
.forum-search-panel table.adv-search td.title{padding:4px;text-align:left;vertical-align:middle;width:130px;}
.forum-search-panel table.adv-search td.data{padding:4px;text-align:left;vertical-align:middle;white-space:nowrap;}
.forum-search .topics-group{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.forum-search table.topics{width:100%;border-collapse:collapse;vertical-align:middle;text-align:center;}
.forum-search table.topics td{padding:3px 0;}
.forum-search table.topics tr.forum-header{font-weight:700;}
.forum-search table.topics tr.forum-header td{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border-right:solid 1px #6a6a6a;height:20px;}
.forum-search table.topics tr.forum-header td.topic-name{width:55%;text-align:left;padding-left:3px;}
.forum-search table.topics tr.forum-header td.replies{width:10%;}
.forum-search table.topics tr.forum-header td.views{width:10%;}
.forum-search table.topics tr.forum-header td.last-post{width:25%;}
.forum-search table.topics tr.topic td{border-bottom:1px solid #c5c5c5;vertical-align:middle;padding-left:3px;}
.forum-search table.topics tr.topic td.image div{text-align:left;width:36px;height:36px;background:url(images/ico-forum.gif) no-repeat 40% 40%;}
.forum-search table.topics tr.topic td.topic-name{text-align:left;width:55%;}
.forum-search table.topics tr.topic td.topic-name .topictype{font-size:.9em;line-height:18px;}
.forum-search table.topics tr.topic td.topic-name .topic-title{font-weight:700;font-size:1.1em;line-height:18px;}
.forum-search table.topics tr.topic td.topic-name .topic-starter,.forum-search table.topics tr.topic td.topic-name .topicspager{font-size:.9em;color:#555;margin:1px 0px 1px 0px;}
.forum-search table.topics tr.topic td.last-post{font-size:.8em;color:#555;}
.forum-search table.topics tr.topic .post{text-align:left;width:36px;height:36px;background:url(images/ico-forum-post.gif) no-repeat 40% 40%;}
.forum-search table.topics tr.topic .post-annoucement,.forum-search table.topics tr.topic .poststicky{text-align:left;width:36px;height:36px;background:url(images/ico-forum-post-high.gif) no-repeat 40% 40%;}
.forum-search .pager{text-align:right;padding:5px 3px 5px 0;}

/* PROFILE PAGE */
.profile-page{}
.profile-page .page-title{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border:solid 1px #6a6a6a;height:28px;line-height:28px;font-weight:700;padding-left:3px;}
.profile-page .page-body{margin-top:15px;}
.profile-page .profile-info-box{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.profile-page .profile-info-box, .profile-page .user-last-posts{font-size:12px;}
.profile-page .profile-info-box .title{}
.profile-page .profile-info-box .profile-stat{font-weight:700;padding:2px;}
.profile-page .profile-info-box .profile-stat .profile-stat-value{font-weight:400;color:#555;}
.profile-page .profile-info-box .user-details{width:180px;float:left;padding:10px;height:100%;border-right:solid 1px #F3F3F3;text-align:center;}
.profile-page .profile-info-box .user-details .avatar{margin-bottom:5px;}
.profile-page .profile-info-box .user-details .avatar .avatar-img{border:solid 2px #CEDBE1!important;}
.profile-page .profile-info-box .user-stats{margin-left:200px;border-left:solid 1px #F3F3F3;padding:10px;}
.profile-page .profile-info-box .user-stats .title{text-transform:uppercase;margin-bottom:10px;}
.profile-page .user-last-posts{}
.profile-page .user-last-posts .topic{border:solid 1px #F3F3F3;margin-bottom:10px;}
.profile-page .user-last-posts .topic-title{font-weight:700;line-height:20px;background:#e3f3f3;padding:3px;}
.profile-page .user-last-posts .topic-body{padding:10px;}
.profile-page .user-last-posts .topic-body a{color:#f93;text-decoration:underline;}
.profile-page .user-last-posts .topic-body .quote{padding:5px;border:dashed 1px #000;background-color:#fff;}
.profile-page .user-last-posts .topic-data{background:#f3f3f3;padding:3px;color:#555;font-size:.9em;}
.profile-page .user-last-posts .posts-table{width:100%;border:0px;border-collapse:collapse;border-spacing:0;empty-cells:show;}
.profile-page .latest-posts-grid-pager-style{padding:5px;background:#eee;vertical-align:middle;}
.profile-page .latest-posts-grid-pager-style span{font-weight:700;font-size:1.1em;}

/* BB CODE EDITOR */
.toolbar{padding:2px;display:inline;}
.toolbar .button{background:url(images/bbeditor-button-bg.gif) repeat-x;padding:2px;margin-right:2px;border:#cec6b5 1px solid;}
.toolbar .button:hover{border:#333 1px solid;}

/* ACTIVE DISCUSSIONS */
.active-discussions-page{}
.active-discussions .active-discussions-title{font-size:1.1em;padding-bottom:5px;font-weight:700;}
.active-discussions .active-discussions-title .view-all{float:right;text-align:right;}
.active-discussions .topics-group{background:url(images/forum-footer-bg.gif) repeat-x bottom;}
.active-discussions table.topics{width:100%;border-collapse:collapse;vertical-align:middle;text-align:center;}
.active-discussions table.topics td{padding:3px 0;}
.active-discussions table.topics tr.active-discussions-header{font-weight:700;}
.active-discussions table.topics tr.active-discussions-header td{background:url(images/forum-header-bg.gif) repeat-x 50%;color:#FFF;border-right:solid 1px #6a6a6a;height:20px;}
.active-discussions table.topics tr.active-discussions-header td.topic-name{width:55%;text-align:left;padding-left:3px;}
.active-discussions table.topics tr.active-discussions-header td.replies{width:10%;}
.active-discussions table.topics tr.active-discussions-header td.views{width:10%;}
.active-discussions table.topics tr.active-discussions-header td.last-post{width:25%;}
.active-discussions table.topics tr.topic td{border-bottom:1px solid #c5c5c5;vertical-align:middle;padding-left:3px;}
.active-discussions table.topics tr.topic td.topic-name{text-align:left;width:55%;}
.active-discussions table.topics tr.topic td.topic-name .topic-title{font-weight:700;font-size:1.1em;line-height:18px;}
.active-discussions table.topics tr.topic td.topic-name .topic-starter,.active-discussions table.topics tr.topic td.topic-name .topicspager{font-size:.9em;color:#555;margin:1px 0px 1px 0px;}
.active-discussions table.topics tr.topic td.last-post{font-size:.8em;color:#555;}

/* BBCODES */
pre{white-space:pre-wrap;/* css-3 */white-space:0;/* Mozilla, since 1999 */white-space:0;/* Opera 4-6 */white-space:0;/* Opera 7 */word-wrap:break-word;/* Internet Explorer 5.5+ */}
.csharpcode,.csharpcode pre{font-size:small;color:#000;font-family:Consolas, "Courier New", Courier, Monospace;background-color:#fff;}
.csharpcode pre{margin:0;}
.csharpcode .rem{color:green;}
.csharpcode .kwrd{color:#00f;}
.csharpcode .str{color:#006080;}
.csharpcode .op{color:#0000c0;}
.csharpcode .preproc{color:#c63;}
.csharpcode .asp{background-color:#ff0;}
.csharpcode .html{color:maroon;}
.csharpcode .attr{color:red;}
.csharpcode .alt{background-color:#f4f4f4;width:100%;margin:0;}
.csharpcode .lnum{color:#606060;}


/* For Tabs */
#wrapper {
    width:250px;
}
ul.tabs {
    width:250px;
    margin:0;
    padding:0;
}
ul.tabs li {
    display:block;
    float:left;
    padding:0 5px; color:#666;
}
ul.tabs li a {
    display:block;
    float:left;
    padding:5px;
    font-size:0.8em;
    background-color:#e0e0e0;
    text-decoration:none;
}
.selected {
    color:Red;
}

.tab-content {
	clear:both;
    border:1px solid #ddd;
    padding:10px;
}
.Page-sizing
{
margin-left:10px;
float:left;
color:Black;
}

.pagercategory
{
    float: right; 
    padding-right:10px;   
}
.pagercategory span
{
    color:Red;
}

.order-summary-content .checkout-attributes-estimate{margin:0px;padding:10px 20px;background:none repeat scroll 0 0 #F7F5E8;}
.checkout-estimate{display:inline;float:left;margin:2;width:280px;border:dotted 3px #F3F3F}
.borderOrder { border:dotted 0px #000000; width:280px; height:auto; }
.packcheck{text-align:center; color:Red; }



/*logoname*/
.logoname {position: absolute;left: 120px;bottom: 8px;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    height: 40px;
    text-align: left;
    width: 350px;
    padding:6px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LOOPED SLIDER

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container
{
    width: 748px;
    height: 347px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.slides
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.slides div
{
    position: absolute;
    top: 0;
    width: 748px;
    display: none;
}

#loopedSlider .container
{
    width: 748px;
    height: 347px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    background: #f2f4ec;
}
.slides
{
    position: absolute;
    top: 0;
    left: 0;
}
ul.slides
{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 0px;
}
.slides div, ul.slides li
{
    position: absolute;
    top: 0px;
    width: 748px;
    display: none;
    padding: 0;
    margin: 0;
}

#loopedSlider
{
   width:748px;
    height:347px;
    position: relative;
    clear: both;
    margin-left:-5px;
    background-color:White;
    
}
ul.pagination
{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.pagination li
{
    float: left;
}
ul.pagination li a
{
    background: url(/Themes/spheres/Content/images/banner_button.png) 0px 0px no-repeat;
    color: #82621d;
    font-size: 0px;
    width: 28px;
    height: 28px;
    line-height: 0px;
    text-align: center;
    display: inline-block;
    float: left;
    text-decoration: none;
    font-weight: bold;
}
ul.pagination li.active a
{
    background: url(/Themes/spheres/Content/images/banner_button-act.png) 0px 0px no-repeat;
    color: #598b89;
    border: none;
    text-decoration: none;
}
ul.pagination li a:hover
{
    background: url(/Themes/spheres/Content/images/banner_button-act.png) 0px 0px no-repeat;
    color: #598b89;
    border: none;
    text-decoration: none;
}

.pagination-container
{
    margin: -328px 0 0 582px;
    position: absolute;
    width: 160px;
    z-index: 999;
    padding-left: 10px;
}

#Progress
{
    display:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	Ribbon

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.statussold
{
    color:Red; 
}
.ribbon
{
    float:left;margin-top:-120px; margin-left:10px; 
  
}
.ribbon h1
{
    position: relative;
    color: #fff;
    background: #f43059;
    font-size: 1.0em;
    float: left;
    clear: both;
    padding: 7px 20px 7px 20px;
    margin-left: -18px;
    margin-bottom: 20px;
    text-shadow: 0 -1px #d0284b, 0 1px #f96080;
    -moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

ribbon h1:before
    {
        content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    right: -2px;  
    top: 0px;  
    border-color: transparent #fff transparent transparent; 
    }

ribbon h1:after
    {
        content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 0px;  
    top: 100%;  
    border-width: 3px 4px;  
    border-style: solid;  
    border-color: #666 #666 transparent transparent;  
    }

.ribbonlist
{ 
  color:Red;
  margin-right:10px;
  font-variant:small-caps;
 font-size:larger;
 float:right;
}

/* Universal Bar*/
.universalBar {
}
.universalBarTable {
    border-collapse: collapse;
    height: 57px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 50;
}
.universalBarPostStamp {
    background: url("images/universalBar_bkg.png") repeat-x scroll 0 0 transparent;
    height: 57px;
}
.universalBarTable .universalBarTable tr, .universalBarTable td {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.universalBarLeft, .universalBarRight {
    background: url("images/universalBar_bkg.png") repeat-x scroll 0 0 transparent;
}
.universalBarCenter {
    width: 1000px;
}
.universalBarContainer {
}
.universalBarCenter ul {
    float: left;
    margin: 0;
    padding: 0;
}
.universalBarCenter li {
    float: left;
    overflow: hidden;
}

.PanelBackground{ background:none repeat scroll 0 0 #F2F4EC;color:#000000;float:left;margin: 9px 10px 10px 7px;padding:0 10px 10px;width: 730px;height:auto;}

.PageSizeSelected
{
    color:Red;font-weight:bold;
}

.PageSizeUnSelected
{
    color:Black;
    font-weight:normal;
}

.header-selectors-wrapper select {
    background: none repeat scroll 0 0 #43372F;
    border: 1px solid #634E40;
    color: #BBB8A0;
}

.HeaderProduct
{
    text-align:left;
    width:150px;
    height:30px;
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:Black;
    background-color:#D3D3D3;
}

.ThHeader
{
    text-align:left;
    background-color:#D3D3D3;
}

.Rowborder
{
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:Black;
}

.ListAddtocart{background:url(images/grey_button_bg.gif) no-repeat 25% 50% #333;border:1px solid #333;color:#FFF;height:22px;padding:0 5px;width:auto;overflow:visible;float:right;}
.evenrowcolor{background-color:white;}
.oddrowcolor{background-color:#E3E3E3;}

.searchboxbutton{background: url("images/search.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 22px;
    overflow: visible;
    width: 22px;}

.search-box-text{background:none repeat scroll 0 0 #43372F;border:1px solid #634E40;color:#FFFFFF;padding:2px;vertical-align:middle;width:140px;font-size:13px;}