﻿@model MrCMS.Web.Apps.Core.Widgets.Slider
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(widget => widget.Image)
            @Html.TextBoxFor(widget => widget.Image, new { @class = "media-selector form-control" })
            @Html.ValidationMessageFor(x => x.Image)
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Link)
            @Html.TextBoxFor(widget => widget.Link, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Description)
            @Html.TextAreaFor(widget => widget.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(widget => widget.Image1)
            @Html.TextBoxFor(widget => widget.Image1, new { @class = "media-selector form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Link1)
            @Html.TextBoxFor(widget => widget.Link1, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Description1)
            @Html.TextAreaFor(widget => widget.Description1, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(widget => widget.Image2)
            @Html.TextBoxFor(widget => widget.Image2, new { @class = "media-selector form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Link2)
            @Html.TextBoxFor(widget => widget.Link2, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Description2)
            @Html.TextAreaFor(widget => widget.Description2, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(widget => widget.Image3)
            @Html.TextBoxFor(widget => widget.Image3, new { @class = "media-selector form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Link3)
            @Html.TextBoxFor(widget => widget.Link3, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(widget => widget.Description3)
            @Html.TextAreaFor(widget => widget.Description3, new { @class = "form-control" })
        </div>
    </div>
</div>