﻿@using MrCMS.Website
<nav class="navbar navbar-default no-border-radius margin-bottom-0 navbar-fixed-top nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="display-inline">
                <a href="/Admin" tabindex="3">
                    <img src="/Areas/Admin/Content/Images/logo.png" class="logo" />
                </a>
            </span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left site-search" role="search" action="@Url.Action("Index", "Search")" method="GET">
                <div class="input-group">
                    @Html.TextBox("term", "", new { @class = "search-query form-control", placeholder = "Search", autocomplete = "off", tabindex="1" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" tabindex="2">@Resource("Go")</button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav  navbar-right">
                <li>
                    <a href="/" target="new"><i class="glyphicon glyphicon-home"></i>&nbsp;@Resource("Home")</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">&nbsp;</i><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="@Url.Action("Edit", "User", new { Id = CurrentRequestData.CurrentUser.Id })">@Resource("Your Account")</a></li>
                    </ul>
                </li>
                @if (!CurrentRequestData.CurrentUser.DisableNotifications)
                {
                    Html.RenderAction("Navbar", "PersistentNotification");
                }
                <li class="dropdown right-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sitemap">&nbsp;</i><span class="caret"></span></a>
                    @{ Html.RenderAction("Get", "SiteList"); }
                </li>
            </ul>
        </div>
    </div>
</nav>
